Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

test(friction): add contract classification rule tests [OMN-5747]
  tests/unit/nodes/test_node_friction_observer_compute.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(friction): add hook adapter bridging hooks to contract classifier [OMN-5747]
  plugins/onex/hooks/lib/friction_observer_adapter.py
  tests/unit/hooks/test_friction_observer_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: orchestrator contract + deploy bare-clone guard [OMN-5702][OMN-5671] (#759)
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
  plugins/onex/skills/deploy_local_plugin/deploy.sh
  src/omniclaude/nodes/node_local_coding_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_contract_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_contract_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_contract_sweep_orchestrator/node.py
  tests/integration/skills/contract_sweep/__init__.py
  tests/integration/skills/contract_sweep/test_contract_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci: deploy TODO enforcement hooks and workflows [OMN-5694][OMN-5695]
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .pre-commit-config.yaml
Due: check-local-paths

feat(friction): wire stop hook to observe friction on failed sessions [OMN-5747]
  plugins/onex/hooks/scripts/stop.sh
Due: check-local-paths

feat(friction): add PostToolUse friction check for skill failures [OMN-5747]
  plugins/onex/hooks/lib/post_tool_use_friction_check.py
  tests/unit/hooks/test_post_tool_use_friction_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(friction): wire post-tool-use hook to detect skill failures [OMN-5747]
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
Due: check-local-paths

test(friction): add end-to-end friction observer integration test [OMN-5747]
  tests/unit/skills/_shared/test_friction_observer_e2e.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(friction): update event registry tests for friction.observed [OMN-5747]
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: add pragma allowlist secret to pre-commit rev SHA [OMN-5694]
  .pre-commit-config.yaml
Due: check-local-paths

fix(test): mock subprocess in search_content tests for CI without rg [OMN-5723]
  tests/unit/hooks/lib/test_agentic_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(test): use importlib to avoid sys.path lib shadowing [OMN-5723]
  tests/unit/hooks/lib/test_agentic_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add read-only tool registry and dispatchers for agentic loop [OMN-5723]
  plugins/onex/hooks/lib/agentic_tools.py
  tests/unit/hooks/lib/test_agentic_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(security): reject shell metacharacters in run_command and use shell=False [OMN-5723]
  plugins/onex/hooks/lib/agentic_tools.py
  tests/unit/hooks/lib/test_agentic_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

ci: deploy TODO enforcement hooks and workflows [OMN-5694][OMN-5695] (#768)
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .pre-commit-config.yaml
Due: check-local-paths

feat: read-only tool registry and dispatchers for agentic loop [OMN-5723] (#762)
  plugins/onex/hooks/lib/agentic_tools.py
  tests/unit/hooks/lib/test_agentic_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): align code_graph_query with actual infra schemas [OMN-5667]
  plugins/onex/hooks/lib/code_graph_query.py
  tests/unit/hooks/lib/test_code_graph_query.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: implement agentic ReAct loop for local LLM tool-calling [OMN-5724]
  plugins/onex/hooks/lib/agentic_loop.py
  tests/unit/hooks/lib/test_agentic_loop.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): handle both code_entities schema variants [OMN-5667]
  plugins/onex/hooks/lib/code_graph_query.py
  tests/unit/hooks/lib/test_code_graph_query.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(test): use importlib for agentic_loop import to avoid lib shadowing [OMN-5724]
  tests/unit/hooks/lib/test_agentic_loop.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: wire agentic delegation through daemon, classifier, and orchestrator [OMN-5725, OMN-5726, OMN-5727]
  plugins/onex/hooks/lib/delegation_daemon.py
  plugins/onex/hooks/lib/delegation_orchestrator.py
  src/omniclaude/lib/task_classifier.py
  tests/unit/hooks/lib/test_delegation_daemon_agentic.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(test): use importlib for delegation_daemon import to avoid lib shadowing [OMN-5725]
  tests/unit/hooks/lib/test_delegation_daemon_agentic.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: agentic ReAct loop for local LLM tool-calling [OMN-5724] (#763)
  plugins/onex/hooks/lib/agentic_loop.py
  tests/unit/hooks/lib/test_agentic_loop.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add freshness scorer, hybrid search fusion, and incremental extraction hook [OMN-5681 OMN-5682 OMN-5684]
  src/omniclaude/hooks/handler_incremental_extraction.py
  src/omniclaude/hooks/lib/freshness_scorer.py
  src/omniclaude/hooks/lib/hybrid_search_fusion.py
  tests/unit/hooks/test_freshness_scorer.py
  tests/unit/hooks/test_hybrid_search_fusion.py
  tests/unit/hooks/test_incremental_extraction.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: use Mapping instead of dict[str, Any] for ONEX validator compliance [OMN-5684]
  src/omniclaude/hooks/handler_incremental_extraction.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add two-phase hook protocol and agentic quality gate [OMN-5728, OMN-5729]
  plugins/onex/hooks/lib/agentic_quality_gate.py
  plugins/onex/hooks/lib/delegation_daemon.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_agentic_quality_gate.py
  tests/unit/hooks/lib/test_delegation_daemon_agentic.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(test): use importlib for quality_gate import to avoid lib shadowing [OMN-5729]
  tests/unit/hooks/lib/test_agentic_quality_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: two-phase hook protocol and agentic quality gate [OMN-5728, OMN-5729] (#765)
  plugins/onex/hooks/lib/agentic_quality_gate.py
  plugins/onex/hooks/lib/delegation_daemon.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_agentic_quality_gate.py
  tests/unit/hooks/lib/test_delegation_daemon_agentic.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(test): use importlib for E2E test imports to avoid lib shadowing [OMN-5730]
  tests/unit/hooks/lib/test_agentic_e2e.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test: add E2E verification tests for agentic delegation pipeline [OMN-5730]
  tests/unit/hooks/lib/test_agentic_e2e.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(test): fix patch targets in E2E test to use patch.object [OMN-5730]
  tests/unit/hooks/lib/test_agentic_e2e.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: align code_graph_query with canonical rich schema and add R4 verified assumptions [OMN-5667]
  plugins/onex/hooks/lib/code_graph_query.py
  plugins/onex/skills/design_to_plan/SKILL.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(friction): Contract-Driven Friction Observer Node [OMN-5747] (#769)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/friction_observer_adapter.py
  plugins/onex/hooks/lib/post_tool_use_friction_check.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/skills/_shared/_bootstrap.py
  plugins/onex/skills/_shared/friction_classifier.py
  plugins/onex/skills/_shared/friction_signal.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_friction_observer_compute/__init__.py
  src/omniclaude/nodes/node_friction_observer_compute/contract.yaml
  src/omniclaude/nodes/node_friction_observer_compute/node.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/unit/hooks/test_friction_observer_adapter.py
  tests/unit/hooks/test_post_tool_use_friction_check.py
  tests/unit/nodes/test_node_friction_observer_compute.py
  tests/unit/skills/_shared/test_friction_classifier.py
  tests/unit/skills/_shared/test_friction_observer_e2e.py
  tests/unit/skills/_shared/test_friction_signal.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: align code_graph_query with canonical rich schema and add R4 verified assumptions [OMN-5667] (#771)
  plugins/onex/hooks/lib/code_graph_query.py
  plugins/onex/skills/design_to_plan/SKILL.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: release v0.10.1
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(ci): add cross-repo boundary parity check [OMN-5771]
  .github/workflows/ci.yml
Due: check-local-paths

chore: release v0.10.1 (#772)
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(ci): add cross-repo boundary parity check [OMN-5771] (#773)
  .github/workflows/ci.yml
Due: check-local-paths

fix(ci): resolve 5 CI failures on main branch
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Due: check-local-paths
