Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

.pre-commit-config.yaml:

repos:
  # Fast file checks that can run in parallel
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      - id: end-of-file-fixer
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      # check-yaml removed: conflicts with agent YAML files that use custom syntax
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Fast Python formatting and linting (staged files only)
  # Order: format → fix → check (matches CI behavior)
  # Note: To run on entire codebase, use: uv run ruff check src/ tests/
  - repo: local
    hooks:
      - id: clean-output-directory
        name: clean output directory (prevent test artifacts)
        entry: bash -c 'rm -rf output/ && exit 0'
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: ruff-format
        name: ruff format (staged files)
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-fix
        name: ruff check --fix (staged files)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-check
        name: ruff check (staged files)
        entry: uv run ruff check
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: bandit-security
        name: bandit (staged files)
        entry: uv run bandit -c .bandit
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

      - id: mypy-typecheck
        name: mypy (staged files)
        entry: uv run mypy --ignore-missing-imports
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: onex-validate
        name: ONEX validation (staged files)
        entry: uv run python scripts/validate_onex.py
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore: Update architecture handshake to v0.16.0
  .claude/architecture-handshake.md
Due: none

chore: update architecture handshake to v0.16.0
  .claude/architecture-handshake.md
Due: none

fix(review): [minor] simplify topic assertions to direct set membership
  tests/hooks/test_golden_path_session_lifecycle.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] handle partial runs in promotion gating
  plugins/onex/hooks/lib/promotion_gater.py
  tests/hooks/test_promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Fix format desync and remove test utility from production
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/test_injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] widen dimension evidence check to catch zero-current
  plugins/onex/hooks/lib/promotion_gater.py
  tests/hooks/test_promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Warn when evidence_policy set but no resolver provided
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major+minor] remove dead cmd_ok, harden EmitClient, fix test conventions
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/publisher/emit_client.py
  tests/hooks/test_golden_path_session_lifecycle.py
  tests/hooks/test_integration_kafka.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] add test count decrease regression check
  plugins/onex/hooks/lib/promotion_gater.py
  tests/hooks/test_promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Fix layering violations — move resolvers to correct layers
  plugins/onex/hooks/lib/file_evidence_resolver.py
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/dict_evidence_resolver.py
  tests/hooks/test_evidence_driven_injection.py
  tests/hooks/test_injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] align integration test consumer topics with OMN-1972
  tests/hooks/test_integration_kafka.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] document test count decrease in promotion gate docstring
  plugins/onex/hooks/lib/promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Add error handling to save_gate and evidence resolver
  plugins/onex/hooks/lib/metrics_aggregator.py
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] close socket on connect failure to prevent fd leak
  src/omniclaude/publisher/emit_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore: update architecture handshake to match omnibase_core v0.16.0
  .claude/architecture-handshake.md
Due: none

fix(review): [minor] suppress Bandit B110 in __del__ finalizer
  src/omniclaude/publisher/emit_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] default KAFKA_ENVIRONMENT to 'prod' for infra validation
  src/omniclaude/hooks/handler_event_emitter.py
  tests/hooks/test_golden_path_session_lifecycle.py
  tests/hooks/test_handler_event_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] remove localhost fallback, align KAFKA_ENVIRONMENT default
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/lib/core/action_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [nitpick] use setattr instead of type: ignore in frozen model test
  tests/hooks/test_promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [major] Clean up orphaned tmp file in save_gate on partial failure
  plugins/onex/hooks/lib/metrics_aggregator.py
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/conftest.py
  tests/hooks/test_evidence_driven_injection.py
  tests/hooks/test_injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] guard _get_kafka_producer against None bootstrap servers
  src/omniclaude/lib/core/action_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Add missing MockPatternRecord import after conftest extraction
  tests/hooks/test_injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [major] Add error handling to save_baseline/load_baseline and validate gate results
  plugins/onex/hooks/lib/metrics_aggregator.py
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Fix NameError — pid variable renamed to pattern_id in error handler
  plugins/onex/hooks/lib/metrics_aggregator.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] promote private helpers to public API
  plugins/onex/hooks/lib/metrics_aggregator.py
  plugins/onex/hooks/lib/promotion_gater.py
  tests/hooks/test_metrics_aggregator.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Promote _VALID_GATE_RESULTS to module-level frozenset constant
  plugins/onex/hooks/lib/metrics_aggregator.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] add emitted_at warning to all _from_config functions
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/publisher/emit_client.py
  tests/hooks/test_golden_path_session_lifecycle.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] add defensive guards for edge cases
  plugins/onex/hooks/lib/promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] document design assumptions and preconditions
  plugins/onex/hooks/lib/promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Return None from save_baseline/save_gate on failure, add path traversal guard
  plugins/onex/hooks/lib/metrics_aggregator.py
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/test_metrics_aggregator.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Add None guards to tests and backslash to path traversal check
  plugins/onex/hooks/lib/metrics_aggregator.py
  tests/hooks/test_metrics_aggregator.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] remove stale KAFKA_ENVIRONMENT docstring, deduplicate Kafka config
  plugins/onex/scripts/demo_consume_store.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/publisher/emit_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] add threshold validation, deterministic ordering, and precise test assertions
  CLAUDE.md
  plugins/onex/hooks/lib/promotion_gater.py
  tests/hooks/test_promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Fix import ordering, test marker, flaky sleep, unused param, and missing validation test
  plugins/onex/hooks/lib/metrics_aggregator.py
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/test_evidence_driven_injection.py
  tests/hooks/test_injection_limits.py
  tests/hooks/test_metrics_aggregator.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] promote _create_kafka_config to public API, harden EmitClient
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/publisher/emit_client.py
  tests/hooks/test_handler_event_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Align test docstring and class name with unit marker
  tests/hooks/test_evidence_driven_injection.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] deduplicate dimension logic and add threshold boundary tests
  plugins/onex/hooks/lib/metrics_aggregator.py
  plugins/onex/hooks/lib/promotion_gater.py
  tests/hooks/test_promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] update stale environment docstring for OMN-1972
  src/omniclaude/hooks/handler_event_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] document design assumptions and preconditions
  plugins/onex/hooks/lib/metrics_aggregator.py
  plugins/onex/hooks/lib/promotion_gater.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] update stale environment docstring for OMN-1972
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/publisher/emit_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate
