Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(merge-sweep): replace hardcoded machine paths, fix edge-case status, and apply ruff format
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(auto-merge): use mergeStateStatus == CLEAN as ready-to-merge signal
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

fix(review): [minor] bound CI readiness poll by gate_timeout_hours; enumerate UNSTABLE/HAS_HOOKS states
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

[OMN-2548] Implement Tier 1 AST-based detectors: STUB_CODE (empty bodies), HALLUCINATED_API (#320)
  src/omniclaude/quirks/detectors/registry.py
  src/omniclaude/quirks/detectors/tier1/__init__.py
  src/omniclaude/quirks/detectors/tier1/_diff_utils.py
  src/omniclaude/quirks/detectors/tier1/ast_stub_code.py
  src/omniclaude/quirks/detectors/tier1/hallucinated_api.py
  src/omniclaude/quirks/tools/__init__.py
  src/omniclaude/quirks/tools/build_symbol_index.py
  tests/unit/quirks/tier1/__init__.py
  tests/unit/quirks/tier1/test_ast_stub_code_detector.py
  tests/unit/quirks/tier1/test_hallucinated_api_detector.py
  tests/unit/quirks/tier1/test_symbol_index_builder.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(auto-merge): add language identifier to unlabeled code fence in SKILL.md
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

fix(auto-merge): remove leading space from inline code span in SKILL.md
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

docs(auto-merge): clarify gate_timeout_hours as shared wall-clock budget in SKILL.md
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

[OMN-2556] Implement QuirkSignalExtractor hook integration and QuirkClassifier
  schemas/quirks/finding-produced.v1.yaml
  schemas/quirks/signal-detected.v1.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/quirks/__init__.py
  src/omniclaude/quirks/classifier.py
  src/omniclaude/quirks/extractor.py
  tests/integration/quirks/__init__.py
  tests/integration/quirks/test_quirk_pipeline_integration.py
  tests/unit/quirks/test_quirk_classifier.py
  tests/unit/quirks/test_quirk_signal_extractor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(headless): add headless mode documentation for ticket-pipeline, rrh, and CLAUDE.md [OMN-2013]
  CLAUDE.md
  plugins/onex/skills/rrh/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: check-local-paths

fix(ci): use kafka_publisher_base + fix topic naming convention [OMN-2556]
  schemas/quirks/finding-produced.v1.yaml
  schemas/quirks/signal-detected.v1.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/quirks/classifier.py
  src/omniclaude/quirks/extractor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): update classifier/extractor tests to use publish_hook API [OMN-2556]
  tests/unit/quirks/test_quirk_classifier.py
  tests/unit/quirks/test_quirk_signal_extractor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(headless): add headless mode documentation for ticket-pipeline, rrh, and CLAUDE.md [OMN-2013] (#323)
  CLAUDE.md
  plugins/onex/skills/rrh/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: check-local-paths

[OMN-2556] Implement QuirkSignalExtractor hook integration and QuirkClassifier (#322)
  schemas/quirks/finding-produced.v1.yaml
  schemas/quirks/signal-detected.v1.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/quirks/__init__.py
  src/omniclaude/quirks/classifier.py
  src/omniclaude/quirks/extractor.py
  tests/integration/quirks/__init__.py
  tests/integration/quirks/test_quirk_pipeline_integration.py
  tests/unit/quirks/test_quirk_classifier.py
  tests/unit/quirks/test_quirk_signal_extractor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2564] Implement ValidatorRolloutController: OBSERVE → WARN → BLOCK stage machine
  sql/schema/quirk_stage_tables.sql
  src/omniclaude/quirks/__init__.py
  src/omniclaude/quirks/ci/__init__.py
  src/omniclaude/quirks/ci/run_checks.py
  src/omniclaude/quirks/cli.py
  src/omniclaude/quirks/controller.py
  tests/integration/quirks/test_rollout_controller_observe_flow.py
  tests/unit/quirks/test_validator_rollout_controller.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2564] Implement ValidatorRolloutController: OBSERVE → WARN → BLOCK stage machine (#324)
  sql/schema/quirk_stage_tables.sql
  src/omniclaude/quirks/__init__.py
  src/omniclaude/quirks/ci/__init__.py
  src/omniclaude/quirks/ci/run_checks.py
  src/omniclaude/quirks/cli.py
  src/omniclaude/quirks/controller.py
  tests/integration/quirks/test_rollout_controller_observe_flow.py
  tests/unit/quirks/test_validator_rollout_controller.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2586] Wire QuirkSignal/QuirkFinding to OmniMemory + add QuirkDashboard read API
  src/omniclaude/quirks/__init__.py
  src/omniclaude/quirks/dashboard.py
  src/omniclaude/quirks/memory_bridge.py
  tests/unit/quirks/test_quirk_dashboard.py
  tests/unit/quirks/test_quirk_memory_bridge.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix ruff formatting and RUF002 ambiguous character in memory_bridge docstring
  src/omniclaude/quirks/dashboard.py
  src/omniclaude/quirks/memory_bridge.py
  tests/unit/quirks/test_quirk_dashboard.py
  tests/unit/quirks/test_quirk_memory_bridge.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2586] Wire QuirkSignal/QuirkFinding to OmniMemory + QuirkDashboard read API (#325)
  src/omniclaude/quirks/__init__.py
  src/omniclaude/quirks/dashboard.py
  src/omniclaude/quirks/memory_bridge.py
  tests/unit/quirks/test_quirk_dashboard.py
  tests/unit/quirks/test_quirk_memory_bridge.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(auto-merge): use mergeStateStatus == CLEAN as ready-to-merge signal [OMN-2752] (#321)
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

feat(topics): register 4 decision Kafka topics in TopicBase [OMN-2766]
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(tier-detection): add capability_probe.py for SessionStart tier detection [OMN-2782]
  plugins/onex/hooks/lib/capability_probe.py
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  tests/unit/hooks/lib/test_capability_probe.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skill-lifecycle): emit skill.started/completed per invocation [OMN-2773]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/shared/handler_skill_requested.py
  src/omniclaude/nodes/shared/models/model_skill_lifecycle_events.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(tier-detection): add QUICKSTART.md and README tier table [OMN-2783]
  QUICKSTART.md
  README.md
Due: check-local-paths

style: ruff format test_capability_probe.py [OMN-2782]
  tests/unit/hooks/lib/test_capability_probe.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): update allowlist tests for skill.started/completed [OMN-2773]
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(onex-status): add /onex-status debug skill for tier + service diagnostics [OMN-2785]
  plugins/onex/skills/onex-status/SKILL.md
  plugins/onex/skills/onex-status/status.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(docs-links): add markdown link checker job to CI [OMN-2786]
  .github/workflows/ci.yml
Due: check-local-paths

fix(skill-lifecycle): address CodeRabbit review findings [OMN-2773]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/nodes/shared/handler_skill_requested.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ticket-pipeline): fingerprint-based dedup for Phase 0 DEFER path [OMN-2774]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

feat(skill-lifecycle): emit skill.started/completed per invocation [OMN-2773] (#327)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/shared/handler_skill_requested.py
  src/omniclaude/nodes/shared/models/model_skill_lifecycle_events.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ticket-pipeline): fingerprint-based dedup for Phase 0 DEFER path [OMN-2774] (#331)
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

ci(docs-links): add markdown link checker job to CI [OMN-2786] (#330)
  .github/workflows/ci.yml
Due: check-local-paths

feat(onex-status): add /onex-status debug skill for tier + service diagnostics [OMN-2785] (#329)
  plugins/onex/skills/onex-status/SKILL.md
  plugins/onex/skills/onex-status/status.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(topics): register 4 decision Kafka topics in TopicBase [OMN-2766] (#326)
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(tier-detection): auto-detect integration tier at SessionStart [OMN-2782 + OMN-2783] (#328)
  QUICKSTART.md
  README.md
  plugins/onex/hooks/lib/capability_probe.py
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  tests/unit/hooks/lib/test_capability_probe.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(pipeline-metrics): add pipeline-metrics skill — rework ratio, cycle time, CI stability [OMN-2775]
  plugins/onex/skills/pipeline-metrics/SKILL.md
  plugins/onex/skills/pipeline-metrics/prompt.md
  src/omniclaude/nodes/node_skill_pipeline_metrics_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_pipeline_metrics_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_pipeline_metrics_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add decision-store skill — record, query, check-conflicts + severity matrix [OMN-2768]
  plugins/onex/skills/decision-store/SKILL.md
  plugins/onex/skills/decision-store/detect_conflicts.py
  plugins/onex/skills/decision-store/examples/query_decisions.md
  plugins/onex/skills/decision-store/examples/record_decision.md
  plugins/onex/skills/decision-store/prompt.md
  plugins/onex/skills/decision-store/semantic_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(decision-store): Slack conflict gate — command grammar + status change events [OMN-2769]
  plugins/onex/skills/decision-store/SKILL.md
  plugins/onex/skills/decision-store/detect_conflicts.py
  plugins/onex/skills/decision-store/examples/conflict_resolution.md
  plugins/onex/skills/decision-store/examples/query_decisions.md
  plugins/onex/skills/decision-store/examples/record_decision.md
  plugins/onex/skills/decision-store/prompt.md
  plugins/onex/skills/decision-store/semantic_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(pipeline-metrics): add pipeline-metrics skill — rework ratio, cycle time, CI stability [OMN-2775] (#333)
  plugins/onex/skills/pipeline-metrics/SKILL.md
  plugins/onex/skills/pipeline-metrics/prompt.md
  src/omniclaude/nodes/node_skill_pipeline_metrics_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_pipeline_metrics_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_pipeline_metrics_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(ticket-pipeline): clarify Phase 4 ci_watch is non-blocking [OMN-2776]
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
