Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

.pre-commit-config.yaml:

repos:
  # Fast file checks that can run in parallel
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      - id: end-of-file-fixer
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      # check-yaml removed: conflicts with agent YAML files that use custom syntax
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Fast Python formatting and linting (staged files only)
  # Order: format → fix → check (matches CI behavior)
  # Note: To run on entire codebase, use: uv run ruff check src/ tests/
  - repo: local
    hooks:
      - id: clean-output-directory
        name: clean output directory (prevent test artifacts)
        entry: bash -c 'rm -rf output/ && exit 0'
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: ruff-format
        name: ruff format (staged files)
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-fix
        name: ruff check --fix (staged files)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-check
        name: ruff check (staged files)
        entry: uv run ruff check
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: bandit-security
        name: bandit (staged files)
        entry: uv run bandit -c .bandit
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

      - id: mypy-typecheck
        name: mypy (staged files)
        entry: uv run mypy --ignore-missing-imports
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: onex-validate
        name: ONEX validation (staged files)
        entry: uv run python scripts/validate_onex.py
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore(OMN-1631): PR review fixes - consistency and cleanup
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1605): Address code review feedback for wiring.py
  src/omniclaude/runtime/wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): PR review fixes - edge cases, observability, cleanup
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): PR review fixes - race condition and shell quoting
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1605): Add PublishResult dataclass and strict handler_class validation
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): PR review fixes - cleanup and documentation
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1605): Strengthen handler_id validation to prevent empty Kafka keys
  src/omniclaude/runtime/wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): PR review fixes - client robustness and race condition
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1631, OMN-1632): Integrate emit daemon for all hooks (#64)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

docs(OMN-1605): Add hash algorithm docs and event deserialization test
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1605): Address remaining code review feedback
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1734): Fix emit daemon startup and .env sourcing in hooks
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
  uv.lock
Due: none

fix(OMN-1734): Remove deprecated group parameter from Kafka config
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/handler_event_emitter.py
  tests/hooks/test_handler_event_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1734): Fix CI test timeouts and misleading comments
  .github/workflows/enhanced-ci.yml
  plugins/onex/hooks/scripts/common.sh
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

chore(OMN-1605): Update omnibase dependencies and fix breaking changes
  pyproject.toml
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(deps): Bump omnibase dependencies
  pyproject.toml
  uv.lock
Due: none

chore(OMN-1605): Bump omnibase-infra to 0.2.8
  pyproject.toml
  uv.lock
Due: none

fix(OMN-1734): Make missing KAFKA_BOOTSTRAP_SERVERS a hard failure
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1734): Write status file on successful daemon start
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1734): Improve robustness of hook scripts and add integration test
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

feat(OMN-1673): Add injection tracking to HandlerContextInjection
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/models_injection_tracking.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_cohort_assignment.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_injection_tracking.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1734): Add --kafka-servers flag to integration test skip message
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(OMN-1673): Fix mypy strict errors and consolidate error handling
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/handler_context_injection.py
  tests/hooks/test_injection_tracking.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

docs(OMN-1734): Add security note and multi-broker documentation
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1673): Replace conditional mock assertions with explicit checks
  tests/hooks/test_injection_tracking.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(OMN-1605): Implement bootstrap-safe contract publishing
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/contract_models.py
  src/omniclaude/runtime/exceptions.py
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1734): Add shellcheck directive and extract status file constant
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1605): Address code review feedback for contract publisher
  src/omniclaude/runtime/wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1734): Make Kafka required, reject CodeRabbit suggestion for optional Kafka
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1673): Use ModelInjectionRecord for Pydantic validation
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/models_injection_tracking.py
  tests/hooks/test_injection_tracking.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1734): Fix emit daemon startup and .env sourcing in hooks (#65)
  .github/workflows/enhanced-ci.yml
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
  pyproject.toml
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/handler_event_emitter.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_handler_event_emitter.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1673): Add injection tracking to HandlerContextInjection (#66)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/models_injection_tracking.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_cohort_assignment.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_injection_tracking.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1605): Address code review and fix CI timeout
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  src/omniclaude/runtime/wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix: Address pre-commit hook false positives from main merge
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/models_injection_tracking.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1605): Address code review - scanner config and migration docs
  CHANGELOG.md
  docs/migrations/SCHEMA_CHANGES_PR63.md
  scripts/validation/validate_secrets.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/models_injection_tracking.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1605): Address final code review feedback
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  src/omniclaude/runtime/wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1605): Implement contract-driven handler registration loader (#63)
  CHANGELOG.md
  contracts/handlers/pattern_storage_postgres/contract.yaml
  docs/migrations/SCHEMA_CHANGES_PR63.md
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  scripts/validation/validate_secrets.py
  src/omniclaude/contracts/__init__.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/models_injection_tracking.py
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/contract_models.py
  src/omniclaude/runtime/exceptions.py
  src/omniclaude/runtime/wiring.py
  tests/contracts/test_handler_contract_schema.py
  tests/runtime/__init__.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1674): Address mypy strict mode errors and CodeRabbit feedback
  .env.example
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/context_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1674): Add configurable A/B cohort assignment with contract-first design
  .env.example
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/contracts/contract_experiment_cohort.yaml
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/models_injection_tracking.py
  tests/hooks/test_cohort_assignment.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1674): Address code review feedback and fix mypy errors
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/test_cohort_assignment.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate
