Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

.pre-commit-config.yaml:

repos:
  # Fast file checks that can run in parallel
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      - id: end-of-file-fixer
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      # check-yaml removed: conflicts with agent YAML files that use custom syntax
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Fast Python formatting and linting (staged files only)
  # Order: format → fix → check (matches CI behavior)
  # Note: To run on entire codebase, use: uv run ruff check src/ tests/
  - repo: local
    hooks:
      - id: clean-output-directory
        name: clean output directory (prevent test artifacts)
        entry: bash -c 'rm -rf output/ && exit 0'
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: ruff-format
        name: ruff format (staged files)
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-fix
        name: ruff check --fix (staged files)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-check
        name: ruff check (staged files)
        entry: uv run ruff check
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: bandit-security
        name: bandit (staged files)
        entry: uv run bandit -c .bandit
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

      - id: mypy-typecheck
        name: mypy (staged files)
        entry: uv run mypy --ignore-missing-imports
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: onex-validate
        name: ONEX validation (staged files)
        entry: uv run python scripts/validate_onex.py
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix(ci): Remove unnecessary GH_PAT from check-handshake job
  .github/workflows/ci-cd.yml
Due: none

fix(OMN-1802): Address remaining CodeRabbit review feedback
  .github/workflows/ci-cd.yml
  README.md
  tests/hooks/test_integration_demo_pipeline.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

chore: Add architecture handshake file
  .claude/architecture-handshake.md
  .gitignore
Due: none

updated handshake
  .claude/architecture-handshake.md
  plugins/onex/.claude/README.md
  plugins/onex/.claude/agents/AGENT-PARALLEL-DISPATCHER.md
  plugins/onex/.claude/learned_patterns.json
  plugins/onex/.claude/plan-omn-1403-context-injection.md
  plugins/onex/.claude/settings.local.json
Due: none

feat(OMN-1802): Add VERTICAL-001 demo scripts for pattern pipeline validation (#78)
  .claude/architecture-handshake.md
  .github/workflows/ci-cd.yml
  .gitignore
  README.md
  plugins/onex/.claude/README.md
  plugins/onex/.claude/agents/AGENT-PARALLEL-DISPATCHER.md
  plugins/onex/.claude/learned_patterns.json
  plugins/onex/.claude/plan-omn-1403-context-injection.md
  plugins/onex/.claude/settings.local.json
  plugins/onex/docs/RUNBOOK_VERTICAL_DEMO.md
  plugins/onex/scripts/demo_consume_store.py
  plugins/onex/scripts/demo_emit_hook.py
  plugins/onex/scripts/demo_query_patterns.py
  tests/hooks/test_integration_demo_pipeline.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1840): Add /review command for local code review loop
  plugins/onex/commands/review.md
Due: none

feat(OMN-1744): Migrate event clients to RequestResponseWiring
  src/omniclaude/lib/core/intelligence_event_client.py
  src/omniclaude/lib/core/routing_event_client.py
  tests/lib/core/__init__.py
  tests/lib/core/conftest.py
  tests/lib/core/test_intelligence_event_client.py
  tests/lib/core/test_routing_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1840): Rename /review to /local-review to avoid conflict
  plugins/onex/commands/local-review.md
Due: none

feat(OMN-1806): Add pattern query CLI tool for debugging
  pyproject.toml
  scripts/validate_onex.py
  src/omniclaude/cli/__init__.py
  src/omniclaude/cli/patterns.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1744): Address code review issues in event clients
  src/omniclaude/lib/core/intelligence_event_client.py
  src/omniclaude/lib/core/routing_event_client.py
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Use polymorphic-agent and improve error handling
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Prevent false-positive "clean" status on parse failures
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Add PARSE_FAILED status indicator to Phase 3
  plugins/onex/commands/local-review.md
Due: none

feat(OMN-1833): Add /create-ticket command for standardized Linear ticket creation
  plugins/onex/commands/create-ticket.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

fix(review): [major] Remove vestigial consumer_group_id and standardize error handling
  src/omniclaude/lib/core/intelligence_event_client.py
  src/omniclaude/lib/core/routing_event_client.py
  tests/lib/core/test_intelligence_event_client.py
  tests/lib/core/test_routing_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Add explicit PARSE_FAILED flow control
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Fix resource leak in IntelligenceEventClient.stop()
  src/omniclaude/lib/core/intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Branch creation safety and input sanitization
  plugins/onex/commands/create-ticket.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

fix(review): [major] Update exit code documentation to match implementation
  scripts/validate_onex.py
  src/omniclaude/cli/patterns.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [critical] Git rollback safety and empty string filtering
  plugins/onex/commands/create-ticket.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

fix(review): [major] Consistent TimeoutError handling in RoutingEventClient
  src/omniclaude/lib/core/routing_event_client.py
  tests/lib/core/test_routing_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Add checkout success check before branch deletion
  plugins/onex/skills/ticket-work/prompt.md
Due: none

fix(review): [major] Remove remaining exit code 2 references from argparse help
  scripts/validate_onex.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Clarify iteration counter and commit failure handling
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Add shell safety guidance for PR title interpolation
  plugins/onex/skills/ticket-work/prompt.md
Due: none

fix(review): [major] Consistent iteration counter across all exit paths
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Use heredoc syntax in PR creation example
  plugins/onex/skills/ticket-work/prompt.md
Due: none

feat(OMN-1744): Migrate event clients to RequestResponseWiring (#80)
  src/omniclaude/lib/core/intelligence_event_client.py
  src/omniclaude/lib/core/routing_event_client.py
  tests/lib/core/__init__.py
  tests/lib/core/conftest.py
  tests/lib/core/test_intelligence_event_client.py
  tests/lib/core/test_routing_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(local-review): Add local code review loop command with strict onex classification
  plugins/onex/commands/local-review.md
Due: none

fix(review): [minor] Add visible warnings for fallback behaviors
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Address review findings from iteration 1
  plugins/onex/commands/local-review.md
Due: none

feat(OMN-1806): Add pattern query CLI tool for debugging (#82)
  plugins/onex/commands/local-review.md
  pyproject.toml
  scripts/validate_onex.py
  src/omniclaude/cli/__init__.py
  src/omniclaude/cli/patterns.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Complete AGENT_FAILED flow and fix PARSE_FAILED contradiction
  plugins/onex/commands/local-review.md
Due: none

feat(OMN-1860): Implement architecture handshake injection
  plugins/onex/hooks/lib/architecture_handshake_injector.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/ticket-work/prompt.md
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Make review prompt respect --uncommitted flag
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Fix summary display and status accuracy
  plugins/onex/commands/local-review.md
Due: none

fix(review): [major] Add validation, glob handling, and fix agent failure flow
  plugins/onex/commands/local-review.md
Due: none

feat(OMN-1833): Add /create-ticket command for standardized Linear ticket creation (#83)
  plugins/onex/commands/create-ticket.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

fix(review): [major] Add missing status indicators and align documentation
  plugins/onex/commands/local-review.md
Due: none

test(OMN-1860): Add unit tests for architecture_handshake_injector
  tests/test_architecture_handshake_injector.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck
