Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(statusline): ONEX context row — tier badge + Row 3 pipeline state [OMN-3352]
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(hooks): skip ticket injection when not in a worktree [OMN-3353]
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

fix(ticket-pipeline): make auto-merge the default path with exception handling (OMN-3349)
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

chore(pre-existing): suppress pre-existing local-path violation in epic-team/prompt.md [OMN-3350]
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

fix(pr-watch): add merge-completion finalization for auto-merge flow [OMN-3350]
  plugins/onex/skills/pr-watch/prompt.md
Due: check-local-paths

fix(pr-watch): add ai-slop-ok suppression markers to step headings [OMN-3350]
  plugins/onex/skills/pr-watch/prompt.md
Due: check-local-paths

fix(pr-watch): add merge-completion finalization for auto-merge flow [OMN-3350] (#464)
  plugins/onex/skills/pr-watch/prompt.md
Due: check-local-paths

feat(ticket-pipeline): Phase 5.75 integration verification gate Stage 1 [OMN-3344]
  plugins/onex/skills/_lib/integration-verification-gate/test-scenarios.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

feat(ticket-pipeline): Phase 5.75 integration verification gate Stage 1 [OMN-3344] (#465)
  plugins/onex/skills/_lib/integration-verification-gate/test-scenarios.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

fix(kafka-topic-drift): register publish_topics in node_github_pr_watcher_effect [OMN-3372]
  src/omniclaude/nodes/node_github_pr_watcher_effect/contract.yaml
Due: check-local-paths

fix(routing): align routing decision payload with ModelRoutingDecision schema [OMN-3410]
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/unit/hooks/lib/test_routing_decision_payload.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(routing): strengthen emitter mutation test with deepcopy and full payload assertion
  tests/unit/hooks/lib/test_routing_decision_payload.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

style(routing): fix ruff formatting in test_routing_decision_payload.py
  tests/unit/hooks/lib/test_routing_decision_payload.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ticket-pipeline): address CodeRabbit review issues (OMN-3349)
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

fix(review): [major] replace remaining save_issue with update_issue in Phase 6 NEEDS_GATE handler (OMN-3349)
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

chore(routing): align HandlerRoutingEmitter payload with ModelRoutingDecision contract [OMN-3424]
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
  tests/routing/test_handlers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(blocked_notifier): populate ModelSlackAlert.details with agent_name/session_id [OMN-3427]
  plugins/onex/hooks/lib/blocked_notifier.py
  tests/hooks/test_blocked_notifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(blocked_notifier): populate ModelSlackAlert.details with agent_name/session_id [OMN-3427] (#472)
  plugins/onex/hooks/lib/blocked_notifier.py
  tests/hooks/test_blocked_notifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): add ignore-unfixed to Trivy scans to skip non-actionable OS CVEs
  .github/workflows/ci.yml
Due: check-local-paths

feat: add PR template library with validation and generation helpers [OMN-3102]
  plugins/onex/skills/_lib/pr-template/helpers.md
Due: check-local-paths

feat: add mergeability-gate skill with blocked/needs-split/mergeable labeling [OMN-3102]
  plugins/onex/skills/mergeability-gate/SKILL.md
  plugins/onex/skills/mergeability-gate/prompt.md
Due: check-local-paths

feat: add mergeability_gate phases (2.5 and 3.5) to ticket-pipeline [OMN-3102]
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: check-local-paths

feat: add collision-detector library for pre-dispatch parallelism analysis [OMN-3102]
  plugins/onex/skills/_lib/collision-detector/helpers.md
Due: check-local-paths

feat: add pre-dispatch collision detection and WIP limit to epic-team [OMN-3102]
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

feat: add integration-branch library for epic-level merge coordination [OMN-3102]
  plugins/onex/skills/_lib/integration-branch/helpers.md
Due: check-local-paths

feat: wire integration branch lifecycle into epic-team (create + merge + report) [OMN-3102]
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

fix: add local-path-ok suppressions to integration-branch helpers [OMN-3102]
  plugins/onex/skills/_lib/integration-branch/helpers.md
Due: check-local-paths

fix: route mergeability-gate and integration-branch through pr-safety mutate_pr [OMN-3102]
  plugins/onex/skills/_lib/integration-branch/helpers.md
  plugins/onex/skills/mergeability-gate/prompt.md
Due: check-local-paths

fix: add SKILL.md frontmatter, rename step headings, generate orchestrator node for mergeability-gate
  plugins/onex/skills/mergeability-gate/SKILL.md
  plugins/onex/skills/mergeability-gate/prompt.md
  src/omniclaude/nodes/node_skill_mergeability_gate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_mergeability_gate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_mergeability_gate_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add generate-tcb skill for automated TCB generation at ticket creation [OMN-3104]
  plugins/onex/skills/generate-tcb/SKILL.md
  plugins/onex/skills/generate-tcb/prompt.md
Due: check-local-paths

feat: wire TCB generation into linear create-ticket post-creation hook [OMN-3104]
  plugins/onex/skills/linear/SKILL.md
Due: check-local-paths

feat: inject TCB into ticket-pipeline decision_context_load phase [OMN-3104]
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: check-local-paths

fix: replace step-narration headings in generate-tcb prompt.md [OMN-3104]
  plugins/onex/skills/generate-tcb/prompt.md
Due: check-local-paths

fix: add SKILL.md frontmatter and scaffold node for generate-tcb skill [OMN-3104]
  plugins/onex/skills/generate-tcb/SKILL.md
  plugins/onex/skills/generate-tcb/prompt.md
  src/omniclaude/nodes/node_skill_generate_tcb_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_generate_tcb_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_generate_tcb_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: TCB skill + wire into create-ticket and ticket-pipeline [OMN-3104] (#475)
  plugins/onex/skills/generate-tcb/SKILL.md
  plugins/onex/skills/generate-tcb/prompt.md
  plugins/onex/skills/linear/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  src/omniclaude/nodes/node_skill_generate_tcb_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_generate_tcb_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_generate_tcb_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add planning-context-resolver — SQL safety, preflight, 0.0 stub weights, HIGH_RISK gates
  plugins/onex/skills/planning-context-resolver/SKILL.md
  plugins/onex/skills/planning-context-resolver/prompt.md
Due: check-local-paths

feat: wire planning-context-resolver into epic-team before ticket dispatch [OMN-3105]
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
