Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat: add stall detection and targeted redispatch to agent healthcheck [OMN-7255]
  plugins/onex/skills/agent_healthcheck/SKILL.md
  plugins/onex/skills/dispatch_watchdog/SKILL.md
Due: check-local-paths

feat(client): add memory fabric client for context injection and /recall [OMN-7248]
  plugins/onex/hooks/lib/memory_fabric_client.py
  tests/unit/hooks/lib/test_memory_fabric_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(injection): integrate memory fabric as additive context source [OMN-7249]
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_context_injection_schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): resolve event stream silent failure and heartbeat schema mismatch [OMN-7239]
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/publisher/embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skill): add /recall skill for on-demand memory fabric queries [OMN-7250]
  plugins/onex/skills/recall/SKILL.md
  src/omniclaude/nodes/node_skill_recall_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_recall_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_recall_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(injection): integrate memory fabric as additive context source [OMN-7249] (#1064)
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_context_injection_schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skill): add /recall skill for on-demand memory fabric queries [OMN-7250] (#1066)
  plugins/onex/skills/recall/SKILL.md
  src/omniclaude/nodes/node_skill_recall_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_recall_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_recall_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: register AGENT_LEARNING_RETRIEVAL_URL in env var registry [OMN-7248]
  .env.example
Due: check-local-paths

feat(client): add memory fabric client [OMN-7248] (#1062)
  .env.example
  plugins/onex/hooks/lib/memory_fabric_client.py
  tests/unit/hooks/lib/test_memory_fabric_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(schemas): add MEMORY_FABRIC context source for cross-agent memory [OMN-7247]
  tests/unit/hooks/test_memory_fabric_source.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(schemas): add MEMORY_FABRIC enum value to ContextSource [OMN-7247]
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: update tests for MEMORY_FABRIC context source [OMN-7247]
  tests/hooks/test_context_injection_schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): add limit-aware session checkpoint system [OMN-7283, OMN-7284, OMN-7286, OMN-7287]
  src/omniclaude/hooks/limit_threshold_monitor.py
  src/omniclaude/hooks/model_session_checkpoint.py
  src/omniclaude/hooks/session_checkpoint_writer.py
  src/omniclaude/hooks/statusline_parser.py
  tests/unit/hooks/test_limit_threshold_monitor.py
  tests/unit/hooks/test_model_session_checkpoint.py
  tests/unit/hooks/test_session_checkpoint_writer.py
  tests/unit/hooks/test_statusline_parser.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(schemas): remove duplicate MEMORY_FABRIC definition from ContextSource
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add delegation prompt builder and session limit transfer handler [OMN-7285, OMN-7290]
  src/omniclaude/hooks/handlers/handler_delegation_prompt_builder.py
  src/omniclaude/hooks/handlers/handler_session_limit_transfer.py
  tests/unit/hooks/handlers/test_handler_delegation_prompt_builder.py
  tests/unit/hooks/handlers/test_handler_session_limit_transfer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: suppress bandit B108 for statusline temp path [OMN-7253]
  src/omniclaude/hooks/statusline_parser.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skill): add RSD-driven pipeline fill skill for continuous execution [OMN-7289]
  plugins/onex/skills/pipeline_fill/SKILL.md
  src/omniclaude/nodes/node_skill_pipeline_fill_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_pipeline_fill_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_pipeline_fill_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): limit-aware session checkpoint system [OMN-7281] (#1067)
  src/omniclaude/hooks/handlers/handler_delegation_prompt_builder.py
  src/omniclaude/hooks/handlers/handler_session_limit_transfer.py
  src/omniclaude/hooks/limit_threshold_monitor.py
  src/omniclaude/hooks/model_session_checkpoint.py
  src/omniclaude/hooks/session_checkpoint_writer.py
  src/omniclaude/hooks/statusline_parser.py
  tests/unit/hooks/handlers/test_handler_delegation_prompt_builder.py
  tests/unit/hooks/handlers/test_handler_session_limit_transfer.py
  tests/unit/hooks/test_limit_threshold_monitor.py
  tests/unit/hooks/test_model_session_checkpoint.py
  tests/unit/hooks/test_session_checkpoint_writer.py
  tests/unit/hooks/test_statusline_parser.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(contract): use hyphenated topic names and add repo field to dispatched state [OMN-7289]
  plugins/onex/skills/pipeline_fill/SKILL.md
  src/omniclaude/nodes/node_skill_pipeline_fill_orchestrator/contract.yaml
Due: check-local-paths

fix(skill): add push-access check to Phase 2 filter candidates [OMN-7289]
  plugins/onex/skills/pipeline_fill/SKILL.md
Due: check-local-paths

feat(hooks): add cross-platform terminal identity for persistent agent binding [OMN-7295]
  plugins/onex/hooks/lib/terminal_identity.py
  tests/unit/hooks/lib/test_terminal_identity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skill): add /login skill for persistent agent binding [OMN-7296]
  plugins/onex/skills/login/SKILL.md
  src/omniclaude/nodes/node_skill_login_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_login_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_login_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(resume): add SESSION_RESUME context source and resume formatter [OMN-7298]
  plugins/onex/hooks/lib/session_resume_client.py
  src/omniclaude/hooks/schemas.py
  tests/unit/hooks/lib/test_session_resume_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skill): add /login skill for persistent agent binding [OMN-7296] (#1070)
  plugins/onex/skills/login/SKILL.md
  src/omniclaude/nodes/node_skill_login_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_login_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_login_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): correct _get_shell_key docstring to match cross-platform implementation [OMN-7295]
  plugins/onex/hooks/lib/terminal_identity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(skill): add fail-closed push-access behavior and failed-dispatch state transition [OMN-7289]
  plugins/onex/skills/pipeline_fill/SKILL.md
Due: check-local-paths

feat(hooks): cross-platform terminal identity [OMN-7295] (#1069)
  plugins/onex/hooks/lib/terminal_identity.py
  tests/unit/hooks/lib/test_terminal_identity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skill): add RSD-driven pipeline fill skill [OMN-7289] (#1068)
  plugins/onex/skills/pipeline_fill/SKILL.md
  src/omniclaude/nodes/node_skill_pipeline_fill_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_pipeline_fill_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_pipeline_fill_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(omniclaw): add Discord channel adapter contract package [OMN-7189]
  pyproject.toml
  src/omniclaude/nodes/node_channel_discord_adapter/__init__.py
  src/omniclaude/nodes/node_channel_discord_adapter/contract.yaml
  src/omniclaude/nodes/node_channel_discord_adapter/handlers/__init__.py
  src/omniclaude/nodes/node_channel_discord_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_discord_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_discord_adapter/models/__init__.py
  src/omniclaude/nodes/node_channel_discord_adapter/models/model_discord_config.py
  tests/unit/nodes/node_channel_discord_adapter/__init__.py
  tests/unit/nodes/node_channel_discord_adapter/test_handler_inbound.py
  tests/unit/nodes/node_channel_discord_adapter/test_handler_outbound.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(omniclaw): bypass secret detector for config model field [OMN-7189]
  src/omniclaude/nodes/node_channel_discord_adapter/models/model_discord_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(resume): add SESSION_RESUME context source [OMN-7298] [OMN-7299] [OMN-7300]
  plugins/onex/hooks/lib/session_resume_client.py
  plugins/onex/skills/rewind/SKILL.md
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/nodes/node_skill_rewind_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_rewind_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_rewind_orchestrator/node.py
  tests/unit/hooks/lib/test_session_resume_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): skip Discord adapter tests when discord.py not installed
  tests/unit/nodes/node_channel_discord_adapter/test_handler_inbound.py
  tests/unit/nodes/node_channel_discord_adapter/test_handler_outbound.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): use repo main venv instead of plugin lib venv [OMN-7310]
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/test-hooks.sh
  plugins/onex/lib/mode.sh
  plugins/onex/skills/_bin/_common.sh
  plugins/onex/skills/verify_plugin/verify-deploy.sh
Due: check-local-paths

fix(resume): resolve mypy Returning Any in session resume loader [OMN-7300]
  src/omniclaude/hooks/handler_context_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add persona signal extraction from session behavior [OMN-7306]
  plugins/onex/hooks/lib/persona_signal_emitter.py
  tests/unit/hooks/lib/test_persona_signal_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skill): add /rewind skill for conversational rewind [OMN-7299]
  plugins/onex/skills/rewind/SKILL.md
  src/omniclaude/nodes/node_skill_rewind_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_rewind_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_rewind_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): register ONEX_AGENT_ID in allowlist, update ContextSource count test [OMN-7298]
  .env.allowlist
  tests/hooks/test_context_injection_schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(nodes): add Slack, Telegram, Email, SMS channel adapters for OmniClaw [OMN-7190, OMN-7191, OMN-7192, OMN-7193]
  src/omniclaude/nodes/node_channel_email_adapter/__init__.py
  src/omniclaude/nodes/node_channel_email_adapter/contract.yaml
  src/omniclaude/nodes/node_channel_email_adapter/handlers/__init__.py
  src/omniclaude/nodes/node_channel_email_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_email_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_email_adapter/models/__init__.py
  src/omniclaude/nodes/node_channel_email_adapter/models/model_email_config.py
  src/omniclaude/nodes/node_channel_slack_adapter/__init__.py
  src/omniclaude/nodes/node_channel_slack_adapter/contract.yaml
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/__init__.py
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_slack_adapter/models/__init__.py
  src/omniclaude/nodes/node_channel_slack_adapter/models/model_slack_config.py
  src/omniclaude/nodes/node_channel_sms_adapter/__init__.py
  src/omniclaude/nodes/node_channel_sms_adapter/contract.yaml
  src/omniclaude/nodes/node_channel_sms_adapter/handlers/__init__.py
  src/omniclaude/nodes/node_channel_sms_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_sms_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_sms_adapter/models/__init__.py
  src/omniclaude/nodes/node_channel_sms_adapter/models/model_sms_config.py
  src/omniclaude/nodes/node_channel_telegram_adapter/__init__.py
  src/omniclaude/nodes/node_channel_telegram_adapter/contract.yaml
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/__init__.py
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_telegram_adapter/models/__init__.py
  src/omniclaude/nodes/node_channel_telegram_adapter/models/model_telegram_config.py
  tests/unit/nodes/node_channel_email_adapter/__init__.py
  tests/unit/nodes/node_channel_email_adapter/test_handler_inbound.py
  tests/unit/nodes/node_channel_email_adapter/test_handler_outbound.py
  tests/unit/nodes/node_channel_slack_adapter/__init__.py
  tests/unit/nodes/node_channel_slack_adapter/test_handler_inbound.py
  tests/unit/nodes/node_channel_slack_adapter/test_handler_outbound.py
  tests/unit/nodes/node_channel_sms_adapter/__init__.py
  tests/unit/nodes/node_channel_sms_adapter/test_handler_inbound.py
  tests/unit/nodes/node_channel_sms_adapter/test_handler_outbound.py
  tests/unit/nodes/node_channel_telegram_adapter/__init__.py
  tests/unit/nodes/node_channel_telegram_adapter/test_handler_inbound.py
  tests/unit/nodes/node_channel_telegram_adapter/test_handler_outbound.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(nodes): eliminate Any types from channel adapter protocols [OMN-7190, OMN-7191, OMN-7192, OMN-7193]
  src/omniclaude/nodes/node_channel_email_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_sms_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_outbound.py
  tests/unit/nodes/node_channel_slack_adapter/test_handler_outbound.py
  tests/unit/nodes/node_channel_telegram_adapter/test_handler_outbound.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(persona): add PERSONA context source and persona-driven personality wiring [OMN-3974]
  plugins/onex/hooks/lib/persona_context_client.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/nodes/node_personality_logging_effect/models/model_logging_config.py
  src/omniclaude/nodes/node_personality_logging_effect/personality_adapter.py
  tests/unit/hooks/lib/test_persona_context_client.py
  tests/unit/nodes/node_personality_logging_effect/test_personality_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
