Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

docs(OMN-10543): tighten triage invariant wording
  plugins/onex/skills/ticketing_triage/SKILL.md
Due: check-local-paths

ci(OMN-7259): add repo-local deploy contract
  contracts/OMN-7259.yaml
Due: check-local-paths

fix(OMN-7259): use valid contract interface enum
  contracts/OMN-7259.yaml
Due: check-local-paths

fix(OMN-7259): reject empty orchestration plans
  src/omniclaude/hooks/self_healing_orchestrator.py
  tests/unit/hooks/test_self_healing_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-10606): hook result-injection mechanism proof and test probe
  docs/research/2026-05-06-hook-result-injection-proof.md
  plugins/onex/hooks/scripts/test_injection_probe.sh
Due: check-local-paths

feat(OMN-10608): add data sensitivity gate for delegation routing
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/sensitivity_gate.py
  tests/delegation/__init__.py
  tests/delegation/test_sensitivity_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10621): increase emit daemon startup wait to prevent health check race
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

test(OMN-10612): add negative tests for non-delegatable calls
  plugins/onex/hooks/lib/delegation_hook_runner.py
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/sensitivity_gate.py
  tests/delegation/__init__.py
  tests/delegation/test_negative_cases.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-10613): add e2e smoke test for delegation pipeline
  tests/delegation/__init__.py
  tests/delegation/test_e2e_smoke.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-10619): PostToolUse cost accounting hook
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/cost_accounting.py
  plugins/onex/hooks/scripts/post_tool_use_cost_accounting.sh
  tests/unit/hooks/lib/test_cost_accounting.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10606): keep injection probe fail-open
  plugins/onex/hooks/scripts/test_injection_probe.sh
Due: check-local-paths

fix(OMN-10621): background emit daemon startup verification to meet <50ms session-start budget
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

feat(OMN-10640): add in-process DelegationRunner fallback to delegate skill
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10605): create minimal delegation hook config v1
  plugins/onex/hooks/hooks-delegation.v1.json
Due: check-local-paths

fix(OMN-10605): validate delegation hook config targets
  plugins/onex/hooks/scripts/pre_tool_use_delegation.sh
  plugins/onex/hooks/scripts/user_prompt_delegation_classifier.sh
  tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-10639): wire evidence bundle for delegation demo
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/evidence_bundle.py
  tests/delegation/test_evidence_bundle.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10639): harden correlation_id against directory traversal
  src/omniclaude/delegation/evidence_bundle.py
  tests/delegation/test_evidence_bundle.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10618): SQLite projection adapter for delegation telemetry
  src/omniclaude/delegation/migrations/001_create_delegation_tables.sql
  src/omniclaude/delegation/sqlite_adapter.py
  tests/unit/delegation/__init__.py
  tests/unit/delegation/test_sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10618): harden sqlite projection adapter
  src/omniclaude/delegation/sqlite_adapter.py
  tests/unit/delegation/test_sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10636): wire DelegationRunner to Bifrost gateway
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/runner.py
  tests/delegation/test_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10607): harden pre-tool delegation fail-open path
  plugins/onex/hooks/lib/delegation_hook_runner.py
  plugins/onex/hooks/scripts/pre_tool_use_delegation.sh
  tests/hooks/test_delegation_hook_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10607): PreToolUse delegation hook with classifier + sensitivity gate
  plugins/onex/hooks/scripts/pre_tool_use_delegation.sh
  tests/hooks/test_delegation_hook_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10620): harden savings calculation inputs
  src/omniclaude/delegation/savings.py
  tests/delegation/test_savings.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10620): savings calculation module with honest provenance
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/savings.py
  tests/delegation/test_savings.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10622): add bandit nosec B108 for fixed daemon socket path
  src/omniclaude/delegation/transport.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10622): daemon graceful degradation for delegation transport
  src/omniclaude/delegation/daemon_fallback.py
  src/omniclaude/delegation/transport.py
  tests/delegation/test_daemon_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10622): register ONEX_EMIT_SOCKET_PATH in env var registry
  .env.example
  src/omniclaude/delegation/__init__.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10610): in-process delegation runner using pure handler functions
  plugins/onex/skills/delegate/_lib/run.py
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/runner.py
  tests/unit/delegation/test_runner.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-10610): split InProcessDelegationRunner into separate module
  plugins/onex/skills/delegate/_lib/run.py
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/inprocess_runner.py
  src/omniclaude/delegation/runner.py
  tests/unit/delegation/test_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-10610): live-LLM E2E integration test (opt-in)
  tests/delegation/test_e2e_live_llm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10610): satisfy validate-secrets noqa for token_provenance label
  plugins/onex/skills/delegate/_lib/run.py
  scripts/e2e_inprocess_runner_demo.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10610): convert TaskType Literal to EnumDelegationTaskType, clear pycache
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10610): normalize runner failure boundaries
  src/omniclaude/delegation/runner.py
  tests/unit/delegation/test_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10610): normalize task_type to enum and raise DelegationRunnerError on unknown values
  src/omniclaude/delegation/runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10610): use secret-ok bypass token validate-secrets accepts
  plugins/onex/skills/delegate/_lib/run.py
  scripts/e2e_inprocess_runner_demo.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
