Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-10834): add DELEGATION_REQUEST to TopicBase; allowlist legacy DELEGATE_TASK
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-9895): add is_omninode_repo guard to all 31 unguarded hard-block hooks
  plugins/onex/hooks/scripts/hook_dispatch_claim_pretool.sh
  plugins/onex/hooks/scripts/hook_idle_notification_ratelimit.sh
  plugins/onex/hooks/scripts/hook_verifier_role_guard.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/post_tool_use_agent_result_verifier.sh
  plugins/onex/hooks/scripts/post_tool_use_trajectory.sh
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_dispatch_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_tool_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_branch_protection_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_context_scope_auditor.sh
  plugins/onex/hooks/scripts/pre_tool_use_delegation.sh
  plugins/onex/hooks/scripts/pre_tool_use_dispatch_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_dispatch_guard_ticket_evidence.sh
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_hostile_review_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_linear_done_verify.sh
  plugins/onex/hooks/scripts/pre_tool_use_model_router.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/pre_tool_use_pipeline_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_plan_existence_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
  plugins/onex/hooks/scripts/pre_tool_use_scope_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_tdd_dispatch_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_team_lead_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_workflow_guard.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/stop_session_bootstrap_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_claim_verifier.sh
Due: check-local-paths

feat(OMN-10603): add reusable ban-hardcoded-runner-ip CI gate
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: check-local-paths

fix(OMN-9043): fail loud when validator_local_paths is not importable
  .pre-commit-config.yaml
  scripts/check_local_paths.py
  scripts/check_local_paths_wrapper.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-9895): scope DoD guard tests to repo root
  plugins/onex/hooks/lib/emit_client_wrapper.py
  tests/hooks/test_dod_completion_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-9895): address CR threads — stdin drain, ONEX_HOOK_LOG safety, is_omninode_repo fail-open
  plugins/onex/hooks/scripts/hook_verifier_role_guard.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/post_tool_use_trajectory.sh
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
  plugins/onex/hooks/scripts/pre_tool_use_branch_protection_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_dispatch_guard_ticket_evidence.sh
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_hostile_review_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_model_router.sh
  plugins/onex/hooks/scripts/pre_tool_use_workflow_guard.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/stop_session_bootstrap_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_claim_verifier.sh
Due: check-local-paths

fix(OMN-10492): replace raw Postgres probe with runtime HTTP health check
  plugins/onex/skills/system_status/check_database_health/SKILL.md
  plugins/onex/skills/system_status/check_database_health/_lib/__init__.py
  plugins/onex/skills/system_status/check_database_health/_lib/execute.py
  tests/unit/skills/test_check_database_health.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10895): add CLAUDE_CODE_SESSION_ID to monkeypatch in sentinel validation tests
  tests/unit/hooks/lib/test_emitter_sentinel_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10895): allow core patch release in receipt gate
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(OMN-9906): migrate ONEX_WORKTREE_GUARD + ONEX_TEAM_LEAD_GUARD_DISABLE to ONEX_HOOKS_MASK bitmask
  plugins/onex/hooks/lib/team_lead_foreground_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_team_lead_guard.sh
  src/omniclaude/contracts/hook_activations.yaml
  tests/hooks/test_pre_tool_use_bash_guard_worktree.py
  tests/hooks/test_team_lead_foreground_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-9906): regenerate hook_bits.sh with WORKTREE_GUARD bit
  plugins/onex/hooks/lib/hook_bits.sh
Due: check-local-paths

fix(OMN-9906): source core hook bit tag
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-9906): source core hook bit release
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-9906): source common.sh in team-lead guard for venv resolution
  plugins/onex/hooks/scripts/pre_tool_use_team_lead_guard.sh
Due: check-local-paths

fix(OMN-10943): prefer runtime HTTP delegation dispatch
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_kafka_publish.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-9906): fail open when hook gate is unavailable
  plugins/onex/hooks/scripts/pre_tool_use_team_lead_guard.sh
Due: check-local-paths

docs(OMN-10933): reviewdog integration setup guide
  docs/infra/reviewdog-setup.md
Due: none

docs(OMN-10935): hostile_reviewer → rdjsonl output contract (design only)
  docs/contracts/hostile-reviewer-rdjsonl-contract.md
Due: none

feat(OMN-10930): ruff → rdjsonl converter with suggested fixes
  .github/scripts/ruff-to-rdjsonl.py
  tests/ci/test_ruff_to_rdjsonl.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-10931): mypy → rdjsonl converter
  .github/scripts/mypy-to-rdjsonl.py
  tests/ci/test_mypy_to_rdjsonl.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-10929): reviewdog reusable workflow skeleton
  .github/workflows/reviewdog-review.yml
Due: check-local-paths

chore(OMN-10929): relax omnibase core pin for receipt gate
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(OMN-10934): generic ONEX findings → rdjsonl converter
  .github/scripts/findings-to-rdjsonl.py
  tests/ci/test_findings_to_rdjsonl.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
