Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(OMN-2399): ci-fix-pipeline — autonomous CI failure fix pipeline skill (#194)
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(review): [minor] accurate comment, session_id required, correlation_id scoping, missing test
  plugins/onex/hooks/lib/pattern_enforcement.py
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [nit] document non-blocking emit loop, clarify repo derivation, merge import
  plugins/onex/hooks/lib/pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major] share correlation_id between compliance.evaluate and pattern.enforcement
  plugins/onex/hooks/lib/pattern_enforcement.py
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] add naive-datetime guard, missing-arg test, and removal-target TODO
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] document partial-JOIN condition, assert shared correlation_id in e2e test
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2452): add onex-schema-compat.yml CI gate (M4)
  .github/workflows/onex-schema-compat.yml
Due: none

fix(review): [minor] add sentinel documentation, inflated-branch note, legacy field sentinel test
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] split docstring into canonical vs legacy sections, annotate omitted fields
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] fix was_dropped miss edge case, clarify timestamp/emitted_at naming, document empty-string sentinel
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] reorder emitted_at before optional params, add miss+not-in-kept was_dropped test
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] add context.enrichment registry guard test, soften exhaustive sentinel claim
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] add was_dropped=True test for inflated result not in kept_names
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] replace TODO(OMN-2441-followup) with real ticket OMN-2473
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] add agent_name coercion test, migration hint comment, routing dependency note
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/event_registry.py
  tests/unit/hooks/lib/test_context_enrichment_runner.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] clarify jq truthiness for empty-string sentinel in shell comment
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

fix(OMN-2452): exclude plugins/ from schema artifact search
  .github/workflows/onex-schema-compat.yml
Due: none

fix(OMN-2452): switch to allowlist for schema artifact discovery
  .github/workflows/onex-schema-compat.yml
Due: none

fix(review): [minor] marker-walk repo derivation, document discarded emit count, add nested-path tests
  plugins/onex/hooks/lib/pattern_enforcement.py
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2441): wire context enrichment event producer to omnidash-canonical schema (#201)
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_event_registry.py
  tests/unit/hooks/lib/test_context_enrichment_runner.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] enforce emitted_at required, fix test docstring, add missing emitted_at args
  plugins/onex/hooks/lib/pattern_enforcement.py
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2452): add onex-schema-compat.yml CI gate (M4) (#203)
  .github/workflows/onex-schema-compat.yml
Due: none

fix(review): [minor] fix vacuous correlation_id uniqueness assertion, remove dead capture_emit closure
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2456): add omni-standards-compliance.yml workflow (M5)
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(review): [minor] reject empty emitted_at, remove redundant alias, assert timestamp propagation
  plugins/onex/hooks/lib/pattern_enforcement.py
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2463): remove backward-compat alias fields from enrichment_observability_emitter
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major] correct hooks.json schema validation and remove duplicate onex-validation job
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(review): [minor] update stale docstrings after legacy field removal
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major] fix awk extraction, add gate aggregator, add timeouts
  .github/required-checks.yaml
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(review): [minor] clarify budget-guard comment, document emitted_at type-ignore, group main() imports, scope correlation_id test
  plugins/onex/hooks/lib/pattern_enforcement.py
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] add test asserting emitted_at="" raises ValueError
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2463): remove backward-compat alias fields from enrichment_observability_emitter (#206)
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major+minor] fix agent-name guard, awk extractor, json error redirect, find prune paths, comment accuracy
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(review): [minor] use json.tool for hooks validation, fix awk indent pattern to be indentation-agnostic
  .github/workflows/omni-standards-compliance.yml
Due: none

feat(OMN-2456): enable omni-standards-compliance.yml workflow (M5) (#207)
  .github/required-checks.yaml
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(tests): add required emitted_at arg to enforce_patterns calls
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2442): emit pattern enforcement events to canonical evt topic (#202)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/pattern_enforcement.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_pattern_enforcement.py
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): wire intent classification to UserPromptSubmit [OMN-2493]
  plugins/onex/hooks/lib/intent_classifier.py
  plugins/onex/hooks/lib/intent_model_hints.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_session_intent.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2501): NL → Intent Object Pipeline with typed classification
  src/omniclaude/nodes/node_nl_intent_pipeline/__init__.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/__init__.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_intent_type.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_resolution_path.py
  src/omniclaude/nodes/node_nl_intent_pipeline/handler_nl_intent_default.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/__init__.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_extracted_entity.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_intent_object.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_nl_parse_request.py
  src/omniclaude/nodes/node_nl_intent_pipeline/node.py
  tests/unit/nodes/node_nl_intent_pipeline/__init__.py
  tests/unit/nodes/node_nl_intent_pipeline/test_intent_pipeline.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2501): replace dict[str,Any] with ModelClassificationResponse, add nosec B310
  src/omniclaude/nodes/node_nl_intent_pipeline/handler_nl_intent_default.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/__init__.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_classification_response.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
