Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

test(OMN-13500): C3 wiring/bridge boundary burn-down — real engine + in-memory bridge for 4 sites
  docs/evidence/OMN-13500-burndown-worklist.md
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-13911): fail-closed on skipped in CI Summary rollup
  .github/workflows/ci.yml
Due: check-local-paths

test(OMN-13500): C4 inference-egress boundary burn-down — recorded-replay + real httpx.MockTransport for 7 sites
  docs/evidence/OMN-13500-burndown-worklist.md
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  tests/fixtures/golden_chain/vllm_chat_text.json
  tests/fixtures/golden_chain/vllm_chat_tool_call.json
  tests/runtime/test_lifecycle.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger
  .github/workflows/pr-title-check.yml
Due: check-local-paths

docs(OMN-13500): note OCC deploy-evidence companion PR #3552
  docs/evidence/OMN-13500-burndown-worklist.md
Due: none

ci(OMN-13911): fail-closed on skipped in CI Summary rollup (#1848)
  .github/workflows/ci.yml
Due: check-local-paths

test(OMN-13500): burn down omniclaude faked-boundary findings to zero (#1849)
  docs/evidence/OMN-13500-burndown-worklist.md
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  tests/fixtures/golden_chain/vllm_chat_text.json
  tests/fixtures/golden_chain/vllm_chat_tool_call.json
  tests/lib/core/test_onex_routing_nodes.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/lib/core/test_routing_event_client.py
  tests/runtime/test_lifecycle.py
  tests/support/__init__.py
  tests/support/fake_agent_router.py
  tests/support/fake_task_dispatcher.py
  tests/unit/nodes/node_agent_router/test_handler_agent_router.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm_tools.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger (#1850)
  .github/workflows/pr-title-check.yml
Due: check-local-paths

fix(OMN-13904): real patch_pr_body/patch_pr_title REST-PATCH helpers; kill gh pr edit Projects-classic trap
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/dispatch_worker/prompt.md
Due: check-local-paths

chore(OMN-13904): add DoD evidence receipt for DoD Evidence Check gate
  .onex_state/evidence/OMN-13904/dod_report.json
Due: check-local-paths

fix(OMN-13904): real patch_pr_body/patch_pr_title REST-PATCH helpers — kill the gh pr edit Projects-classic trap (#1851)
  .onex_state/evidence/OMN-13904/dod_report.json
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/dispatch_worker/prompt.md
Due: check-local-paths

evidence(OMN-13914): DoD receipt for pr-title-check synchronize+reopened trigger (#1850)
  .onex_state/evidence/OMN-13914/dod_report.json
Due: check-local-paths

evidence(OMN-13914): DoD receipt for pr-title-check synchronize+reopened trigger (#1853)
  .onex_state/evidence/OMN-13914/dod_report.json
Due: check-local-paths

fix(OMN-13934): drop fetch-depth:0 checkout from reject-skip-gate — cold-runner timeout
  .github/workflows/reject-deploy-gate-skip.yml
Due: check-local-paths

fix(OMN-13934): drop fetch-depth:0 checkout from reject-skip-gate (cold-runner timeout) (#1855)
  .github/workflows/reject-deploy-gate-skip.yml
Due: check-local-paths

fix(OMN-13908): worktree SKILL.md audit diffs origin/dev not origin/main + honest node-backing state
  plugins/onex/skills/worktree/SKILL.md
Due: check-local-paths

chore(OMN-13908): add in-repo contract for validate-pr-contracts gate
  contracts/OMN-13908.yaml
Due: check-local-paths

fix(OMN-13908): worktree SKILL.md audit diffs origin/dev not origin/main + honest node-backing state (#1856)
  contracts/OMN-13908.yaml
  plugins/onex/skills/worktree/SKILL.md
Due: check-local-paths

feat(OMN-13938): add rolling_plan_governor skill — evidence-driven minimal-churn re-cut of the canonical 7-day rolling plan
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13939): add rolling_plan_governor skill — evidence-driven minimal-churn re-cut of the canonical 7-day rolling plan
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13939): add runtime_profiles to skill node contract + local-path-ok on OMNI_HOME skill refs
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/contract.yaml
Due: check-local-paths

contract(OMN-13939): add rolling plan governor evidence
  contracts/OMN-13939.yaml
Due: check-local-paths

feat(OMN-13939): add rolling_plan_governor skill — evidence-driven minimal-churn re-cut of the canonical 7-day rolling plan (#1859)
  contracts/OMN-13939.yaml
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-14127): run required-context aggregators + Security Gate leaves on GitHub-hosted runners
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-14127): make CI Summary a no-needs fail-closed hosted poller (starvation-immune)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-14127): disable errexit in CI Summary poller so PENDING (exit 2) does not kill the loop
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-14127): scope CI Summary poller to run attempt
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-14127): raise no-faked-boundary uv timeout
  .github/workflows/no-faked-boundary.yml
Due: check-local-paths

ci(OMN-14127): harden CI summary retries
  .github/workflows/ci.yml
  .github/workflows/onex-schema-compat.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-14127): remove mechanical security scan blockers
  .github/workflows/no-faked-boundary.yml
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-14127): harden CodeRabbit thread gate
  .github/workflows/cr-thread-gate.yml
  scripts/check-unresolved-threads.sh
Due: check-local-paths

ci(OMN-14127): stop advisory security scan on PRs
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-14127): accept superseded OCC receipts in DoD materializer
  scripts/materialize-dod-evidence-from-occ.sh
Due: check-local-paths

ci: keep intelligence stack out of default validators
  .github/workflows/ci.yml
  pyproject.toml
  tests/ci/test_dependency_shape.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): align omniclaude internal dependency pins
  pyproject.toml
  uv.lock
Due: check-local-paths

ci: wait on aggregate gates for cancelled leaves
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-14127): harden ci summary and live chain readiness
  scripts/ci/ci_summary_gate.py
  scripts/ci/run_golden_chain_live.py
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_golden_chain_live_runner.py
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
