Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

.pre-commit-config.yaml:

repos:
  # Fast file checks that can run in parallel
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      - id: end-of-file-fixer
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      # check-yaml removed: conflicts with agent YAML files that use custom syntax
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Fast Python formatting and linting (staged files only)
  # Order: format → fix → check (matches CI behavior)
  # Note: To run on entire codebase, use: uv run ruff check src/ tests/
  - repo: local
    hooks:
      - id: clean-output-directory
        name: clean output directory (prevent test artifacts)
        entry: bash -c 'rm -rf output/ && exit 0'
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: ruff-format
        name: ruff format (staged files)
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-fix
        name: ruff check --fix (staged files)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-check
        name: ruff check (staged files)
        entry: uv run ruff check
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: bandit-security
        name: bandit (staged files)
        entry: uv run bandit -c .bandit
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

      - id: mypy-typecheck
        name: mypy (staged files)
        entry: uv run mypy --ignore-missing-imports
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: onex-validate
        name: ONEX validation (staged files)
        entry: uv run python scripts/validate_onex.py
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix(review): Address all remaining PR #88 review issues for release readiness
  plugins/onex/hooks/lib/secret_redactor.py
  plugins/onex/hooks/lib/utilization_detector.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_utilization_detector.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat: implement Polly-first routing architecture with transformation validation
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/lib/core/__init__.py
  src/omniclaude/lib/core/agent_transformer.py
  src/omniclaude/lib/core/transformation_validator.py
  src/omniclaude/lib/transformation_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1900): Address PR #91 review feedback
  plugins/onex/commands/plan-to-tickets.md
  plugins/onex/lib/dependency_validator.md
Due: none

fix(review): [minor] Clarify MAX_INPUT_SIZE measures characters not bytes
  plugins/onex/hooks/lib/utilization_detector.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Fix event loop bugs in sync wrappers
  src/omniclaude/lib/core/agent_transformer.py
  src/omniclaude/lib/transformation_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Remove redundant imports in route_via_events_wrapper
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Use ValidationResult API for filtering
  plugins/onex/commands/create-ticket.md
  plugins/onex/commands/plan-to-tickets.md
Due: none

fix(review): [minor] Remove stale line reference in stopwords comment
  plugins/onex/hooks/lib/utilization_detector.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Fix lint, type, and test isolation issues
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/lib/core/agent_transformer.py
  src/omniclaude/lib/transformation_event_publisher.py
  tests/test_ticket_context_injector.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1900): Add dependency architecture validation to ticket creation commands (#91)
  .gitignore
  plugins/onex/commands/create-followup-tickets.md
  plugins/onex/commands/create-ticket.md
  plugins/onex/commands/plan-to-tickets.md
  plugins/onex/lib/dependency_validator.md
Due: none

feat(OMN-1889): Add injection metrics and utilization signal events (#88)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/secret_redactor.py
  plugins/onex/hooks/lib/utilization_detector.py
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_cohort_assignment.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_secret_redactor.py
  tests/hooks/test_utilization_detector.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1886): Add deploy-local-plugin skill and command
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

fix(review): [major] Add validation and error handling to deploy script
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

fix(review): [major] Validate source dirs + remove dead code
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

fix(review): [minor] Fix topic naming convention violation
  src/omniclaude/hooks/topics.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1886): Add deploy-local-plugin skill and command (#93)
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

feat: add manifest injection schema and async context handling
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_schemas.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat: add manifest injection event publisher for Kafka observability
  src/omniclaude/lib/manifest_injection_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix: use CLAUDE_PLUGIN_ROOT for agent YAML loading
  plugins/onex/hooks/lib/simple_agent_loader.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Fix topic naming and keyword validation
  src/omniclaude/lib/core/transformation_validator.py
  src/omniclaude/lib/manifest_injection_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Fix import fallback and topic naming
  plugins/onex/hooks/lib/simple_agent_loader.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/lib/transformation_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Fix topic names in docstrings
  src/omniclaude/lib/manifest_injection_event_publisher.py
  src/omniclaude/lib/transformation_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Fix emit function import and signature
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Race conditions and Python 3.11 compatibility
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/lib/manifest_injection_event_publisher.py
  src/omniclaude/lib/transformation_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Schema consistency and keyword coverage
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/schemas.py
  src/omniclaude/lib/core/transformation_validator.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(hooks): Use /parallel-solve for Polly-first dispatch
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

fix(review): [major] Fix routing.decision event type and update tests
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] Update test for correlation_id required field
  tests/hooks/test_context_injection_schemas.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] Add routing.decision to expected event types test
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): Address all PR #92 review issues for release readiness
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/simple_agent_loader.py
  pyproject.toml
  src/omniclaude/lib/core/action_event_publisher.py
  src/omniclaude/lib/core/agent_transformer.py
  src/omniclaude/lib/core/transformation_validator.py
  src/omniclaude/lib/manifest_injection_event_publisher.py
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/transformation_event_publisher.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): Address remaining PR #92 issues for release readiness
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  src/omniclaude/lib/manifest_injection_event_publisher.py
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/transformation_event_publisher.py
  tests/hooks/test_schemas.py
  tests/hooks/test_simple_agent_loader.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): Address all PR #92 release-ready issues (42 items)
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/simple_agent_loader.py
  plugins/onex/skills/pr-review/collate_issues.py
  src/omniclaude/lib/core/agent_transformer.py
  src/omniclaude/lib/manifest_injection_event_publisher.py
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/transformation_event_publisher.py
  tests/conftest.py
  tests/hooks/test_cohort_assignment.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_simple_agent_loader.py
  tests/lib/test_transformation_event_publisher.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(deploy): Support GitHub-based plugin deployment
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  scripts/switch-plugin-branch.sh
Due: none

fix(commands): Remove args from frontmatter to fix command registration
  plugins/.claude-plugin/marketplace.json
  plugins/onex/commands/create-followup-tickets.md
  plugins/onex/commands/create-ticket.md
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/commands/plan-to-tickets.md
  plugins/onex/commands/setup-statusline.md
  plugins/onex/commands/ticket-work.md
Due: none

fix(deploy): Auto-update namespace symlinks on plugin deployment
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

fix(plugin): Marketplace discovery and hook script reliability
  .claude-plugin/marketplace.json
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

feat(OMN-1831): Add event-driven Slack notifications for ticket-work skill
  .env.example
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/skills/ticket-work/SKILL.md
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): Address PR #92 release-ready issues + mypy fixes
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/simple_agent_loader.py
  plugins/onex/hooks/lib/utilization_detector.py
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/pr-review/collate_issues.py
  pyproject.toml
  src/omniclaude/cli/patterns.py
  src/omniclaude/lib/core/transformation_validator.py
  src/omniclaude/lib/task_classifier.py
  tests/conftest.py
  tests/hooks/test_cohort_assignment.py
  tests/hooks/test_handler_event_emitter.py
  tests/hooks/test_simple_agent_loader.py
  tests/integration/test_routing_degradation.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/lib/test_transformation_event_publisher.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1831): Add notification event types to test expected values
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] Update emit_event docstring to reference SUPPORTED_EVENT_TYPES
  plugins/onex/hooks/lib/emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate
