Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

docs(OMN-17958): DoD evidence receipt for the hook-test alert leak fix
  .onex_state/evidence/OMN-17958/dod_report.json
  .secrets.baseline
Due: check-local-paths

feat(OMN-17942): a ticket that starts In Progress must declare an executable probe
  .secrets.baseline
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17959): register capture redaction transform
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/capture_redaction.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_capture_redaction_omn17959.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17959): register the redact_capture transform omniclaude never landed (#2110)
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/capture_redaction.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_capture_redaction_omn17959.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17958): stop the hook test suite posting real alerts to the notifications channel (#2108)
  .env.allowlist
  .onex_state/evidence/OMN-17958/dod_report.json
  .secrets.baseline
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/conftest.py
  tests/hooks/test_hook_alert_suppression.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-17942): a ticket that starts In Progress must declare an executable probe (#2109)
  .secrets.baseline
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-17957): fail-closed PreToolUse guard refusing a credential rotation with no operator-consent citation (#2107)
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/credential_rotation_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/credential_rotation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  tests/hooks/test_credential_rotation_guard.py
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17209): mirror the non-string secret scrub into the hook resolver
  src/omniclaude/hooks/capture_redaction.py
  tests/hooks/test_capture_redaction_omn17959.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17969): mirror the non-string secret scrub into the hook resolver (#2111)
  src/omniclaude/hooks/capture_redaction.py
  tests/hooks/test_capture_redaction_omn17959.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-17942): repoint the ticket-creation gate onto the merged beta PRD
  .secrets.baseline
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-17942): repoint the ticket-creation gate onto the merged beta PRD (C1..C27 + 42 invariants) (#2112)
  .secrets.baseline
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: check-local-paths

chore(OMN-13902): bind sibling lock refresh identity
  .secrets.baseline
Due: none

fix(OMN-17201): the registry the running emit daemon loads never asked for the redaction transform
  .secrets.baseline
  plugins/onex/lib/event_registry/omniclaude.yaml
  src/omniclaude/hooks/capture_redaction.py
  tests/hooks/test_capture_redaction_omn17959.py
  tests/hooks/test_deployed_registry_redaction_omn17201.py
  tests/scripts/test_omnimarket_launcher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17201): the registry the running emit daemon loads never asked for the redaction transform (#2114)
  .secrets.baseline
  plugins/onex/lib/event_registry/omniclaude.yaml
  src/omniclaude/hooks/capture_redaction.py
  tests/hooks/test_capture_redaction_omn17959.py
  tests/hooks/test_deployed_registry_redaction_omn17201.py
  tests/scripts/test_omnimarket_launcher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17993): the public-repo hygiene gate scanned 465 of 3,203 tracked files
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/public-skill-hygiene.yml
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/check_public_skill_hygiene.py
  scripts/public_skill_hygiene_ratchet.yaml
  tests/scripts/test_public_skill_hygiene_scope.py
  tests/workflows/test_ban_hardcoded_runner_ip_scope.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17993): the public-repo hygiene gate scanned 465 of 3,203 tracked files (#2115)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/public-skill-hygiene.yml
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/check_public_skill_hygiene.py
  scripts/public_skill_hygiene_ratchet.yaml
  tests/scripts/test_public_skill_hygiene_scope.py
  tests/workflows/test_ban_hardcoded_runner_ip_scope.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18016): daily drift audit for the public-repo hygiene rollout
  .github/workflows/public-repo-hygiene-audit.yml
  .secrets.baseline
  scripts/audit_public_repo_hygiene_rollout.py
  tests/scripts/test_audit_public_repo_hygiene_rollout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18016): one-command gate adoption that refuses to bless the junk it finds
  .secrets.baseline
  scripts/adopt_public_repo_hygiene_gate.py
  tests/scripts/test_adopt_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18016): public-repo hygiene rollout — one-command adoption plus the daily drift audit (#2117)
  .github/workflows/public-repo-hygiene-audit.yml
  .secrets.baseline
  scripts/adopt_public_repo_hygiene_gate.py
  scripts/audit_public_repo_hygiene_rollout.py
  tests/scripts/test_adopt_public_repo_hygiene_gate.py
  tests/scripts/test_audit_public_repo_hygiene_rollout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18014): one fail-closed public-repo hygiene gate, path allowlist plus extension-agnostic denylist
  .github/workflows/public-repo-hygiene-reusable.yml
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-hooks.yaml
  .public-repo-hygiene.yaml
  .secrets.baseline
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18014): one fail-closed public-repo hygiene gate — path allowlist plus extension-agnostic denylist (#2116)
  .github/workflows/public-repo-hygiene-reusable.yml
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-hooks.yaml
  .public-repo-hygiene.yaml
  .secrets.baseline
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18016): gate adoption seeded an allowlist that refused its own caller workflow
  .secrets.baseline
  scripts/adopt_public_repo_hygiene_gate.py
  tests/scripts/test_adopt_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-18022): no public prose in this repository names the private knowledge base
  .secrets.baseline
  CLAUDE.md
  README.md
Due: check-local-paths

fix(OMN-18016): a yamlfmt document-start marker made the gate exit 2 in four repos
  .secrets.baseline
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18016): the daily hygiene audit failed on its first step, every day
  .github/workflows/public-repo-hygiene-audit.yml
  .secrets.baseline
  tests/scripts/test_audit_public_repo_hygiene_rollout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-18022): no public prose in this repository names the private knowledge base (#2119)
  .secrets.baseline
  CLAUDE.md
  README.md
Due: check-local-paths

fix(OMN-18016): a REST path segment is not a machine path, and the class it broke cannot be waived
  .secrets.baseline
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18016): two defects that made the hygiene gate un-adoptable in nine public repos (#2118)
  .github/workflows/public-repo-hygiene-audit.yml
  .secrets.baseline
  scripts/adopt_public_repo_hygiene_gate.py
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_adopt_public_repo_hygiene_gate.py
  tests/scripts/test_audit_public_repo_hygiene_rollout.py
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18012): carry the declared SASL lane's credentials on the companion-effect reusable
  .github/workflows/call-occ-autobind-reusable.yml
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
  tests/workflows/test_call_occ_companion_effect_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18012): carry SASL credentials on the companion-effect publisher (#2121)
  .github/workflows/call-occ-autobind-reusable.yml
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
  tests/workflows/test_call_occ_companion_effect_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18012): inherit the SASL credentials on the occ-companion-effect caller
  .github/workflows/call-occ-companion-effect.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-18012): inherit the SASL credentials on the occ-companion-effect caller (#2122)
  .github/workflows/call-occ-companion-effect.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-18062): a re-trigger skipped check-run no longer supersedes a success on the same head
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18062): a re-trigger skipped check-run no longer supersedes a success on the same head (#2126)
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18062): partition re-trigger-skip supersession by head SHA, not name alone
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18062): partition re-trigger-skip supersession by head SHA in omniclaude (#2127)
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18069): companion-merged gate reads the autobind outcome check (port of omnibase_infra#3353)
  .secrets.baseline
  scripts/ci/check_occ_companion_merged.py
  tests/ci/test_check_occ_companion_merged.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
