Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(env_sync_alert): ONEX_STATE_DIR required + hyphenated topic/consumer ids [OMN-8868]
  plugins/onex/skills/env_sync_alert/_lib/check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(env_sync_alert): hyphenate topic + consumer_group per contract convention [OMN-8868]
  src/omniclaude/nodes/node_skill_env_sync_alert_orchestrator/contract.yaml
Due: check-local-paths

fix(ci): use local path for reusable workflow to bootstrap before main is updated [OMN-9032]
  .github/workflows/cr-thread-gate-caller.yml
Due: check-local-paths

fix(ci): CR Thread Gate caller job emits 'gate / CodeRabbit Thread Check' [OMN-9032] (#1336)
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
Due: check-local-paths

fix(hooks): extend PreToolUse guard matcher for tracker.save_issue (OMN-8824 follow-up) (#1332)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_workflow_guard.sh
  tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hook): DoD guard evidence location is fully configuration-driven [OMN-8944] (#1333)
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  tests/hooks/test_dod_completion_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(e2e): atomic write-then-link in acquire_claim_from_dir eliminates partial-write race [OMN-9022] (#1335)
  plugins/onex/hooks/lib/dispatch_claim_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(test): ttl_remaining >= 0 for 40-thread concurrent acquire race (OMN-8924)
  tests/e2e/test_dispatch_claim_cascade.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(skills): replace legacy $OMNI_HOME with canonical 'onex skill' invocation
  plugins/onex/skills/env_sync_alert/SKILL.md
Due: check-local-paths

fix(skills): add check.py re-export at skill root for expected import path (OMN-8868)
  plugins/onex/skills/env_sync_alert/check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): correct re-exports in check.py (CheckResult, LogScanEnvResult)
  plugins/onex/skills/env_sync_alert/check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): correct models_succeeded → models_run/clean/failed field names in SKILL.md
  plugins/onex/skills/hostile_reviewer/SKILL.md
Due: check-local-paths

feat(hooks): wire PermissionDenied + StopFailure to friction logger [OMN-8873]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/permission_denied_logger.sh
  plugins/onex/hooks/scripts/stop_failure_logger.sh
  tests/hooks/test_permission_denied_logger.py
  tests/hooks/test_stop_failure_logger.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): sanitize YAML payload strings and capture ONEX_STATE_DIR before path override (OMN-8873)
  plugins/onex/hooks/scripts/permission_denied_logger.sh
  plugins/onex/hooks/scripts/stop_failure_logger.sh
  tests/hooks/test_stop_failure_logger.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): address 7 CodeRabbit findings in friction loggers + cr-thread-gate
  plugins/onex/hooks/scripts/permission_denied_logger.sh
  plugins/onex/hooks/scripts/stop_failure_logger.sh
  tests/hooks/test_permission_denied_logger.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): permission_denied glob matches timestamped friction filenames [OMN-8873]
  tests/hooks/test_permission_denied_logger.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): ruff format test_dispatch_claim_cascade.py [OMN-8924]
  tests/e2e/test_dispatch_claim_cascade.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(hostile-reviewer): SKILL.md refers to models_clean not models_succeeded [OMN-8794]
  plugins/onex/skills/hostile_reviewer/SKILL.md
Due: check-local-paths

feat(infra): local launchd tick bundle — 5 periodic plists + install/uninstall [OMN-9036]
  scripts/cron-contract-verify.sh
  scripts/cron-dispatch-engine.sh
  scripts/cron-idle-watchdog.sh
  scripts/cron-overseer-verify.sh
  scripts/launchd/ai.omninode.contract-verify.plist
  scripts/launchd/ai.omninode.dispatch-engine.plist
  scripts/launchd/ai.omninode.idle-watchdog.plist
  scripts/launchd/ai.omninode.merge-sweep.plist
  scripts/launchd/ai.omninode.overseer-verify.plist
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
Due: check-local-paths

fix(hooks): address 4 CodeRabbit threads on friction loggers [OMN-8873]
  plugins/onex/hooks/scripts/permission_denied_logger.sh
  plugins/onex/hooks/scripts/stop_failure_logger.sh
Due: check-local-paths

fix(skills): drop env_sync_alert root check.py shim, point callers at _lib [OMN-8868]
  plugins/onex/skills/env_sync_alert/check.py
  scripts/setup-session-crons.sh
  tests/skills/test_env_sync_alert.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): PreToolUse branch-protection rollout-verification guard [OMN-9038]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/branch_protection_verifier.py
  plugins/onex/hooks/scripts/pre_tool_use_branch_protection_guard.sh
  tests/hooks/test_branch_protection_verifier.py
  tests/hooks/test_context_injection_api_source.py
  tests/hooks/test_context_scope_auditor_smoke.py
  tests/publisher/test_config.py
  tests/unit/trace/test_frame_assembler.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(cron): address CodeRabbit review — atomic lock, timeout fallback, inline overseer prompt [OMN-9036]
  scripts/cron-contract-verify.sh
  scripts/cron-dispatch-engine.sh
  scripts/cron-idle-watchdog.sh
  scripts/cron-overseer-verify.sh
  scripts/tick-bundle-install.sh
Due: check-local-paths

feat(infra): local launchd tick bundle — 5 periodic plists [OMN-9036] (#1337)
  scripts/cron-contract-verify.sh
  scripts/cron-dispatch-engine.sh
  scripts/cron-idle-watchdog.sh
  scripts/cron-overseer-verify.sh
  scripts/launchd/ai.omninode.contract-verify.plist
  scripts/launchd/ai.omninode.dispatch-engine.plist
  scripts/launchd/ai.omninode.idle-watchdog.plist
  scripts/launchd/ai.omninode.merge-sweep.plist
  scripts/launchd/ai.omninode.overseer-verify.plist
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
Due: check-local-paths

feat(ci): pre-commit gate blocking cross-repo @main workflow refs [OMN-9039]
  .pre-commit-config.yaml
  scripts/check_self_gating_workflows.py
  tests/hooks/test_check_self_gating_workflows.py
  tests/hooks/test_context_injection_api_source.py
  tests/hooks/test_context_scope_auditor_smoke.py
  tests/publisher/test_config.py
  tests/unit/trace/test_frame_assembler.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(handshake): drop path filter so gate runs on every PR [OMN-9049]
  .github/workflows/check-handshake.yml
Due: check-local-paths

fix(hooks): register OMN_9038_BP_GUARD_DISABLED and correct gh-api flag parsing
  .env.example
  plugins/onex/hooks/lib/branch_protection_verifier.py
  tests/hooks/test_branch_protection_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(tests): clarify gh-api inline-field flag coverage in test docstring
  tests/hooks/test_branch_protection_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): idle-watchdog activity classifier + cron integration [OMN-9053]
  plugins/onex/hooks/lib/tick_activity_classifier.py
  scripts/cron-idle-watchdog.sh
  tests/hooks/test_tick_activity_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): defensive gh pr list shape + correct stale log message [OMN-9038]
  plugins/onex/hooks/lib/branch_protection_verifier.py
  tests/hooks/test_branch_protection_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): stop-hook backlog + no-fixer gate [OMN-9054]
  plugins/onex/hooks/scripts/stop_session_bootstrap_guard.sh
  tests/hooks/test_stop_backlog_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): unwrap bash -lc wrappers + aggregate multi-PR check sample [OMN-9038]
  plugins/onex/hooks/lib/branch_protection_verifier.py
  tests/hooks/test_branch_protection_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(ci): pre-commit gate blocking cross-repo @main workflow refs [OMN-9039] (#1339)
  .pre-commit-config.yaml
  scripts/check_self_gating_workflows.py
  tests/hooks/test_check_self_gating_workflows.py
  tests/hooks/test_context_injection_api_source.py
  tests/hooks/test_context_scope_auditor_smoke.py
  tests/publisher/test_config.py
  tests/unit/trace/test_frame_assembler.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): force OMNICLAUDE_MODE=full in stop-guard tests [OMN-9054]
  tests/hooks/test_stop_backlog_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): unwrap bash wrappers with env prefix + interim flags [OMN-9038]
  plugins/onex/hooks/lib/branch_protection_verifier.py
  tests/hooks/test_branch_protection_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): stop-hook backlog + no-fixer gate [OMN-9054] (#1342)
  plugins/onex/hooks/scripts/stop_session_bootstrap_guard.sh
  tests/hooks/test_stop_backlog_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): accept attached/equals gh-api flag forms + narrow -c detection [OMN-9038]
  plugins/onex/hooks/lib/branch_protection_verifier.py
  tests/hooks/test_branch_protection_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(merge-sweep): flip --enable-admin-merge-fallback default to true [OMN-9065]
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
  scripts/cron-merge-sweep.sh
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
