Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-2501): add frozen=True to ModelClassificationResponse
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_classification_response.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2502): Intent → Plan DAG Generation with dependency resolution
  src/omniclaude/nodes/node_plan_dag_generator/__init__.py
  src/omniclaude/nodes/node_plan_dag_generator/enums/__init__.py
  src/omniclaude/nodes/node_plan_dag_generator/enums/enum_work_unit_type.py
  src/omniclaude/nodes/node_plan_dag_generator/handler_plan_dag_default.py
  src/omniclaude/nodes/node_plan_dag_generator/models/__init__.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_dag_edge.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_plan_dag.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_plan_dag_request.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_work_unit.py
  src/omniclaude/nodes/node_plan_dag_generator/node.py
  tests/unit/nodes/node_plan_dag_generator/__init__.py
  tests/unit/nodes/node_plan_dag_generator/test_plan_dag.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2502): extract protocol classes to separate files (single class per file)
  src/omniclaude/nodes/node_plan_dag_generator/handler_plan_dag_default.py
  src/omniclaude/nodes/node_plan_dag_generator/protocol_pattern_cache.py
  src/omniclaude/nodes/node_plan_dag_generator/protocol_promoted_pattern.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2503): implement Plan→Ticket Compiler with IDL spec, test contract, and policy envelope
  src/omniclaude/nodes/node_ticket_compiler/__init__.py
  src/omniclaude/nodes/node_ticket_compiler/enums/__init__.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_assertion_type.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_sandbox_level.py
  src/omniclaude/nodes/node_ticket_compiler/handler_ticket_compile_default.py
  src/omniclaude/nodes/node_ticket_compiler/models/__init__.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_acceptance_criterion.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_compiled_ticket.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_idl_spec.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_policy_envelope.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_ticket_compile_request.py
  src/omniclaude/nodes/node_ticket_compiler/node.py
  tests/unit/nodes/node_ticket_compiler/__init__.py
  tests/unit/nodes/node_ticket_compiler/test_ticket_compilation.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2504): implement Ambiguity Gate enforcing zero-ambiguity at Plan→Ticket boundary
  src/omniclaude/nodes/node_ambiguity_gate/__init__.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/__init__.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_ambiguity_type.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_gate_verdict.py
  src/omniclaude/nodes/node_ambiguity_gate/handler_ambiguity_gate_default.py
  src/omniclaude/nodes/node_ambiguity_gate/models/__init__.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_ambiguity_flag.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_ambiguity_gate_error.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_gate_check_request.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_gate_check_result.py
  src/omniclaude/nodes/node_ambiguity_gate/node.py
  tests/unit/nodes/node_ambiguity_gate/__init__.py
  tests/unit/nodes/node_ambiguity_gate/test_ambiguity_gate.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2505): implement Evidence Bundle generation — immutable artifacts linking ticket execution to outcome
  src/omniclaude/nodes/node_evidence_bundle/__init__.py
  src/omniclaude/nodes/node_evidence_bundle/enums/__init__.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_ac_verdict.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_execution_outcome.py
  src/omniclaude/nodes/node_evidence_bundle/handler_evidence_bundle_default.py
  src/omniclaude/nodes/node_evidence_bundle/models/__init__.py
  src/omniclaude/nodes/node_evidence_bundle/models/model_ac_verification_record.py
  src/omniclaude/nodes/node_evidence_bundle/models/model_bundle_generate_request.py
  src/omniclaude/nodes/node_evidence_bundle/models/model_evidence_bundle.py
  src/omniclaude/nodes/node_evidence_bundle/node.py
  src/omniclaude/nodes/node_evidence_bundle/protocol_bundle_store.py
  src/omniclaude/nodes/node_evidence_bundle/store_bundle_in_memory.py
  tests/unit/nodes/node_evidence_bundle/__init__.py
  tests/unit/nodes/node_evidence_bundle/test_evidence_bundle.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2506): implement OmniMemory Pattern Promotion — stable ticket templates from evidence bundles
  src/omniclaude/nodes/node_omnimemory_promotion/__init__.py
  src/omniclaude/nodes/node_omnimemory_promotion/enums/__init__.py
  src/omniclaude/nodes/node_omnimemory_promotion/enums/enum_promotion_status.py
  src/omniclaude/nodes/node_omnimemory_promotion/handler_pattern_promotion_default.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/__init__.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_pattern_promotion_request.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_pattern_promotion_result.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_promoted_pattern.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_promotion_criteria.py
  src/omniclaude/nodes/node_omnimemory_promotion/node.py
  src/omniclaude/nodes/node_omnimemory_promotion/protocol_pattern_store.py
  src/omniclaude/nodes/node_omnimemory_promotion/store_pattern_in_memory.py
  tests/unit/nodes/node_omnimemory_promotion/__init__.py
  tests/unit/nodes/node_omnimemory_promotion/test_pattern_promotion.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2507): add E2E integration tests for NL→Ticket pipeline
  tests/integration/pipeline/__init__.py
  tests/integration/pipeline/conftest.py
  tests/integration/pipeline/test_nl_to_ticket_pipeline.py
Due: ruff-format, ruff-fix, ruff-check

feat(trace): implement DB schema definitions for agent trace tables [OMN-2406]
  src/omniclaude/trace/__init__.py
  src/omniclaude/trace/db_schema.py
  tests/unit/trace/__init__.py
  tests/unit/trace/test_db_schema.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(setup): add global CLAUDE.md autonomous pipeline behavioral rules [OMN-2512]
  docs/getting-started/GLOBAL_CLAUDE_MD.md
Due: none

feat(ticket-pipeline): increase max_review_iterations 3→7, pass --required-clean-runs 1 [OMN-2513]
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

feat(local-review): add suppression/false-positive registry [OMN-2514]
  plugins/onex/skills/local-review/SKILL.md
Due: none

feat(local-review): add Phase 0 pre-existing issue scan [OMN-2517]
  plugins/onex/skills/local-review/SKILL.md
Due: none

feat(epic-team): global repo_manifest at ~/.claude/epic-team/repo_manifest.yaml [OMN-2519]
  plugins/onex/skills/epic-team/SKILL.md
Due: none

feat(ticket-pipeline): add Phase 0 pre-flight before implementation [OMN-2520]
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: none

feat(slack-gate): add new slack-gate sub-skill with risk classification and idempotency [OMN-2521]
  plugins/onex/skills/slack-gate/SKILL.md
Due: none

feat(decompose-epic): add new decompose-epic sub-skill for autonomous epic decomposition [OMN-2522]
  plugins/onex/skills/decompose-epic/SKILL.md
Due: none

feat(ci-watch): add new ci-watch sub-skill for autonomous CI failure fixing [OMN-2523]
  plugins/onex/skills/ci-watch/SKILL.md
Due: none

feat(pr-watch): add new pr-watch sub-skill for autonomous PR review loop [OMN-2524]
  plugins/onex/skills/pr-watch/SKILL.md
Due: none

feat(auto-merge): add new auto-merge sub-skill with HIGH_RISK gate for PR merging [OMN-2525]
  plugins/onex/skills/auto-merge/SKILL.md
Due: none

feat(ticket-work): add --autonomous mode collapsing 5 keyboard gates to Slack soft-gates [OMN-2526]
  plugins/onex/skills/ticket-work/SKILL.md
Due: none

docs(ticket-pipeline): align SKILL.md docs with --required-clean-runs 1 [OMN-2513]
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: none

fix(ci-watch): resolve PR review issues in SKILL.md [OMN-2523]
  plugins/onex/skills/ci-watch/SKILL.md
Due: none

fix(ticket-work): align Slack message format with OMN-2526 spec; clarify phase diagram scope [OMN-2526]
  plugins/onex/skills/ticket-work/SKILL.md
Due: none

fix(auto-merge): fix broken See Also refs and hardcoded merge strategy [OMN-2525]
  plugins/onex/skills/auto-merge/SKILL.md
Due: none

fix(slack-gate): fix frontmatter args key, invalid JSON schema, and missing MEDIUM_RISK [OMN-2521]
  plugins/onex/skills/slack-gate/SKILL.md
Due: none

fix(ticket-pipeline): update prompt.md to include pre_flight phase [OMN-2520]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(epic-team): sync prompt.md manifest path and worktree paths with SKILL.md [OMN-2519]
  plugins/onex/skills/epic-team/prompt.md
Due: none

fix(pr-watch): fix invalid gh commands, inaccurate cross-refs, elapsed time display [OMN-2524]
  plugins/onex/skills/pr-watch/SKILL.md
Due: none

fix(decompose-epic): fix repo_manifest path, remove non-existent slack-gate dependency, fix workflow ordering and undefined variables [OMN-2522]
  plugins/onex/skills/decompose-epic/SKILL.md
Due: none

fix(local-review): update prompt.md with suppression registry execution logic [OMN-2514]
  plugins/onex/skills/local-review/prompt.md
Due: none

fix(review): [major/minor] fix off-by-one in review cycle cap and clarify Slack gate failure defaults [OMN-2524]
  plugins/onex/skills/pr-watch/SKILL.md
Due: none

fix(review): [minor] clarify Phase 0 ambiguities in local-review SKILL.md [OMN-2517]
  plugins/onex/skills/local-review/SKILL.md
Due: none

fix(review): [minor] use precise 3-level worktree path format in GLOBAL_CLAUDE_MD.md
  docs/getting-started/GLOBAL_CLAUDE_MD.md
Due: none

fix(review): [minor] align stale 2-clean-run references to 1-clean-run policy [OMN-2513]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(ticket-pipeline): add missing execute_pre_flight handler and fix state field name [OMN-2520]
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(review): [minor] fix polling loop ordering and missing dependency notes in ci-watch SKILL.md [OMN-2523]
  plugins/onex/skills/ci-watch/SKILL.md
Due: none

fix(review): [major] define manifest_repo_path helper in prompt.md [OMN-2519]
  plugins/onex/skills/epic-team/prompt.md
Due: none

fix(auto-merge): fix safety invariant wording, clarify composability, and link CLI arg to policy [OMN-2525]
  plugins/onex/skills/auto-merge/SKILL.md
Due: none

fix(review): [major/minor] fix poll loop keyword list, ordering, and schema consistency [OMN-2521]
  plugins/onex/skills/slack-gate/SKILL.md
Due: none
