Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix: qualify polymorphic-agent dispatch with onex: namespace prefix
  CLAUDE.md
  plugins/onex/skills/agent-observability/SKILL.md
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/generate-node/SKILL.md
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/deep-dive
  plugins/onex/skills/linear/SKILL.md
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/parallel-solve/SKILL.md
  plugins/onex/skills/parallel-solve/prompt.md
  plugins/onex/skills/pr-review/SKILL.md
  plugins/onex/skills/review-cycle/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

feat(OMN-2257): add local LLM endpoint config registry
  src/omniclaude/config/__init__.py
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/config/__init__.py
  tests/unit/config/test_model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2257): add missing @pytest.mark.unit markers to 13 tests
  tests/unit/config/test_model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2263): PostToolUse pattern enforcement advisory hook (#150)
  .env.example
  plugins/onex/hooks/config.yaml
  plugins/onex/hooks/lib/pattern_enforcement.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_pattern_enforcement.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] cache endpoint configs, remove trivial factory, add test fixture
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/config/test_model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major] return defensive copy from get_all_endpoints cache
  src/omniclaude/config/model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] correct docstring defaults, document cached_property
  src/omniclaude/config/model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] remove hardcoded IPs from docstring, note model_copy caveat
  src/omniclaude/config/model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2269): pattern violation context injection as advisory markdown
  plugins/onex/hooks/lib/pattern_advisory_formatter.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_pattern_advisory_formatter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] document env resolution, add defensive copy test
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/config/test_model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): document race condition, harden dedup and partial-output guard
  plugins/onex/hooks/lib/pattern_advisory_formatter.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major+minor] update ticket-pipeline parse_phase_output for new local-review status format
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(review): [minor] qualify onex: namespace prefix in polymorphic-agent.yaml dispatch comments
  plugins/onex/agents/configs/polymorphic-agent.yaml
Due: none

fix(review): [major+minor] narrow confirmed match, remove stale pr_release_ready refs
  plugins/onex/hooks/lib/checkpoint_manager.py
  plugins/onex/hooks/lib/phase_instrumentation.py
  plugins/onex/skills/checkpoint/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major+minor] narrow match, remove pr_release_ready, update tests
  tests/hooks/test_phase_instrumentation.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] reset stale block_kind/reason when confirmed branch fires
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(review): address PR #153 CodeRabbit feedback — capping, guards, test hygiene
  plugins/onex/hooks/lib/pattern_advisory_formatter.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_pattern_advisory_formatter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] bypass false-positive secret detection on token_budget variable
  plugins/onex/hooks/lib/phase_instrumentation.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-2258): add compliance prompt regression tests
  tests/unit/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2269): pattern violation context injection as advisory markdown (#153)
  plugins/onex/hooks/lib/pattern_advisory_formatter.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_pattern_advisory_formatter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2257): add local LLM endpoint config registry (#152)
  src/omniclaude/config/__init__.py
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/config/__init__.py
  tests/unit/config/test_model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2258): address PR #154 review feedback on compliance tests
  tests/unit/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2327): collapse pipeline Phase 4, add deterministic 2-clean-run gate (#151)
  CLAUDE.md
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/agents/polymorphic-agent.md
  plugins/onex/hooks/lib/checkpoint_manager.py
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/hooks/lib/phase_instrumentation.py
  plugins/onex/skills/agent-observability/SKILL.md
  plugins/onex/skills/checkpoint/SKILL.md
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/generate-node/SKILL.md
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/deep-dive
  plugins/onex/skills/linear/SKILL.md
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/parallel-solve/SKILL.md
  plugins/onex/skills/parallel-solve/prompt.md
  plugins/onex/skills/pr-review/SKILL.md
  plugins/onex/skills/review-cycle/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/ticket-work/prompt.md
  scripts/tests/test_kafka_functionality.sh
  tests/hooks/test_phase_instrumentation.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2258): address local review findings on compliance tests
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix: resolve set -e bugs in session-start.sh and add Slack alerting for hook failures
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

test(OMN-2258): compliance prompt regression tests (#154)
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): apply review fixes to LLM endpoint config registry
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/config/test_model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major/minor] fix emit health counter isolation and Slack alerting bugs
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix: resolve set -e bugs in session-start.sh and add Slack alerting (#156)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(review): apply review fixes to LLM endpoint config registry (#155)
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/config/test_model_local_llm_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2259): add LLM-based agent routing handler
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(linear-insights): auto-discover active repos in deep-dive skill (OMN-2289)
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/deep-dive
  tests/skills/linear-insights/deep-dive/test_deep_dive_repo_discovery.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] add trap RETURN to clean up tmpdir in discover_active_repos
  plugins/onex/skills/linear-insights/deep-dive
Due: none

fix(plugin): remove unsupported skills/commands/agents fields from plugin.json
  plugins/onex/.claude-plugin/plugin.json
Due: none

fix(review): [major/minor] decouple LLM handler from private methods, restrict LLM candidate set, extract shared registry helper
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] inline _clamp in handler_routing_llm to avoid cross-module private import
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] extract explicit-agent helpers to module level, add httpx direct dep
  pyproject.toml
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(linear-insights): scan all local clone dirs for git log in deep-dive
  plugins/onex/skills/linear-insights/deep-dive
  tests/skills/linear-insights/deep-dive/test_deep_dive_repo_discovery.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major/minor] fix prefix collision in agent name matching, remove dead httpx guard, deduplicate _clamp, fix test mock patch targets
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
