Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(review): [major/minor] stabilize agent name sort with alpha tie-break, remove private _clamp from __all__
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] re-inline _clamp to avoid cross-module private import, add empty-registry fallback test
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major/minor] add specific NetworkError log in _ask_llm, remove dead stubs, rename test, export FALLBACK_AGENT constant
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(local-review): clarify onex: prefix requirement with exact error message
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
Due: none

feat(linear-insights): auto-discover active repos in deep-dive skill (OMN-2289) (#157)
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/deep-dive
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
  tests/skills/linear-insights/deep-dive/test_deep_dive_repo_discovery.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2259): add LLM-based agent routing handler (#158)
  pyproject.toml
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(routing): wire LLM routing into route_via_events_wrapper with graceful fallback (OMN-2265)
  .env.example
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): remove unused timeout_ms param, correct budget docs, suppress coroutine warning
  .env.example
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  pyproject.toml
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2256): wire compliance.evaluate to event bus, restructure enforcement to async emit
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/pattern_enforcement.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_pattern_enforcement.py
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): separate import try blocks, guard confidence_breakdown None, fix minor issues
  .env.example
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): fix double-timeout, agent_defs validation, split try blocks, scope warning suppression
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  pyproject.toml
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): add warning for invalid routing_path, test empty agent_defs, fix double-lookup
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  pyproject.toml
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): warn on hallucinated agent name, fix docstring step descriptions
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(routing): graceful fallback from LLM routing to fuzzy matching (OMN-2265) (#160)
  .env.example
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  pyproject.toml
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-2256): add compliance.evaluate to expected event types assertion
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check

feat(routing): add LatencyGuard for P95 SLO and agreement-rate enforcement (OMN-2272)
  plugins/onex/hooks/lib/latency_guard.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/unit/hooks/lib/test_latency_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2256): wire compliance.evaluate to event bus, restructure enforcement to async emit (#161)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/pattern_enforcement.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_pattern_enforcement.py
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(routing): address latency guard correctness and coverage gaps
  plugins/onex/hooks/lib/latency_guard.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/unit/hooks/lib/test_latency_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] remove ambiguous vision/tool signals that block delegation
  src/omniclaude/lib/task_classifier.py
Due: validate-secrets

feat(OMN-2264): add ModelDelegationScore and is_delegatable() to TaskClassifier
  tests/lib/test_task_classifier.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2264): suppress false-positive secret detection on avg_tokens local var
  src/omniclaude/lib/task_classifier.py
Due: validate-secrets

fix(review): address latency guard precision and concurrency issues
  plugins/onex/hooks/lib/latency_guard.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/unit/hooks/lib/test_latency_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): record timeout latencies in LatencyGuard circuit breaker
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major] word-boundary matching for short tool-call signals; [minor] document intent override semantics and add delegatable=True test
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): use monotonic clock and harden assert in latency guard integration
  plugins/onex/hooks/lib/latency_guard.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/unit/hooks/lib/test_latency_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major] word-boundary matching for vision signals, immutable _INTENT_AVG_TOKENS; [minor] dynamic confidence normalization, remove fragile test assertions
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): clarify exception log message scope in agreement recorder
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] correct detect-secrets pragma, document is_delegatable intent semantics, fix stale test comment
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2237): add static context snapshot service
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/static_context_snapshot.py
  plugins/onex/hooks/scripts/session-start.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_static_context_snapshot.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2237): update secrets baseline line numbers and event registry test
  .secrets.baseline
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2237): address PR #159 review feedback
  plugins/onex/hooks/lib/static_context_snapshot.py
  plugins/onex/hooks/scripts/session-start.sh
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_static_context_snapshot.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] word-boundary for browse/shell/commit/deploy signals, fix fixture return type annotation
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2264): add dual suppress comments for _INTENT_AVG_TOKENS and avg_tokens false positives
  src/omniclaude/lib/task_classifier.py
Due: validate-secrets

fix(OMN-2237): address remaining PR #159 review feedback and merge conflicts
  .secrets.baseline
  plugins/onex/hooks/lib/static_context_snapshot.py
  plugins/onex/hooks/scripts/session-start.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2264): delegation-aware task classifier (#163)
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2271): local model dispatch path in agent pipeline
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): guard non-numeric latency inputs and harden agreement thread lock
  plugins/onex/hooks/lib/latency_guard.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2271): address CodeRabbit review feedback on local delegation handler
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/common.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(routing): add LatencyGuard for P95 SLO and agreement-rate enforcement (OMN-2272) (#162)
  plugins/onex/hooks/lib/latency_guard.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/unit/hooks/lib/test_latency_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2271): address local-review findings on local delegation handler
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
