Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix: resolve CI failures — ruff format + stale pr_review_dev refs [OMN-7492]
  plugins/onex/skills/pr_polish/SKILL.md
  plugins/onex/skills/pr_polish/prompt.md
  plugins/onex/skills/pr_watch/SKILL.md
  plugins/onex/skills/pr_watch/prompt.md
  plugins/onex/skills/progression.yaml
  tests/unit/skills/test_output_suppression.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: remove 6 more dead skills [OMN-7492]
  plugins/onex/skills/_golden_path_validate/node_skill_setup_statusline_orchestrator.json
  plugins/onex/skills/_golden_path_validate/node_skill_sharing_skills_orchestrator.json
  plugins/onex/skills/_golden_path_validate/node_skill_ultimate_validate_orchestrator.json
  plugins/onex/skills/auto_ticket_from_findings/SKILL.md
  plugins/onex/skills/planning_context_resolver/SKILL.md
  plugins/onex/skills/planning_context_resolver/prompt.md
  plugins/onex/skills/planning_context_resolver/topics.yaml
  plugins/onex/skills/plugin_status/SKILL.md
  plugins/onex/skills/plugin_status/topics.yaml
  plugins/onex/skills/setup_statusline/SKILL.md
  plugins/onex/skills/setup_statusline/topics.yaml
  plugins/onex/skills/sharing_skills/SKILL.md
  plugins/onex/skills/sharing_skills/topics.yaml
  plugins/onex/skills/ultimate_validate/SKILL.md
  plugins/onex/skills/ultimate_validate/topics.yaml
  src/omniclaude/nodes/node_skill_auto_ticket_from_findings_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_auto_ticket_from_findings_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_auto_ticket_from_findings_orchestrator/node.py
  src/omniclaude/nodes/node_skill_planning_context_resolver_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_planning_context_resolver_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_planning_context_resolver_orchestrator/node.py
  src/omniclaude/nodes/node_skill_plugin_status_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_plugin_status_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_plugin_status_orchestrator/node.py
  src/omniclaude/nodes/node_skill_setup_statusline_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_setup_statusline_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_setup_statusline_orchestrator/node.py
  src/omniclaude/nodes/node_skill_sharing_skills_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_sharing_skills_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_sharing_skills_orchestrator/node.py
  src/omniclaude/nodes/node_skill_ultimate_validate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_ultimate_validate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_ultimate_validate_orchestrator/node.py
  tests/integration/skills/auto_ticket_from_findings/__init__.py
  tests/integration/skills/auto_ticket_from_findings/test_auto_ticket_from_findings_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: make delegation provider-aware for frontier endpoints [OMN-7500]
  plugins/onex/hooks/lib/delegation_orchestrator.py
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/hooks/lib/test_delegation_orchestrator.py
  tests/unit/hooks/lib/test_delegation_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: unbound _TMPDIR crashes session-start.sh, killing session.started emission [OMN-7501]
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

fix: unbound _TMPDIR crashes session-start.sh, killing session.started emission [OMN-7501] (#1124)
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

feat: wire env validation into session-start hook [OMN-7532]
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

fix: update shadow validation tests to use _EndpointSelection object [OMN-7500]
  tests/unit/hooks/lib/test_shadow_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: update env_parity skill to delegate to registry-backed onex env check [OMN-7533]
  plugins/onex/skills/env_parity/SKILL.md
  plugins/onex/skills/env_parity/prompt.md
Due: check-local-paths

fix: update stale docstring timeout reference from 7s to 10s
  plugins/onex/hooks/lib/delegation_orchestrator.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: golden chain sweep schema — UUID correlation IDs and alternate lookup columns
  scripts/validation/validate_golden_chain_integrity.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  tests/nodes/test_golden_chain_payload_compute.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: suppress pre-existing bandit B110 on connection cleanup
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: golden chain sweep schema — UUID correlation IDs and alternate lookup columns (#1125)
  scripts/validation/validate_golden_chain_integrity.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  tests/nodes/test_golden_chain_payload_compute.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(statusline): reject error responses from usage API + add missing repos to PR monitor
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix: replace Any/dict[str,Any] in golden chain models to pass ONEX validation
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/model_chain_result.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: add model_watchdog_state.py to single-class-per-file exclude list
  scripts/validation/validate_single_class_per_file.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(statusline): show remaining extra billing balance
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(statusline): usage API error handling + all-repo PR monitor + extra billing remaining (#1127)
  plugins/onex/hooks/scripts/statusline.sh
  scripts/validation/validate_single_class_per_file.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/model_chain_result.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: whitelist rm on ~/.claude/teams/ and ~/.claude/tasks/ in bash guard [OMN-7567]
  plugins/onex/hooks/lib/bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: fix ONEX validation errors — move suppression comments to annotation lines [OMN-7567]
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/model_chain_result.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix SPDX headers, local path, subprocess check, and StrEnum violations
  .secrets.baseline
  plugins/onex/hooks/lib/metrics_emitter.py
  plugins/onex/hooks/lib/shadow_validation.py
  plugins/onex/skills/_bin/_lib/decision_query.py
  plugins/onex/skills/_bin/_lib/repo_sync_status.py
  plugins/onex/skills/_lib/friction_autofix/classifier.py
  plugins/onex/skills/_lib/request_agent_routing/execute_kafka.py
  plugins/onex/skills/crash_recovery/list-pipelines
  plugins/onex/skills/platform_readiness/prompt.md
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  scripts/analyze_intelligence.py
  scripts/benchmark_manifest_performance.py
  scripts/check_arch_invariants.py
  scripts/generate_formatted_manifest.py
  scripts/ingest_all_repositories.py
  scripts/test_pattern_quality_upsert.py
  scripts/validation/validate_no_hardcoded_fallbacks.py
  scripts/watchdog-escalation-policy.yaml
  src/omniclaude/nodes/node_golden_chain_status_reducer/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/model_sweep_summary.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/node.py
  tests/nodes/test_golden_chain_status_reducer.py
  tests/unit/lib/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/__pycache__/test_onex_state.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/__pycache__/test_task_classifier_redos.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/utils/__pycache__/test_circular_import_regression.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/test_sanitize.cpython-312-pytest-9.0.2.pyc
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: remove accidentally committed __pycache__ files
  tests/unit/lib/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/__pycache__/test_onex_state.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/__pycache__/test_task_classifier_redos.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/utils/__pycache__/test_circular_import_regression.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/test_sanitize.cpython-312-pytest-9.0.2.pyc
Due: check-local-paths

chore: fix ONEX validation errors — move suppression comments to correct lines
  tests/unit/lib/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/__pycache__/test_onex_state.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/__pycache__/test_task_classifier_redos.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/utils/__pycache__/test_circular_import_regression.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/test_sanitize.cpython-312-pytest-9.0.2.pyc
Due: check-local-paths

chore: remove __pycache__ from index
  tests/unit/lib/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/__pycache__/test_onex_state.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/__pycache__/test_task_classifier_redos.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/utils/__pycache__/test_circular_import_regression.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/test_sanitize.cpython-312-pytest-9.0.2.pyc
Due: check-local-paths

chore: fix root __pycache__ and add watchdog_state to single-class exclusion
  tests/unit/lib/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/__pycache__/test_onex_state.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/__pycache__/test_task_classifier_redos.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/utils/__pycache__/test_circular_import_regression.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/test_sanitize.cpython-312-pytest-9.0.2.pyc
Due: check-local-paths

chore: fix .gitignore to re-exclude __pycache__ in tests/unit/lib
  .gitignore
  tests/unit/lib/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/__pycache__/test_onex_state.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/__pycache__/test_task_classifier_redos.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/__init__.cpython-312.pyc
  tests/unit/lib/utils/__pycache__/test_circular_import_regression.cpython-312-pytest-9.0.2.pyc
  tests/unit/lib/utils/__pycache__/test_sanitize.cpython-312-pytest-9.0.2.pyc
Due: check-local-paths

chore: fix pre-existing hook violations (SPDX, ruff, local paths) [OMN-7567] (#1128)
  .gitignore
  .secrets.baseline
  plugins/onex/hooks/lib/metrics_emitter.py
  plugins/onex/hooks/lib/shadow_validation.py
  plugins/onex/skills/_bin/_lib/decision_query.py
  plugins/onex/skills/_bin/_lib/repo_sync_status.py
  plugins/onex/skills/_lib/friction_autofix/classifier.py
  plugins/onex/skills/_lib/request_agent_routing/execute_kafka.py
  plugins/onex/skills/crash_recovery/list-pipelines
  plugins/onex/skills/platform_readiness/prompt.md
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  scripts/analyze_intelligence.py
  scripts/benchmark_manifest_performance.py
  scripts/check_arch_invariants.py
  scripts/generate_formatted_manifest.py
  scripts/ingest_all_repositories.py
  scripts/test_pattern_quality_upsert.py
  scripts/validation/validate_no_hardcoded_fallbacks.py
  scripts/watchdog-escalation-policy.yaml
  src/omniclaude/nodes/node_golden_chain_status_reducer/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/model_sweep_summary.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/node.py
  tests/nodes/test_golden_chain_status_reducer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add IMPLEMENT to delegation allow-list
  src/omniclaude/lib/task_classifier.py
Due: check-local-paths, validate-secrets

fix: update tests for IMPLEMENT delegation allow-list [OMN-7572]
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
  tests/unit/hooks/lib/test_agentic_e2e.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(merge-sweep): add cross-run failure history tracking [OMN-7573]
  plugins/onex/skills/merge_sweep/SKILL.md
Due: check-local-paths

fix: apply ruff format to test_task_classifier.py [OMN-7572]
  tests/lib/test_task_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: emit LLM cost events from session-end hook [OMN-7570]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_registry.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: add llm.cost.completed to test expected event types set [OMN-7570]
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: add llm-call-completed topic to governance allowlist [OMN-7570]
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

feat: emit LLM cost events from session-end hook [OMN-7570] (#1131)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topic_registry.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: wire agent action event emission from PostToolUse hook [OMN-7569]
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
Due: check-local-paths

feat: add IMPLEMENT intent to delegation handler routing
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add IMPLEMENT intent to delegation handler routing (#1133)
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: accumulate token usage from PostToolUse for cost event emission [OMN-7602]
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/session-end.sh
Due: check-local-paths

fix: accumulate token usage from PostToolUse for cost event emission [OMN-7602] (#1134)
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/session-end.sh
Due: check-local-paths

refactor: wire emit client imports to prefer omnimarket portable client [OMN-7639]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/publisher/__init__.py
  src/omniclaude/routing/routing_recorder.py
  src/omniclaude/verification/evidence_writer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
