Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(omn-8003): rewrite wave-3 skills as thin shells (batch 3) (#1170)
  plugins/onex/skills/local_review/SKILL.md
  plugins/onex/skills/local_review/prompt.md
  plugins/onex/skills/pr_polish/SKILL.md
  plugins/onex/skills/pr_polish/prompt.md
  plugins/onex/skills/redeploy/SKILL.md
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_work/SKILL.md
  plugins/onex/skills/ticket_work/prompt.md
Due: check-local-paths

feat(skill): add pr_review_bot SKILL.md wrapper [OMN-7976] (#1167)
  plugins/onex/skills/pr_review_bot/SKILL.md
  src/omniclaude/nodes/node_skill_pr_review_bot_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_pr_review_bot_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_pr_review_bot_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hostile-reviewer): align gate blocked message with strict-mode semantics, normalize gate verdict terminology
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/prompt.md
Due: check-local-paths

feat(skills): rewrite merge_sweep as thin publish-monitor trigger [OMN-8088]
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/merge_sweep/topics.yaml
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

style: ruff format test_merge_sweep_integration [OMN-8088]
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(skills): remove step_narration AI-slop headings from merge_sweep prompt
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

feat(OMN-8074): merge review_gate into hostile_reviewer as --gate flag [OMN-8074] (#1174)
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/prompt.md
  plugins/onex/skills/hostile_reviewer/topics.yaml
  plugins/onex/skills/review_gate/SKILL.md
  plugins/onex/skills/review_gate/prompt.md
  plugins/onex/skills/review_gate/topics.yaml
  plugins/onex/skills/ticket_pipeline/prompt.md
  src/omniclaude/nodes/node_skill_review_gate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_review_gate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_review_gate_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): restore v4.0.0 thin-trigger content in merge_sweep SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
Due: check-local-paths

fix(skills): add branch protection drift diagnostic to merge_sweep prompt
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

feat(skills): rewrite merge_sweep as thin publish-monitor trigger [OMN-8088] (#1179)
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/merge_sweep/topics.yaml
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(skills): add mandatory post-creation pre-commit install step to using_git_worktrees
  plugins/onex/skills/using_git_worktrees/SKILL.md
  tests/validation/fixtures/skill_node_boundary/noncompliant_state_management/SKILL.md
Due: check-local-paths

feat(skills): merge contract_verify into contract_sweep with --drift/--runtime/--full modes [OMN-8073]
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
  plugins/onex/skills/contract_verify/SKILL.md
Due: check-local-paths

fix(omn-8073): remove orphaned contract_verify node and fix AI-slop headings
  plugins/onex/skills/contract_sweep/prompt.md
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-8070): thin 5 overnight skills to onex run node_<name> dispatch [OMN-8070]
  plugins/onex/skills/ci_watch/SKILL.md
  plugins/onex/skills/coderabbit_triage/SKILL.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

fix(skills): replace hardcoded local path with $OMNI_HOME in platform_readiness [OMN-8070]
  plugins/onex/skills/platform_readiness/prompt.md
Due: check-local-paths

fix(ci): replace omnibase_core repo example in SKILL.md — mode:both check
  plugins/onex/skills/hostile_reviewer/SKILL.md
Due: check-local-paths

feat(omn-8076): merge code_review_sweep into hostile_reviewer as --static mode [OMN-8076]
  plugins/onex/skills/code_review_sweep/SKILL.md
  plugins/onex/skills/code_review_sweep/prompt.md
  plugins/onex/skills/code_review_sweep/topics.yaml
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/prompt.md
  src/omniclaude/nodes/node_skill_code_review_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_code_review_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_code_review_sweep_orchestrator/node.py
  tests/unit/skills/test_hostile_reviewer_static_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(skills): add mandatory post-creation pre-commit install step [OMN-8070] (#1181)
  plugins/onex/skills/ci_watch/SKILL.md
  plugins/onex/skills/coderabbit_triage/SKILL.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/platform_readiness/prompt.md
  plugins/onex/skills/pr_polish/SKILL.md
  plugins/onex/skills/using_git_worktrees/SKILL.md
  tests/validation/fixtures/skill_node_boundary/noncompliant_state_management/SKILL.md
Due: check-local-paths

refactor(OMN-8128): thin-wrap Wave 2 sweep skills to onex run node_<name>
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/data_flow_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  plugins/onex/skills/runtime_sweep/SKILL.md
Due: check-local-paths

feat(skills): platform readiness skill wrapper + pre-flight gate in begin-day and overnight [OMN-8149][OMN-8150]
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/platform_readiness/SKILL.md
Due: check-local-paths

docs(contract_sweep): remove --repos from runtime command in SKILL.md
  plugins/onex/skills/contract_sweep/SKILL.md
Due: check-local-paths

refactor(OMN-8128): thin-wrap Wave 2 sweep skills to onex run node_<name> (#1182)
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/data_flow_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  plugins/onex/skills/runtime_sweep/SKILL.md
Due: check-local-paths

docs(skills): add actionable_items to platform_readiness JSON output schema
  plugins/onex/skills/platform_readiness/SKILL.md
Due: check-local-paths

feat(skills): platform readiness skill wrapper + pre-flight gate [OMN-8149][OMN-8150] (#1183)
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/platform_readiness/SKILL.md
Due: check-local-paths

fix(OMN-8167): pass event_emitter to handle_skill_requested in wiring_dispatchers
  src/omniclaude/runtime/wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-8013): register CONTRACT_DRIFT_DETECTED topic in TopicBase
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-8173): wire golden_chain_sweep to autopilot Phase B (advisory)
  plugins/onex/skills/autopilot/SKILL.md
Due: check-local-paths

feat(OMN-8173): wire golden_chain_sweep to autopilot Phase B (advisory) (#1186)
  plugins/onex/skills/autopilot/SKILL.md
Due: check-local-paths

test(OMN-8127): add golden chain tests for skill lifecycle events
  tests/unit/runtime/test_golden_chain_skill_lifecycle.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-8013): add onex-change-control to topic producer allowlist and governance
  scripts/validation/validate_topic_naming.py
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-8013): register CONTRACT_DRIFT_DETECTED topic in TopicBase (#1185)
  scripts/validation/validate_topic_naming.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: wire node_session_bootstrap and node_session_post_mortem into overnight skill
  plugins/onex/skills/overnight/SKILL.md
Due: check-local-paths

feat: wire node_session_bootstrap and node_session_post_mortem into overnight skill (#1188)
  plugins/onex/skills/overnight/SKILL.md
Due: check-local-paths

docs(skills): remove 15-task hard cap from design-to-plan
  plugins/onex/skills/design_to_plan/SKILL.md
Due: check-local-paths

fix(hooks): re-register post-skill-delegation-enforcer in hooks.json
  plugins/onex/hooks/hooks.json
Due: check-local-paths

feat(OMN-8203): Convert 3 diagnostic skills to thin node-dispatch shells
  plugins/onex/skills/database_sweep/SKILL.md
  plugins/onex/skills/hook_health_alert/SKILL.md
  plugins/onex/skills/integration_sweep/SKILL.md
  plugins/onex/skills/system_status/SKILL.md
Due: check-local-paths

docs(OMN-8208): Update merge_sweep SKILL.md v5.0.0 to expose 5 new capabilities
  plugins/onex/skills/merge_sweep/SKILL.md
Due: check-local-paths

fix(hooks): add OMNI_HOME-based venv resolution to find_python()
  plugins/onex/hooks/scripts/common.sh
Due: check-local-paths
