Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix: remove unnecessary contents:write permission from auto-merge poller (OMN-8837)
  .github/workflows/auto-merge-stale-poller.yml
Due: check-local-paths

fix: add @pytest.mark.unit decorator to test (OMN-8791)
  tests/skills/test_no_omni_home_in_s_class_skills.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: add tracker DI initialization before tracker.* calls in skill prompts (OMN-8824)
  plugins/onex/skills/plan_to_tickets/SKILL.md
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

fix(cr-threads): resolve 4 CR thread issues in dep_cascade_dedup, plan_audit, preflight, test (OMN-8791)
  plugins/onex/skills/plan_audit/SKILL.md
Due: check-local-paths

fix(cr-threads): resolve 4 CR thread issues in dep_cascade_dedup, plan_audit, preflight, test (OMN-8791)
  plugins/onex/skills/dep_cascade_dedup/SKILL.md
  plugins/onex/skills/preflight/SKILL.md
Due: check-local-paths

fix(cr-threads): add contents:read permission to auto-merge-stale-poller (OMN-8837)
  .github/workflows/auto-merge-stale-poller.yml
Due: check-local-paths

fix(cr-threads): add text language to fenced block in batch-all-receipt.md (OMN-8824)
  .evidence/OMN-8824/batch-all-receipt.md
Due: check-local-paths

fix(ci): use set +e to capture Python exit code without shell abort (OMN-8909)
  .github/workflows/validate-pr-contracts.yml
Due: check-local-paths

ci: agent config schema validation workflow [OMN-8910] (#1319)
  .github/required-checks.yaml
  .github/workflows/validate-agent-configs.yml
Due: check-local-paths

fix: expand _EPIC_CREATION_TOOLS to cover tracker.save_issue (OMN-8824)
  src/omniclaude/hooks/pre_tool_use_workflow_guard.py
  tests/unit/hooks/test_pre_tool_use_workflow_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(auto-merge): add stale CLEAN+armed PR poller [OMN-8837] (#1296)
  .github/workflows/auto-merge-stale-poller.yml
Due: check-local-paths

ci: validate-pr-contracts GHA workflow (OMN-8909) (#1320)
  .github/workflows/validate-pr-contracts.yml
Due: check-local-paths

feat(hooks): idle_notification rate limiter — 60s sliding window per agent_id (OMN-8924)
  plugins/onex/hooks/lib/idle_ratelimit.py
  plugins/onex/hooks/scripts/hook_idle_notification_ratelimit.sh
  tests/hooks/test_idle_notification_ratelimit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(agents): set is_verifier: true on agent-task-verifier config (OMN-8926)
  plugins/onex/agents/configs/agent-task-verifier.yaml
Due: check-local-paths

feat(hooks): verifier role guard — block Agent() dispatch for is_verifier agents (OMN-8925)
  plugins/onex/hooks/lib/verifier_role_guard.py
  plugins/onex/hooks/scripts/hook_verifier_role_guard.sh
  tests/hooks/test_verifier_role_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): dispatch claim pretool gate — extractor rules + acquire/block logic (OMN-8928)
  plugins/onex/hooks/lib/dispatch_claim_gate.py
  plugins/onex/hooks/scripts/hook_dispatch_claim_pretool.sh
  tests/hooks/test_dispatch_claim_pretool.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): dispatch claim posttool release gate — owner-only teardown (OMN-8929)
  plugins/onex/hooks/lib/dispatch_claim_gate.py
  plugins/onex/hooks/lib/dispatch_claim_release.py
  plugins/onex/hooks/scripts/hook_dispatch_claim_posttool.sh
  tests/hooks/test_dispatch_claim_posttool.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): register 4 dispatch claim / verifier / ratelimit hooks in hooks.json (OMN-8930)
  plugins/onex/hooks/contracts/hook_dispatch_claim_posttool.yaml
  plugins/onex/hooks/contracts/hook_dispatch_claim_pretool.yaml
  plugins/onex/hooks/contracts/hook_idle_notification_ratelimit.yaml
  plugins/onex/hooks/contracts/hook_verifier_role_guard.yaml
  plugins/onex/hooks/hooks.json
  tests/hooks/test_hooks_registration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): dispatch claim posttool release gate — owner-only teardown (OMN-8929) (#1326)
  plugins/onex/hooks/lib/dispatch_claim_release.py
  plugins/onex/hooks/scripts/hook_dispatch_claim_posttool.sh
  tests/hooks/test_dispatch_claim_posttool.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(e2e): dispatch claim cascade proof-of-life — 40-agent race, TTL expiry (OMN-8931)
  plugins/onex/hooks/lib/dispatch_claim_gate.py
  plugins/onex/hooks/lib/dispatch_claim_release.py
  pyproject.toml
  tests/e2e/test_dispatch_claim_cascade.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(skills): resolve dep_cascade_dedup default-repos conflict (OMN-8791 CR follow-up)
  plugins/onex/skills/dep_cascade_dedup/SKILL.md
Due: check-local-paths

fix(hooks): add fcntl lock + atomic write to idle_ratelimit (OMN-8924 CR)
  plugins/onex/hooks/lib/idle_ratelimit.py
  tests/hooks/test_idle_notification_ratelimit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): align idle_ratelimit header comments + drain stdin on path fail (OMN-8924 CR)
  plugins/onex/hooks/scripts/hook_idle_notification_ratelimit.sh
Due: check-local-paths

fix(scripts): use /onex:merge_sweep slash command in cron-merge-sweep.sh [OMN-8837] (#1321)
  scripts/cron-merge-sweep.sh
Due: check-local-paths

fix(dep_cascade_dedup): add --json name to frontmatter description for consistency (OMN-8791 CR)
  plugins/onex/skills/dep_cascade_dedup/SKILL.md
Due: check-local-paths

fix(hooks): fail-open on onex-paths.sh failure, pass stdin through (OMN-8924 CR)
  plugins/onex/hooks/scripts/hook_idle_notification_ratelimit.sh
Due: check-local-paths

feat(hooks): verifier role guard — block Agent() for is_verifier agents (OMN-8925) (#1323)
  plugins/onex/hooks/lib/verifier_role_guard.py
  plugins/onex/hooks/scripts/hook_verifier_role_guard.sh
  tests/hooks/test_verifier_role_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(agents): set is_verifier: true on agent-task-verifier (OMN-8926) (#1324)
  plugins/onex/agents/configs/agent-task-verifier.yaml
Due: check-local-paths

fix(ci): make agent contract validation non-blocking during rollout
  .github/workflows/ci.yml
Due: check-local-paths

docs: bake worker-behavior rules into dispatch_worker SKILL.md
  plugins/onex/skills/dispatch_worker/SKILL.md
Due: check-local-paths

fix(routing): Wire YAML metadata fields (model, disallowedTools, domain, purpose) into routing
  src/omniclaude/nodes/node_agent_routing_compute/_internal/_types.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/models/model_agent_definition.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): Pass github-token as input, not secret
  .github/workflows/cr-thread-check.yml
Due: check-local-paths

fix(ci): set POSTGRES_USER at job level to prevent OS-user fallback
  .github/workflows/ci.yml
Due: check-local-paths

fix(agents): resolve 3 CodeRabbit threads on PR #1316
  .github/workflows/ci.yml
  plugins/onex/hooks/lib/agent_contract_model.py
  plugins/onex/scripts/validate-all-agents.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): session cron bootstrap enforcement [OMN-8845] (#1295)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post_tool_use_cron_action_guard.sh
  plugins/onex/hooks/scripts/stop_session_bootstrap_guard.sh
  plugins/onex/hooks/scripts/user_prompt_bootstrap_injector.sh
  plugins/onex/tests/hooks/test_cron_bootstrap_enforcement.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: remove str() coercion in trigger validation to preserve invalid types
  plugins/onex/scripts/validate-all-agents.sh
Due: check-local-paths

feat(agents): Wave B — ModelAgentContract required-field enforcement + CI validator (OMN-8914) (#1316)
  .github/workflows/ci.yml
  plugins/onex/hooks/lib/agent_contract_model.py
  plugins/onex/scripts/validate-all-agents.sh
  tests/hooks/test_agent_contract_model.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): set POSTGRES_USER at job level to prevent OS-user fallback [OMN-8845] (#1331)
  .github/workflows/ci.yml
Due: check-local-paths

docs(skills): add worker behavior rules to dispatch_worker SKILL.md (OMN-8921) (#1330)
  plugins/onex/hooks/lib/idle_ratelimit.py
  plugins/onex/hooks/scripts/hook_idle_notification_ratelimit.sh
  plugins/onex/skills/dispatch_worker/SKILL.md
  tests/hooks/test_idle_notification_ratelimit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets
