Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix: add SPDX header to tests/ci/__init__.py [OMN-6254] (#831)
  .env.allowlist
  .env.example
  .github/workflows/ci.yml
  plugins/onex/hooks/lib/env_health_check_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  scripts/ci/check_env_var_registry.py
  src/omniclaude/hooks/env_health_check.py
  tests/ci/__init__.py
  tests/ci/test_env_var_registry.py
  tests/hooks/test_env_health_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add CROSS_REPO_BOUNDARY probe to integration-sweep [OMN-6286] (#846)
  plugins/onex/skills/integration_sweep/SKILL.md
  plugins/onex/skills/integration_sweep/prompt.md
Due: check-local-paths

docs(skills): add poly-agent fallback doctrine to dispatch-capable skills [OMN-6333]
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/dashboard_sweep/SKILL.md
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/linear_housekeeping/SKILL.md
  plugins/onex/skills/linear_triage/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/pr_polish/SKILL.md
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_dev/SKILL.md
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_work/SKILL.md
Due: check-local-paths

fix(skills): align merge_sweep dispatch-failure wording with canonical doctrine [OMN-6333]
  plugins/onex/skills/merge_sweep/SKILL.md
Due: check-local-paths

chore: delete 11 dead debug_loop contract YAMLs [OMN-6335]
  contracts/debug_loop/README.md
  contracts/debug_loop/cost_tracker_compute.yaml
  contracts/debug_loop/debug_loop_orchestrator.yaml
  contracts/debug_loop/debug_stf_extractor_compute.yaml
  contracts/debug_loop/debug_stf_storage_effect.yaml
  contracts/debug_loop/error_pattern_extractor_compute.yaml
  contracts/debug_loop/error_success_mapping_reducer.yaml
  contracts/debug_loop/golden_state_manager_reducer.yaml
  contracts/debug_loop/model_price_catalog_effect.yaml
  contracts/debug_loop/stf_hash_compute.yaml
  contracts/debug_loop/stf_matcher_compute.yaml
  contracts/debug_loop/stf_quality_compute.yaml
Due: check-local-paths

feat(skills): add auto-pull preamble to contract_sweep skill [OMN-6338]
  plugins/onex/skills/contract_sweep/prompt.md
Due: check-local-paths

fix(hooks): source common.sh in context_scope_auditor to use venv Python [OMN-6359]
  plugins/onex/hooks/scripts/pre_tool_use_context_scope_auditor.sh
Due: check-local-paths

docs(skills): add poly-agent fallback doctrine to dispatch-capable skills [OMN-6333] (#847)
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/dashboard_sweep/SKILL.md
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/linear_housekeeping/SKILL.md
  plugins/onex/skills/linear_triage/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/pr_polish/SKILL.md
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_dev/SKILL.md
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_work/SKILL.md
Due: check-local-paths

feat(skills): add per-repo integration test execution to autopilot build mode [OMN-6294]
  plugins/onex/skills/autopilot/prompt.md
Due: check-local-paths

test(hooks): add smoke test for context_scope_auditor deploy-path bug class [OMN-6360]
  tests/hooks/test_context_scope_auditor_smoke.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

release: omniclaude v0.14.0
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(skills): add PLAYWRIGHT_BEHAVIORAL probe to integration-sweep [OMN-6302]
  plugins/onex/skills/integration_sweep/SKILL.md
  plugins/onex/skills/integration_sweep/prompt.md
Due: check-local-paths

chore(deps): bump omnibase_core to 0.31.0 (#850)
  uv.lock
Due: check-local-paths

feat(skills): add per-repo integration test execution to autopilot build mode [OMN-6294] (#849)
  plugins/onex/skills/autopilot/prompt.md
Due: check-local-paths

feat(skills): add Playwright regression gate to autopilot close-out (Step B6) [OMN-6310]
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/autopilot/prompt.md
Due: check-local-paths

chore: add .plugin-runtime/ to .gitignore [OMN-6367]
  .gitignore
Due: check-local-paths

feat(skills): add --relocate-cache flag to deploy-local-plugin skill [OMN-6368]
  plugins/onex/skills/deploy_local_plugin/SKILL.md
Due: check-local-paths

feat(deploy): create post-deploy smoke test runner [OMN-6369]
  plugins/onex/tests/smoke_deploy.sh
Due: check-local-paths

fix(hooks): add trust boundary markers to context assembly [OMN-6371]
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

feat(hooks): extract shared sanitization module [OMN-6372]
  plugins/onex/hooks/lib/sanitize.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(test): set OMNICLAUDE_MODE=full so smoke test runs in CI
  tests/hooks/test_context_scope_auditor_smoke.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(hooks): add smoke test for context_scope_auditor deploy-path bug class [OMN-6360] (#851)
  tests/hooks/test_context_scope_auditor_smoke.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: declare contract drift event consumption in compliance check contract [OMN-6387]
  src/omniclaude/nodes/node_skill_contract_compliance_check_orchestrator/contract.yaml
Due: check-local-paths

chore: add .plugin-runtime/ to .gitignore [OMN-6367] (#856)
  .gitignore
Due: check-local-paths

feat(skills): add --relocate-cache flag to deploy-local-plugin skill [OMN-6368] (#857)
  plugins/onex/skills/deploy_local_plugin/SKILL.md
Due: check-local-paths

fix(hooks): add trust boundary markers to context assembly [OMN-6371] (#859)
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

feat(tests): add pytest wrapper for smoke test CI integration [OMN-6370]
  tests/deploy/__init__.py
  tests/deploy/test_smoke_deploy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): add injection detection to validate_contract_yaml() [OMN-6373]
  plugins/onex/hooks/lib/linear_contract_patcher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): sanitize ticket context in build_ticket_context() [OMN-6374]
  plugins/onex/hooks/lib/ticket_context_injector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(deploy): wire smoke test into verify-deploy.sh [OMN-6376]
  plugins/onex/skills/verify_plugin/verify-deploy.sh
Due: check-local-paths

feat(tests): add pytest wrapper for smoke test CI [OMN-6370] (#862)
  tests/deploy/__init__.py
  tests/deploy/test_smoke_deploy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(deploy): wire smoke test into verify-deploy.sh [OMN-6376] (#866)
  plugins/onex/skills/verify_plugin/verify-deploy.sh
Due: check-local-paths

feat(skills): add SCHEMA_PARITY probe to integration-sweep [OMN-6436]
  plugins/onex/skills/integration_sweep/prompt.md
Due: check-local-paths

fix: resolve sanitize import when running as subprocess [OMN-6374]
  plugins/onex/hooks/lib/ticket_context_injector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(tests): add failure-path verification tests for smoke runner [OMN-6377]
  tests/deploy/test_smoke_deploy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): fix injection regression test assertions [OMN-6378]
  tests/hooks/test_injection_regression.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(tests): add end-to-end injection regression suite [OMN-6375]
  tests/hooks/test_injection_regression.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: resolve sanitize import when running as subprocess [OMN-6378]
  plugins/onex/hooks/lib/ticket_context_injector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
