Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-18800): the arming verb bakes the canonical module path, never a worktree copy
  .pre-commit-config.yaml
  scripts/lane_identity.py
  tests/scripts/conftest.py
  tests/scripts/test_lane_identity.py
  tests/scripts/test_lane_identity_arming_probe.py
  tests/scripts/test_lane_identity_canary.py
  tests/scripts/test_lane_identity_canonical_bake.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18796): the advisory-job gate installs its own dependency
  .github/workflows/advisory-job-gate-reusable.yml
Due: check-local-paths

fix(OMN-18800): the branch-claim suite names the registry it arms, and the new suite joins its gate
  .github/workflows/lane-identity-gate.yml
  tests/scripts/test_branch_claim_hook.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18790): skip-count ratchet wired in omniclaude (#2258)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/skip_count_baseline.yaml
  scripts/ci/ci_summary_gate.py
  scripts/ci/skip_count_ratchet.py
  tests/ci/fixtures/skip_count_ratchet/hooks-run-35396322080.xml
  tests/ci/fixtures/skip_count_ratchet/hooks-run-35397791807.xml
  tests/ci/fixtures/skip_count_ratchet/narrowed-run-35396322080.xml
  tests/ci/fixtures/skip_count_ratchet/narrowed-run-35404945505.xml
  tests/ci/test_skip_count_ratchet_omn18790.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18796): the advisory-job gate installs its own dependency (#2261)
  .github/workflows/advisory-job-gate-reusable.yml
Due: check-local-paths

fix(OMN-18800): the lane-identity arming verb bakes the canonical module path, never a worktree copy (#2260)
  .github/workflows/lane-identity-gate.yml
  .pre-commit-config.yaml
  scripts/lane_identity.py
  tests/scripts/conftest.py
  tests/scripts/test_branch_claim_hook.py
  tests/scripts/test_lane_identity.py
  tests/scripts/test_lane_identity_arming_probe.py
  tests/scripts/test_lane_identity_canary.py
  tests/scripts/test_lane_identity_canonical_bake.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18753): register the dispatch-drift gate now its baseline answers to the clone
  .pre-commit-config.yaml
  .pre-commit-hooks/check-omnimarket-dispatch-drift.sh
  tests/test_venv_gate_registration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18805): the Agent Framework Tests job runs real tests instead of reporting success from nothing
  .github/workflows/ci.yml
  config/skip_count_baseline.yaml
  tests/ci/test_agent_framework_job_omn18805.py
  tests/ci/test_skip_count_ratchet_omn18790.py
  tests/test_enhanced_router.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-18033): adopt the gitignore-baseline hook in omniclaude
  .gitignore
  .pre-commit-config.yaml
Due: check-local-paths

chore(deps, OMN-13902): the refresh bot names its ticket where the gate reads it
  .github/workflows/sibling-lock-refresh.yml
  tests/test_git_source_pins.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18806): CI Summary waits a bounded window for a red external context
  scripts/ci/ci_summary_gate.py
  tests/ci/test_external_verdict_supersession_omn18806.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps, OMN-13902): the refresh bot names its ticket where the gate reads it (#2266)
  .github/workflows/sibling-lock-refresh.yml
  tests/test_git_source_pins.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18753): pin the guard's prose/code split by behaviour, not by docstring
  tests/test_venv_gate_registration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18806): CI Summary waits a bounded window for a red external context (#2267)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_external_verdict_supersession_omn18806.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18805): the Agent Framework Tests job runs real tests instead of reporting success from nothing (#2265)
  .github/workflows/ci.yml
  config/skip_count_baseline.yaml
  tests/ci/test_agent_framework_job_omn18805.py
  tests/ci/test_skip_count_ratchet_omn18790.py
  tests/test_enhanced_router.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18753): register the dispatch-drift gate now its baseline answers to the clone (#2263)
  .pre-commit-config.yaml
  .pre-commit-hooks/check-omnimarket-dispatch-drift.sh
  tests/test_venv_gate_registration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18790): required-checks manifest carries the skip-count ratchet context
  .github/required-checks.yaml
Due: check-local-paths

fix(OMN-18812): re-run a preflight whose companion merged after the budget expired
  .github/workflows/occ-companion-merge-heal.yml
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18790): required-checks manifest carries the skip-count ratchet context (#2269)
  .github/required-checks.yaml
Due: check-local-paths

fix(OMN-18812): address the adversarial review findings on the companion heal
  .github/workflows/occ-companion-merge-heal.yml
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18812): re-run a preflight whose companion merged after the budget expired (#2270)
  .github/workflows/occ-companion-merge-heal.yml
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18822): TODO Audit no longer aborts on a branch with no OMN ticket
  .github/workflows/todo-audit-on-merge.yml
Due: check-local-paths

fix(OMN-18822): TODO Audit no longer aborts on a branch with no OMN ticket (#2271)
  .github/workflows/todo-audit-on-merge.yml
Due: check-local-paths

fix(OMN-18812): the heal's job matcher skipped the runs it exists to re-run
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18812): the heal's job matcher skipped the runs it exists to re-run (#2272)
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18827): secret scrubber requires a value-shaped token instead of any word after is
  plugins/onex/hooks/lib/secret_redactor.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_schemas.py
  tests/hooks/test_secret_redactor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18033): anchor the python block, and move the pin that defines it
  .gitignore
  .pre-commit-config.yaml
Due: check-local-paths

fix(OMN-18827): secret scrubber requires a value-shaped token instead of any word after is (#2273)
  plugins/onex/hooks/lib/secret_redactor.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_schemas.py
  tests/hooks/test_secret_redactor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18798): refuse tree-moving git commands in the shared registry clone
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18033): repoint the baseline pin at the merged spec on dev
  .pre-commit-config.yaml
Due: check-local-paths

feat(OMN-18836): a red dev head files a ticket and names the merge that made it
  .github/workflows/occ-companion-merge-heal.yml
  scripts/ci/dev_head_red_alert.py
  scripts/ci/dev_head_watch.json
  tests/ci/test_dev_head_red_alert_omn18836.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18841): statusline open-PR segment renders a visible marker instead of vanishing
  plugins/onex/hooks/scripts/statusline.sh
  tests/hooks/test_statusline_pr_segment.py
  tests/hooks/test_statusline_pr_segment.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18812): make the companion-merge heal a reusable four repos can call
  .github/workflows/occ-companion-merge-heal-reusable.yml
  .github/workflows/occ-companion-merge-heal.yml
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18798): refuse tree-moving git commands in the shared registry clone (#2274)
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18841): the status line's open-PR segment says when a refresh failed
  plugins/onex/hooks/scripts/statusline.sh
  tests/hooks/test_statusline_pr_segment.py
  tests/hooks/test_statusline_pr_segment.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18798): refuse force pushes and ledger-path checkouts in the shared clone
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18841): probe the cache mtime with GNU stat first, then BSD
  plugins/onex/hooks/scripts/statusline.sh
  tests/hooks/test_statusline_pr_segment.sh
Due: check-local-paths

feat(OMN-18798): refuse force pushes and ledger-path checkouts in the shared clone (#2276)
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18841): the open-PR status-line segment says when a refresh failed (#2275)
  plugins/onex/hooks/scripts/statusline.sh
  tests/hooks/test_statusline_pr_segment.py
  tests/hooks/test_statusline_pr_segment.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18798): allow the ruled publish-loop merge, refuse branch creation, fix the mask test
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_pre_tool_use_bash_guard_worktree.py
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
