Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(OMN-18368): the process catalogue, its falsifier, and the five missing prose skills
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/process_catalogue.yaml
  plugins/onex/skills/board_readback/SKILL.md
  plugins/onex/skills/board_readback/prompt.md
  plugins/onex/skills/comment_sweep/SKILL.md
  plugins/onex/skills/comment_sweep/prompt.md
  plugins/onex/skills/lane_dispatch/SKILL.md
  plugins/onex/skills/lane_dispatch/prompt.md
  plugins/onex/skills/overseer_verify_tick/SKILL.md
  plugins/onex/skills/overseer_verify_tick/prompt.md
  plugins/onex/skills/plans_board_refresh/SKILL.md
  plugins/onex/skills/plans_board_refresh/prompt.md
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/node.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/node.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/node.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/node.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/node.py
  tests/skills/test_process_catalogue_rows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18368): session intent axis and a reachable, overlay-driven preflight
  .secrets.baseline
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  plugins/onex/hooks/scripts/session_start_hook_parity.sh
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  plugins/onex/lib/intent.sh
  plugins/onex/scripts/session_preflight.py
  plugins/onex/skills/preflight/SKILL.md
  tests/hooks/test_session_intent_resolver.py
  tests/hooks/test_session_start_quiet_intent.py
  tests/scripts/test_session_preflight_runner.py
  tests/skills/test_preflight_skill_user_invocable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18368): declare skill_kind and runtime_profiles on the new surfaces
  .secrets.baseline
  docs/templates/skill_node_contract.yaml.template
  plugins/onex/skills/board_readback/SKILL.md
  plugins/onex/skills/comment_sweep/SKILL.md
  plugins/onex/skills/lane_dispatch/SKILL.md
  plugins/onex/skills/overseer_verify_tick/SKILL.md
  plugins/onex/skills/plans_board_refresh/SKILL.md
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-18368): a prose skill gets no shell orchestrator
  .secrets.baseline
  scripts/auto_generate_skill_nodes.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/node.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/node.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/node.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/node.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/node.py
  tests/scripts/test_auto_generate_skill_nodes_skips_methodology.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18367): five defects the second live trial found in the generic weekly_review skill
  .secrets.baseline
  plugins/onex/skills/weekly_review/SKILL.md
  src/omniclaude/skills/weekly_review/model_weekly_review_rubric.py
  src/omniclaude/skills/weekly_review/weekly_review_base.yaml
  tests/fixtures/weekly_review/measures_example.json
  tests/fixtures/weekly_review/overlay_example.yaml
  tests/skills/test_weekly_review_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18368): the five new nodes are born canonical, and the ticket contract lands
  .secrets.baseline
  contracts/OMN-18368.yaml
  scripts/auto_generate_skill_nodes.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/handler_board_readback_skill.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/node.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/handler_comment_sweep_skill.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/node.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/handler_lane_dispatch_skill.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/node.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/handler_overseer_verify_tick_skill.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/node.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/handler_plans_board_refresh_skill.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/node.py
  tests/scripts/test_auto_generate_skill_nodes_skips_methodology.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18368): session intent axis and a reachable, overlay-driven preflight (#2169)
  .secrets.baseline
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  plugins/onex/hooks/scripts/session_start_hook_parity.sh
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  plugins/onex/lib/intent.sh
  plugins/onex/scripts/session_preflight.py
  plugins/onex/skills/preflight/SKILL.md
  tests/hooks/test_session_intent_resolver.py
  tests/hooks/test_session_start_quiet_intent.py
  tests/scripts/test_session_preflight_runner.py
  tests/skills/test_preflight_skill_user_invocable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18380): key ledger claim-awareness to (lane, CLAIM line), not ticket
  .secrets.baseline
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18367): give the weekly_review skill node a canonical handler and a runtime profile
  .secrets.baseline
  plugins/onex/skills/weekly_review/SKILL.md
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/handler_weekly_review_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-18367): add the in-repo change-control contract for the weekly_review skill
  .secrets.baseline
  contracts/OMN-18367.yaml
Due: check-local-paths

fix(OMN-18380): key ledger claim-awareness to (lane, CLAIM line), not ticket (#2170)
  .secrets.baseline
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18368): the process catalogue, its falsifier, and the five missing prose skills (#2168)
  .secrets.baseline
  contracts/OMN-18368.yaml
  plugins/distribution_manifest.yaml
  plugins/onex/process_catalogue.yaml
  plugins/onex/skills/board_readback/SKILL.md
  plugins/onex/skills/board_readback/prompt.md
  plugins/onex/skills/comment_sweep/SKILL.md
  plugins/onex/skills/comment_sweep/prompt.md
  plugins/onex/skills/lane_dispatch/SKILL.md
  plugins/onex/skills/lane_dispatch/prompt.md
  plugins/onex/skills/overseer_verify_tick/SKILL.md
  plugins/onex/skills/overseer_verify_tick/prompt.md
  plugins/onex/skills/plans_board_refresh/SKILL.md
  plugins/onex/skills/plans_board_refresh/prompt.md
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/handler_board_readback_skill.py
  src/omniclaude/nodes/node_skill_board_readback_orchestrator/node.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/handler_comment_sweep_skill.py
  src/omniclaude/nodes/node_skill_comment_sweep_orchestrator/node.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/handler_lane_dispatch_skill.py
  src/omniclaude/nodes/node_skill_lane_dispatch_orchestrator/node.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/handler_overseer_verify_tick_skill.py
  src/omniclaude/nodes/node_skill_overseer_verify_tick_orchestrator/node.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/handler_plans_board_refresh_skill.py
  src/omniclaude/nodes/node_skill_plans_board_refresh_orchestrator/node.py
  tests/skills/test_process_catalogue_rows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18367): generic weekly_review skill with a base-plus-overlay rubric contract (#2164)
  .secrets.baseline
  contracts/OMN-18367.yaml
  plugins/distribution_manifest.yaml
  plugins/onex/skills/weekly_review/SKILL.md
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/handler_weekly_review_skill.py
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/node.py
  src/omniclaude/skills/weekly_review/__init__.py
  src/omniclaude/skills/weekly_review/config_loader_weekly_review.py
  src/omniclaude/skills/weekly_review/model_weekly_review_rubric.py
  src/omniclaude/skills/weekly_review/weekly_review_base.yaml
  tests/fixtures/weekly_review/measures_example.json
  tests/fixtures/weekly_review/overlay_example.yaml
  tests/skills/test_weekly_review_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18387): classify src/omnimarket/projection/** as a runtime path
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .secrets.baseline
  tests/workflows/test_validate_pr_deploy_required.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18387): classify src/omnimarket/projection/** as a runtime path (#2171)
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .secrets.baseline
  tests/workflows/test_validate_pr_deploy_required.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): refresh CI for PR #2172
  .secrets.baseline
Due: none

chore(deps): refresh CI for PR #2173
  .secrets.baseline
Due: none

fix(OMN-17284): drainer --status cannot see a broken plist or the second backlog
  .secrets.baseline
  scripts/install-hook-emit-drainer.sh
  tests/scripts/test_install_hook_emit_drainer_status.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17284): the shipped plist is ill-formed XML and a reinstall races its own bootout
  .secrets.baseline
  scripts/install-hook-emit-drainer.sh
  scripts/launchd/ai.omninode.hook-emit-drainer.plist
  tests/scripts/test_install_hook_emit_drainer.py
  tests/scripts/test_install_hook_emit_drainer_status.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17284): drainer --status cannot see a broken plist or the second backlog (#2174)
  .secrets.baseline
  scripts/install-hook-emit-drainer.sh
  scripts/launchd/ai.omninode.hook-emit-drainer.plist
  tests/scripts/test_install_hook_emit_drainer.py
  tests/scripts/test_install_hook_emit_drainer_status.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17284): the hook edge declares its broker transport, not just its broker
  .secrets.baseline
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/hooks/lib/hook_edge_lane.py
  plugins/onex/hooks/lib/hook_emit_drainer.py
  tests/hooks/test_omn17284_hook_edge_declared_transport.py
  tests/unit/hooks/test_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-16979): emit all redacted hook classes
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/hook_edge_lane.py
  plugins/onex/hooks/lib/hook_emit_drainer.py
  plugins/onex/hooks/lib/tool_output_capture_metadata.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/post_tool_use_output_capture_metadata.sh
  plugins/onex/hooks/scripts/pre_tool_use_skill_started.sh
  plugins/onex/hooks/scripts/session_end_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  plugins/onex/hooks/scripts/user_prompt_submit_bus_mirror.sh
  scripts/validation/validate_hook_edge_lane.py
  src/omniclaude/hooks/topic_registry.yaml
  tests/hooks/test_all_class_capture_registration.py
  tests/hooks/test_hook_edge_lane.py
  tests/hooks/test_hook_inventory.py
  tests/unit/hooks/test_hook_emit_drainer.py
  tests/unit/hooks/test_post_tool_use_bus_mirror.py
  tests/unit/hooks/test_session_end_bus_mirror.py
  tests/unit/hooks/test_session_start_bus_mirror.py
  tests/unit/hooks/test_tool_output_capture_metadata.py
  tests/unit/hooks/test_user_prompt_submit_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16979): complete canonical projection compatibility
  pyproject.toml
  src/omniclaude/delegation/bus_bootstrap.py
  src/omniclaude/delegation/runner.py
  src/omniclaude/delegation/sqlite_adapter.py
  src/omniclaude/hook_runtime/server.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/runtime/introspection.py
  src/omniclaude/runtime/lifecycle.py
  tests/unit/delegation/test_event_to_projection.py
  tests/unit/delegation/test_sqlite_adapter.py
  tests/unit/hook_runtime/test_server.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16979): refresh dispatch baseline gates
  .github/workflows/omnimarket-dispatch-drift-gate.yml
  pyproject.toml
  tests/delegation/test_compliance_migration.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16979): refresh omniclaude gate invariants
  .secrets.baseline
  plugins/onex/hooks/scripts/post_tool_use_output_capture_metadata.sh
  tests/scripts/test_check_dep_provenance_infra_omn17176.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17284): the hook edge declares its broker transport, not just its broker (#2175)
  .secrets.baseline
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/hooks/lib/hook_edge_lane.py
  plugins/onex/hooks/lib/hook_emit_drainer.py
  tests/hooks/test_omn17284_hook_edge_declared_transport.py
  tests/unit/hooks/test_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-18368): wire the preflight skill into SessionStart mechanically
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/session_start_preflight.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_session_start_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-16642): release-synced main for omniclaude — mint app token, fast-forward main to the release tag
  .github/workflows/release.yml
  .secrets.baseline
  tests/ci/test_release_sync_main_shape.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16642): source release sync tag from workflow input
  .github/workflows/release.yml
  .secrets.baseline
  tests/ci/test_release_sync_main_shape.py
  tests/workflows/test_release_workflow_no_shell_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18368): consult intent.sh so the new hook respects tick's receipt contract
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/scripts/session_start_preflight.sh
  tests/unit/hooks/test_session_start_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16642): sync main from the resolved tag output, not the dispatch input
  .github/workflows/release.yml
  .secrets.baseline
  tests/ci/test_release_sync_main_shape.py
  tests/workflows/test_release_workflow_no_shell_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18404): refuse a save_issue update that rewrites an acceptance criterion
  .secrets.baseline
  plugins/onex/hooks/lib/ticket_creation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-18368): wire the preflight skill into SessionStart mechanically (#2176)
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/session_start_preflight.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_session_start_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-18404): re-trigger CI (no workflow run was created for the PR open or reopen)
  .secrets.baseline
Due: none

ci(OMN-16642): release-synced main for omniclaude — mint app token, fast-forward main to the release tag (#2177)
  .github/workflows/release.yml
  .secrets.baseline
  tests/ci/test_release_sync_main_shape.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

revert(OMN-18368): preflight is a skill, not a SessionStart hook
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/session_start_preflight.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_session_start_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

revert(OMN-18368): preflight is a skill, not a SessionStart hook (#2179)
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/session_start_preflight.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_session_start_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18404): refuse a save_issue update that rewrites an acceptance criterion (#2178)
  .secrets.baseline
  plugins/onex/hooks/lib/ticket_creation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18409): capture cli_review's real exit code and treat empty-diff PRs as a real passed verdict
  .github/workflows/hostile-reviewer.yml
  .secrets.baseline
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
