Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

docs(OMN-18323): DoD evidence receipt for the unstarted-children cap
  .gitignore
  .onex_state/evidence/OMN-18323/dod_report.json
  .secrets.baseline
Due: check-local-paths

feat(OMN-18323): cap unstarted children per parent at the ticket-creation admission gate (#2150)
  .gitignore
  .onex_state/evidence/OMN-18323/dod_report.json
  .secrets.baseline
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/ticket_creation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-18334): listen for a description edit on the companion-effect caller (#2152)
  .github/workflows/call-occ-companion-effect.yml
  .secrets.baseline
  tests/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17284): make hook drainer venv transactional
  plugins/onex/hooks/scripts/ensure-plugin-venv.sh
  scripts/install-hook-emit-drainer.sh
  scripts/launchd/ai.omninode.hook-emit-drainer.plist
  scripts/public_skill_hygiene_ratchet.yaml
  tests/scripts/test_install_hook_emit_drainer.py
  tests/scripts/test_repair_plugin_venv.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17284): preserve marker on failed venv repair
  .secrets.baseline
  plugins/onex/hooks/scripts/ensure-plugin-venv.sh
  scripts/repair-plugin-venv.sh
  tests/scripts/test_repair_plugin_venv.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17284): make hook drainer venv transactional (#2148)
  .secrets.baseline
  plugins/onex/hooks/scripts/ensure-plugin-venv.sh
  scripts/install-hook-emit-drainer.sh
  scripts/launchd/ai.omninode.hook-emit-drainer.plist
  scripts/public_skill_hygiene_ratchet.yaml
  scripts/repair-plugin-venv.sh
  tests/scripts/test_install_hook_emit_drainer.py
  tests/scripts/test_repair_plugin_venv.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18356): a suffixed criterion label (AC2b, AC10a) binds as its own unit
  .secrets.baseline
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18356): sync capture redaction registry
  .secrets.baseline
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18357): re-derive the capture-redaction mirror from its owner, and give the drift gate a sanctioned repair
  .secrets.baseline
  plugins/onex/lib/event_registry/omniclaude.yaml
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_capture_redaction_omn17959.py
  tests/hooks/test_capture_redaction_sync_omn18357.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16497): gh verbs that move a canonical clone's HEAD are refused, and converge repairs a wrong branch
  .secrets.baseline
  scripts/converge-canonical-clone.sh
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard.py
  tests/scripts/test_converge_canonical_clone.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-18356): align redaction registry expectations
  .secrets.baseline
  tests/hooks/test_capture_redaction_omn17959.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16497): the session-start line alarms when its own hook load path is bare or behind
  .secrets.baseline
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18356): make branch-claim tests fetch claim index
  .github/workflows/ci.yml
  .secrets.baseline
  tests/scripts/test_branch_claim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18357): stop the full-suite job collecting three tests it cannot run
  .github/workflows/ci.yml
  .secrets.baseline
  tests/test_ci_full_suite_ignores.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16497): sync capture redaction projection
  .secrets.baseline
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_capture_redaction_omn17959.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18357): re-derive the capture-redaction mirror from its owner and give the drift gate a sanctioned repair (#2156)
  .github/workflows/ci.yml
  .secrets.baseline
  plugins/onex/lib/event_registry/omniclaude.yaml
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_capture_redaction_omn17959.py
  tests/hooks/test_capture_redaction_sync_omn18357.py
  tests/hooks/test_event_registry.py
  tests/test_ci_full_suite_ignores.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-18356): simulate rule-11 python in drainer tests
  .secrets.baseline
  tests/scripts/test_install_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16497): gh verbs that move a canonical clone's HEAD are refused, and converge repairs a wrong branch (#2157)
  .secrets.baseline
  scripts/converge-canonical-clone.sh
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard.py
  tests/scripts/test_converge_canonical_clone.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16497): the session-start line alarms when its own hook load path is bare or behind (#2158)
  .secrets.baseline
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18358): the session-start line alarms on a half-applied canonical clone
  .secrets.baseline
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18356): a suffixed criterion label (AC2b, AC10a) binds as its own unit (#2159)
  .secrets.baseline
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18358): the session-start line alarms on a half-applied canonical clone (#2160)
  .secrets.baseline
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18205): gate — a private repo never places CI on a hosted runner
  .github/workflows/private-repo-runner-placement-reusable.yml
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/test_private_repo_runner_placement_gate.py
  tests/workflows/test_private_repo_runner_placement_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18367): generic weekly_review skill with a base-plus-overlay rubric contract
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/skills/weekly_review/SKILL.md
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_weekly_review_orchestrator/node.py
  src/omniclaude/skills/weekly_review/__init__.py
  src/omniclaude/skills/weekly_review/config_loader_weekly_review.py
  src/omniclaude/skills/weekly_review/model_weekly_review_rubric.py
  src/omniclaude/skills/weekly_review/weekly_review_base.yaml
  tests/fixtures/weekly_review/measures_example.json
  tests/fixtures/weekly_review/overlay_example.yaml
  tests/skills/test_weekly_review_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18367): type the rubric merge without Any so the ONEX validator passes
  .secrets.baseline
  src/omniclaude/skills/weekly_review/config_loader_weekly_review.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18205): in a cross-repo reusable, the untrusted test is the fork test
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/branch-claim-check-reusable.yml
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/kb-doc-gate-reusable.yml
  .github/workflows/public-repo-hygiene-reusable.yml
  .github/workflows/reject-deploy-gate-skip.yml
  .secrets.baseline
  tests/workflows/test_reusable_untrusted_test_is_the_fork_test.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18367): promotion to five applies only from the top band, plus windowing and paging rules from the first live trial
  .secrets.baseline
  plugins/onex/skills/weekly_review/SKILL.md
  src/omniclaude/skills/weekly_review/model_weekly_review_rubric.py
  tests/skills/test_weekly_review_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18205): gate — a private repo never places CI on a hosted runner (#2162)
  .github/workflows/private-repo-runner-placement-reusable.yml
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/test_private_repo_runner_placement_gate.py
  tests/workflows/test_private_repo_runner_placement_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18205): in a cross-repo reusable, the untrusted test is the fork test (#2163)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/branch-claim-check-reusable.yml
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/kb-doc-gate-reusable.yml
  .github/workflows/public-repo-hygiene-reusable.yml
  .github/workflows/reject-deploy-gate-skip.yml
  .secrets.baseline
  tests/workflows/test_reusable_untrusted_test_is_the_fork_test.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18370): key worktree prune eligibility to what the tree holds, not its ticket
  .secrets.baseline
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18370): re-verify each prune verdict live immediately before removal
  .secrets.baseline
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18370): recognise a branch pushed to origin as the third preserved limb
  .secrets.baseline
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-17474): remove pre-commit hooks measured at zero fires
  .pre-commit-config.yaml
  .secrets.baseline
Due: check-local-paths

chore(OMN-17474): remove 2 pre-commit hooks measured at zero fires (#2161)
  .pre-commit-config.yaml
  .secrets.baseline
Due: check-local-paths

feat(OMN-18156): classify package-only repositories in the deploy gate
  .github/actions/deploy-gate/action.yml
  .github/actions/deploy-gate/deploy_gate_package_only_repositories.yaml
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .secrets.baseline
  tests/scripts/test_deploy_gate_package_only_repository.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18370): let a run skip the debris pass that blocks every removal behind it
  .secrets.baseline
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18156): classify package-only repositories in the deploy gate (#2166)
  .github/actions/deploy-gate/action.yml
  .github/actions/deploy-gate/deploy_gate_package_only_repositories.yaml
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .secrets.baseline
  tests/scripts/test_deploy_gate_package_only_repository.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18370): render every report path relative to the registry root
  .secrets.baseline
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18370): key worktree prune eligibility to what the tree holds, not its ticket (#2165)
  .secrets.baseline
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
