Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix: restore onex: prefix in Skill() calls and update validator (OMN-2612)
  plugins/onex/skills/_shared/validate-skill-names.sh
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
  plugins/onex/skills/linear-housekeeping/SKILL.md
Due: check-local-paths

fix(statusline): merge bars + resets into single line (4→3 line layout)
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(statusline): merge bars + resets into single line (4→3 line layout) (#551)
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

feat(list-prs): surface changed files for CONFLICTS bucket [OMN-3744]
  plugins/onex/skills/list-prs/SKILL.md
Due: check-local-paths

feat(skills): add Step 1.5 PR verification to executing-plans [OMN-3743]
  plugins/onex/skills/executing-plans/SKILL.md
Due: check-local-paths

feat(hooks): add PreToolUse poly enforcer hook [OMN-3742]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
Due: check-local-paths

feat(skills): add Step 1.5 PR verification to executing-plans [OMN-3743] (#553)
  plugins/onex/skills/executing-plans/SKILL.md
Due: check-local-paths

chore: purge cloud bus (29092) references from omniclaude (OMN-3753)
  plugins/onex/.env.example
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/skills/_shared/kafka_helper.py
  plugins/onex/skills/curate-legacy/prompt.md
  plugins/onex/skills/generate-node/SKILL.md
  plugins/onex/skills/golden-path-validate/SKILL.md
  plugins/onex/skills/intelligence/request-intelligence/SKILL.md
  plugins/onex/skills/status/SKILL.md
  plugins/onex/skills/system-status/check-kafka-topics/SKILL.md
  shared_lib/kafka_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: relax ONEX version bounds to allow 2 minor bumps
  pyproject.toml
Due: check-local-paths

ci: fix runner name check in arch-invariants job
  .github/workflows/ci.yml
Due: check-local-paths

fix: statusline bugs — colored bars, correct API fields, no model duplication
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix: statusline bugs — colored bars, correct API fields, no model duplication (#537)
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

chore: fix pre-existing AI-slop step_narration pattern (OMN-3753)
  plugins/onex/skills/curate-legacy/prompt.md
Due: check-local-paths

fix(merge-sweep): add autonomous execution directives to prevent LLM confirmation pauses
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
Due: check-local-paths

feat(gap): formalize integration gap workflow with 6 new failure classes [OMN-3771]
  plugins/onex/skills/gap/SKILL.md
  plugins/onex/skills/gap/docs/FAILURE_TAXONOMY.md
  plugins/onex/skills/gap/docs/POST_MERGE_STABILIZATION.md
  plugins/onex/skills/gap/legacy-denylist.yaml
  plugins/onex/skills/gap/prompt.md
Due: check-local-paths

feat: insights-driven skill chain — autonomous planning-to-execution pipeline [OMN-3698]
  CLAUDE.md
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/prepush_validator.py
  plugins/onex/hooks/scripts/pre_tool_use_prepush_validator.sh
  plugins/onex/skills/design-to-plan/SKILL.md
  plugins/onex/skills/epic-team/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
  plugins/onex/skills/executing-plans/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  scripts/headless-merge-sweep.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: add cloud bus guard pre-commit hook (OMN-3777)
  .pre-commit-config.yaml
  scripts/check_no_cloud_bus_wrapper.sh
Due: check-local-paths

fix(merge-sweep): auto-update BEHIND branches after enabling auto-merge [OMN-3779]
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
Due: check-local-paths

fix: route gh api calls through _lib/pr-safety helpers [OMN-3779]
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
Due: check-local-paths

fix(ci): skip Docker push and Trivy scan on PRs and merge queue
  .github/workflows/ci.yml
Due: check-local-paths

chore(pre-commit): add no-planning-docs hook [OMN-3615]
  .pre-commit-config.yaml
Due: check-local-paths

chore(pre-commit): add no-planning-docs hook [OMN-3615] (#522)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: check-local-paths

fix(release): use max(tag, pyproject) as version base to prevent downgrades
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

fix(release): use max(tag, pyproject) as version base to prevent downgrades (#561)
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

chore: add cloud bus guard pre-commit hook (OMN-3777) (#559)
  .pre-commit-config.yaml
  scripts/check_no_cloud_bus_wrapper.sh
Due: check-local-paths

feat: insights-driven skill chain — autonomous planning-to-execution pipeline [OMN-3698] (#558)
  CLAUDE.md
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/prepush_validator.py
  plugins/onex/hooks/scripts/pre_tool_use_prepush_validator.sh
  plugins/onex/skills/design-to-plan/SKILL.md
  plugins/onex/skills/epic-team/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
  plugins/onex/skills/executing-plans/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  scripts/headless-merge-sweep.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(merge-sweep): add autonomous execution directives to prevent LLM confirmation pauses (#556)
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
Due: check-local-paths

fix(merge-sweep): fallback to direct merge when auto-merge fails on clean PRs
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
Due: check-local-paths

feat(gap): add BRANCH_PROTECTION_DRIFT failure class to gap-analysis [OMN-3787]
  plugins/onex/skills/gap/SKILL.md
  plugins/onex/skills/gap/docs/FAILURE_TAXONOMY.md
  plugins/onex/skills/gap/models/enum_gap_category.py
  plugins/onex/skills/gap/models/model_gap_finding.py
  plugins/onex/skills/gap/prompt.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  tests/integration/skills/gap/__init__.py
  tests/integration/skills/gap/test_branch_protection_drift.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): pin actions/checkout@v4 and actions/setup-python@v5 (OMN-3809)
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: check-local-paths

fix(slop): remove step-narration patterns from skill docs [OMN-3807]
  plugins/onex/skills/gap/docs/POST_MERGE_STABILIZATION.md
  plugins/onex/skills/merge-sweep/prompt.md
Due: check-local-paths

fix(ci): pin actions/checkout@v4 and actions/setup-python@v5 (OMN-3809) (#564)
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: check-local-paths

feat(linear-insights): rewrite estimation-accuracy with three-layer factory telemetry
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/estimation-accuracy
Due: check-local-paths

fix(merge-sweep): auto-update stale branches before merge attempt [OMN-3818]
  plugins/onex/_bin/pr-scan.sh
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: fix ruff formatting in merge-sweep integration tests
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skill): add /post-release-redeploy skill for end-to-end redeployment pipeline [OMN-2911]
  plugins/onex/skills/post-release-redeploy/SKILL.md
  plugins/onex/skills/post-release-redeploy/prompt.md
Due: check-local-paths

fix(quality): standardize enforcement mode strings on "blocking" [OMN-1487]
  src/omniclaude/lib/utils/quality_enforcer.py
  tests/unit/hooks/lib/test_quality_enforcer_enforcement_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(events): add ModelPRChangeSet, ModelPROutcome, and ModelMergeGateResult [OMN-3138]
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/lib/contract_change_detector.py
  src/omniclaude/nodes/shared/models/__init__.py
  src/omniclaude/nodes/shared/models/model_merge_gate_result.py
  src/omniclaude/nodes/shared/models/model_pr_changeset.py
  src/omniclaude/nodes/shared/models/model_pr_outcome.py
  tests/unit/nodes/shared/test_pr_changeset_models.py
  tests/unit/test_contract_change_detector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(quality): standardize enforcement mode strings on "blocking" [OMN-1487] (#569)
  src/omniclaude/lib/utils/quality_enforcer.py
  tests/unit/hooks/lib/test_quality_enforcer_enforcement_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
