Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

test(OMN-18853): pin that an agent rebind of an evidence stamp stays refused while requesting the writer is admitted
  tests/hooks/test_pr_body_stamp_guard_rebind_omn_18853.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-18853): pin the stale-own-companion shape (omnibase_core#1768) as still refused to an agent
  tests/hooks/test_pr_body_stamp_guard_rebind_omn_18853.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-18853): an agent rebind of an evidence stamp stays refused while requesting the writer is admitted (#2340)
  tests/hooks/test_pr_body_stamp_guard_rebind_omn_18853.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19542): the PR-body stamp guard reads heredocs and create-then-edit commands instead of refusing them
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  plugins/onex/hooks/lib/shell_words.py
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  tests/hooks/test_pr_body_stamp_guard_parse_omn_19019.py
  tests/hooks/test_shell_words_redirects.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19542): the PR-body stamp guard reads heredocs and create-then-edit commands instead of refusing them (#2341)
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  plugins/onex/hooks/lib/shell_words.py
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  tests/hooks/test_pr_body_stamp_guard_parse_omn_19019.py
  tests/hooks/test_shell_words_redirects.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-19513): a durable daily tick syncs Claude session transcripts to the encrypted S3 archive
  scripts/launchd/ai.omninode.transcript-s3-archive.plist
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
  scripts/transcript-s3-archive-sync.sh
Due: check-local-paths

fix(OMN-19513): drop mapfile so the sync wrapper runs under launchd's resolved bash
  scripts/transcript-s3-archive-sync.sh
Due: check-local-paths

chore(OMN-19153): retire the duplicate omniclaude DoD-verify-completed topic, event type, emitter, model and waiver (#2337)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/lib/event_registry/omniclaude.yaml
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_skill_dod_verify_orchestrator/contract.yaml
  src/omniclaude/shared/models/__init__.py
  src/omniclaude/shared/models/model_dod_events.py
  tests/hooks/test_dod_round_trip.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/lib/test_dod_evidence_runner.py
  tests/unit/hooks/test_correlation_id_audit.py
  tests/unit/hooks/test_emission_wiring_presence.py
  tests/unit/hooks/test_omn19153_duplicate_dod_verify_topic_retired.py
  tests/unit/skills/test_skill_session_id_migration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19513): daily launchd tick syncs Claude session transcripts to the encrypted S3 archive (#2342)
  scripts/launchd/ai.omninode.transcript-s3-archive.plist
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
  scripts/transcript-s3-archive-sync.sh
Due: check-local-paths

feat(OMN-19551): hooks journal the full prompt, tool input, tool result and assistant reply through the redaction contract
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/hook_content_capture.py
  plugins/onex/hooks/lib/hook_emit_append.py
  plugins/onex/hooks/lib/hook_emit_drainer.py
  plugins/onex/hooks/lib/hook_emit_health.py
  plugins/onex/hooks/lib/hook_turn_id.py
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/stop_content_capture.sh
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/capture_redaction.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_hook_content_capture_omn19551.py
  tests/unit/hooks/test_post_tool_use_bus_mirror.py
  tests/unit/hooks/test_user_prompt_submit_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19479): gh user shim caches the harness PR-link lookup; statusline refreshes every 900 s under one lock
  plugins/onex/hooks/scripts/statusline.sh
  scripts/user-bin/gh
  scripts/user-bin/install-gh-shim.sh
  tests/scripts/test_gh_user_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19479): shim and installer split PATH without a here-string
  scripts/user-bin/gh
  scripts/user-bin/install-gh-shim.sh
  tests/scripts/test_gh_user_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-19587): gh read router sends read calls on a read-only App token, off until the App exists
  scripts/user-bin/gh_route.py
  tests/scripts/test_gh_read_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13856): Done-flip guard false positives: REST PR reads, closing-note supersession, commit-anchored bare refs, live-state readback
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_done_flip_guard_false_positives.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19587): gh read router identifiers stop tripping the secret validator
  scripts/user-bin/gh_route.py
  tests/scripts/test_gh_read_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19607): a PR merge fast-forwards the matching canonical clones, and a launchd timer catches merges made elsewhere
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  plugins/onex/hooks/scripts/post_tool_use_merge_clone_sync.sh
  scripts/canonical-clone-sync-tick.sh
  scripts/launchd/ai.omninode.canonical-clone-sync.plist
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
  tests/hooks/test_canonical_clone_sync.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/scripts/test_tick_bundle_install.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19607): retry a clone fetch once when it loses a ref-lock race to a concurrent fetch
  plugins/onex/hooks/lib/canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-13856): Done-flip guard false positives: REST PR reads, closing-note supersession, commit-anchored bare refs, live-state readback (#2345)
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_done_flip_guard_false_positives.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-13856): no-PR Done requires every acceptance criterion bound in the OCC contract to a fresh, attested receipt
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  plugins/onex/hooks/lib/no_pr_bound_evidence.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_done_flip_guard_false_positives.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19551): the content-captured event type and topic are declared everywhere the registry is mirrored
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/topic_allowlist.yaml
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_skip_token_surface_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19539): every omniclaude worktree-removal path saves the diff and untracked files first
  plugins/onex/hooks/lib/worktree_manager.py
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/skills/worktree/SKILL.md
  scripts/prune-worktrees.sh
  scripts/worktree_auto_prune.py
  scripts/worktree_removal_snapshot.py
  tests/scripts/test_every_worktree_removal_saves_first.py
  tests/scripts/test_prune_worktrees_disposable_state.py
  tests/scripts/test_worktree_auto_prune.py
  tests/scripts/test_worktree_prune_saves_before_removal.py
  tests/scripts/test_worktree_removal_snapshot.py
  tests/unit/hooks/lib/test_worktree_manager.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19479): a PR mutation purges only its own repository's cached lookups
  scripts/user-bin/gh
  tests/scripts/test_gh_user_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-19585): the gh shim logs every call by lane, and gh_usage_report.py attributes the operator bucket per lane
  scripts/user-bin/gh
  scripts/user-bin/gh_usage_report.py
  tests/scripts/test_gh_usage_log.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19585): report narrows overlapping sub-agents to the one whose running command can reach gh
  scripts/user-bin/gh_usage_report.py
  tests/scripts/test_gh_usage_log.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13856): no-PR Done requires every acceptance criterion bound in the OCC contract to a fresh, attested receipt (#2347)
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  plugins/onex/hooks/lib/no_pr_bound_evidence.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_done_flip_guard_false_positives.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-19587): gh read router sends read calls on a read-only App token, off until the App exists (#2344)
  scripts/user-bin/gh_route.py
  tests/scripts/test_gh_read_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18431): the private-repo placement gate judges every branch that runs workflows
  .github/workflows/private-repo-runner-placement-reusable.yml
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/fixtures/private_repo_runner_placement/stale_main_ci.yml
  tests/scripts/test_private_repo_runner_placement_gate.py
  tests/workflows/test_private_repo_runner_placement_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18431): the private-repo placement gate judges every branch that runs workflows (#2351)
  .github/workflows/private-repo-runner-placement-reusable.yml
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/fixtures/private_repo_runner_placement/stale_main_ci.yml
  tests/scripts/test_private_repo_runner_placement_gate.py
  tests/workflows/test_private_repo_runner_placement_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-19623): ratchet pre-commit read loops
  tests/hooks/test_precommit_shell_input_safety.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19623): avoid pre-commit here-string deadlocks
  .pre-commit-hooks/reject-imperative-skill-patterns.sh
  scripts/check_hook_event_names.sh
  tests/hooks/test_precommit_shell_input_safety.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19607): pin OMNICLAUDE_MODE=full in the hook test fixture
  tests/hooks/test_canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19479): the no-real-gh test builds an isolated PATH instead of trusting /usr/bin:/bin
  tests/scripts/test_gh_user_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-13856): PreToolUse hook refuses an agent-posted Linear comment with no actor line
  CLAUDE.md
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/actor_line_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  tests/hooks/test_actor_line_guard.py
  tests/hooks/test_hook_inventory.py
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-19607): a PR merge fast-forwards the matching canonical clones, and a launchd timer catches merges made elsewhere (#2346)
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  plugins/onex/hooks/scripts/post_tool_use_merge_clone_sync.sh
  scripts/canonical-clone-sync-tick.sh
  scripts/launchd/ai.omninode.canonical-clone-sync.plist
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
  tests/hooks/test_canonical_clone_sync.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/scripts/test_tick_bundle_install.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17492): the hostile reviewer pairs two different lab models, Qwen3.8-27B and gpt-oss-120b
  .github/workflows/hostile-reviewer.yml
  tests/hooks/test_hostile_reviewer_workflow.py
  tests/workflows/test_hostile_reviewer_fleet_and_stderr.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-19655): judge PyPI pin resolvability before merge, with the release step's own script
  .github/workflows/pin-resolvability-gate.yml
  scripts/ci/verify_pypi_pin_resolvability.py
  tests/ci/test_pin_resolvability_conflict_report.py
  tests/ci/test_pin_resolvability_gate_workflow.py
  tests/ci/test_verify_pypi_pin_resolvability.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-17492): hostile-reviewer fixtures name the lab pair, not the deleted aliases
  tests/hooks/test_hostile_reviewer_workflow.py
  tests/workflows/test_hostile_reviewer_fleet_and_stderr.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17492): the hostile reviewer pairs two different lab models, Qwen3.8-27B and gpt-oss-120b (#2357)
  .github/workflows/hostile-reviewer.yml
  tests/hooks/test_hostile_reviewer_workflow.py
  tests/workflows/test_hostile_reviewer_fleet_and_stderr.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check
