Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-18431): neither variable scope is readable with the job token, so read both lazily under one credential (#2193)
  .github/workflows/private-repo-runner-placement-reusable.yml
  .secrets.baseline
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/test_private_repo_runner_placement_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18273): the lane-identity mechanism could not be installed, so it never ran
  .github/workflows/branch-claim-gate.yml
  .secrets.baseline
  scripts/branch_claim.py
  scripts/hooks/pre-push-branch-claim
  scripts/hooks/prepare-commit-msg-lane
  scripts/lane_identity.py
  tests/scripts/test_branch_claim.py
  tests/scripts/test_branch_claim_hook.py
  tests/scripts/test_lane_identity.py
  tests/scripts/test_lane_identity_canary.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-17334): refuse git stash mutations in worktrees and canonical clones
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/git_stash_guard_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/git_stash_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  tests/hooks/test_git_stash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17334): update the OMN-13244 baseline test for the new stash guard
  .secrets.baseline
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18434): let pre-commit do the filtering, drop always_run
  .pre-commit-config.yaml
  .secrets.baseline
Due: check-local-paths

fix(OMN-18273): the lane-identity mechanism could not be installed on any clone, so it never ran (#2197)
  .github/workflows/branch-claim-gate.yml
  .secrets.baseline
  scripts/branch_claim.py
  scripts/hooks/pre-push-branch-claim
  scripts/hooks/prepare-commit-msg-lane
  scripts/lane_identity.py
  tests/scripts/test_branch_claim.py
  tests/scripts/test_branch_claim_hook.py
  tests/scripts/test_lane_identity.py
  tests/scripts/test_lane_identity_canary.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-17334): refuse git stash mutations in worktrees and canonical clones (#2198)
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/git_stash_guard_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/git_stash_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  tests/hooks/test_git_stash_guard.py
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18434): build the scan list as an array, not an unquoted expansion
  .pre-commit-config.yaml
  .secrets.baseline
Due: check-local-paths

feat(OMN-18442): classify and report the rescue-only class in the worktree pruner
  .secrets.baseline
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune_rescue_only.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18273): the canary had a gate but no ignore, so the full suite collected it and went red
  .github/workflows/ci.yml
  .secrets.baseline
  tests/test_ci_full_suite_ignores.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18431): a `uses:` job is judged where the run is billed, not where the workflow lives
  .secrets.baseline
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/test_private_repo_runner_placement_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18273): the canary had a gate but no ignore, so the full suite collected it and went red (#2200)
  .github/workflows/ci.yml
  .secrets.baseline
  tests/test_ci_full_suite_ignores.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-18473): hostile review gate passes two models
  .github/workflows/hostile-reviewer.yml
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-18494): pin the occ-preflight reusable at @main (fleet standard)
  .github/required-checks.yaml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/concurrency-primitive-guard.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/no-faked-boundary.yml
  .github/workflows/non-dev-base-guard.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/precommit-fail-loud-gate.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .secrets.baseline
  tests/workflows/test_cross_repo_uses_ref_policy_omn18494.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-18434): refresh the reusable ref so occ-preflight re-resolves
  .secrets.baseline
Due: none

ci(OMN-18431): refresh reusable ref
  .secrets.baseline
Due: none

ci(OMN-18494): pin the occ-preflight reusable at @main (fleet standard) (#2206)
  .github/required-checks.yaml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/concurrency-primitive-guard.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/no-faked-boundary.yml
  .github/workflows/non-dev-base-guard.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/precommit-fail-loud-gate.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .secrets.baseline
  tests/workflows/test_cross_repo_uses_ref_policy_omn18494.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18442): classify and report the rescue-only class in the worktree pruner (#2199)
  .secrets.baseline
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune_rescue_only.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-18473): hostile review gate passes two models (#2202)
  .github/workflows/hostile-reviewer.yml
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18431): the fixture flags are a test boundary, so enforce it instead of documenting it
  .secrets.baseline
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/test_private_repo_runner_placement_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18434): a test cannot inherit GIT_DIR from a hook and rewrite this repo (#2194)
  .github/workflows/git-env-scrub.yml
  .pre-commit-config.yaml
  .secrets.baseline
  tests/conftest.py
  tests/test_git_env_isolation_omn18434.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18120): the hook edge declares WHERE its credential resolves from, not just which broker
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/hooks/lib/hook_edge_lane.py
  plugins/onex/hooks/lib/hook_emit_drainer.py
  tests/hooks/test_omn17284_hook_edge_declared_transport.py
  tests/hooks/test_omn18120_hook_edge_credential_source.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18120): the drainer's lane tests read an injected client store, not the machine's
  plugins/onex/hooks/lib/hook_emit_drainer.py
  tests/unit/hooks/test_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-18120): name the bad-mode fixture as a negative case and drop an unused parameter
  tests/hooks/test_omn18120_hook_edge_credential_source.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18120): check the credential file's mode on the descriptor it reads, and pin the no-identity path
  plugins/onex/hooks/lib/hook_edge_lane.py
  tests/unit/hooks/test_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18120): a malformed lane store is refused, not read as no identity
  plugins/onex/hooks/lib/hook_edge_lane.py
  tests/hooks/test_omn18120_hook_edge_credential_source.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-18120): pin the inline-password refusal as a key membership test
  tests/hooks/test_omn18120_hook_edge_credential_source.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-18479): hostile review blocks only on cross-model agreement
  .github/workflows/hostile-reviewer.yml
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-18479): move the reviewer stubs to the post-quorum contract
  tests/workflows/test_hostile_reviewer_fleet_and_stderr.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18120): the hook edge declares WHERE its credential resolves from, not just which broker (#2196)
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/hooks/lib/hook_edge_lane.py
  plugins/onex/hooks/lib/hook_emit_drainer.py
  tests/hooks/test_omn17284_hook_edge_declared_transport.py
  tests/hooks/test_omn18120_hook_edge_credential_source.py
  tests/unit/hooks/test_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18431): a `uses:` job is judged where the run is billed, not where the workflow lives (#2201)
  .secrets.baseline
  scripts/private_repo_runner_placement_gate.py
  tests/scripts/test_private_repo_runner_placement_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-18273): omniclaude automated pushes use the App identity
  .github/workflows/sibling-lock-refresh.yml
  scripts/public_skill_hygiene_ratchet.yaml
  tests/workflows/test_automated_pusher_identity_omn18273.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-18479): hostile review blocks only on cross-model agreement (#2204)
  .github/workflows/hostile-reviewer.yml
  tests/hooks/test_hostile_reviewer_workflow.py
  tests/workflows/test_hostile_reviewer_fleet_and_stderr.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18408): refuse a runs-on label that no online runner in the org carries
  .github/workflows/runner-label-exists-reusable.yml
  .pre-commit-hooks.yaml
  scripts/runner_label_exists_gate.py
  tests/scripts/test_runner_label_exists_gate_omn18408.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18408): pin the no-credential-on-argv property instead of asserting it in a comment
  scripts/runner_label_exists_gate.py
  tests/scripts/test_runner_label_exists_gate_omn18408.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18408): scrub subprocess stderr before quoting it into a CI log
  .secrets.baseline
  scripts/runner_label_exists_gate.py
  tests/scripts/test_runner_label_exists_gate_omn18408.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-18273): omniclaude automated pushes use the App identity (#2208)
  .github/workflows/sibling-lock-refresh.yml
  scripts/public_skill_hygiene_ratchet.yaml
  tests/workflows/test_automated_pusher_identity_omn18273.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18408): refuse a runs-on label that no online runner in the org carries (#2203)
  .github/workflows/runner-label-exists-reusable.yml
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/runner_label_exists_gate.py
  tests/scripts/test_runner_label_exists_gate_omn18408.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18484): admission guard requires a labelled acceptance criterion
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-18484): scrub git env in PRD fixture lookup
  .secrets.baseline
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
