Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-16373): port OMN-15115 pyyaml install step from main to dev (#2016)
  .github/workflows/deploy-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16402): probe passwordless sudo before privileged CI fallback
  .github/workflows/ci.yml
  .github/workflows/onex-schema-compat.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16373): probe passwordless sudo before privileged CI fallback (OMN-16402) (#2018)
  .github/workflows/ci.yml
  .github/workflows/onex-schema-compat.yml
  .secrets.baseline
Due: check-local-paths

docs(OMN-16192): fix stranger-facing plugin install docs, describe delegate-only plugin
  QUICKSTART.md
  README.md
  docs/getting-started/INSTALLATION.md
  docs/getting-started/QUICK_START.md
Due: check-local-paths

docs(OMN-16192): incorporate omn16191-fix-1's live findings on the delegate install chain
  QUICKSTART.md
Due: check-local-paths

docs(OMN-16192): sharpen unpublished-pin status and --help verification callout
  .secrets.baseline
  QUICKSTART.md
Due: check-local-paths

docs(OMN-16192): fix stranger-facing plugin install docs, describe delegate-only plugin (#1999)
  .secrets.baseline
  QUICKSTART.md
  README.md
  docs/getting-started/INSTALLATION.md
  docs/getting-started/QUICK_START.md
Due: check-local-paths

feat(OMN-16162): wire SessionStart/SessionEnd hooks to node_event_emit_effect direct dispatch
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/node_event_emit_effect_dispatch.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session_end_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_node_event_emit_effect_dispatch.py
  tests/unit/hooks/test_session_end_bus_mirror.py
  tests/unit/hooks/test_session_start_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-16159): bake ticket ref into sibling-lock-refresh bot PR title
  .github/workflows/sibling-lock-refresh.yml
  .secrets.baseline
Due: check-local-paths

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: check-local-paths

fix(OMN-16162): inject spool drain HTTP client factory
  .secrets.baseline
  src/omniclaude/hooks/spool_drain.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): bump omnibase_core to 0.46.11 (OMN-16322)
  .secrets.baseline
  uv.lock
Due: check-local-paths

fix(OMN-16416): emit hookEventName on lite-mode SessionStart; make venv bootstrap self-sufficient
  .secrets.baseline
  plugins/onex/hooks/scripts/ensure-plugin-venv.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

test(OMN-16162): force full mode for bus mirror dispatch tests
  .secrets.baseline
  tests/unit/hooks/test_session_end_bus_mirror.py
  tests/unit/hooks/test_session_start_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16162): emit preview-safe session start payload
  .secrets.baseline
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  tests/unit/hooks/test_session_start_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16416): inject spool drain HTTP client factory
  .secrets.baseline
  src/omniclaude/hooks/spool_drain.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16159): inject spool drain HTTP client factory
  .secrets.baseline
  src/omniclaude/hooks/spool_drain.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-16162): wire SessionStart/SessionEnd hooks to node_event_emit_effect direct dispatch (#2001)
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/node_event_emit_effect_dispatch.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session_end_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  src/omniclaude/hooks/spool_drain.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_node_event_emit_effect_dispatch.py
  tests/unit/hooks/test_session_end_bus_mirror.py
  tests/unit/hooks/test_session_start_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16416): warn on hook env load failure
  .secrets.baseline
  plugins/onex/hooks/scripts/ensure-plugin-venv.sh
Due: check-local-paths

fix(OMN-16416): emit hookEventName on lite-mode SessionStart; make venv bootstrap self-sufficient (#2021)
  .secrets.baseline
  plugins/onex/hooks/scripts/ensure-plugin-venv.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

fix(OMN-16162): bump stale omnimarket pin (63ea1c1e -> 0bd86dbf)
  .secrets.baseline
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(OMN-16162): wire UserPromptSubmit/PostToolUse hooks to node_event_emit_effect direct dispatch (S1)
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/user_prompt_submit_bus_mirror.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_post_tool_use_bus_mirror.py
  tests/unit/hooks/test_user_prompt_submit_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-16162): retrigger CI after OCC self-bind receipt (OCC#6918)
  .secrets.baseline
Due: none

chore(OMN-16162): retrigger CI after Evidence-Ticket line added to PR body
  .secrets.baseline
Due: none

fix(OMN-16162): catch KeyError in evidence_writer's fail-open emit path
  .secrets.baseline
  src/omniclaude/verification/evidence_writer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16162): bump OMNIMARKET_EXPECTED_SHA dispatch-drift baseline
  .github/workflows/omnimarket-dispatch-drift-gate.yml
  .secrets.baseline
Due: check-local-paths

feat(OMN-16162): wire UserPromptSubmit/PostToolUse bus-mirror hooks + fix stale omnimarket pin (S1) (#2022)
  .github/workflows/omnimarket-dispatch-drift-gate.yml
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/user_prompt_submit_bus_mirror.sh
  pyproject.toml
  src/omniclaude/verification/evidence_writer.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_post_tool_use_bus_mirror.py
  tests/unit/hooks/test_user_prompt_submit_bus_mirror.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16159): bake ticket ref into sibling-lock-refresh bot PR title (#1998)
  .github/workflows/sibling-lock-refresh.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16431): route Contract Compliance Check to self-hosted on same-repo runs
  .github/workflows/ci.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16431): route Contract Compliance Check to self-hosted on same-repo runs (#2023)
  .github/workflows/ci.yml
  .secrets.baseline
Due: check-local-paths

chore(deps): bump omnibase-core to 0.46.11 (OMN-16322) (#2010)
  .secrets.baseline
  uv.lock
Due: check-local-paths

chore(OMN-13902): refresh sibling-lock PR checks
  .secrets.baseline
Due: none

chore(OMN-13902): keep sibling-lock refresh diff scoped
  .secrets.baseline
Due: none

chore(deps, OMN-13902): refresh omninode sibling locks [bot] (#2024)
  .secrets.baseline
  uv.lock
Due: check-local-paths

fix(OMN-16432): pin receipt-gate reusable workflow to fixed core SHA
  .github/workflows/call-receipt-gate.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16432): pin receipt-gate reusable workflow to fixed core SHA (#2025)
  .github/workflows/call-receipt-gate.yml
  .secrets.baseline
Due: check-local-paths

feat(OMN-16471): classify lane deaths at SubagentStop so silence is never scored as success
  .secrets.baseline
  CLAUDE.md
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/lane_reconcile.py
  plugins/onex/hooks/lib/lane_registry.py
  plugins/onex/hooks/lib/lane_termination_guard.py
  plugins/onex/hooks/scripts/onex-lane-reconcile.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_open.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  tests/hooks/fixtures/lane_verify_build_drive_death.jsonl
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_lane_termination_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-16478): make lane liveness a proof obligation; UNREACHABLE is not DEAD
  .env.example
  .secrets.baseline
  CLAUDE.md
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_lane_liveness_guard.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/lane_liveness.py
  plugins/onex/hooks/lib/lane_liveness_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  tests/hooks/test_lane_liveness_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
