Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(mypy): add type: ignore for cache_read int cast in PR/commit count functions (OMN-2870)
  plugins/onex/skills/gather-github-stats/gather_stats.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): gather-github-stats Phase 4 — output generation + verification (OMN-2871)
  plugins/onex/skills/gather-github-stats/gather_stats.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): gather-github-stats Phase 4 — output generation + verification (OMN-2871) (#373)
  plugins/onex/skills/gather-github-stats/gather_stats.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(curate-legacy): v1.1 — status tagging, dedup pass, quality gates, human-readable index [OMN-2873] (#369)
  plugins/onex/skills/curate-legacy/prompt.md
Due: check-local-paths

feat(curate-legacy): SKILL.md v1.1.0 — new args, invariants, verification checklist [OMN-2874] (#370)
  plugins/onex/skills/curate-legacy/SKILL.md
Due: check-local-paths

chore: add curate-legacy prompt.md path to secrets baseline (false positive)
  .secrets.baseline
Due: none

ci: exclude claude.ai from lychee link check (returns 403 to bots)
  .github/workflows/ci.yml
Due: check-local-paths

fix: fix onex.* topic naming violations in agent inbox handler
  src/omniclaude/nodes/node_agent_inbox_effect/contract.yaml
  src/omniclaude/nodes/node_agent_inbox_effect/handler_kafka_inbox.py
  src/omniclaude/nodes/node_agent_inbox_effect/protocols/protocol_agent_inbox.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: rename topic onex.evt.github.pr-status.v1 to onex.evt.omniclaude.github-pr-status.v1
  src/omniclaude/nodes/node_github_pr_watcher_effect/contract.yaml
  src/omniclaude/nodes/node_github_pr_watcher_effect/models.py
  src/omniclaude/nodes/node_github_pr_watcher_effect/node.py
  src/omniclaude/services/ci_relay/__init__.py
  src/omniclaude/services/ci_relay/app.py
  src/omniclaude/services/ci_relay/models.py
  src/omniclaude/services/ci_relay/publisher.py
  tests/unit/nodes/node_github_pr_watcher_effect/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): remove dead HTTP classify call from intent_classifier, rely on event bus [OMN-2875]
  plugins/onex/hooks/lib/intent_classifier.py
  tests/unit/hooks/lib/test_session_intent.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(db-split): update FK_SCAN_RESULTS with complete Feb-26 schema inventory [OMN-2068]
  docs/db-split/FK_SCAN_RESULTS.md
Due: none

fix(quirks): wire quirk-finding-produced.v1 Kafka subscription to NodeQuirkMemoryBridgeEffect [OMN-2908]
  src/omniclaude/runtime/plugin.py
  src/omniclaude/runtime/wiring_dispatchers.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(navigation): correct omnibase_core.navigation import path in stub model comments [OMN-2905]
  src/omniclaude/nodes/node_transition_selector_effect/models/model_contract_state.py
  src/omniclaude/nodes/node_transition_selector_effect/models/model_goal_condition.py
  src/omniclaude/nodes/node_transition_selector_effect/models/model_navigation_context.py
  src/omniclaude/nodes/node_transition_selector_effect/models/model_typed_action.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[omniclaude] gather-github-stats: Phase 3 — Local archive + deduplication (OMN-2870) (#372)
  plugins/onex/skills/gather-github-stats/gather_stats.py
  pyproject.toml
  tests/skills/gather-github-stats/test_phase3_local_archive.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): add merge_queue trigger to CI workflows
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
Due: check-local-paths

feat(ci): self-healing CI with node_ci_repair_effect and strategy rotation (OMN-2829)
  plugins/onex/_bin/ci-status.sh
  plugins/onex/hooks/lib/node_ci_repair_effect.py
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
  tests/hooks/test_node_ci_repair_effect.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(hooks): fix stale log message — slash commands now route to polymorphic-agent
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

fix(emit-daemon): eliminate FileExistsError crash loop on concurrent startup
  src/omniclaude/publisher/embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(push-notifications): address PR review issues — __all__ exports, YAML syntax, security, async [OMN-2826]
  src/omniclaude/nodes/node_github_pr_watcher_effect/contract.yaml
  src/omniclaude/nodes/node_github_pr_watcher_effect/handlers/watch_registry.py
  src/omniclaude/nodes/node_github_pr_watcher_effect/models.py
  src/omniclaude/services/ci_relay/app.py
  src/omniclaude/services/ci_relay/models.py
  src/omniclaude/services/ci_relay/publisher.py
  src/omniclaude/services/ci_relay/rate_limiter.py
  src/omniclaude/services/inbox_wait.py
  src/omniclaude/services/standalone_inbox/background_watcher.py
  src/omniclaude/services/standalone_inbox/inbox.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): address PR #363 review comments (OMN-2829)
  plugins/onex/_bin/ci-status.sh
  plugins/onex/hooks/lib/node_ci_repair_effect.py
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(types): resolve mypy issues in node_ci_repair_effect (OMN-2829)
  mypy.ini
  plugins/onex/hooks/lib/node_ci_repair_effect.py
  tests/hooks/test_node_ci_repair_effect.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): apply notification-sent guard to finalize_with_error (OMN-2829)
  plugins/onex/hooks/lib/node_ci_repair_effect.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): correct merge_queue to merge_group event name
  .github/workflows/ci.yml
Due: check-local-paths

release: omniclaude v0.3.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

release: omniclaude v0.3.0 (#382)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(gather-github-stats): add missing Local Archive section header and Bare column
  plugins/onex/skills/gather-github-stats/gather_stats.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(gather-github-stats): add missing Local Archive section header and Bare column (#383)
  plugins/onex/skills/gather-github-stats/gather_stats.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(release): replace \${repo}/v* tag glob with v* and add git describe primary [OMN-2912]
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

fix(gather-github-stats): align generate_report Local Archive section with tests
  plugins/onex/skills/gather-github-stats/gather_stats.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(release): replace ${repo}/v* tag glob with v* — add git describe primary [OMN-2912] (#380)
  plugins/onex/skills/gather-github-stats/gather_stats.py
  plugins/onex/skills/release/prompt.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(standards): document canonical event envelope field names [OMN-2932]
  docs/standards/EVENT_ENVELOPE_FIELD_NAMES.md
Due: none

feat(topics): add Wave 2 pipeline topic constants, emitters, and event models [OMN-2922]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/pipeline_event_emitters.py
  plugins/onex/skills/slack-gate/slack_gate_poll.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/topic_registry.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_skill_epic_team_orchestrator/node.py
  src/omniclaude/nodes/node_skill_pr_watch_orchestrator/node.py
  src/omniclaude/nodes/shared/models/model_pipeline_events.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_topic_registry.py
  tests/nodes/test_pipeline_event_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(standards): document canonical event envelope field names [OMN-2932] (#384)
  docs/standards/EVENT_ENVELOPE_FIELD_NAMES.md
Due: none

fix(schemas): add optional correlation_id to ModelRoutingFeedbackPayload [OMN-2936]
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(schemas): add optional correlation_id to ModelRoutingFeedbackPayload [OMN-2936] (#386)
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(emit-client): extend allowlist with 5 Wave 2 event types [OMN-2922]
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(routing-skill): use canonical TopicBase topic constants [OMN-2940]
  plugins/onex/skills/routing/request-agent-routing/execute_kafka.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2922] Wave 2 Topic Constants + Emitters (5 new pipeline topics) (#385)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/pipeline_event_emitters.py
  plugins/onex/skills/slack-gate/slack_gate_poll.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/topic_registry.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_skill_epic_team_orchestrator/node.py
  src/omniclaude/nodes/node_skill_pr_watch_orchestrator/node.py
  src/omniclaude/nodes/shared/models/model_pipeline_events.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_topic_registry.py
  tests/nodes/test_pipeline_event_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(routing-skill): use canonical TopicBase topic constants [OMN-2940] (#387)
  plugins/onex/skills/routing/request-agent-routing/execute_kafka.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: remove stale omninode_bridge and internal IP references
  .env.example
  contracts/debug_loop/debug_stf_storage_effect.yaml
  contracts/debug_loop/error_success_mapping_reducer.yaml
  contracts/debug_loop/golden_state_manager_reducer.yaml
  contracts/debug_loop/model_price_catalog_effect.yaml
  plugins/onex/.env.example
  schemas/quirks/signal-detected.v1.yaml
  scripts/benchmark_manifest_performance.py
  scripts/ingest_all_repositories.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
