Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

test(OMN-10610): permanent E2E wiring test for delegate inprocess pipeline
  scripts/e2e_inprocess_runner_demo.py
  tests/delegation/test_e2e_inprocess_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10610): wire EvidenceBundleWriter into delegate inprocess fallback
  plugins/onex/skills/delegate/_lib/run.py
  scripts/e2e_inprocess_runner_demo.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10604): extract generated_text from ModelLlmInferenceResponse
  src/omniclaude/delegation/runner.py
  tests/delegation/test_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-10604): load delegation config from contract, not env vars
  src/omniclaude/delegation/runner.py
  tests/delegation/test_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10604): ship contract YAML with omniclaude, drop env var HMAC
  src/omniclaude/delegation/bifrost_delegation.yaml
  src/omniclaude/delegation/runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10604): parse packaged delegation config locally
  src/omniclaude/delegation/runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10580): expand CR concession detection to include 'understood + defer' pattern
  scripts/check-unresolved-threads.sh
Due: check-local-paths

fix(OMN-10580): tighten CR concession regex per CR review on #1534
  scripts/check-unresolved-threads.sh
Due: check-local-paths

feat(OMN-10604): auto-persist delegation results to SQLite
  src/omniclaude/delegation/runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10604): wire /onex:delegate to persist to SQLite
  plugins/onex/skills/delegate/_lib/run.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10604): add arch check 13 — no direct adapter imports in business logic
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/validate_no_direct_adapter_in_business_logic.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10656): emit delegated event from local fallback
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10626): add delegation installation script
  scripts/install-delegation.sh
  tests/scripts/test_install_delegation.py
  tests/scripts/test_install_delegation.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-10656): bootstrap EventBusInmemory + emitter for delegation projections
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/bus_bootstrap.py
  src/omniclaude/delegation/emitter.py
  tests/unit/delegation/test_bus_bootstrap.py
  tests/unit/delegation/test_emitter.py
  tests/unit/delegation/test_event_to_projection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10656): harden delegation bus bootstrap
  src/omniclaude/delegation/bus_bootstrap.py
  tests/unit/delegation/test_bus_bootstrap.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10626): harden delegation installer options
  scripts/install-delegation.sh
  tests/scripts/test_install_delegation.sh
Due: check-local-paths

fix(OMN-10626): preserve user settings on uninstall
  scripts/install-delegation.sh
  tests/scripts/test_install_delegation.sh
Due: check-local-paths

fix(OMN-10656): align SQLite schema with projection handler
  src/omniclaude/delegation/migrations/002_align_with_projection_handler.sql
  src/omniclaude/delegation/sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10656): suppress bandit B608 and clean root pycache
  src/omniclaude/delegation/sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10657): contract-driven endpoint resolution + remove silent fallbacks
  plugins/onex/skills/delegate/_lib/run.py
  scripts/install-delegation.sh
  src/omniclaude/delegation/bifrost_delegation.yaml
  src/omniclaude/delegation/runner.py
  tests/delegation/test_e2e_inprocess_wiring.py
  tests/delegation/test_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10657): update tests to match contract-driven routing changes
  .env.example
  tests/delegation/test_e2e_inprocess_wiring.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10657): log skipped frontier_api backends in _build_env_config
  scripts/install-delegation.sh
  src/omniclaude/delegation/runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10656): address CodeRabbit findings in sqlite_adapter
  src/omniclaude/delegation/sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-9745): add hook_activations.yaml contract to omniclaude package
  src/omniclaude/contracts/hook_activations.yaml
  tests/unit/test_hook_activations_yaml.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-9739): add skills and full install extras to pyproject.toml
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-10723): remove silent inprocess fallback from delegation skill
  .pre-commit-config.yaml
  plugins/onex/hooks/scripts/pre-commit-no-inprocess-fallback.sh
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10723): update tests and error messages to match removed inprocess fallback
  plugins/onex/skills/delegate/_lib/run.py
  tests/delegation/test_e2e_inprocess_wiring.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10725): address CR findings — alias detection, dedup rename, deploy contract
  contracts/OMN-10725.yaml
  scripts/validation/validate_no_direct_bus_instantiation.py
  scripts/validation/validate_no_raw_sqlite3.py
  src/omniclaude/services/linear_relay/app.py
  src/omniclaude/services/linear_relay/dedup_adapter.py
  tests/unit/services/linear_relay/test_app.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10725): add CI gates blocking direct bus instantiation and raw sqlite3 in handlers
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  plugins/onex/hooks/lib/cost_accounting.py
  scripts/validation/validate_no_direct_bus_instantiation.py
  scripts/validation/validate_no_raw_sqlite3.py
  src/omniclaude/hook_runtime/server.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/opencode_emitter.py
  src/omniclaude/lib/core/intelligence_event_client.py
  src/omniclaude/lib/core/routing_event_client.py
  src/omniclaude/runtime/lifecycle.py
  src/omniclaude/services/linear_relay/dedup.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10718): resolve bandit B608 and secret detector false positives
  src/omniclaude/delegation/sqlite_adapter.py
  src/omniclaude/hook_runtime/server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10718): add nosec B608 to query() SELECT f-strings
  src/omniclaude/delegation/sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10718): fix bandit B608 placement and secret detector variable names
  src/omniclaude/delegation/sqlite_adapter.py
  src/omniclaude/hook_runtime/server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10718): validate conflict_key against allowlist in upsert()
  src/omniclaude/delegation/sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10718): validate table name and filter keys in query() against allowlist
  src/omniclaude/delegation/sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10718): wire delegation projection pipeline for in-process mode
  src/omniclaude/delegation/sqlite_adapter.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/delegation/test_sqlite_adapter.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-10731): inject sqlite3.Connection into SQLiteProjectionAdapter via DI
  src/omniclaude/delegation/sqlite_adapter.py
  tests/unit/delegation/test_sqlite_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
