Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(ticket-pipeline): extract DoD items and published_events from Linear for contract generation [OMN-7429]
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

feat(ticket-pipeline): make contract generation fatal and enforce completeness [OMN-7431]
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

feat(hooks): add no-hardcoded-fallbacks pre-commit hook [OMN-7436]
  .pre-commit-config.yaml
  scripts/validation/validate_no_hardcoded_fallbacks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(close-out): wire verification skills as actual invocations in cron-closeout.sh [OMN-7435]
  scripts/cron-closeout.sh
Due: check-local-paths

feat(schedules): add nightly verification sweep schedule config [OMN-7446]
  config/schedules/nightly-verification-sweeps.yaml
Due: check-local-paths

feat(ticket-pipeline): extract DoD items and published_events from Linear for contract generation [OMN-7429] (#1108)
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

feat(skills): add prompt.md for golden_chain_sweep skill [OMN-7432] (#1105)
  plugins/onex/skills/golden_chain_sweep/prompt.md
Due: check-local-paths

feat(skills): add prompt.md for data_flow_sweep skill [OMN-7433] (#1106)
  plugins/onex/skills/data_flow_sweep/prompt.md
Due: check-local-paths

feat(ticket-pipeline): make contract generation fatal and enforce completeness [OMN-7431] (#1109)
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

feat(schedules): add nightly verification sweep schedule config [OMN-7446] (#1112)
  config/schedules/nightly-verification-sweeps.yaml
Due: check-local-paths

feat(skills): add /platform_readiness gate skill [OMN-7449]
  plugins/onex/skills/platform_readiness/SKILL.md
  plugins/onex/skills/platform_readiness/prompt.md
Due: check-local-paths

style: fix ruff format violation in test_contract_generator
  tests/unit/skills/_lib/test_contract_generator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: update closeout phase contract to cover B4b skill invocations and E4 retry [OMN-7435]
  scripts/closeout-phase-contract.yaml
Due: check-local-paths

feat: add GEMINI and GLM frontier purposes to endpoint registry [OMN-7410]
  src/omniclaude/config/model_local_llm_config.py
  tests/unit/config/test_llm_endpoint_registry_frontier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add frontier model routing with explicit policy [OMN-7410]
  plugins/onex/hooks/lib/delegation_orchestrator.py
  tests/unit/hooks/lib/test_delegation_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add subprocess delegation handler with approved routing table [OMN-7410]
  plugins/onex/hooks/lib/delegation_orchestrator.py
  tests/unit/hooks/lib/test_subprocess_delegation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: make quality gate markers intent-specific [OMN-7410]
  plugins/onex/hooks/lib/delegation_orchestrator.py
  tests/unit/hooks/test_quality_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add result-only delegation mode with normalized schema [OMN-7410]
  plugins/onex/hooks/lib/delegation_orchestrator.py
  tests/unit/hooks/test_result_only_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: resolve CI lint, env var registry, and test failures [OMN-7410]
  .env.allowlist
  tests/unit/config/test_model_local_llm_config.py
  tests/unit/hooks/lib/test_delegation_orchestrator.py
  tests/unit/hooks/test_quality_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: resolve remaining ruff format and lint errors [OMN-7410]
  tests/unit/config/test_llm_endpoint_registry_frontier.py
  tests/unit/hooks/lib/test_delegation_routing.py
  tests/unit/hooks/lib/test_subprocess_delegation.py
  tests/unit/hooks/test_quality_gate.py
  tests/unit/hooks/test_result_only_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: purge hardcoded localhost fallbacks from omniclaude scripts [OMN-7408]
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  scripts/cron-closeout.sh
  scripts/tests/test_intelligence_functionality.sh
Due: check-local-paths

fix: resolve hardcoded topic string violations [OMN-7408]
  .pre-commit-config.yaml
Due: check-local-paths

fix: convert (str, Enum) to StrEnum, update CLAUDE.md convention [OMN-7408]
  CLAUDE.md
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/hooks/lib/hook_policy.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/skill_output_suppressor.py
  plugins/onex/skills/_lib/gap_models/enum_gap_category.py
  plugins/onex/skills/_lib/generate_ticket_contract/proof_validation.py
  plugins/onex/skills/_lib/pr_review/models.py
  plugins/onex/skills/_shared/kafka_helper.py
  plugins/onex/skills/_shared/qdrant_helper.py
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: remove local path references from watchdog scripts and prompts [OMN-7408]
  plugins/onex/skills/data_flow_sweep/prompt.md
  plugins/onex/skills/golden_chain_sweep/prompt.md
  plugins/onex/skills/runtime_sweep/prompt.md
  scripts/watchdog-check.sh
  scripts/watchdog-record-action.sh
  scripts/watchdog-state-read.sh
  scripts/watchdog-state-write.sh
Due: check-local-paths

style: apply ruff format to StrEnum-converted files [OMN-7408]
  plugins/onex/hooks/lib/hook_policy.py
  plugins/onex/skills/_lib/contract_generator/generate_contract.py
  plugins/onex/skills/_lib/gap_models/enum_gap_category.py
  plugins/onex/skills/_lib/generate_ticket_contract/proof_validation.py
  plugins/onex/skills/_lib/pr_review/models.py
  plugins/onex/skills/_shared/kafka_helper.py
  plugins/onex/skills/_shared/qdrant_helper.py
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
  src/omniclaude/nodes/node_skill_build_loop_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_build_loop_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_build_loop_orchestrator/node.py
  src/omniclaude/nodes/node_skill_golden_chain_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_golden_chain_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: replace legacy ARCHON_INTELLIGENCE_URL with INTELLIGENCE_SERVICE_URL [OMN-7408]
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

fix: replace legacy ARCHON_INTELLIGENCE_URL with INTELLIGENCE_SERVICE_URL [OMN-7408]
  .env.example
  docs/architecture/SERVICE-BOUNDARIES.md
  plugins/onex/.env.example
  plugins/onex/README.md
Due: check-local-paths

fix: remove step narration pattern from golden-chain-sweep headings [OMN-7408]
  plugins/onex/skills/golden_chain_sweep/prompt.md
Due: check-local-paths

fix: purge localhost fallbacks, StrEnum conversion, pre-commit fixes [OMN-7408] (#1115)
  .env.example
  .pre-commit-config.yaml
  CLAUDE.md
  docs/architecture/SERVICE-BOUNDARIES.md
  plugins/onex/.env.example
  plugins/onex/README.md
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/hooks/lib/hook_policy.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/skill_output_suppressor.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/_lib/contract_generator/generate_contract.py
  plugins/onex/skills/_lib/gap_models/enum_gap_category.py
  plugins/onex/skills/_lib/generate_ticket_contract/proof_validation.py
  plugins/onex/skills/_lib/pr_review/models.py
  plugins/onex/skills/_shared/kafka_helper.py
  plugins/onex/skills/_shared/qdrant_helper.py
  plugins/onex/skills/data_flow_sweep/prompt.md
  plugins/onex/skills/golden_chain_sweep/prompt.md
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
  plugins/onex/skills/runtime_sweep/prompt.md
  scripts/cron-closeout.sh
  scripts/tests/test_intelligence_functionality.sh
  scripts/watchdog-check.sh
  scripts/watchdog-record-action.sh
  scripts/watchdog-state-read.sh
  scripts/watchdog-state-write.sh
  src/omniclaude/nodes/node_skill_build_loop_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_build_loop_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_build_loop_orchestrator/node.py
  src/omniclaude/nodes/node_skill_golden_chain_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_golden_chain_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add /platform_readiness gate skill [OMN-7449] (#1113)
  plugins/onex/skills/platform_readiness/SKILL.md
  plugins/onex/skills/platform_readiness/prompt.md
Due: check-local-paths

feat(close-out): wire verification skills as actual invocations in cron-closeout.sh [OMN-7435] (#1111)
  scripts/closeout-phase-contract.yaml
  scripts/cron-closeout.sh
Due: check-local-paths

fix: remove ANTHROPIC_API_KEY preflight check from cron scripts
  scripts/cron-closeout.sh
  scripts/cron-merge-sweep.sh
  scripts/headless-merge-sweep.sh
Due: check-local-paths

feat: update build_loop skill for local execution via onex run [OMN-7473]
  plugins/onex/skills/build_loop/SKILL.md
  src/omniclaude/nodes/node_skill_platform_readiness_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_platform_readiness_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_platform_readiness_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix pre-existing ONEX validation errors in golden_chain nodes
  src/omniclaude/nodes/node_golden_chain_payload_compute/__init__.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/__init__.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/model_chain_result.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/persist.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/models/model_sweep_request.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(omniclaude): emit routing decision events to Kafka [SOW-Phase2]
  src/omniclaude/lib/core/agent_router.py
Due: check-local-paths, validate-secrets

feat(omniclaude): emit routing decision events to Kafka [SOW-Phase2] (#1118)
  src/omniclaude/lib/core/agent_router.py
Due: check-local-paths, validate-secrets

docs: fix stale Redpanda Console URL in CLAUDE.md
  CLAUDE.md
Due: check-local-paths

release: omniclaude v0.23.0
  pyproject.toml
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
