Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

Preserve failed segment offsets in git guard admission refusals (OMN-18936) (#2627)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-18936.yaml
  src/omniclaude/nodes/node_git_effect/handlers/handler_git_admission.py
  src/omniclaude/nodes/node_git_effect/handlers/handler_shell_word.py
  src/omniclaude/nodes/node_git_effect/handlers/handler_shell_words.py
  tests/hooks/test_git_admission_parity.py
  tests/hooks/test_shared_tree_git_guard.py
  tests/hooks_system/bash_guard_corpus.py
  tests/hooks_system/fixtures/bash_guard_golden.json
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20422): second hostile-reviewer voter local-studio-planner and omniintelligence 33a29cdf pin (#2629)
  .github/workflows/hostile-reviewer.yml
  config/hardcoded_model_config_baseline.yaml
  pyproject.toml
  tests/hooks/test_hostile_reviewer_workflow.py
  tests/workflows/test_hostile_reviewer_fleet_and_stderr.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19401): hosted Contract Compliance skips local_done_gate items
  scripts/ci/defer_test_passes_driver.py
  tests/ci/test_contract_compliance_pr_scope.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19401): the ledger reader does not follow a symlinked archive directory
  plugins/onex/hooks/lib/ticket_creation_guard.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19401): admit a criterion rewrite that cites an operator ruling (#2623)
  plugins/onex/hooks/lib/ticket_creation_guard.py
  scripts/ci/defer_test_passes_driver.py
  tests/ci/test_contract_compliance_pr_scope.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-20685): move hook refusal recording into node_hook_refusal_record_effect
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  contracts/OMN-20685.yaml
  docs/guards/refusal-surface.md
  plugins/onex/hooks/lib/hook_refusal.sh
  pyproject.toml
  scripts/install-canonical-clone-guard.sh
  scripts/user-hooks/canonical-clone-guard.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/__init__.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/contract.yaml
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/__init__.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/handler_hook_refusal_lane.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/handler_hook_refusal_record.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/models/__init__.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/models/model_hook_refusal_record_request.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/models/model_hook_refusal_record_result.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/node.py
  tests/fixtures/hook_refusal_effect_golden.json
  tests/hooks/test_hook_refusal_effect_parity.py
  tests/hooks/test_refusal_details_omn20343.py
  tests/hooks/test_refusal_recorder_state_omn20265.py
  tests/hooks/test_refusal_rows_omn18946.py
  tests/hooks/test_refusal_surface_omn18983.py
  tests/hooks/test_subagent_report_contract_guard.py
  tests/hooks_system/test_bash_guards_differential.py
  tests/scripts/test_install_canonical_clone_guard.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): pin actions/checkout to SHA [OMN-9050]
  .github/workflows/check-handshake.yml
Due: check-local-paths

fix(OMN-20685): use ledger_writer_project in _ledger_paths
  plugins/onex/hooks/lib/hook_emit_bounded.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/handler_hook_refusal_record.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): set onFailure block on PreToolUse guards and add parity checks (OMN-17427)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/hook_inventory.py
  scripts/ci/ci_summary_gate.py
  scripts/validation/validate_hook_inventory.py
  tests/ci/test_plugin_validate_gate_omn17427.py
  tests/hooks/test_hook_inventory.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-20685): move the PR ownership guard into node_pr_ownership_guard_effect
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  contracts/OMN-20685.yaml
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/hooks/lib/pr_ownership_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  pyproject.toml
  scripts/pr_claim_registry_cli.py
  scripts/public_skill_hygiene_ratchet.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/contract.yaml
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/enum_pr_claim_status.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/enum_pr_mutation_class.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/enum_pr_ownership_reason.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership_cli.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership_lane.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership_parse.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/model_pr_ownership_decision.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/model_pr_ownership_request.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/model_pr_ownership_result.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/node.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/protocols/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/protocols/protocol_pr_claim_registry.py
  tests/fixtures/pr_ownership_effect_golden.json
  tests/hooks/test_pr_close_preconditions.py
  tests/hooks/test_pr_ownership_effect_parity.py
  tests/hooks/test_pr_ownership_guard_cache_layout.py
  tests/unit/hooks/test_pr_claim_session_identity.py
  tests/unit/hooks/test_pr_ownership_guard.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-19681): plan the hooks tests into 3 shards by committed per-file durations
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/hooks_test_file_durations.json
  config/hooks_test_file_durations_provenance.json
  tests/ci/test_hooks_shard_omn19681.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-19681): plan the hooks tests into 3 shards by committed per-file durations (#2634)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/hooks_test_file_durations.json
  config/hooks_test_file_durations_provenance.json
  tests/ci/test_hooks_shard_omn19681.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

refactor(OMN-20685): move hook refusal recording into node_hook_refusal_record_effect (#2632)
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  contracts/OMN-20685.yaml
  docs/guards/refusal-surface.md
  plugins/onex/hooks/lib/hook_emit_bounded.py
  plugins/onex/hooks/lib/hook_refusal.sh
  pyproject.toml
  scripts/install-canonical-clone-guard.sh
  scripts/user-hooks/canonical-clone-guard.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/__init__.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/contract.yaml
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/__init__.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/handler_hook_refusal_lane.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/handler_hook_refusal_record.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/models/__init__.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/models/model_hook_refusal_record_request.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/models/model_hook_refusal_record_result.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/node.py
  tests/fixtures/hook_refusal_effect_golden.json
  tests/hooks/test_hook_refusal_effect_parity.py
  tests/hooks/test_refusal_details_omn20343.py
  tests/hooks/test_refusal_recorder_state_omn20265.py
  tests/hooks/test_refusal_rows_omn18946.py
  tests/hooks/test_refusal_surface_omn18983.py
  tests/hooks/test_subagent_report_contract_guard.py
  tests/hooks_system/test_bash_guards_differential.py
  tests/scripts/test_install_canonical_clone_guard.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-20818): onboarding sets up several models in one terminal pass
  contracts/OMN-20818.yaml
  plugins/onex/skills/_bin/lab-onboarding.sh
  plugins/onex/skills/omninode_dev_setup/SKILL.md
  tests/skills/test_lab_onboarding_proven_set_omn20381.py
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20685): attribute no lane to an unresolvable path without except-continue
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/handler_hook_refusal_lane.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20818): repo contract binds no criteria; Docker test pins Docker's state
  contracts/OMN-20818.yaml
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20387): cost accounting stops pricing an unknown model as Opus (plugin 2.4.37) (#2566)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/cost_accounting.py
  tests/unit/hooks/lib/test_cost_accounting.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20685): update base_ref and parity tests for the tokeniser change
  scripts/ci/adequacy_receipts/omniclaude.nodes.node_git_effect.handflip.json
  src/omniclaude/nodes/node_git_effect/handlers/handler_git_admission.py
  tests/hooks/test_git_admission_parity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19055): classify three required CI Summary contexts
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19055): refresh CI job-name snapshot for the 3-way hooks shard
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
Due: check-local-paths

refactor(OMN-20685): route Git admission through the existing effect node (#2580)
  .github/workflows/ci.yml
  contracts/OMN-20685.yaml
  scripts/ci/adequacy_receipts/omniclaude.nodes.node_git_effect.handflip.json
  scripts/ci/adequacy_receipts/omniclaude.nodes.node_git_effect.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_git_effect/contract.yaml
  src/omniclaude/nodes/node_git_effect/handlers/handler_git_admission.py
  src/omniclaude/nodes/node_git_effect/handlers/handler_git_admission_transport.py
  src/omniclaude/nodes/node_git_effect/handlers/handler_git_subprocess.py
  src/omniclaude/nodes/node_git_effect/models/model_git_admission.py
  src/omniclaude/nodes/node_git_effect/models/model_git_request.py
  src/omniclaude/nodes/node_git_effect/models/model_git_result.py
  src/omniclaude/nodes/node_git_effect/node.py
  src/omniclaude/nodes/node_git_effect/protocols/protocol_git_operations.py
  src/omniclaude/nodes/node_hook_refusal_record_effect/handlers/handler_hook_refusal_lane.py
  tests/hooks/test_git_admission_parity.py
  tests/hooks/test_git_admission_runtime.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

OMN-19055: Classify three required CI Summary contexts (#2636)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ci): add dev head monitor to ten-minute heal schedule for OMN-18836
  .env.example
  .github/workflows/ci.yml
  .github/workflows/occ-companion-merge-heal.yml
  .pre-commit-config.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/__init__.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/contract.yaml
  src/omniclaude/nodes/node_dev_head_monitor_effect/dev_head_watch.json
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/__init__.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_dev_head_monitor.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/node.py
  tests/ci/test_dev_head_monitor_omn18836.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20833): the cost-accounting hook prices from the infra pricing manifest (plugin 2.4.59)
  config/hardcoded_model_config_baseline.yaml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/cost_accounting.py
  tests/unit/hooks/lib/test_cost_accounting.py
  tests/unit/hooks/lib/test_cost_accounting_manifest_omn20833.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20833): the cost-accounting hook prices from the infra pricing manifest (plugin 2.4.59) (#2641)
  config/hardcoded_model_config_baseline.yaml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/cost_accounting.py
  tests/unit/hooks/lib/test_cost_accounting.py
  tests/unit/hooks/lib/test_cost_accounting_manifest_omn20833.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-20837): omniclaude names the renamed public repository knowledge_base
  .github/CONTRIBUTING.md
  README.md
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex/README.md
  plugins/onex/hooks/lib/linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20768): CI Summary's sweep subtracts every attempt's own jobs on a re-run
  contracts/OMN-20768.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20768): CI Summary's sweep drops rows an earlier run of ci.yml wrote
  contracts/OMN-20768.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-20685): move the PR ownership guard into node_pr_ownership_guard_effect (#2635)
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  contracts/OMN-20685.yaml
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/hooks/lib/pr_ownership_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  pyproject.toml
  scripts/pr_claim_registry_cli.py
  scripts/public_skill_hygiene_ratchet.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/contract.yaml
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/enum_pr_claim_status.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/enum_pr_mutation_class.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/enums/enum_pr_ownership_reason.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership_cli.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership_lane.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/handlers/handler_pr_ownership_parse.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/model_pr_ownership_decision.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/model_pr_ownership_request.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/models/model_pr_ownership_result.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/node.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/protocols/__init__.py
  src/omniclaude/nodes/node_pr_ownership_guard_effect/protocols/protocol_pr_claim_registry.py
  tests/fixtures/pr_ownership_effect_golden.json
  tests/hooks/test_pr_close_preconditions.py
  tests/hooks/test_pr_ownership_effect_parity.py
  tests/hooks/test_pr_ownership_guard_cache_layout.py
  tests/unit/hooks/test_pr_claim_session_identity.py
  tests/unit/hooks/test_pr_ownership_guard.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20768): CI Summary's sweep subtracts every attempt's own jobs on a re-run (#2643)
  contracts/OMN-20768.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20837): retain product history for contract probes
  .github/workflows/ci.yml
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/test_contract_compliance_job_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-20837): omniclaude names the renamed public repository knowledge_base (#2642)
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  README.md
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex/README.md
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/test_contract_compliance_job_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): add Plugin Validate to the CI job-name snapshot
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
Due: check-local-paths

fix(OMN-18836): dev head monitor clears its CI reds
  .github/workflows/ci.yml
  .github/workflows/occ-companion-merge-heal.yml
  src/omniclaude/nodes/node_dev_head_monitor_effect/contract.yaml
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_dev_head_monitor.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/test_dev_head_monitor_omn18836.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): set onFailure block on PreToolUse guards and add parity checks (OMN-17427) (#2633)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/hook_inventory.py
  scripts/ci/ci_summary_gate.py
  scripts/validation/validate_hook_inventory.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/test_plugin_validate_gate_omn17427.py
  tests/hooks/test_hook_inventory.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-18836): split the dev head monitor adapters into one class per file
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_dev_head_monitor.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_gh_cli.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_linear_api.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/models/__init__.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/models/model_dev_head_types.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18836): add the missing dev-head monitor ticket contract
  contracts/OMN-18836.yaml
Due: check-local-paths

feat(OMN-18836): wire the scheduled dev-head CI monitor (#2640)
  .env.example
  .github/workflows/occ-companion-merge-heal.yml
  .pre-commit-config.yaml
  contracts/OMN-18836.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/__init__.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/contract.yaml
  src/omniclaude/nodes/node_dev_head_monitor_effect/dev_head_watch.json
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/__init__.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_dev_head_monitor.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_gh_cli.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/handlers/handler_linear_api.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/models/__init__.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/models/model_dev_head_types.py
  src/omniclaude/nodes/node_dev_head_monitor_effect/node.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/test_dev_head_monitor_omn18836.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-20074): failing test for the omniclaude caller's receipt-gate pin
  tests/ci/test_repo_evidence_caller_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check
