Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(OMN-15015): wire OCC autobind + companion-effect callers into omniclaude (#1929)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
Due: check-local-paths

fix(OMN-15030): block Done-flip on unchecked acceptance-criteria checkboxes
  plugins/onex/hooks/lib/done_flip_guard.py
  tests/hooks/test_done_flip_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-15057): add vector-5 needs-cascade check to required-check skip-vector guard
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  tests/ci/test_validate_no_required_check_skip_vectors.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15058): split secret-shaped test fixtures to defeat GH scanner false-positives
  tests/hooks/test_schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15061): CR thread gate blocks unrotated CRITICAL secret findings
  scripts/check-unresolved-threads.sh
  tests/scripts/test_check_unresolved_threads.sh
Due: check-local-paths

fix(OMN-15061): suppress detect-secrets false positive on regex-pattern variables
  scripts/check-unresolved-threads.sh
Due: check-local-paths

fix(OMN-15062): extend secret redaction to agent-produced report text
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/secret_redactor.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_schemas.py
  tests/hooks/test_secret_redactor.py
  tests/hooks/test_subagent_secret_leak_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15065): deploy-gate derives pure-COMPUTE node non-deployability from contract.yaml
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  tests/scripts/test_deploy_gate_compute_node_exemption.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15068): detect-secrets pre-commit hook blocks new unaudited findings
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/detect_secrets_guard.py
  tests/scripts/test_detect_secrets_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15065): deploy-gate derives pure-COMPUTE node non-deployability from contract (#1936)
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  tests/scripts/test_deploy_gate_compute_node_exemption.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15061): CR thread gate blocks unrotated CRITICAL secret findings (#1933)
  scripts/check-unresolved-threads.sh
  tests/scripts/test_check_unresolved_threads.sh
Due: check-local-paths

fix(OMN-15030): block Done-flip on unchecked acceptance-criteria checkboxes (#1930)
  plugins/onex/hooks/lib/done_flip_guard.py
  tests/hooks/test_done_flip_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-15068): detect-secrets pre-commit hook blocks new unaudited findings (#1939)
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/detect_secrets_guard.py
  tests/scripts/test_detect_secrets_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15065): declare runtime profile for delegation orchestrator
  .secrets.baseline
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-15065): bind delegation orchestrator handlers canonically
  .secrets.baseline
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_result.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-15063): stop detect-secrets live-verification silently dropping Slack/Stripe leaks
  .github/workflows/ci.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-15065): keep deprecated delegation contract absent
  .secrets.baseline
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  tests/unit/node_delegation_orchestrator/test_codex_sandbox_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15063): compare detect-secrets baseline against protected base, not PR copy
  .github/workflows/ci.yml
  .secrets.baseline
Due: check-local-paths

chore(OMN-15072): retrigger occ-preflight after Evidence-Source autobind
  .secrets.baseline
Due: none

fix(OMN-15072): address CodeRabbit findings — template injection, is_secret polarity, force-push resilience
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/detect_secrets_ci_diff.py
  scripts/detect_secrets_guard.py
  tests/scripts/test_detect_secrets_ci_diff.py
  tests/scripts/test_detect_secrets_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15072): CI detect-secrets diffs against target-branch baseline, not same-commit
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/detect_secrets_ci_diff.py
  scripts/detect_secrets_guard.py
  tests/scripts/test_detect_secrets_ci_diff.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15065): annotate deprecated CLI compatibility routes
  .secrets.baseline
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15065): restore single-line canonical-inference suppression on gemini shellout
  .secrets.baseline
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15058): split secret-shaped test fixtures to defeat GH scanner false-positives (#1932)
  tests/hooks/test_schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15072): CI detect-secrets diffs against target-branch baseline (#1940)
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/detect_secrets_ci_diff.py
  scripts/detect_secrets_guard.py
  tests/scripts/test_detect_secrets_ci_diff.py
  tests/scripts/test_detect_secrets_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15057): add if: always() to 38 required-context jobs with needs: occ-preflight
  .github/workflows/call-reject-skip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/ci.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/no-faked-boundary.yml
  .github/workflows/non-dev-base-guard.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/url-authority-gate.yml
Due: check-local-paths

test(OMN-15062): update OMN-13244 baseline lock for the SubagentStop carve-out
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15057): add vector-5 needs-cascade check to required-check skip-vector guard (#1931)
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  .github/workflows/call-reject-skip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/ci.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/no-faked-boundary.yml
  .github/workflows/non-dev-base-guard.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/url-authority-gate.yml
  tests/ci/test_validate_no_required_check_skip_vectors.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15062): extend secret redaction to agent-produced report text
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/secret_redactor.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_schemas.py
  tests/hooks/test_secret_redactor.py
  tests/hooks/test_subagent_secret_leak_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-15063): stop detect-secrets live-verification from silently dropping Slack/Stripe leaks
  .github/workflows/ci.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-15117): close call-receipt-gate.yml verify job skip-vector + manifest blind spot on main
  .github/actions/required-check-skip-guard/reconcile_manifest_vs_live.py
  .github/required-checks.yaml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/required-check-manifest-reconcile.yml
  .secrets.baseline
  tests/ci/test_reconcile_manifest_vs_live.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15117): close call-receipt-gate.yml verify skip-vector + manifest blind spot on main (#1942)
  .github/actions/required-check-skip-guard/reconcile_manifest_vs_live.py
  .github/required-checks.yaml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/required-check-manifest-reconcile.yml
  .secrets.baseline
  tests/ci/test_reconcile_manifest_vs_live.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-15128): DO-NOT-MERGE seeded secret + same-commit launder — CI RED proof
  .secrets.baseline
  scratch_seed_test/seeded_secret_omn15128.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15115): install pyyaml for deploy gate resolver
  .github/workflows/deploy-gate-reusable.yml
  .secrets.baseline
  tests/workflows/test_deploy_gate_reusable_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-15115): retrigger promotion receipt checks
  .secrets.baseline
Due: none

fix(OMN-15115): install pyyaml for deploy gate resolver (#1945)
  .github/workflows/deploy-gate-reusable.yml
  .secrets.baseline
  tests/workflows/test_deploy_gate_reusable_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check
