Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(hooks): add configurable no-verify policy gate [OMN-4383] (#610)
  .github/workflows/onex-schema-compat.yml
  plugins/onex/hooks/config.yaml
  plugins/onex/hooks/lib/allow_flag.py
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/hook_policy.py
  plugins/onex/hooks/lib/slack_approval_listener.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  tests/hooks/test_bash_guard.py
  tests/hooks/test_hook_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): auto-install pre-commit hooks in WorktreeManager and advisory for raw worktree add [OMN-4508] [OMN-4509]
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/worktree_manager.py
  tests/hooks/test_bash_guard.py
  tests/unit/hooks/lib/test_worktree_manager.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

tests: patch _install_precommit_hooks in two create tests to fix StopIteration
  tests/unit/hooks/lib/test_worktree_manager.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(merge-sweep): add post-scan repo coverage assertion to prevent silent misses [OMN-4517]
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skills): add env-parity SKILL.md and orchestrator node [OMN-4529]
  plugins/onex/skills/env-parity/SKILL.md
  src/omniclaude/nodes/node_skill_env_parity_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_env_parity_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_env_parity_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add env-parity prompt.md orchestration [OMN-4530]
  plugins/onex/skills/env-parity/prompt.md
Due: check-local-paths

feat(skills): add env-parity prompt.md orchestration [OMN-4530] (#615)
  plugins/onex/skills/env-parity/prompt.md
Due: check-local-paths

fix(hooks): prevent tier=event_bus stdout from corrupting hook JSON output
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/lib/phoenix_otel_exporter.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): prevent tier=event_bus stdout from corrupting hook JSON output (#616)
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/lib/phoenix_otel_exporter.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(hooks): add SessionStart test coverage and smoke-test-hooks.sh [OMN-4566]
  plugins/onex/hooks/scripts/test-hooks.sh
  plugins/onex/skills/deploy-local-plugin/smoke-test-hooks.sh
Due: check-local-paths

release: omniclaude v0.6.0
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(models): migrate ModelSkillResult to omnibase_core schema (OMN-3877)
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  src/omniclaude/shared/handler_skill_requested.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): update ModelSkillResult.error/output access to use extra dict
  src/omniclaude/runtime/wiring_dispatchers.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.6.0 (#618)
  pyproject.toml
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/shared/handler_skill_requested.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(deploy): gate deploy on hook smoke tests after file sync [OMN-4383]
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: check-local-paths

fix(hooks): use printf instead of log() in common.sh .env error path [OMN-4383]
  plugins/onex/hooks/scripts/common.sh
Due: check-local-paths

fix(hooks): gate deploy on smoke tests; fix log() pre-definition crash [OMN-4566] (#619)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: check-local-paths

test(hooks): add SessionStart test coverage and smoke-test-hooks.sh [OMN-4566] (#617)
  plugins/onex/hooks/scripts/test-hooks.sh
  plugins/onex/skills/deploy-local-plugin/smoke-test-hooks.sh
Due: check-local-paths

fix(hooks): migrate hook_event_adapter from kafka-python to confluent-kafka [OMN-4620]
  plugins/onex/hooks/lib/hook_event_adapter.py
  tests/unit/hooks/lib/test_hook_event_adapter_kafka.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): classify read-only Bash commands as non-blocking in delegation counter [OMN-4620]
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  tests/unit/hooks/scripts/__init__.py
  tests/unit/hooks/scripts/test_delegation_counter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(statusline): replace tab bar with parallel service health probes + bus + PR counts [OMN-4620]
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

chore(tests): fix SPDX headers in new test files; annotate cloud-bus probe [OMN-4620]
  plugins/onex/hooks/scripts/statusline.sh
  tests/unit/hooks/lib/test_hook_event_adapter_kafka.py
  tests/unit/hooks/scripts/__init__.py
  tests/unit/hooks/scripts/test_delegation_counter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

style(hooks): apply ruff formatting to hook_event_adapter.py [OMN-4620]
  plugins/onex/hooks/lib/hook_event_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(test): replace hardcoded cwd path with dynamic _REPO_ROOT in delegation counter test
  tests/unit/hooks/scripts/test_delegation_counter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(test): guard sys.path.insert in _reload_adapter to prevent duplicate entries
  tests/unit/hooks/lib/test_hook_event_adapter_kafka.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): remove hooks/scripts/__init__.py that shadowed root scripts package
  tests/unit/hooks/scripts/__init__.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(tests): fix pre-existing broken import in test_generate_skill_node.py [OMN-4621]
  conftest.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): add task_sections to executing-plans Step 2 structure list
  plugins/onex/skills/executing-plans/SKILL.md
Due: check-local-paths

release: omniclaude v0.7.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(hooks): add missing config.py shim and silence log_hook_event stderr noise [OMN-4383]
  plugins/onex/hooks/lib/config.py
  plugins/onex/hooks/lib/log_hook_event.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(deploy): replace pip-editable venv build with uv sync --no-editable [OMN-4652]
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: check-local-paths

refactor(plugin): migrate commands/ to skills/, remove commands/ directory
  plugins/onex/commands/crash-recovery.md
  plugins/onex/commands/gap-fix.md
  plugins/onex/skills/_shared/validate-skill-names.sh
  plugins/onex/skills/authorize/SKILL.md
  plugins/onex/skills/bus-audit/SKILL.md
  plugins/onex/skills/deauthorize/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/set-active-run/SKILL.md
Due: check-local-paths

fix(gitignore): re-exclude __pycache__ under tests/unit/hooks/lib/
  .gitignore
Due: check-local-paths

fix(deploy): sync commands/ to cache so slash commands show without onex: prefix
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: check-local-paths

perf(hooks): merge injectors into single subprocess, fix context injection budget thresholds
  plugins/onex/hooks/lib/combined_injector.py
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): dual-bus emit + inmemory guard + --guard-check-only [OMN-4712]
  plugins/onex/hooks/scripts/session-start.sh
  tests/unit/hooks/test_session_start_guards.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(redeploy): add PREFLIGHT, SCHEMA_SYNC, K8S_VERIFY, OMNIDASH_VERIFY phases [OMN-4678]
  plugins/onex/skills/redeploy/SKILL.md
  plugins/onex/skills/redeploy/prompt.md
Due: check-local-paths

fix(ci): restore commands/ directory for structure validation check [OMN-4678]
  plugins/onex/commands/.gitkeep
Due: check-local-paths

chore: generate stub nodes for authorize, bus-audit, deauthorize, set-active-run skills
  src/omniclaude/nodes/node_skill_authorize_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_authorize_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_authorize_orchestrator/node.py
  src/omniclaude/nodes/node_skill_bus_audit_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_bus_audit_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_bus_audit_orchestrator/node.py
  src/omniclaude/nodes/node_skill_deauthorize_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_deauthorize_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_deauthorize_orchestrator/node.py
  src/omniclaude/nodes/node_skill_set_active_run_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_set_active_run_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_set_active_run_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
