Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix: replace dict[str, Any] metadata with TypedDict in model_contract_state [OMN-5062]
  src/omniclaude/nodes/node_transition_selector_effect/models/__init__.py
  src/omniclaude/nodes/node_transition_selector_effect/models/model_contract_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs: create AGENT.md for LLM navigation [OMN-5089]
  AGENT.md
Due: check-local-paths

fix: remove BLE001 suppression from omniclaude; narrow bare except Exception [OMN-5062]
  pyproject.toml
  src/omniclaude/cli/patterns.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/lib/compliance_result_subscriber.py
  src/omniclaude/hooks/lib/decision_record_subscriber.py
  src/omniclaude/hooks/lib/skill_execution_log_subscriber.py
  src/omniclaude/nodes/node_agent_inbox_effect/handler_kafka_inbox.py
  src/omniclaude/nodes/node_agent_inbox_effect/handler_standalone_inbox.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
  src/omniclaude/nodes/node_transition_selector_effect/node.py
  src/omniclaude/publisher/__main__.py
  src/omniclaude/publisher/embedded_publisher.py
  src/omniclaude/publisher/emit_client.py
  src/omniclaude/quirks/classifier.py
  src/omniclaude/quirks/extractor.py
  src/omniclaude/quirks/memory_bridge.py
  src/omniclaude/runtime/__main__.py
  src/omniclaude/runtime/introspection.py
  src/omniclaude/runtime/plugin.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/services/inbox_wait.py
  src/omniclaude/trace/frame_assembler.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(readme): restructure to 7-section OSS format [OMN-5093]
  README.md
Due: check-local-paths

docs: create AGENT.md for LLM navigation [OMN-5089] (#644)
  AGENT.md
Due: check-local-paths

docs(readme): restructure to 7-section OSS format [OMN-5093] (#645)
  README.md
Due: check-local-paths

chore(ruff): enforce T201 via per-file-ignores instead of global suppress [OMN-5078]
  pyproject.toml
Due: check-local-paths

fix(skills): remove step-narration headings flagged by AI-slop check [OMN-5118]
  plugins/onex/skills/handoff/prompt.md
Due: check-local-paths

chore: add no-untyped-metadata pre-commit hook and type safety PR checklist [OMN-5063]
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  scripts/check_no_untyped_metadata.py
  tests/scripts/__init__.py
  tests/scripts/test_check_no_untyped_metadata.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(scripts): add skill migration audit script [OMN-5116] (#641)
  scripts/audit_skill_migration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): dashboard-sweep — parallel Playwright audit + debug + fix loop [OMN-5057] (#639)
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
  plugins/onex/skills/_golden_path_validate/node_skill_dashboard_sweep_orchestrator.json
  plugins/onex/skills/dashboard-sweep/SKILL.md
  plugins/onex/skills/dashboard-sweep/prompt.md
  plugins/onex/skills/dashboard-sweep/topics.yaml
  src/omniclaude/nodes/node_skill_dashboard_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_dashboard_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_dashboard_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: replace dict[str, Any] metadata with TypedDict and remove BLE001 [OMN-5062] (#647)
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_no_untyped_metadata.py
  src/omniclaude/cli/patterns.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/lib/compliance_result_subscriber.py
  src/omniclaude/hooks/lib/decision_record_subscriber.py
  src/omniclaude/hooks/lib/skill_execution_log_subscriber.py
  src/omniclaude/nodes/node_agent_inbox_effect/handler_kafka_inbox.py
  src/omniclaude/nodes/node_agent_inbox_effect/handler_standalone_inbox.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
  src/omniclaude/nodes/node_transition_selector_effect/models/__init__.py
  src/omniclaude/nodes/node_transition_selector_effect/models/model_contract_state.py
  src/omniclaude/nodes/node_transition_selector_effect/node.py
  src/omniclaude/publisher/__main__.py
  src/omniclaude/publisher/embedded_publisher.py
  src/omniclaude/publisher/emit_client.py
  src/omniclaude/quirks/classifier.py
  src/omniclaude/quirks/extractor.py
  src/omniclaude/quirks/memory_bridge.py
  src/omniclaude/runtime/__main__.py
  src/omniclaude/runtime/introspection.py
  src/omniclaude/runtime/plugin.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/services/inbox_wait.py
  src/omniclaude/trace/frame_assembler.py
  tests/scripts/__init__.py
  tests/scripts/test_check_no_untyped_metadata.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): auto-resolve review threads in merge-sweep and pr-polish [OMN-5134]
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/pr-polish/SKILL.md
Due: check-local-paths

fix(docs): correct broken skills catalog link in README
  README.md
Due: check-local-paths

feat(skills): auto-resolve review threads in merge-sweep and pr-polish [OMN-5134] (#648)
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/pr-polish/SKILL.md
Due: check-local-paths

chore: centralize no-untyped-metadata hook via onex_change_control [OMN-5135]
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_no_untyped_metadata.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(deps): bump core 0.27.1, spi 0.17.0, infra 0.20.1, intelligence 0.13.3, release 0.7.2 [OMN-5101]
  pyproject.toml
  uv.lock
Due: check-local-paths

fix: use HTTPS URL for onex-change-control git source [OMN-5135]
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(deps): bump core 0.27.1, spi 0.17.0, infra 0.20.1, intelligence 0.13.3, release 0.7.2 [OMN-5101] (#649)
  pyproject.toml
  uv.lock
Due: check-local-paths

chore(ci): replace lychee with onex-validate-links [OMN-5085] (#640)
  .github/workflows/ci.yml
  .markdown-link-check.json
  .pre-commit-config.yaml
Due: check-local-paths

fix: complete hooks/lib package chain and add hook_events migration [OMN-5132]
  plugins/onex/hooks/__init__.py
  plugins/onex/hooks/lib/__init__.py
  sql/migrations/002_create_hook_events_table.sql
  src/omniclaude/hooks/handler_context_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

fix: complete hooks/lib package chain and add hook_events migration [OMN-5132] (#651)
  plugins/onex/hooks/__init__.py
  plugins/onex/hooks/lib/__init__.py
  sql/migrations/002_create_hook_events_table.sql
  src/omniclaude/hooks/handler_context_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

fix(tests): update no-untyped-metadata tests to use centralized CLI entry point [OMN-5135]
  tests/scripts/test_check_no_untyped_metadata.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(docker): install git in Dockerfile for git+https dependencies [OMN-5135]
  deployment/Dockerfile
Due: check-local-paths

fix: merge main, resolve duplicate TOML key and pre-commit violations [OMN-5118]
  plugins/onex/hooks/lib/emit_ticket_status.py
  plugins/onex/hooks/lib/hook_event_logger.py
  plugins/onex/hooks/lib/metadata_extractor.py
  plugins/onex/hooks/lib/response_intelligence.py
  plugins/onex/hooks/lib/session_intelligence.py
  plugins/onex/skills/crash-recovery/list-pipelines
  pyproject.toml
  src/omniclaude/lib/intelligence_usage_tracker.py
  src/omniclaude/lib/manifest_injection_event_publisher.py
  src/omniclaude/lib/pattern_quality_scorer.py
  src/omniclaude/lib/utils/consensus/quorum.py
  src/omniclaude/lib/utils/pattern_tracker.py
  src/omniclaude/lib/utils/pattern_tracker_sync.py
  src/omniclaude/lib/utils/quality_enforcer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): revert docs-links to lychee — onex-validate-links not yet published [OMN-5118]
  .github/workflows/ci.yml
Due: check-local-paths

feat(trace): add correlation trace span emitter [OMN-5047] (#638)
  plugins/onex/hooks/lib/correlation_trace_emitter.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_correlation_trace_emitter.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ci): add repository_dispatch trigger for plugin pin cascade [OMN-5137]
  .github/workflows/release.yml
Due: check-local-paths

fix(hooks): eliminate 3s+ import overhead that broke all routing since March 5 [OMN-5138]
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/hooks/lib/secret_redactor.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): eliminate 3s+ import overhead that broke all routing since March 5 [OMN-5138] (#653)
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/hooks/lib/secret_redactor.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(hooks): remove legacy PostgreSQL hook_event_logger — Kafka is canonical [OMN-5139]
  plugins/onex/README.md
  plugins/onex/hooks/lib/action_logging_helpers.py
  plugins/onex/hooks/lib/config.py
  plugins/onex/hooks/lib/hook_event_logger.py
  plugins/onex/hooks/lib/log_hook_event.py
  plugins/onex/hooks/lib/response_intelligence.py
  plugins/onex/hooks/lib/session_intelligence.py
  plugins/onex/hooks/lib/track_intent.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(hooks): remove legacy PostgreSQL hook_event_logger — Kafka is canonical [OMN-5139] (#654)
  plugins/onex/README.md
  plugins/onex/hooks/lib/action_logging_helpers.py
  plugins/onex/hooks/lib/config.py
  plugins/onex/hooks/lib/hook_event_logger.py
  plugins/onex/hooks/lib/log_hook_event.py
  plugins/onex/hooks/lib/response_intelligence.py
  plugins/onex/hooks/lib/session_intelligence.py
  plugins/onex/hooks/lib/track_intent.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): checkout onex_change_control for version pin compliance [OMN-5132]
  .github/workflows/ci.yml
Due: check-local-paths

release: omniclaude v0.8.0
  plugins/onex/hooks/lib/hook_event_adapter.py
  pyproject.toml
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

release: omniclaude v0.8.0 (#656)
  plugins/onex/hooks/lib/hook_event_adapter.py
  pyproject.toml
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add omnidash restart phase to /redeploy and freshness check to /dashboard-sweep [OMN-5141]
  plugins/onex/skills/dashboard-sweep/prompt.md
  plugins/onex/skills/redeploy/prompt.md
Due: check-local-paths

feat: add DoD parser, evidence runner, and contract integration [OMN-5169][OMN-5170]
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  plugins/onex/skills/_lib/dod-parser/dod_parser.py
  plugins/onex/skills/generate-ticket-contract/prompt.md
  tests/lib/test_dod_evidence_runner.py
  tests/lib/test_dod_parser.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add DoD verification gate, audit wave, completion guard, and verify skill [OMN-5171][OMN-5172][OMN-5173][OMN-5174]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  plugins/onex/skills/dod-verify/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  tests/hooks/test_dod_completion_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add DoD enforcement policy graduation config [OMN-5175]
  plugins/onex/hooks/config/dod_enforcement.yaml
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
