Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(OMN-7981): re-enable hostile_reviewer skill with contract-driven routing
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/prompt.md
Due: check-local-paths

ci: block validation suppressions for OMN-11151 OMN-11154
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  tests/workflows/test_blocking_validation_workflows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(verify): document runtime health target
  plugins/onex/skills/verification_sweep/SKILL.md
Due: check-local-paths

fix(OMN-7981): update test assertion for skill version 6.0.0
  tests/unit/skills/test_hostile_reviewer_static_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-11271): enforce ## Infra Health section in handoff docs
  .github/workflows/handoff-infra-health-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-handoff-infra-health.sh
  tests/hooks/fixtures/handoff_infra_health/invalid_missing_section.md
  tests/hooks/fixtures/handoff_infra_health/non_handoff_doc.md
  tests/hooks/fixtures/handoff_infra_health/valid_with_section.md
  tests/hooks/test_check_handoff_infra_health.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-11271): add explicit read-only permissions to GHA workflow
  .github/workflows/handoff-infra-health-gate.yml
Due: check-local-paths

fix(OMN-10604): resolve merge conflict in delegate skill run.py
  tests/unit/hooks/lib/test_delegate_contract_resolution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-11271): skip reviewdog on merge queue
  .github/workflows/reviewdog-caller.yml
Due: check-local-paths

ci(OMN-11271): harden handoff infra health workflow
  .github/workflows/handoff-infra-health-gate.yml
Due: check-local-paths

fix(OMN-10604): fix AttributeError in delegation daemon classifier cache
  plugins/onex/hooks/lib/delegation_daemon.py
  tests/unit/hooks/lib/test_delegation_daemon.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10604): route delegate skill through omnimarket entry point
  plugins/onex/skills/delegate/_lib/run.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10604): restore --local in-process delegation path for demo
  plugins/onex/skills/delegate/_lib/run.py
  tests/delegation/test_e2e_inprocess_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-10604): align delegate skill contract tests
  tests/unit/hooks/lib/test_delegate_contract_resolution.py
  tests/unit/hooks/lib/test_delegate_shim_thin.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-10604): align delegate runtime dispatch expectation
  tests/unit/hooks/lib/test_delegate_kafka_publish.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-10604): align delegate local path tests
  tests/delegation/test_e2e_inprocess_wiring.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-10604): read transport config from contract in delegate skill
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_transport_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10604): reject non-string transport values
  tests/unit/hooks/lib/test_delegate_transport_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10604): ignore blank contract transport values
  tests/unit/hooks/lib/test_delegate_transport_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-9071): push cron fixture HEAD to main
  scripts/tests/test-cron-contract-verify.sh
Due: check-local-paths

ci(OMN-11291): restore reviewdog workflow pins
  .github/workflows/reviewdog-caller.yml
  .github/workflows/reviewdog-review.yml
Due: check-local-paths

fix(OMN-9107): register claim resolver hook overrides
  .env.allowlist
Due: check-local-paths

fix(OMN-11222): add repo-local deploy contract
  contracts/OMN-11222.yaml
Due: check-local-paths

fix(OMN-11221): add deploy gate contract evidence
  contracts/OMN-11221.yaml
Due: check-local-paths

fix(OMN-11221): align contract evidence schema
  contracts/OMN-11221.yaml
Due: check-local-paths

fix(OMN-10135): add cross-cli deploy evidence
  contracts/OMN-10135.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_cross_cli_invoker.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10135): align contract schema
  contracts/OMN-10135.yaml
Due: check-local-paths

fix(OMN-10135): preserve cross-cli diagnostics
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_cross_cli_invoker.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_result.py
  tests/unit/node_delegation_orchestrator/test_handler_cross_cli_invoker.py
  tests/unit/node_delegation_orchestrator/test_model_delegation_outcome_cli_fields.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10135): harden codex sandbox intent
  contracts/OMN-10135.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_cross_cli_invoker.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_command.py
  tests/unit/node_delegation_orchestrator/test_handler_cross_cli_invoker.py
  tests/unit/node_delegation_orchestrator/test_model_delegation_command.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10972): remove unused mypy ignores
  src/omniclaude/delegation/runner.py
  src/omniclaude/runtime/introspection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10972): materialize DoD evidence in CI
  .github/workflows/ci.yml
  scripts/materialize-dod-evidence-from-occ.sh
  tests/unit/test_dod_occ_materialization.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10717): register bifrost overlay path override
  .env.allowlist
Due: check-local-paths

fix(OMN-10717): write bifrost endpoint overlay
  scripts/install-delegation.sh
  src/omniclaude/delegation/bifrost_delegation.yaml
  src/omniclaude/delegation/runner.py
  tests/delegation/test_runner.py
  tests/scripts/test_install_delegation.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): repair omnibase-infra 0.36.0 bump
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-10475): remove redundant cast in _serialize_lock
  src/omniclaude/hooks/lib/epic_namespace.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-11346): release v0.24.0
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(OMN-11282): wire session phase enforcement hook
  plugins/onex/hooks/scripts/user_prompt_session_phase_enforcement.sh
  src/omniclaude/hooks/session_phase_enforcement.py
  tests/unit/hooks/test_session_phase_enforcement.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
