Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-19612): pin python and gate the precommit-suite cache step; make load_validator resolve _path_scope
  .github/workflows/ci.yml
  tests/unit/test_ci_enforcement_checks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19612): drop the precommit-suite cache step, the job's own pin forbids conditional steps
  .github/workflows/ci.yml
Due: check-local-paths

OMN-19612: scope local pre-commit validators in omniclaude (#2354)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  plugins/onex/hooks/scripts/pre-commit-no-inprocess-fallback.sh
  scripts/check_no_cloud_bus_wrapper.sh
  scripts/ci/check_workflow_expression_contexts.py
  scripts/ci/ci_summary_gate.py
  scripts/public_skill_hygiene_ratchet.yaml
  scripts/skill_monorepo_ref_patterns.json
  scripts/validate_no_env_fallbacks.py
  scripts/validation/_path_scope.py
  scripts/validation/validate_cost_ledger_isolation.py
  scripts/validation/validate_cost_ledger_structure.py
  scripts/validation/validate_kafka_env_fallbacks.py
  scripts/validation/validate_no_db_in_orchestrator.py
  scripts/validation/validate_no_direct_adapter_in_business_logic.py
  scripts/validation/validate_no_direct_bus_instantiation.py
  scripts/validation/validate_no_direct_kafka_producer.py
  scripts/validation/validate_no_git_outside_effects.py
  scripts/validation/validate_no_hardcoded_ip.py
  scripts/validation/validate_no_hardcoded_kafka_broker.py
  scripts/validation/validate_no_internal_ips.py
  scripts/validation/validate_no_linear_outside_effects.py
  scripts/validation/validate_no_raw_sqlite3.py
  scripts/validation/validate_no_repo_adapter_in_orchestrator.py
  scripts/validation/validate_no_utcnow.py
  tests/ci/test_precommit_suite_job_omn19612.py
  tests/ci/test_release_sync_main_shape.py
  tests/ci/test_workflow_expression_contexts_omn19612.py
  tests/hooks/test_plan_existence_gate_occ_exempt.py
  tests/hooks/test_plugin_deploy_readback.py
  tests/scripts/test_detect_secrets_ci_diff.py
  tests/scripts/test_kb_doc_gate.py
  tests/scripts/test_precommit_staged_scope_omn19612.py
  tests/scripts/test_public_repo_hygiene_gate.py
  tests/scripts/test_public_skill_hygiene_scope.py
  tests/unit/hooks/lib/test_preflight_reality_check.py
  tests/unit/test_ci_enforcement_checks.py
  tests/workflows/test_reusable_workflow_inner_checkouts.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19587): the installed gh shim hands read calls to gh_route.py, and tags each call with its lane (#2368)
  scripts/user-bin/gh
  scripts/user-bin/gh_usage_report.py
  scripts/user-bin/install-gh-shim.sh
  tests/scripts/test_gh_shim_read_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-19677): baselines can only shrink — omniclaude (#2359)
  .github/workflows/anti-growth-baseline-reusable.yml
  .pre-commit-hooks.yaml
  scripts/anti_growth_baseline.py
  scripts/anti_growth_baseline_hook
  tests/scripts/test_anti_growth_baseline.py
  tests/workflows/test_anti_growth_baseline_reusable_workflow.py
  tests/workflows/test_reusable_workflow_inner_checkouts.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16726): eight omniclaude reusables pin their self-checkout to a validated job.workflow_sha and assert HEAD (#2366)
  .github/workflows/advisory-job-gate-reusable.yml
  .github/workflows/branch-claim-check-reusable.yml
  .github/workflows/doctrine-claim-gate-reusable.yml
  .github/workflows/kb-doc-gate-reusable.yml
  .github/workflows/private-repo-runner-placement-reusable.yml
  .github/workflows/public-repo-hygiene-reusable.yml
  .github/workflows/runner-label-exists-reusable.yml
  .github/workflows/secrets-baseline-wiring-reusable.yml
  scripts/adopt_public_repo_hygiene_gate.py
  tests/workflows/test_private_repo_runner_placement_workflow.py
  tests/workflows/test_reusable_workflow_inner_checkouts.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19722): vendor the claim index so Branch Claim Gate stops tracking another repository's default branch
  .github/workflows/branch-claim-check-reusable.yml
  .github/workflows/branch-claim-gate.yml
  .github/workflows/ci.yml
  scripts/branch_claim.py
  scripts/claim_index.py
  scripts/hooks/pre-push-branch-claim
  scripts/lane_identity.py
  tests/scripts/test_branch_claim.py
  tests/scripts/test_branch_claim_hook.py
  tests/scripts/test_lane_identity_canary.py
  tests/test_ci_full_suite_ignores.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19513): one pydantic base per model and explicit secret-ok marks, for the pre-push gates
  scripts/generate_claude_hook_capture_fixtures.py
  src/omniclaude/hooks/model_claude_hook_event.py
  tests/unit/hooks/test_claude_hook_capture_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19722): vendor the claim index so Branch Claim Gate stops tracking another repository's default branch (#2369)
  .github/workflows/branch-claim-check-reusable.yml
  .github/workflows/branch-claim-gate.yml
  .github/workflows/ci.yml
  scripts/branch_claim.py
  scripts/claim_index.py
  scripts/hooks/pre-push-branch-claim
  scripts/lane_identity.py
  tests/scripts/test_branch_claim.py
  tests/scripts/test_branch_claim_hook.py
  tests/scripts/test_lane_identity_canary.py
  tests/test_ci_full_suite_ignores.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19513): every Claude Code hook journals one lineage-carrying hook.event
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/hook_claude_capture.py
  plugins/onex/hooks/lib/hook_inventory.py
  plugins/onex/hooks/lib/hook_turn_id.py
  plugins/onex/hooks/scripts/claude_hook_capture.sh
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/user_prompt_submit_bus_mirror.sh
  src/omniclaude/hooks/capture_redaction.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_hook_inventory.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_codex_hook_actor_envelope.py
  tests/unit/hooks/test_hook_claude_capture_omn19513.py
  tests/unit/hooks/test_post_tool_use_bus_mirror.py
  tests/unit/hooks/test_user_prompt_submit_bus_mirror.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19513): the lane contract holds hook.event back until its topic has a produce grant
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/hooks/lib/hook_claude_capture.py
  plugins/onex/hooks/lib/hook_edge_lane.py
  tests/unit/hooks/test_hook_claude_capture_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19537): SessionEnd hooks hand stdin to a detached copy before the preamble
  plugins/onex/hooks/scripts/claude_hook_capture.sh
  plugins/onex/hooks/scripts/session_end_bus_mirror.sh
  tests/unit/hooks/test_session_end_detach_omn19537.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19513): the registry gate reports an unregistered hook type instead of crashing; hook_fired_at crosses verbatim
  scripts/validation/check_registry_consistency.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  tests/hooks/test_registry_consistency_script_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19513): hook.event joins the client allowlist and topic allowlist; the capture honours quiet intent
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/claude_hook_capture.sh
  src/omniclaude/hooks/topic_allowlist.yaml
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-19513): activate hook.event capture now that its dev-lane produce grant exists
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  tests/unit/hooks/test_hook_claude_capture_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-19766): the public-repo hygiene gate refuses lab configuration, per class
  .github/workflows/public-repo-hygiene-reusable.yml
  .pre-commit-hooks.yaml
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
  tests/workflows/test_public_repo_hygiene_workflows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19399): one worktree's classification has a wall-clock budget, so a stuck tree is timed_out and the scan moves on
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune_classify_budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19399): _git keeps its signature; the budget reaches every worktree probe through _git_run
  scripts/worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19766): the public-repo hygiene gate refuses lab configuration, per class (#2373)
  .github/workflows/public-repo-hygiene-reusable.yml
  .pre-commit-hooks.yaml
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
  tests/workflows/test_public_repo_hygiene_workflows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19399): the budget line names only rows that landed timed_out
  scripts/worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

backup(OMN-19409): snapshot of omni_worktrees/OMN-18156/omniclaude-package-only-deploy-gate uncommitted state before worktree removal, 2026-09-26
  .github/actions/deploy-gate/package_only_classification.py
  .github/actions/deploy-gate/package_only_content_policy.py
  .github/actions/deploy-gate/package_only_deploy_gate.py
  .github/actions/deploy-gate/pr_manifest_snapshot.py
  tests/workflows/test_package_only_classification.py
  tests/workflows/test_package_only_content_policy.py
  tests/workflows/test_package_only_deploy_gate.py
  tests/workflows/test_pr_manifest_snapshot.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

backup(OMN-19409): snapshot of omni_worktrees/OMN-18156/omniclaude-package-only-dev-integration uncommitted state before worktree removal, 2026-09-26
  .github/actions/deploy-gate/action.yml
  .github/actions/deploy-gate/package_only_classification.py
  .github/actions/deploy-gate/package_only_content_policy.py
  .github/actions/deploy-gate/package_only_deploy_gate.py
  .github/actions/deploy-gate/pr_manifest_snapshot.py
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/deploy-gate.yml
  pyproject.toml
  tests/scripts/test_validate_pr_deploy_required.py
  tests/workflows/test_deploy_gate_reusable_workflow.py
  tests/workflows/test_package_only_classification.py
  tests/workflows/test_package_only_content_policy.py
  tests/workflows/test_package_only_deploy_gate.py
  tests/workflows/test_pr_manifest_snapshot.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

backup(OMN-19409): snapshot of omni_worktrees/OMN-18156/omniclaude-package-only-main-promotion uncommitted state before worktree removal, 2026-09-26
  .github/actions/deploy-gate/action.yml
  .github/actions/deploy-gate/package_only_classification.py
  .github/actions/deploy-gate/package_only_content_policy.py
  .github/actions/deploy-gate/package_only_deploy_gate.py
  .github/actions/deploy-gate/pr_manifest_snapshot.py
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/deploy-gate.yml
  .secrets.baseline
  pyproject.toml
  tests/scripts/test_validate_pr_deploy_required.py
  tests/workflows/test_deploy_gate_reusable_workflow.py
  tests/workflows/test_package_only_classification.py
  tests/workflows/test_package_only_content_policy.py
  tests/workflows/test_package_only_deploy_gate.py
  tests/workflows/test_pr_manifest_snapshot.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

backup(OMN-19409): snapshot of omni_worktrees/OMN-18156/omniclaude-package-only-wiring uncommitted state before worktree removal, 2026-09-26
  .github/actions/deploy-gate/action.yml
  .github/actions/deploy-gate/package_only_classification.py
  .github/actions/deploy-gate/package_only_content_policy.py
  .github/actions/deploy-gate/package_only_deploy_gate.py
  .github/actions/deploy-gate/pr_manifest_snapshot.py
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/deploy-gate.yml
  .secrets.baseline
  pyproject.toml
  tests/scripts/test_validate_pr_deploy_required.py
  tests/workflows/test_deploy_gate_reusable_workflow.py
  tests/workflows/test_package_only_classification.py
  tests/workflows/test_package_only_content_policy.py
  tests/workflows/test_package_only_deploy_gate.py
  tests/workflows/test_pr_manifest_snapshot.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19766): a hygiene caller pinned before the lab-config class runs every other class instead of exit 2
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

backup(OMN-19409): snapshot of omni_worktrees/OMN-18426/omniclaude-2189 uncommitted state before worktree removal, 2026-09-26
  .secrets.baseline
Due: none

fix(OMN-19766): a hygiene caller pinned before the lab-config class runs every other class instead of exit 2 (#2375)
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19820): the plugin hooks.json description names no private repository, internal knowledge-base prose, lab configuration or person
  plugins/onex/hooks/hooks.json
  scripts/public_skill_hygiene_ratchet.yaml
Due: check-local-paths

test(OMN-19551): build the synthetic PEM header from split literals
  tests/unit/hooks/test_hook_content_capture_omn19551.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19399): one worktree's classification has a wall-clock budget, so a stuck tree is timed_out and the prune moves on (#2374)
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune_classify_budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19835): the public-repo hygiene gate blocks the four internal-content classes on lines a pull request adds
  .github/workflows/public-repo-hygiene-reusable.yml
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-hooks.yaml
  .public-repo-hygiene.yaml
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
  tests/workflows/test_public_repo_hygiene_workflows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-19835): branch-run proof, an unrelated change stays green (do not merge)
  conftest.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-19835): branch-run proof, an added lab-config line goes red (do not merge)
  tests/scripts/fixtures/hygiene_added_line_proof.txt
Due: check-local-paths

feat(OMN-19835): the public-repo hygiene gate blocks the four internal-content classes on lines a pull request adds (#2378)
  .github/workflows/public-repo-hygiene-reusable.yml
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-hooks.yaml
  .public-repo-hygiene.yaml
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
  tests/workflows/test_public_repo_hygiene_workflows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-19837): private-network joins omniclaude's enforced hygiene classes
  .public-repo-hygiene.yaml
Due: check-local-paths

test(OMN-19837): assert the repo's own config enforces private-network too
  tests/scripts/test_public_repo_hygiene_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-19837): DO NOT MERGE, branch-run proof that an added lab address goes red
  tests/scripts/fixtures/hygiene_private_network_proof.txt
Due: check-local-paths

test(OMN-19837): DO NOT MERGE, branch-run proof that an unrelated change stays green
  conftest.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
