Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(OMN-15362): publish independent-verifier verdicts as OnexBot check-runs
  .github/workflows/verifier-stamp-reusable.yml
  .github/workflows/verifier-stamp-selftest.yml
  .secrets.baseline
Due: check-local-paths

test(OMN-15362): TEMPORARY red-drive jobs — prove fail-closed paths by execution
  .github/workflows/verifier-stamp-selftest.yml
Due: check-local-paths

test(OMN-15362): remove temporary red-drive jobs after capturing RED evidence
  .github/workflows/verifier-stamp-selftest.yml
Due: check-local-paths

feat(OMN-15362): publish independent-verifier verdicts as OnexBot-authored check-runs (#1961)
  .github/workflows/verifier-stamp-reusable.yml
  .github/workflows/verifier-stamp-selftest.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-15393): restore the OCC manual-replay precheck omniclaude never received
  scripts/ci/occ_manual_replay_precheck.py
  tests/workflows/test_occ_manual_replay_entrypoint.py
  tests/workflows/test_workflow_run_script_paths_exist.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15393): fail closed on malformed PR-state; assert precheck gets its arg
  .secrets.baseline
  scripts/ci/occ_manual_replay_precheck.py
  tests/workflows/test_occ_manual_replay_entrypoint.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15393): restore the OCC manual-replay precheck omniclaude never received (#1962)
  .secrets.baseline
  scripts/ci/occ_manual_replay_precheck.py
  tests/workflows/test_occ_manual_replay_entrypoint.py
  tests/workflows/test_workflow_run_script_paths_exist.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15393): wire the run:-script-path guard to the class it guards, and widen its matcher
  .pre-commit-config.yaml
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/ci/test_selection_loader.py
  tests/unit/test_smart_test_selection.py
  tests/workflows/test_workflow_run_script_paths_exist.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15393): wire the run:-script-path guard to the class it guards, and widen its matcher (#1963)
  .pre-commit-config.yaml
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/ci/test_selection_loader.py
  tests/unit/test_smart_test_selection.py
  tests/workflows/test_workflow_run_script_paths_exist.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15523): delete linear-close-on-merge.yml, the ungated Linear Done writer
  .github/workflows/linear-close-on-merge.yml
  .github/workflows/todo-audit-on-merge.yml
  tests/ci/test_omn_15373_no_ungated_linear_done_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15523): delete linear-close-on-merge.yml — ungated Linear Done writer, widest of the three copies (#1965)
  .github/workflows/linear-close-on-merge.yml
  .github/workflows/todo-audit-on-merge.yml
  tests/ci/test_omn_15373_no_ungated_linear_done_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15545): preflight status snapshot CLI
  .secrets.baseline
  plugins/onex/skills/status/SKILL.md
  tests/unit/skills/test_status_cli_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-15545): add status CLI preflight contract
  .secrets.baseline
  contracts/OMN-15545.yaml
Due: check-local-paths

fix(OMN-15545): align contract unit test command
  .secrets.baseline
  contracts/OMN-15545.yaml
Due: check-local-paths

fix(OMN-15545): preflight status snapshot CLI (#1966)
  .secrets.baseline
  contracts/OMN-15545.yaml
  plugins/onex/skills/status/SKILL.md
  tests/unit/skills/test_status_cli_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15446): align verification receipt skill contract
  plugins/onex/skills/verification_receipt_generator/SKILL.md
  tests/audit/test_omn_15446_verification_receipt_skill_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15446): add verification receipt contract
  contracts/OMN-15446.yaml
Due: check-local-paths

fix(verification): [OMN-15446] contract exact GitHub repository identity (#1964)
  contracts/OMN-15446.yaml
  plugins/onex/skills/verification_receipt_generator/SKILL.md
  tests/audit/test_omn_15446_verification_receipt_skill_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): [OMN-15600] alert delivery fails loudly on a dead channel
  .env.example
  .secrets.baseline
  contracts/OMN-15600.yaml
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/lib/hook_health_probe.py
  plugins/onex/hooks/scripts/alert-channel.sh
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/hook_health_alert/SKILL.md
  src/omniclaude/hooks/alert_channel.py
  src/omniclaude/hooks/hook_health_probe.py
  tests/unit/hooks/scripts/test_alert_call_sites_fail_loudly.py
  tests/unit/hooks/scripts/test_alert_channel_failloud.py
  tests/unit/hooks/scripts/test_notify_hook_degraded.py
  tests/unit/hooks/test_alert_channel_liveness.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): [OMN-15600] alert delivery fails loudly on a dead channel (#1967)
  .env.example
  .secrets.baseline
  contracts/OMN-15600.yaml
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/lib/hook_health_probe.py
  plugins/onex/hooks/scripts/alert-channel.sh
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/hook_health_alert/SKILL.md
  src/omniclaude/hooks/alert_channel.py
  src/omniclaude/hooks/hook_health_probe.py
  tests/unit/hooks/scripts/test_alert_call_sites_fail_loudly.py
  tests/unit/hooks/scripts/test_alert_channel_failloud.py
  tests/unit/hooks/scripts/test_notify_hook_degraded.py
  tests/unit/hooks/test_alert_channel_liveness.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): [OMN-15606] one hook-health probe, on the path that runs, failing loud
  .secrets.baseline
  contracts/OMN-15600.yaml
  contracts/OMN-15606.yaml
  plugins/onex/hooks/lib/hook_health_probe.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
  pyproject.toml
  src/omniclaude/hooks/alert_channel.py
  src/omniclaude/hooks/hook_health_probe.py
  src/omniclaude/hooks/lib/hook_health_probe.py
  tests/unit/hooks/scripts/test_session_start_probe_consumption.py
  tests/unit/hooks/test_probe_channel_fails_loud.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-15606): re-trigger occ-preflight against updated PR body
  .secrets.baseline
Due: none

chore(OMN-15606): re-trigger receipt gate after Evidence-Ticket added
  .secrets.baseline
Due: none

fix(OMN-15606): keep hook probe parser on real python
  .secrets.baseline
  plugins/onex/hooks/scripts/common.sh
Due: check-local-paths

fix(hooks): [OMN-15606] parse the probe verdict with PYTHON_CMD, not BREW_PY
  .secrets.baseline
  plugins/onex/hooks/scripts/common.sh
  tests/unit/hooks/scripts/test_session_start_probe_consumption.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): [OMN-15606] one hook-health probe, on the path that runs, failing loud (#1968)
  .secrets.baseline
  contracts/OMN-15600.yaml
  contracts/OMN-15606.yaml
  plugins/onex/hooks/lib/hook_health_probe.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
  pyproject.toml
  src/omniclaude/hooks/alert_channel.py
  src/omniclaude/hooks/hook_health_probe.py
  src/omniclaude/hooks/lib/hook_health_probe.py
  tests/unit/hooks/scripts/test_session_start_probe_consumption.py
  tests/unit/hooks/test_probe_channel_fails_loud.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): [OMN-15606] bind probe_alert_channel's own fail-open, de-vacuate the contract check
  .secrets.baseline
  contracts/OMN-15606.yaml
  tests/unit/hooks/test_probe_channel_fails_loud.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-15606): re-trigger occ-companion emitter for #1969
  .secrets.baseline
Due: none

chore(OMN-15606): re-trigger occ-companion emit after body de-triggered #1969
  .secrets.baseline
Due: none

chore(OMN-15606): re-run occ-preflight against merged companion OCC#5793
  .secrets.baseline
Due: none

fix(hooks): [OMN-15606] bind probe_alert_channel's own fail-open, de-vacuate the contract check (#1969)
  .secrets.baseline
  contracts/OMN-15606.yaml
  tests/unit/hooks/test_probe_channel_fails_loud.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: check-local-paths

chore(OMN-13902): refresh omninode sibling locks [bot] (#1972)
  uv.lock
Due: check-local-paths

chore(deps, OMN-13902): refresh omninode sibling locks [bot] (#1974)
  uv.lock
Due: check-local-paths

ci: keep dependabot workflow bumps mergeable
  .github/workflows/ci.yml
  .github/workflows/verifier-stamp-selftest.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-15025,OMN-15712): done-flip guard bare-#N false positives + attachment supersession
  .secrets.baseline
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-15712): scope citation-supersession carve-out to CLOSED-unmerged refs only
  .secrets.baseline
  plugins/onex/hooks/lib/done_flip_guard.py
  tests/hooks/test_done_flip_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
