Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(nodes): address pre-push hook violations in channel adapters [OMN-7190, OMN-7191]
  scripts/validation/validate_no_duplicate_models.py
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_slack_adapter/models/model_slack_config.py
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_inbound.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): fix numbered-list detection to match prompts starting with list items [OMN-7305]
  plugins/onex/hooks/lib/persona_signal_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(nodes): rename Slack config field to avoid secret-detection false positive [OMN-7190]
  src/omniclaude/nodes/node_channel_slack_adapter/models/model_slack_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(injection): wire session resume into context injection handler [OMN-7300]
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): register PERSONA_RETRIEVAL_URL and update ContextSource enum count test [OMN-3974]
  .env.allowlist
  tests/hooks/test_context_injection_schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(injection): wire session resume into context injection handler [OMN-7300]
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): register ONEX_AGENT_ID env var and update ContextSource test count [OMN-7300]
  scripts/validate_no_env_fallbacks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): reduce session-resume timeouts to 0.9s to respect 1s context-injection budget [OMN-7300]
  src/omniclaude/hooks/handler_context_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(nodes): address CodeRabbit review issues in channel adapters [OMN-7301]
  src/omniclaude/nodes/node_channel_email_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_email_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_slack_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_sms_adapter/handlers/handler_outbound.py
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_inbound.py
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_outbound.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add /build-loop skill for autonomous build loop [OMN-7322]
  plugins/onex/skills/build_loop/SKILL.md
  plugins/onex/skills/build_loop/topics.yaml
Due: check-local-paths

fix(ci): UP042 StrEnum + AsyncMock for Slack tests [OMN-7301]
  src/omniclaude/nodes/node_channel_telegram_adapter/handlers/handler_inbound.py
  tests/unit/nodes/node_channel_slack_adapter/test_handler_outbound.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): ruff format handler_context_injection.py [OMN-7300]
  src/omniclaude/hooks/handler_context_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(e2e): add OmniClaw proof-of-life end-to-end test [OMN-7195]
  tests/e2e/__init__.py
  tests/e2e/test_omniclaw_proof_of_life.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): remove Step N: headers to pass AI-Slop strict check [OMN-5113]
  plugins/onex/skills/build_loop/SKILL.md
Due: check-local-paths

feat(injection): wire session resume into context injection [OMN-7300] (#1078)
  scripts/validate_no_env_fallbacks.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add /build-loop skill [OMN-7322] (#1081)
  plugins/onex/skills/build_loop/SKILL.md
  plugins/onex/skills/build_loop/topics.yaml
Due: check-local-paths

feat: add session-start pre-flight staleness warning [OMN-7376]
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

feat(nodes): golden event chain validator — 4 ONEX nodes + skill [OMN-7356]
  plugins/onex/skills/close_out/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  src/omniclaude/nodes/contracts/node_golden_chain_payload_compute.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_publish_effect.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_status_reducer.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_sweep_orchestrator.yaml
  src/omniclaude/nodes/node_golden_chain_payload_compute/__init__.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/__init__.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/model_chain_result.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/model_sweep_summary.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/node.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/models/model_sweep_request.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
  tests/nodes/test_golden_chain_payload_compute.py
  tests/nodes/test_golden_chain_status_reducer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add wire schema contracts for session, prompt, tool events [OMN-7360]
  src/omniclaude/hooks/contracts/wire/prompt_submitted_v1.yaml
  src/omniclaude/hooks/contracts/wire/session_ended_v1.yaml
  src/omniclaude/hooks/contracts/wire/session_started_v1.yaml
  src/omniclaude/hooks/contracts/wire/tool_executed_v1.yaml
Due: check-local-paths

feat: wire Check 5+6 into compliance_sweep skill [OMN-7367]
  plugins/onex/skills/compliance_sweep/SKILL.md
  plugins/onex/skills/compliance_sweep/prompt.md
Due: check-local-paths

feat: enrich STOP hook payload with ChangeFrame data [OMN-7379]
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/stop.sh
Due: check-local-paths

feat: add session-start pre-flight staleness warning [OMN-7376] (#1083)
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

feat: enrich STOP hook payload with ChangeFrame data [OMN-7379] (#1087)
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/stop.sh
Due: check-local-paths

feat: add cron-buildloop.sh with delegation and friction logging [OMN-7400]
  scripts/cron-buildloop.sh
Due: check-local-paths

feat: add build-loop friction rules and delegation docs [OMN-7380, OMN-7382]
  plugins/onex/skills/build_loop/SKILL.md
  src/omniclaude/nodes/node_friction_observer_compute/contract.yaml
Due: check-local-paths

fix: update compliance_sweep version assertion to 1.1.0 [OMN-7367]
  tests/unit/skills/test_compliance_sweep.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(nodes): resolve CI failures in golden-chain validator [OMN-7356]
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: add CRITICAL severity to FrictionSeverity enum [OMN-7400]
  plugins/onex/skills/_shared/friction_classifier.py
  plugins/onex/skills/_shared/friction_recorder.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: wire Check 5+6 into compliance_sweep skill [OMN-7367] (#1086)
  plugins/onex/skills/compliance_sweep/SKILL.md
  plugins/onex/skills/compliance_sweep/prompt.md
  tests/unit/skills/test_compliance_sweep.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: wrap /delegate skill payload in ModelEventEnvelope for Kafka consumer [OMN-7040]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/skills/delegate/SKILL.md
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_registry.yaml
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: address CodeRabbit review threads [OMN-7356]
  src/omniclaude/nodes/contracts/node_golden_chain_payload_compute.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_publish_effect.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_status_reducer.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_sweep_orchestrator.yaml
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): resolve arch, bandit, format, and topic governance failures [OMN-7356]
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/model_chain_result.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/persist.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
  tests/nodes/test_golden_chain_payload_compute.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): add delegation.request to event registry expected types [OMN-7040]
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): add build-loop topics to TopicBase and fix invalid severity test [OMN-7400]
  src/omniclaude/hooks/topics.py
  tests/unit/skills/_shared/test_friction_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: wrap full evidence write block in try/except [OMN-7356]
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(delegate): check emit_event result and fix envelope comment [OMN-7040]
  plugins/onex/skills/delegate/SKILL.md
Due: check-local-paths

feat: add cron-buildloop.sh with delegation and friction [OMN-7400] (#1088)
  plugins/onex/skills/_shared/friction_classifier.py
  plugins/onex/skills/_shared/friction_recorder.py
  plugins/onex/skills/build_loop/SKILL.md
  scripts/cron-buildloop.sh
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_friction_observer_compute/contract.yaml
  tests/unit/skills/_shared/test_friction_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: wrap /delegate skill payload in ModelEventEnvelope [OMN-7040] (#1089)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/skills/delegate/SKILL.md
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_registry.yaml
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(lint): remove unused Path import from sweep orchestrator [OMN-7356]
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
