Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat: add hook runtime daemon async socket server [OMN-5306] (#677)
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: emit session-outcome.v1 with DoD/PR/commit enrichment [OMN-5201] (#674)
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix ruff formatting and add bandit nosec suppression in hook_runtime [OMN-5303]
  src/omniclaude/hook_runtime/delegation_state.py
  src/omniclaude/hook_runtime/protocol.py
  tests/unit/hook_runtime/test_delegation_state.py
  tests/unit/hook_runtime/test_protocol.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix ruff formatting and add bandit nosec suppression in hook_runtime [OMN-5303]
  src/omniclaude/hook_runtime/delegation_state.py
  src/omniclaude/hook_runtime/protocol.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_delegation_state.py
  tests/unit/hook_runtime/test_protocol.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix ruff formatting and add bandit nosec suppression in hook_runtime [OMN-5303]
  src/omniclaude/hook_runtime/__main__.py
  src/omniclaude/hook_runtime/delegation_state.py
  src/omniclaude/hook_runtime/protocol.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_delegation_state.py
  tests/unit/hook_runtime/test_launcher.py
  tests/unit/hook_runtime/test_protocol.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add hook runtime daemon socket protocol models [OMN-5304]
  src/omniclaude/hook_runtime/__init__.py
  src/omniclaude/hook_runtime/protocol.py
  tests/unit/hook_runtime/__init__.py
  tests/unit/hook_runtime/test_protocol.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix ruff formatting in hook runtime protocol files [OMN-5304]
  src/omniclaude/hook_runtime/protocol.py
  tests/unit/hook_runtime/test_protocol.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(pre-existing): fix ruff lint violations in dod_evidence_runner [OMN-5304]
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add hook runtime daemon async socket server [OMN-5306]
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add hook runtime daemon CLI entry point [OMN-5307]
  src/omniclaude/hook_runtime/__main__.py
  tests/unit/hook_runtime/test_launcher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add delegation state reducer with threshold enforcement [OMN-5305]
  src/omniclaude/hook_runtime/delegation_state.py
  tests/unit/hook_runtime/test_delegation_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test: add unit tests for HookRuntimeConfig.from_yaml config loading [OMN-5310]
  tests/unit/hook_runtime/test_config_loading.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: fix ruff formatting and add bandit nosec suppression in hook_runtime [OMN-5303]
  src/omniclaude/hook_runtime/__main__.py
  src/omniclaude/hook_runtime/delegation_state.py
  src/omniclaude/hook_runtime/protocol.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_config_loading.py
  tests/unit/hook_runtime/test_delegation_state.py
  tests/unit/hook_runtime/test_launcher.py
  tests/unit/hook_runtime/test_protocol.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test: add integration tests for hook runtime daemon lifecycle [OMN-5311]
  tests/integration/hook_runtime/__init__.py
  tests/integration/hook_runtime/test_daemon_lifecycle.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): add return path control PostToolUse hook [OMN-5238]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post_tool_use_return_path_auditor.sh
  src/omniclaude/hooks/handlers/__init__.py
  src/omniclaude/hooks/handlers/return_path_auditor.py
  tests/unit/hooks/handlers/__init__.py
  tests/unit/hooks/handlers/test_return_path_auditor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: load hook runtime daemon config from config.yaml [OMN-5310] (#680)
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  src/omniclaude/hook_runtime/__init__.py
  src/omniclaude/hook_runtime/__main__.py
  src/omniclaude/hook_runtime/delegation_state.py
  src/omniclaude/hook_runtime/protocol.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/__init__.py
  tests/unit/hook_runtime/test_config_loading.py
  tests/unit/hook_runtime/test_delegation_state.py
  tests/unit/hook_runtime/test_launcher.py
  tests/unit/hook_runtime/test_protocol.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): use TopicBase constants and fix ruff format in return_path_auditor [OMN-5238]
  src/omniclaude/hooks/handlers/return_path_auditor.py
  tests/unit/hooks/handlers/test_return_path_auditor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: launch hook runtime daemon from SessionStart [OMN-5309]
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

feat: wire hook scripts to runtime daemon with shell fallback [OMN-5308]
  plugins/onex/hooks/scripts/hook-runtime-client.sh
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
Due: check-local-paths

feat: wire EventBusInmemory into hook runtime server [OMN-5312]
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_event_bus_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

style: apply ruff format to context_scope_auditor files [OMN-5237]
  src/omniclaude/hooks/handlers/context_scope_auditor.py
  tests/unit/hooks/handlers/test_context_scope_auditor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add context scope audit PreToolUse hook [OMN-5237]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_context_scope_auditor.sh
  src/omniclaude/hooks/handlers/context_scope_auditor.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/lib/utils/token_counter.py
  tests/unit/hooks/handlers/test_context_scope_auditor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: wire hook scripts to runtime daemon with shell fallback [OMN-5308] (#683)
  plugins/onex/hooks/scripts/hook-runtime-client.sh
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
Due: check-local-paths

chore: apply ruff format to audit_dispatch_validator files [OMN-5236]
  src/omniclaude/hooks/handlers/audit_dispatch_validator.py
  tests/unit/hooks/handlers/test_audit_dispatch_validator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): enhance poly enforcer with contract binding validation [OMN-5236]
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
  src/omniclaude/hooks/handlers/audit_dispatch_validator.py
  tests/unit/hooks/handlers/test_audit_dispatch_validator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): address CodeRabbit Critical/Major findings in audit dispatch validator [OMN-5236]
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
  src/omniclaude/hooks/handlers/audit_dispatch_validator.py
  tests/unit/hooks/handlers/test_audit_dispatch_validator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: launch hook runtime daemon from SessionStart [OMN-5309] (#684)
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
Due: check-local-paths

feat: wire EventBusInmemory into hook runtime server [OMN-5312] (#682)
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_event_bus_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
