Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

bandit-security:
  name: bandit (staged files)
  entry: uv run bandit -c .bandit
  language: system
  stages:
  - pre-commit

mypy-typecheck:
  name: mypy (staged files)
  entry: uv run mypy --ignore-missing-imports
  language: system
  stages:
  - pre-commit

onex-validate:
  name: ONEX validation (staged files)
  entry: uv run python scripts/validate_onex.py
  language: system
  stages:
  - pre-commit

fix(hooks): resolve ONEX validation and duplicate model pre-commit failures
  src/omniclaude/nodes/node_agent_routing_compute/_internal/__init__.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/_types.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/confidence_scoring.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/routing_models/__init__.py
  src/omniclaude/nodes/routing_models/model_agent_definition.py
  src/omniclaude/nodes/routing_models/model_agent_routing_stats.py
  src/omniclaude/nodes/routing_models/model_agent_stats_entry.py
  src/omniclaude/nodes/routing_models/model_confidence_breakdown.py
  src/omniclaude/nodes/routing_models/model_emission_request.py
  src/omniclaude/nodes/routing_models/model_emission_result.py
  src/omniclaude/nodes/routing_models/model_routing_request.py
  src/omniclaude/nodes/routing_models/model_routing_result.py
  tests/nodes/test_routing_models/__init__.py
  tests/nodes/test_routing_models/test_models.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(hooks): resolve remaining pre-commit false positives
  scripts/validation/validate_no_duplicate_models.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] Idempotency guard, stricter severity regex, immutable artifacts
  src/omniclaude/lib/pipeline/fingerprint_engine.py
  src/omniclaude/lib/pipeline/models.py
  src/omniclaude/lib/pipeline/review_loop_controller.py
  tests/lib/pipeline/test_fingerprint_engine.py
  tests/lib/pipeline/test_models.py
  tests/lib/pipeline/test_review_loop_controller.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1991): correct subagent_type and document routing architecture
  CLAUDE.md
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/agents/polymorphic-agent.md
  plugins/onex/commands/ci-failures.md
  plugins/onex/commands/create-followup-tickets.md
  plugins/onex/commands/create-ticket.md
  plugins/onex/commands/deep-dive.md
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/commands/local-review.md
  plugins/onex/commands/parallel-solve.md
  plugins/onex/commands/plan-ticket.md
  plugins/onex/commands/plan-to-tickets.md
  plugins/onex/commands/project-status.md
  plugins/onex/commands/suggest-work.md
  plugins/onex/commands/ticket-audit.md
  plugins/onex/commands/ticket-pipeline.md
  plugins/onex/commands/ticket-update.md
  plugins/onex/commands/ticket-work.md
  plugins/onex/commands/ultimate_validate_command.md
  plugins/onex/commands/velocity-estimate.md
  plugins/onex/skills/agent-observability/SKILL.md
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/generate-node/SKILL.md
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/deep-dive
  plugins/onex/skills/linear/SKILL.md
  plugins/onex/skills/local-review/POLY_PROMPT.md
  plugins/onex/skills/subagent-driven-development/SKILL.md
Due: none

feat(OMN-1969): Add pipeline policy enforcement and issue fingerprinting (#105)
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  src/omniclaude/lib/pipeline/__init__.py
  src/omniclaude/lib/pipeline/fingerprint_engine.py
  src/omniclaude/lib/pipeline/models.py
  src/omniclaude/lib/pipeline/review_loop_controller.py
  tests/lib/pipeline/__init__.py
  tests/lib/pipeline/test_fingerprint_engine.py
  tests/lib/pipeline/test_models.py
  tests/lib/pipeline/test_review_loop_controller.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(deploy): update statusLine path in settings.json on version bump
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

fix(review): [major] delegate POLY_PROMPT to deploy.sh, fix stale skill reference
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/deploy-local-plugin/POLY_PROMPT.md
Due: none

feat(OMN-1928): Add P5 validation suite for ONEX routing node extraction
  tests/integration/test_onex_kafka_integration.py
  tests/routing/FEATURE_FLAG_ROLLOUT.md
  tests/routing/test_onex_golden_corpus.py
  tests/routing/test_performance_validation.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): address local review — frozen schemas, dedup outcome, input validation
  plugins/onex/hooks/lib/agent_accuracy_detector.py
  plugins/onex/hooks/lib/feedback_guardrails.py
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_agent_accuracy_detector.py
  tests/hooks/test_feedback_guardrails.py
  tests/nodes/test_routing_models/__init__.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] resolve statusline path, O(n^2) perf, and 5 minor issues
  plugins/onex/commands/ticket-work.md
  plugins/onex/skills/create-followup-tickets/POLY_PROMPT.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/plan-to-tickets/POLY_PROMPT.md
  plugins/onex/skills/ticket-audit/POLY_PROMPT.md
  plugins/onex/skills/ticket-pipeline/POLY_PROMPT.md
  plugins/onex/skills/ticket-work/POLY_PROMPT.md
Due: none

test(OMN-1928): add real-bus Kafka integration tests for ONEX routing emission
  tests/integration/test_onex_kafka_integration.py
  tests/integration/test_onex_kafka_real_bus.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] fix stale emit_client_wrapper import in ticket-pipeline
  plugins/onex/skills/ticket-pipeline/POLY_PROMPT.md
Due: none

fix(review): consolidate asyncio, tighten error markers, add cache TTL
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/session_outcome.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/confidence_scoring.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1928): skip performance benchmarks on CI runners
  tests/routing/test_performance_validation.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(OMN-1928): resolve mypy type errors and remove unused parameters in P5 tests
  tests/integration/test_onex_kafka_integration.py
  tests/integration/test_onex_kafka_real_bus.py
  tests/routing/test_onex_golden_corpus.py
  tests/routing/test_performance_validation.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [major] resolve all PR #104 review issues (38 fixes across 23 files)
  plugins/onex/README.md
  plugins/onex/commands/ci-failures.md
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/commands/local-review.md
  plugins/onex/commands/plan-ticket.md
  plugins/onex/commands/suggest-work.md
  plugins/onex/commands/ticket-audit.md
  plugins/onex/commands/ticket-update.md
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/skills/create-followup-tickets/POLY_PROMPT.md
  plugins/onex/skills/create-ticket/POLY_PROMPT.md
  plugins/onex/skills/deep-dive/POLY_PROMPT.md
  plugins/onex/skills/linear-insights/deep-dive
  plugins/onex/skills/plan-ticket/POLY_PROMPT.md
  plugins/onex/skills/plan-to-tickets/POLY_PROMPT.md
  plugins/onex/skills/project-status/POLY_PROMPT.md
  plugins/onex/skills/subagent-driven-development/SKILL.md
  plugins/onex/skills/suggest-work/POLY_PROMPT.md
  plugins/onex/skills/ticket-audit/POLY_PROMPT.md
  plugins/onex/skills/ticket-pipeline/POLY_PROMPT.md
  plugins/onex/skills/ticket-update/POLY_PROMPT.md
  plugins/onex/skills/ticket-work/POLY_PROMPT.md
  plugins/onex/skills/ultimate-validate/POLY_PROMPT.md
Due: none

fix(review): address CodeRabbit review issues on PR #102
  plugins/onex/hooks/lib/agent_accuracy_detector.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/session_outcome.py
  plugins/onex/hooks/scripts/session-end.sh
  scripts/validation/validate_no_duplicate_models.py
  tests/hooks/test_agent_accuracy_detector.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] fix stale emit_client_wrapper import in ticket-work
  plugins/onex/skills/ticket-work/POLY_PROMPT.md
Due: none

fix(review): [minor] tighten outcome field to Literal type on feedback payload
  src/omniclaude/hooks/schemas.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1928): address PR #106 review — enforce test guards and fix explicit-request routing
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  tests/routing/FEATURE_FLAG_ROLLOUT.md
  tests/routing/test_onex_golden_corpus.py
  tests/routing/test_performance_validation.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] clean up lint issues - invalid noqa, line length, unsorted __all__
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): resolve remaining PR #104 issues (25 fixes across 8 files)
  plugins/onex/commands/ci-failures.md
  plugins/onex/commands/ticket-update.md
  plugins/onex/skills/create-followup-tickets/POLY_PROMPT.md
  plugins/onex/skills/deep-dive/POLY_PROMPT.md
  plugins/onex/skills/ticket-pipeline/POLY_PROMPT.md
  plugins/onex/skills/ticket-update/POLY_PROMPT.md
  plugins/onex/skills/ticket-work/POLY_PROMPT.md
  plugins/onex/skills/ultimate-validate/POLY_PROMPT.md
Due: none

fix(OMN-1928): address local review — tighten assertions, fix race conditions, eliminate test pollution
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  tests/integration/test_onex_kafka_integration.py
  tests/integration/test_onex_kafka_real_bus.py
  tests/routing/test_onex_golden_corpus.py
  tests/routing/test_performance_validation.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): validate stdin JSON, tighten async timeout, document FAILED marker risk
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/lib/session_outcome.py
  plugins/onex/hooks/scripts/session-end.sh
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] consistent details dict shape on SKIP_INVALID_OUTCOME path, add hex false-positive test
  plugins/onex/hooks/lib/feedback_guardrails.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] immutable signals_used tuple, robust zero-count FAILED exclusion
  plugins/onex/hooks/lib/session_outcome.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] pre-compile completion markers, add input coercion logging
  plugins/onex/hooks/lib/session_outcome.py
  plugins/onex/hooks/scripts/session-end.sh
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] prevent _run_async from blocking on hung coroutine
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1928): ungate mock integration tests so they run in default pytest
  tests/conftest.py
  tests/integration/test_onex_kafka_integration.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

feat(statusline): add multi-session tab bar showing all active Claude Code tabs
  plugins/onex/hooks/scripts/register-tab.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/statusline.sh
Due: none

fix(statusline): read live branch from git instead of cached value
  plugins/onex/hooks/scripts/register-tab.sh
  plugins/onex/hooks/scripts/statusline.sh
Due: none

fix(statusline): use pipe delimiter to prevent empty field collapse
  plugins/onex/hooks/scripts/statusline.sh
Due: none

fix(review): [major] enforce async timeout at boundary, log jq stderr
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(statusline): add multi-session tab bar with live branch tracking
  plugins/onex/hooks/scripts/statusline.sh
Due: none

fix(statusline): self-register tabs and detect repo changes
  plugins/onex/hooks/scripts/statusline.sh
Due: none

fix(OMN-1928): resolve all ruff and mypy errors across codebase
  mypy.ini
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] fix register-tab path and stale comment in statusline
  plugins/onex/hooks/scripts/statusline.sh
Due: none

fix(review): [minor] replace Python with awk for duration conversion in session-end sync path
  plugins/onex/hooks/scripts/session-end.sh
Due: none

fix(review): [major] move DERIVED_OUTCOME off sync path, clamp negative durations
  plugins/onex/hooks/scripts/session-end.sh
Due: none

fix(statusline): use GUID-based tab lookup instead of current-tab AppleScript
  plugins/onex/hooks/scripts/register-tab.sh
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  ruff-fix: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  ruff-check: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
  mypy-typecheck: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  onex-validate: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
