Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

chore: remove stale omninode_bridge and internal IP references (#389)
  .env.example
  contracts/debug_loop/debug_stf_storage_effect.yaml
  contracts/debug_loop/error_success_mapping_reducer.yaml
  contracts/debug_loop/golden_state_manager_reducer.yaml
  contracts/debug_loop/model_price_catalog_effect.yaml
  plugins/onex/.env.example
  schemas/quirks/signal-detected.v1.yaml
  scripts/benchmark_manifest_performance.py
  scripts/ingest_all_repositories.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(consumers): use canonical DLQ topic name in agent-observability consumer [OMN-2959]
  consumers/agent_actions_consumer.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(consumers): use canonical DLQ topic name in agent-observability consumer [OMN-2959] (#390)
  consumers/agent_actions_consumer.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(routing-feedback): fold routing-feedback-skipped.v1 into routing-feedback.v1 [OMN-2622]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topic_registry.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_session_raw_outcome.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(skills): enforce polly-dispatch policy for all skill development work [OMN-2961]
  plugins/onex/skills/subagent-driven-development/SKILL.md
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/writing-skills/SKILL.md
Due: check-local-paths

docs(skills): enforce polly-dispatch policy for all skill development work [OMN-2961] (#392)
  plugins/onex/skills/subagent-driven-development/SKILL.md
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/writing-skills/SKILL.md
Due: check-local-paths

fix(routing): emit fuzzy comparison results synchronously in routing decision event [OMN-2962]
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(routing): emit fuzzy comparison results synchronously in routing decision event [OMN-2962] (#393)
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(golden-path): add feedback_status to routing.feedback fixture [OMN-2622]
  tests/integration/test_golden_path_harness.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(routing-feedback): address PR review issues [OMN-2622]
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_feedback_guardrails.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(pre-existing): fix pre-existing mypy strict errors in hooks subsystem
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/injection_limits.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): wire Stop hook for pattern learning trigger
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(routing-feedback): fold routing-feedback-skipped.v1 into routing-feedback.v1 [OMN-2622] (#391)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topic_registry.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_session_raw_outcome.py
  tests/integration/test_golden_path_harness.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): wire Stop hook for pattern learning trigger (#394)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(routing): disable Qwen3 thinking mode + raise max_tokens to 150 [LLM routing fallback fix]
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(routing): update max_tokens assertion to match raised limit of 150
  tests/routing/test_handler_routing_llm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(routing): only emit llm-routing-decision when LLM actually decided — suppress fallbacks
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(skills): standardize prompt.md separators from ==== to ---
  plugins/onex/skills/curate-legacy/prompt.md
  plugins/onex/skills/gap-analysis/prompt.md
  plugins/onex/skills/pr-polish/prompt.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

fix(routing): emit fallback event for LLM hallucination path [OMN-2920]
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(omniclaude): add AI-slop checker (Phase 2 rollout)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/check_ai_slop.py
  src/omniclaude/quirks/detectors/tier0/sycophancy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

style: apply ruff format to check_ai_slop.py [OMN-2972]
  scripts/validation/check_ai_slop.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(omniclaude): add AI-slop checker (Phase 2 rollout) (#396)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/check_ai_slop.py
  src/omniclaude/quirks/detectors/tier0/sycophancy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add generate-ticket-contract with prompt+validator architecture [OMN-2975]
  plugins/onex/skills/generate-ticket-contract/SKILL.md
  plugins/onex/skills/generate-ticket-contract/prompt.md
  plugins/onex/skills/generate-ticket-contract/validate_contract.py
  tests/unit/skills/test_generate_ticket_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): add check=False to subprocess.run calls in generate-ticket-contract tests [OMN-2975]
  plugins/onex/skills/generate-ticket-contract/validate_contract.py
  tests/unit/skills/test_generate_ticket_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ci): add arch-invariants quality gate using AST import scanning
  .github/workflows/ci.yml
  scripts/check_arch_invariants.py
  tests/unit/test_check_arch_invariants.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(routing): suppress fallback events from llm-routing-decision.v1 (#388)
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2975] feat(skills): add generate-ticket-contract skill (#397)
  plugins/onex/skills/generate-ticket-contract/SKILL.md
  plugins/onex/skills/generate-ticket-contract/prompt.md
  plugins/onex/skills/generate-ticket-contract/validate_contract.py
  tests/unit/skills/test_generate_ticket_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ci): add arch-invariants quality gate using AST import scanning (#398)
  .github/workflows/ci.yml
  scripts/check_arch_invariants.py
  tests/unit/test_check_arch_invariants.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add golden-path-validate with warm-subscribe and evidence artifacts
  plugins/onex/skills/golden-path-validate/SKILL.md
  plugins/onex/skills/golden-path-validate/run-golden-path
  plugins/onex/skills/golden_path_validate/__init__.py
  plugins/onex/skills/golden_path_validate/golden_path_runner.py
  tests/golden/.gitkeep
  tests/unit/skills/test_golden_path_validate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(pre-existing): suppress local-path-ok for pre-existing violations [OMN-2976]
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/release/prompt.md
  tests/hooks/test_static_context_snapshot.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

[OMN-2976] CDQA-02: golden-path-validate skill (#400)
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/golden-path-validate/SKILL.md
  plugins/onex/skills/golden-path-validate/run-golden-path
  plugins/onex/skills/golden_path_validate/__init__.py
  plugins/onex/skills/golden_path_validate/golden_path_runner.py
  plugins/onex/skills/release/prompt.md
  tests/golden/.gitkeep
  tests/hooks/test_static_context_snapshot.py
  tests/unit/skills/test_golden_path_validate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(skills): standardize prompt.md separators from ==== to --- (#399)
  plugins/onex/skills/curate-legacy/prompt.md
  plugins/onex/skills/gap-analysis/prompt.md
  plugins/onex/skills/pr-polish/prompt.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

feat(skills): wire generate-ticket-contract into plan-ticket and plan-to-tickets for all tickets
  plugins/onex/skills/plan-ticket/SKILL.md
  plugins/onex/skills/plan-ticket/prompt.md
  plugins/onex/skills/plan-to-tickets/SKILL.md
Due: check-local-paths

feat(skills): add contract-compliance-check with origin/main baseline and emergency_bypass
  plugins/onex/skills/contract-compliance-check/SKILL.md
  plugins/onex/skills/contract-compliance-check/prompt.md
Due: check-local-paths

feat(skills): wire generate-ticket-contract into plan-ticket and plan-to-tickets for all tickets (#401)
  plugins/onex/skills/plan-ticket/SKILL.md
  plugins/onex/skills/plan-ticket/prompt.md
  plugins/onex/skills/plan-to-tickets/SKILL.md
Due: check-local-paths

feat(skills): add contract-compliance-check with origin/main baseline and emergency_bypass (#402)
  plugins/onex/skills/contract-compliance-check/SKILL.md
  plugins/onex/skills/contract-compliance-check/prompt.md
Due: check-local-paths

feat(skills): add close-day — ModelDayClose generation sharing arch-invariants script
  plugins/onex/skills/close-day/SKILL.md
  plugins/onex/skills/close-day/close_day.py
  plugins/onex/skills/close-day/prompt.md
  scripts/validation/check_ai_slop.py
  tests/unit/skills/close_day/__init__.py
  tests/unit/skills/test_close_day.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): remove unused type: ignore in test_close_day.py (mypy)
  tests/unit/skills/test_close_day.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(contracts): declare OMNICLAUDE_CONTRACTS_ROOT in runtime service contract [OMN-2990]
  src/omniclaude/contracts/contract_omniclaude_runtime.yaml
  tests/unit/contracts/__init__.py
  tests/unit/contracts/test_contract_omniclaude_runtime.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skills): wire contract gates into pr-review and verification-before-completion [OMN-2982]
  plugins/onex/skills/pr-review/SKILL.md
  plugins/onex/skills/verification-before-completion/SKILL.md
Due: check-local-paths
