Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-10386): add ticket contract title
  contracts/OMN-10386.yaml
Due: check-local-paths

fix(OMN-10386): harden dispatch completion cost parsing
  src/omniclaude/runtime/wiring_dispatchers.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10370): add PostToolUse PRM trajectory hook
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post_tool_use_trajectory.sh
  src/omniclaude/hooks/post_tool_use_trajectory.py
  tests/hooks/test_post_tool_use_trajectory.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10370): add ONEX_EXCLUDE suppressions for Any/dict[str,Any] in hook
  src/omniclaude/hooks/post_tool_use_trajectory.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10370): use _Envelope alias + correct ONEX_EXCLUDE placement
  src/omniclaude/hooks/post_tool_use_trajectory.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10386): keep dispatch cost payload local
  plugins/onex/skills/_lib/generate_ticket_contract/validate_contract.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/shared/models/model_skill_completion_event.py
  tests/unit/nodes/test_skill_node_coverage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add hook-bits-drift pre-commit check + generated hook_bits.sh [OMN-9615]
  .pre-commit-config.yaml
  plugins/onex/hooks/lib/hook_bits.sh
Due: check-local-paths

chore(skills): retire deprecated session shims
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/begin_day/prompt.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/overnight/prompt.md
  scripts/validation/validate_deterministic_skill_routing.py
  tests/unit/hooks/scripts/test_post_skill_delegation_enforcer.py
  tests/unit/skills/test_overnight_shim.py
  tests/unit/skills/test_retired_skill_surfaces.py
  tests/validation/test_validate_deterministic_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-9075): add skill aspiration claim gate
  .github/workflows/validate-skill-aspiration.yml
  .pre-commit-config.yaml
  plugins/onex/skills/_lib/validate_skill_aspiration.py
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/integration_sweep/SKILL.md
  scripts/extract_skill_claims.py
  scripts/validation/validate_skill_aspiration.py
  tests/unit/skills/_lib/test_validate_skill_aspiration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10411): wire verify/verify receipt-gate caller workflow
  .github/workflows/call-receipt-gate.yml
Due: check-local-paths

feat(OMN-10414): extend pre-commit hook to explicitly reject skip-receipt-gate tokens
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-deploy-gate-skip-token.sh
  tests/hooks/fixtures/skip_token/accept_clean_pr_body.md
  tests/hooks/fixtures/skip_token/accept_skip_receipt_gate_with_allowlist.md
  tests/hooks/fixtures/skip_token/reject_skip_deploy_gate_bare.md
  tests/hooks/fixtures/skip_token/reject_skip_receipt_gate_free_text.md
  tests/hooks/test_reject_skip_token_hook.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-9428): preserve retired shim arg parity
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/overnight/prompt.md
Due: check-local-paths

docs(OMN-10426): replace misleading stub comment in bus_audit shim
  plugins/onex/skills/bus_audit/SKILL.md
Due: check-local-paths

docs(OMN-10425): document DurableEvidenceGate in dod_verify SKILL.md
  plugins/onex/skills/dod_verify/SKILL.md
Due: check-local-paths

refactor(OMN-10428): convert agent_healthcheck shim to dispatch-only
  plugins/onex/skills/agent_healthcheck/SKILL.md
Due: check-local-paths

docs(OMN-10427): clarify stub state and remove broken path in gap shim
  plugins/onex/skills/gap/SKILL.md
Due: check-local-paths

feat(OMN-10429): add verification_receipt_generator shim
  plugins/onex/skills/verification_receipt_generator/SKILL.md
  src/omniclaude/nodes/node_skill_verification_receipt_generator_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_verification_receipt_generator_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_verification_receipt_generator_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-10430): fix integration_sweep migration_target field
  plugins/onex/skills/integration_sweep/SKILL.md
Due: check-local-paths

feat(OMN-10432): add two_strike_arbiter shim
  plugins/onex/skills/two_strike_arbiter/SKILL.md
  src/omniclaude/nodes/node_skill_two_strike_arbiter_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_two_strike_arbiter_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_two_strike_arbiter_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-10431): convert duplication_sweep shim to dispatch-only
  plugins/onex/skills/duplication_sweep/SKILL.md
Due: check-local-paths

feat(OMN-10433): add dispatch_queue_drainer shim
  plugins/onex/skills/dispatch_queue_drainer/SKILL.md
  src/omniclaude/nodes/node_skill_dispatch_queue_drainer_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_dispatch_queue_drainer_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_dispatch_queue_drainer_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-10429): add deploy evidence contract
  contracts/OMN-10429.yaml
Due: check-local-paths

docs(OMN-10432): add deploy evidence contract
  contracts/OMN-10432.yaml
Due: check-local-paths

docs(OMN-10433): add deploy evidence contract
  contracts/OMN-10433.yaml
Due: check-local-paths

fix(OMN-10432): address CodeRabbit contract comments
  contracts/OMN-10432.yaml
  src/omniclaude/nodes/node_skill_two_strike_arbiter_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-10429): address contract validation threads
  contracts/OMN-10429.yaml
  src/omniclaude/nodes/node_skill_verification_receipt_generator_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-10433): satisfy contract and coderabbit gates
  contracts/OMN-10433.yaml
  plugins/onex/skills/dispatch_queue_drainer/SKILL.md
  src/omniclaude/nodes/node_skill_dispatch_queue_drainer_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-10432): satisfy contract and deploy gates
  contracts/OMN-10432.yaml
Due: check-local-paths

fix(OMN-10429): preserve deploy gate evidence token
  contracts/OMN-10429.yaml
Due: check-local-paths

fix(OMN-10428): preserve healthcheck recovery contract
  plugins/onex/skills/agent_healthcheck/SKILL.md
Due: check-local-paths

fix(OMN-10431): remove OMNI_HOME from duplication sweep skill
  plugins/onex/skills/duplication_sweep/SKILL.md
Due: check-local-paths

docs(OMN-10428): use canonical node dispatch command
  plugins/onex/skills/agent_healthcheck/SKILL.md
Due: check-local-paths

fix(OMN-10431): align duplication sweep compat metadata
  plugins/onex/plugin-compat.yaml
  plugins/onex/skills/duplication_sweep/SKILL.md
Due: check-local-paths

fix(OMN-9617): source portable hook gate helper
  plugins/onex/hooks/lib/hook_bits.sh
  plugins/onex/hooks/post-tool-use-ci-reminder.sh
  plugins/onex/hooks/post-tool-use-ruff.sh
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/epic_postaction_gate.sh
  plugins/onex/hooks/scripts/epic_preflight_gate.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/file-path-convention-inject.sh
  plugins/onex/hooks/scripts/hook-gate.sh
  plugins/onex/hooks/scripts/post-tool-use-test-reminder.sh
  plugins/onex/hooks/scripts/post_tool_use_auto_checkpoint.sh
  plugins/onex/hooks/scripts/post_tool_use_auto_hostile_review.sh
  plugins/onex/hooks/scripts/post_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/post_tool_use_commit_verify.sh
  plugins/onex/hooks/scripts/post_tool_use_env_var_sync.sh
  plugins/onex/hooks/scripts/post_tool_use_state_verify.sh
  plugins/onex/hooks/scripts/post_tool_use_subagent_tool_log.sh
  plugins/onex/hooks/scripts/post_tool_use_tsc_check.sh
  plugins/onex/hooks/scripts/pre_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_plan_existence_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_scope_gate.sh
  plugins/onex/hooks/scripts/session_start_onex_cli_pin_check.sh
  plugins/onex/hooks/scripts/user_prompt_structured_handoff_nudge.sh
Due: check-local-paths

fix(hooks): load bitmask gates before checks
  plugins/onex/hooks/scripts/hook_idle_notification_ratelimit.sh
  plugins/onex/hooks/scripts/pre_tool_use_sweep_preflight.sh
  plugins/onex/hooks/scripts/pre_tool_use_team_lead_guard.sh
Due: check-local-paths

feat(OMN-10387): register dispatch outcome evaluated topic
  src/omniclaude/hooks/topics.py
  tests/unit/hooks/test_topics_dispatch_outcome_evaluated.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10387): satisfy topic governance in split tests
  plugins/onex/skills/_lib/generate_ticket_contract/validate_contract.py
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10053): route readiness skills to module runner
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/platform_readiness/SKILL.md
  plugins/onex/skills/platform_readiness/prompt.md
  plugins/onex/skills/verification_receipt_generator/SKILL.md
Due: check-local-paths

test(OMN-10053): align readiness shim contract
  tests/unit/skills/test_platform_readiness_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
