Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

bandit-security:
  name: bandit (staged files)
  entry: uv run bandit -c .bandit
  language: system
  stages:
  - pre-commit

mypy-typecheck:
  name: mypy (staged files)
  entry: uv run mypy --ignore-missing-imports
  language: system
  stages:
  - pre-commit

onex-validate:
  name: ONEX validation (staged files)
  entry: uv run python scripts/validate_onex.py
  language: system
  stages:
  - pre-commit

fix(review): [minor] timezone validation on snapshot_at
  src/omniclaude/nodes/node_routing_history_reducer/models/model_agent_routing_stats.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] direct unit tests for _internal/ modules
  tests/routing/test_internal.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] timezone validation + async lock + cross-node docs
  src/omniclaude/nodes/node_agent_routing_compute/models/model_routing_request.py
  src/omniclaude/nodes/node_routing_history_reducer/handler_history_postgres.py
  src/omniclaude/nodes/node_routing_history_reducer/models/model_agent_stats_entry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1926): Extract agent routing to ONEX nodes (P1+P2+P3) (#100)
  src/omniclaude/nodes/node_agent_routing_compute/__init__.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/__init__.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/confidence_scoring.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  src/omniclaude/nodes/node_agent_routing_compute/contract.yaml
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_agent_routing_compute/models/__init__.py
  src/omniclaude/nodes/node_agent_routing_compute/models/model_agent_definition.py
  src/omniclaude/nodes/node_agent_routing_compute/models/model_confidence_breakdown.py
  src/omniclaude/nodes/node_agent_routing_compute/models/model_routing_request.py
  src/omniclaude/nodes/node_agent_routing_compute/models/model_routing_result.py
  src/omniclaude/nodes/node_agent_routing_compute/node.py
  src/omniclaude/nodes/node_agent_routing_compute/protocols/__init__.py
  src/omniclaude/nodes/node_agent_routing_compute/protocols/protocol_agent_routing.py
  src/omniclaude/nodes/node_routing_emission_effect/__init__.py
  src/omniclaude/nodes/node_routing_emission_effect/contract.yaml
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
  src/omniclaude/nodes/node_routing_emission_effect/models/__init__.py
  src/omniclaude/nodes/node_routing_emission_effect/models/model_emission_request.py
  src/omniclaude/nodes/node_routing_emission_effect/models/model_emission_result.py
  src/omniclaude/nodes/node_routing_emission_effect/node.py
  src/omniclaude/nodes/node_routing_emission_effect/protocols/__init__.py
  src/omniclaude/nodes/node_routing_emission_effect/protocols/protocol_routing_emitter.py
  src/omniclaude/nodes/node_routing_history_reducer/__init__.py
  src/omniclaude/nodes/node_routing_history_reducer/contract.yaml
  src/omniclaude/nodes/node_routing_history_reducer/handler_history_postgres.py
  src/omniclaude/nodes/node_routing_history_reducer/models/__init__.py
  src/omniclaude/nodes/node_routing_history_reducer/models/model_agent_routing_stats.py
  src/omniclaude/nodes/node_routing_history_reducer/models/model_agent_stats_entry.py
  src/omniclaude/nodes/node_routing_history_reducer/node.py
  src/omniclaude/nodes/node_routing_history_reducer/protocols/__init__.py
  src/omniclaude/nodes/node_routing_history_reducer/protocols/protocol_history_store.py
  tests/routing/test_handlers.py
  tests/routing/test_internal.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1926): post-merge cleanup — dead param, unbounded store, redundant var
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_routing_history_reducer/handler_history_postgres.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] word boundary on explicit agent pattern + async emit
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1924): address PR #99 review feedback
  src/omniclaude/nodes/routing_models/model_routing_request.py
  tests/nodes/test_routing_models/test_models.py
  tests/routing/conftest.py
  tests/routing/generate_corpus.py
  tests/routing/test_regression_harness.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] add test for per-agent store eviction
  tests/routing/test_handlers.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(review): [minor] use monkeypatch for test isolation (xdist-safe)
  tests/routing/test_handlers.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

feat(OMN-1924): add strongly-typed routing models (P1) (#99)
  src/omniclaude/nodes/routing_models/__init__.py
  src/omniclaude/nodes/routing_models/model_agent_definition.py
  src/omniclaude/nodes/routing_models/model_agent_routing_stats.py
  src/omniclaude/nodes/routing_models/model_agent_stats_entry.py
  src/omniclaude/nodes/routing_models/model_confidence_breakdown.py
  src/omniclaude/nodes/routing_models/model_emission_request.py
  src/omniclaude/nodes/routing_models/model_emission_result.py
  src/omniclaude/nodes/routing_models/model_routing_request.py
  src/omniclaude/nodes/routing_models/model_routing_result.py
  tests/nodes/test_routing_models/__init__.py
  tests/nodes/test_routing_models/test_models.py
  tests/routing/conftest.py
  tests/routing/generate_corpus.py
  tests/routing/test_regression_harness.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1926): post-merge cleanup — dead param, unbounded store, redundant var (#101)
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/node_routing_emission_effect/handler_routing_emitter.py
  src/omniclaude/nodes/node_routing_history_reducer/handler_history_postgres.py
  tests/routing/test_handlers.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1927): update wrapper to call ONEX routing nodes
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/config/settings.py
  tests/lib/core/test_onex_routing_nodes.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1892): add feedback loop with guardrails for routing reinforcement
  plugins/onex/hooks/lib/agent_accuracy_detector.py
  plugins/onex/hooks/lib/feedback_guardrails.py
  plugins/onex/hooks/lib/session_outcome.py
  plugins/onex/hooks/scripts/session-end.sh
  tests/hooks/test_agent_accuracy_detector.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] improve ONEX routing error logging and path validation
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): address critical/major/minor issues from local review
  plugins/onex/hooks/lib/agent_accuracy_detector.py
  plugins/onex/hooks/lib/feedback_guardrails.py
  plugins/onex/hooks/lib/session_outcome.py
  plugins/onex/hooks/scripts/session-end.sh
  tests/hooks/test_agent_accuracy_detector.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): address major/minor issues from review iteration 2
  plugins/onex/hooks/lib/agent_accuracy_detector.py
  plugins/onex/hooks/lib/feedback_guardrails.py
  plugins/onex/hooks/lib/session_outcome.py
  tests/hooks/test_agent_accuracy_detector.py
  tests/hooks/test_feedback_guardrails.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1927): eliminate duplicate model files in routing_models/
  scripts/validation/validate_no_duplicate_models.py
  src/omniclaude/nodes/routing_models/__init__.py
  src/omniclaude/nodes/routing_models/model_agent_definition.py
  src/omniclaude/nodes/routing_models/model_agent_routing_stats.py
  src/omniclaude/nodes/routing_models/model_agent_stats_entry.py
  src/omniclaude/nodes/routing_models/model_confidence_breakdown.py
  src/omniclaude/nodes/routing_models/model_emission_request.py
  src/omniclaude/nodes/routing_models/model_emission_result.py
  src/omniclaude/nodes/routing_models/model_routing_request.py
  src/omniclaude/nodes/routing_models/model_routing_result.py
  tests/nodes/test_routing_models/test_models.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1927): replace dict[str, Any] with TypedDicts in routing internals
  src/omniclaude/nodes/node_agent_routing_compute/_internal/__init__.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/confidence_scoring.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] remove invalid noqa directive on trigger_matching.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] register routing feedback event types in emit pipeline
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1991): Phase 0-2 — cleanup deletions and statusline update
  plugins/onex/commands/pr-review-dev.md
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/skills/pr-review/SKILL.md
  plugins/onex/skills/pr-review/pr-dev-review-wrapper
  plugins/onex/skills/pr-review/pr-quick-review
  plugins/onex/skills/pr-review/pr-review-production
  plugins/onex/skills/pr-review/pr-review-v2
  plugins/onex/skills/receiving-code-review/SKILL.md
  plugins/onex/skills/requesting-code-review/SKILL.md
  plugins/onex/skills/requesting-code-review/code-reviewer.md
Due: none

fix(review): [minor] add SESSION_ID validation to feedback guardrail subshell
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [major] atomic handler init and timeout-before-emission
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_onex_routing_nodes.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1991): Phase 3 Batch 1+2 — poly-first command conversions
  plugins/onex/commands/ci-failures.md
  plugins/onex/commands/deep-dive.md
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/commands/plan-ticket.md
  plugins/onex/commands/project-status.md
  plugins/onex/commands/suggest-work.md
  plugins/onex/commands/ultimate_validate_command.md
  plugins/onex/commands/velocity-estimate.md
  plugins/onex/skills/ci-failures/POLY_PROMPT.md
  plugins/onex/skills/deep-dive/POLY_PROMPT.md
  plugins/onex/skills/deploy-local-plugin/POLY_PROMPT.md
  plugins/onex/skills/plan-ticket/POLY_PROMPT.md
  plugins/onex/skills/project-status/POLY_PROMPT.md
  plugins/onex/skills/suggest-work/POLY_PROMPT.md
  plugins/onex/skills/ultimate-validate/POLY_PROMPT.md
  plugins/onex/skills/velocity-estimate/POLY_PROMPT.md
Due: none

fix(review): [minor] assign sentinel last in double-checked locking
  plugins/onex/hooks/lib/route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] bypass false-positive secret detection on _TECHNICAL_TOKENS
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

style: apply ruff format to test files failing CI checks
  tests/hooks/test_agent_accuracy_detector.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

feat(OMN-1991): Phase 3 Batch 3+4 — local-review and ticket commands
  plugins/onex/commands/create-followup-tickets.md
  plugins/onex/commands/create-ticket.md
  plugins/onex/commands/local-review.md
  plugins/onex/commands/plan-to-tickets.md
  plugins/onex/skills/create-followup-tickets/POLY_PROMPT.md
  plugins/onex/skills/create-ticket/POLY_PROMPT.md
  plugins/onex/skills/local-review/POLY_PROMPT.md
  plugins/onex/skills/plan-to-tickets/POLY_PROMPT.md
Due: none

style: replace dict() calls with dict literals (C408)
  tests/hooks/test_agent_accuracy_detector.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_session_outcome.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

feat(OMN-1991): Phase 3 Batch 5+6 — phased dispatch and new commands
  plugins/onex/commands/ticket-audit.md
  plugins/onex/commands/ticket-pipeline.md
  plugins/onex/commands/ticket-update.md
  plugins/onex/commands/ticket-work.md
  plugins/onex/skills/ticket-audit/POLY_PROMPT.md
  plugins/onex/skills/ticket-pipeline/POLY_PROMPT.md
  plugins/onex/skills/ticket-update/POLY_PROMPT.md
  plugins/onex/skills/ticket-work/POLY_PROMPT.md
Due: none

feat(OMN-1927): ONEX routing nodes in wrapper (P4) (#103)
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  scripts/validation/validate_no_duplicate_models.py
  src/omniclaude/config/settings.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/__init__.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/confidence_scoring.py
  src/omniclaude/nodes/node_agent_routing_compute/_internal/trigger_matching.py
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_default.py
  src/omniclaude/nodes/routing_models/__init__.py
  src/omniclaude/nodes/routing_models/model_agent_definition.py
  src/omniclaude/nodes/routing_models/model_agent_routing_stats.py
  src/omniclaude/nodes/routing_models/model_agent_stats_entry.py
  src/omniclaude/nodes/routing_models/model_confidence_breakdown.py
  src/omniclaude/nodes/routing_models/model_emission_request.py
  src/omniclaude/nodes/routing_models/model_emission_result.py
  src/omniclaude/nodes/routing_models/model_routing_request.py
  src/omniclaude/nodes/routing_models/model_routing_result.py
  tests/lib/core/test_onex_routing_nodes.py
  tests/nodes/test_routing_models/test_models.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): standardize subagent_type to onex:polymorphic-agent
  plugins/onex/commands/ci-failures.md
  plugins/onex/commands/create-followup-tickets.md
  plugins/onex/commands/create-ticket.md
  plugins/onex/commands/deep-dive.md
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/commands/local-review.md
  plugins/onex/commands/plan-ticket.md
  plugins/onex/commands/plan-to-tickets.md
  plugins/onex/commands/project-status.md
  plugins/onex/commands/suggest-work.md
  plugins/onex/commands/ultimate_validate_command.md
  plugins/onex/commands/velocity-estimate.md
Due: none

feat(OMN-1969): Add pipeline policy enforcement and issue fingerprinting
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  src/omniclaude/lib/pipeline/__init__.py
  src/omniclaude/lib/pipeline/fingerprint_engine.py
  src/omniclaude/lib/pipeline/models.py
  src/omniclaude/lib/pipeline/review_loop_controller.py
  tests/lib/pipeline/__init__.py
  tests/lib/pipeline/test_fingerprint_engine.py
  tests/lib/pipeline/test_models.py
  tests/lib/pipeline/test_review_loop_controller.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] rename misleading SKIP_LOW_UTILIZATION_AND_ACCURACY constant
  plugins/onex/hooks/lib/feedback_guardrails.py
  tests/hooks/test_feedback_guardrails.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): remove dangling references to deleted files
  plugins/onex/README.md
  plugins/onex/agents/polymorphic-agent.md
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/create-followup-tickets/POLY_PROMPT.md
  plugins/onex/skills/create-followup-tickets/SKILL.md
  plugins/onex/skills/local-review/POLY_PROMPT.md
  plugins/onex/skills/subagent-driven-development/SKILL.md
Due: none

fix(review): [minor] Fix lstrip gotcha, missing export, and assertion-less test
  src/omniclaude/lib/pipeline/__init__.py
  src/omniclaude/lib/pipeline/fingerprint_engine.py
  tests/lib/pipeline/test_review_loop_controller.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): remove remaining dangling references
  CLAUDE.md
  plugins/onex/.claude/README.md
  plugins/onex/agents/polymorphic-agent.md
  plugins/onex/skills/subagent-driven-development/SKILL.md
Due: none

fix(review): [minor] restore correct AND in docstring gate 3 description
  plugins/onex/hooks/lib/feedback_guardrails.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): [minor] fix misleading docstring about case sensitivity
  plugins/onex/hooks/lib/agent_accuracy_detector.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(review): address PR #102 feedback — outcome gates, jq hardening, FAILED marker
  plugins/onex/hooks/lib/session_outcome.py
  plugins/onex/hooks/scripts/session-end.sh
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

Path conditions:
  ruff-format: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  ruff-fix: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  ruff-check: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
  mypy-typecheck: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  onex-validate: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
