Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(version): replace hardcoded version with importlib.metadata [OMN-2672] (#284)
  app/version.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  scripts/benchmark_manifest_performance.py
  scripts/generate_formatted_manifest.py
  scripts/ingest_all_repositories.py
  scripts/test_pattern_quality_upsert.py
  src/omniclaude/__init__.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add _lib/pr-safety shared helpers library [OMN-2632] (#283)
  .github/workflows/omni-standards-compliance.yml
  plugins/onex/skills/_lib/pr-safety/helpers.md
  tests/validate_ledger_stop_reasons.py
Due: ruff-format, ruff-fix, ruff-check

feat(skills): add --emit flag to project-status skill for Kafka relay [OMN-2659] (#282)
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/project-status
Due: none

feat(skills): gap-fix skill — auto-fix loop for gap-analysis findings [OMN-2630] (#280)
  plugins/onex/commands/gap-fix.md
  plugins/onex/skills/gap-fix/SKILL.md
  plugins/onex/skills/gap-fix/prompt.md
Due: none

feat(hooks): bash guard — block destructive commands, Slack-alert on questionable ones
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  plugins/onex/skills/fix-prs/SKILL.md
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/parallel-solve/prompt.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  plugins/onex/skills/pr-review-dev/SKILL.md
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  tests/hooks/test_bash_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

chore(skills): complete --no-gate migration to --gate-attestation [OMN-2633]
  .github/workflows/omni-standards-compliance.yml
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
Due: none

fix(skills): remove = from gate-attestation format in SKILL.md [OMN-2633]
  plugins/onex/skills/merge-sweep/SKILL.md
Due: none

chore(skills): complete --no-gate → --gate-attestation migration [OMN-2633]
  .github/workflows/omni-standards-compliance.yml
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
Due: none

test(skills): add merge-sweep integration test suite [OMN-2635]
  plugins/onex/skills/merge-sweep/SKILL.md
  tests/integration/skills/__init__.py
  tests/integration/skills/merge_sweep/__init__.py
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: ruff-format, ruff-fix, ruff-check

test(skills): merge-sweep integration test suite [OMN-2635]
  plugins/onex/skills/merge-sweep/SKILL.md
  tests/integration/skills/__init__.py
  tests/integration/skills/merge_sweep/__init__.py
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: ruff-format, ruff-fix, ruff-check

test(skills): add fix-prs integration test suite [OMN-2636]
  plugins/onex/skills/fix-prs/SKILL.md
  tests/integration/skills/fix_prs/__init__.py
  tests/integration/skills/fix_prs/test_fix_prs_integration.py
Due: ruff-format, ruff-fix, ruff-check

fix(test): ruff format test_fix_prs_integration.py [OMN-2636]
  tests/integration/skills/fix_prs/test_fix_prs_integration.py
Due: ruff-format, ruff-fix, ruff-check

fix(test): ruff F541 fix-prs test f-strings [OMN-2636]
  tests/integration/skills/fix_prs/test_fix_prs_integration.py
Due: ruff-format, ruff-fix, ruff-check

test(skills): fix-prs integration test suite [OMN-2636]
  plugins/onex/skills/fix-prs/SKILL.md
  tests/integration/skills/fix_prs/__init__.py
  tests/integration/skills/fix_prs/test_fix_prs_integration.py
Due: ruff-format, ruff-fix, ruff-check

test(skills): pr-queue-pipeline integration test suite [OMN-2637]
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  tests/integration/skills/pr_queue_pipeline/__init__.py
  tests/integration/skills/pr_queue_pipeline/test_pr_queue_pipeline_integration.py
Due: ruff-format, ruff-fix, ruff-check

test(skills): gap-fix integration test suite — probe schema, boundary validation, decisions.json [OMN-2639]
  plugins/onex/skills/gap-fix/SKILL.md
  plugins/onex/skills/gap-fix/prompt.md
  tests/integration/skills/gap_fix/__init__.py
  tests/integration/skills/gap_fix/test_gap_fix_integration.py
Due: ruff-format, ruff-fix, ruff-check

test(skills): review-all-prs integration test suite [OMN-2638]
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  tests/integration/skills/review_all_prs/__init__.py
  tests/integration/skills/review_all_prs/test_review_all_prs_integration.py
Due: ruff-format, ruff-fix, ruff-check

fix(skills): remove banned pr-queue path refs from pr-queue-pipeline skill [OMN-2637]
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
Due: none

fix(skills): remove pr-queue/claims/ path references from review-all-prs [OMN-2638]
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
Due: none

chore(tests): apply ruff format to review-all-prs integration test [OMN-2638]
  tests/integration/skills/review_all_prs/test_review_all_prs_integration.py
Due: ruff-format, ruff-fix, ruff-check

fix(skills): address pr-review comments for pr-queue-pipeline integration test [OMN-2637]
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  tests/integration/skills/pr_queue_pipeline/test_pr_queue_pipeline_integration.py
Due: ruff-format, ruff-fix, ruff-check

fix(hooks): fail-open on invalid stdin, use canonical LOG_FILE path
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  tests/hooks/test_bash_guard.py
Due: ruff-format, ruff-fix, ruff-check

fix(skills): address pr-review minor issues for pr-queue-pipeline [OMN-2637]
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  tests/integration/skills/pr_queue_pipeline/test_pr_queue_pipeline_integration.py
Due: ruff-format, ruff-fix, ruff-check

fix(ci): add PT009/RUF059 to test per-file-ignores, fix import sort
  pyproject.toml
  tests/hooks/test_bash_guard.py
Due: ruff-format, ruff-fix, ruff-check

fix(merge): restore incorrectly resolved conflict artifacts [OMN-2595]
  .pre-commit-config.yaml
  app/version.py
  mypy.ini
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_event_adapter.py
  src/omniclaude/__init__.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): remove duplicate mypy-pattern_advisory_formatter section [OMN-2595]
  mypy.ini
Due: none

fix(review): fix import ordering in scripts per ruff I001 [OMN-2595]
  scripts/benchmark_manifest_performance.py
  scripts/generate_formatted_manifest.py
  scripts/ingest_all_repositories.py
  scripts/test_pattern_quality_upsert.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[omniclaude] Integration Test: pr-queue-pipeline — phase sequencing + ledger + resume [OMN-2637] (#290)
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  tests/integration/skills/pr_queue_pipeline/__init__.py
  tests/integration/skills/pr_queue_pipeline/test_pr_queue_pipeline_integration.py
Due: ruff-format, ruff-fix, ruff-check

[omniclaude] Integration Test: review-all-prs — scope guard + worktree claim + dedup ledger [OMN-2638] (#291)
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  tests/integration/skills/review_all_prs/__init__.py
  tests/integration/skills/review_all_prs/test_review_all_prs_integration.py
Due: ruff-format, ruff-fix, ruff-check

test(skills): gap-fix integration test suite — probe schema, boundary validation, decisions.json [OMN-2639] (#292)
  plugins/onex/skills/gap-fix/SKILL.md
  plugins/onex/skills/gap-fix/prompt.md
  tests/integration/skills/gap_fix/__init__.py
  tests/integration/skills/gap_fix/test_gap_fix_integration.py
Due: ruff-format, ruff-fix, ruff-check

feat(f5): consumer group rules + CI enforcement [OMN-2595] (#257)
  .github/workflows/ci.yml
  .secrets.baseline
  plans/2026-02-21-autonomous-skill-platform-plan-v2.md
  scripts/validation/validate_no_compact_cmd_topic.py
  src/omniclaude/lib/consumer_group_guard.py
  tests/unit/test_consumer_group_guard.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): bash guard + skills standardization (#285)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  plugins/onex/skills/fix-prs/SKILL.md
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/parallel-solve/prompt.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  plugins/onex/skills/pr-review-dev/SKILL.md
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  pyproject.toml
  tests/hooks/test_bash_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

chore(pre-existing): fix pre-existing ruff datetime.timezone.utc lint [OMN-2720]
  plugins/onex/hooks/lib/bash_guard.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

chore(build): fix version.py + add pyproject.toml PEP 621 metadata (omniclaude 0.2.0)
  pyproject.toml
  src/omniclaude/app/__init__.py
  src/omniclaude/app/version.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ci): add tag-triggered release pipeline with plugin artifact
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
Due: none

fix(ci): resolve pre-commit and mypy failures for OSS PR
  .pre-commit-config.yaml
  mypy.ini
  plugins/onex/skills/_shared/test_qdrant_ssrf_protection.py
  tests/hooks/test_phase_instrumentation.py
  tests/lib/config/test_intelligence_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: update .secrets.baseline to include release.yml 'secrets: inherit' false positive
  .secrets.baseline
Due: none

feat(hooks): add decision-record subscriber for Decision Provenance audit trail [OMN-2720]
  src/omniclaude/hooks/lib/decision_record_subscriber.py
  src/omniclaude/runtime/plugin.py
  tests/hooks/test_decision_record_subscriber.py
  tests/runtime/test_plugin_claude.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] add type: ignore for import-not-found in check_local_paths.py wrapper [OMN-2631]
  scripts/check_local_paths.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
