Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

refactor: src/ modules use ONEX_STATE_DIR [OMN-5632]
  src/omniclaude/hooks/handlers/context_scope_auditor.py
  src/omniclaude/hooks/lib/decision_record_subscriber.py
  src/omniclaude/hooks/lib/onex_state.py
  src/omniclaude/hooks/lib/skill_suggestion_injector.py
  src/omniclaude/hooks/lib/skill_usage_logger.py
  src/omniclaude/lib/core/agent_router.py
  src/omniclaude/lib/core/capability_index.py
  src/omniclaude/lib/core/trigger_matcher.py
  src/omniclaude/lib/utils/consensus/quorum.py
  src/omniclaude/lib/utils/health_checks.py
  src/omniclaude/lib/utils/manifest_loader.py
  src/omniclaude/lib/utils/pattern_tracker.py
  src/omniclaude/lib/utils/quality_enforcer.py
  src/omniclaude/publisher/event_queue.py
  src/omniclaude/publisher/publisher_config.py
  src/omniclaude/services/standalone_inbox/background_watcher.py
  src/omniclaude/services/standalone_inbox/inbox.py
  src/omniclaude/trace/frame_assembler.py
  src/omniclaude/trace/replay_engine.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs: document ONEX_STATE_DIR migration [OMN-5632]
  CLAUDE.md
  plugins/onex/hooks/lib/agent_router.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): resolve ONEX_STATE_DIR import-time crashes and test failures [OMN-5632]
  .github/workflows/ci.yml
  src/omniclaude/hooks/lib/decision_record_subscriber.py
  src/omniclaude/hooks/lib/skill_suggestion_injector.py
  src/omniclaude/hooks/lib/skill_usage_logger.py
  src/omniclaude/publisher/publisher_config.py
  tests/hooks/test_dod_completion_guard.py
  tests/hooks/test_node_session_state_adapter.py
  tests/hooks/test_node_session_state_effect.py
  tests/hooks/test_static_context_snapshot.py
  tests/publisher/test_config.py
  tests/unit/hooks/lib/test_skill_usage_logger.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(merge): use GraphQL enqueuePullRequest for merge queue repos [OMN-5635]
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

feat(merge): auto-resolve CodeRabbit review threads before enqueue [OMN-5634]
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/pr_polish/prompt.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

feat(merge): auto-resolve CodeRabbit review threads before enqueue [OMN-5634] (#755)
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/pr_polish/prompt.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

fix(ci): move GraphQL enqueuePullRequest mutation to _lib/pr-safety/helpers.md [OMN-5635]
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

fix(merge): use GraphQL enqueuePullRequest for merge queue repos [OMN-5635] (#754)
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

feat(skills): implement close-day skill with baseline snapshot [OMN-5651]
  plugins/onex/skills/close_day/SKILL.md
  plugins/onex/skills/close_day/prompt.md
  plugins/onex/skills/close_day/topics.yaml
Due: check-local-paths

feat(begin-day): wire omnidash health probe and boundary parity [OMN-5653]
  plugins/onex/skills/begin_day/prompt.md
Due: check-local-paths

chore: generate missing close_day skill node [OMN-5651]
  src/omniclaude/nodes/node_skill_close_day_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_close_day_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_close_day_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(delegation): lower confidence threshold from 0.9 to 0.4 so delegation triggers [OMN-5670]
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
  tests/unit/test_delegation_prompt_parsing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(delegation): add saturating confidence boost for delegatable intents [OMN-5670]
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): implement close-day skill [OMN-5651] (#756)
  plugins/onex/skills/begin_day/prompt.md
  plugins/onex/skills/close_day/SKILL.md
  plugins/onex/skills/close_day/prompt.md
  plugins/onex/skills/close_day/topics.yaml
  src/omniclaude/nodes/node_skill_close_day_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_close_day_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_close_day_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: add input_model to orchestrator contract + deploy bare-clone guard [OMN-5702][OMN-5671]
  plugins/onex/skills/deploy_local_plugin/deploy.sh
  src/omniclaude/nodes/node_local_coding_orchestrator/contract.yaml
Due: check-local-paths

feat(hooks): add code_graph_query.py CLI for plan-time code context [OMN-5667]
  plugins/onex/hooks/lib/code_graph_query.py
  tests/unit/hooks/lib/test_code_graph_query.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add code graph + related tickets to planning-context-resolver [OMN-5667]
  plugins/onex/skills/planning_context_resolver/SKILL.md
  plugins/onex/skills/planning_context_resolver/prompt.md
Due: check-local-paths

feat(skills): add code graph query to ticket-work research phase [OMN-5667]
  plugins/onex/skills/ticket_work/prompt.md
Due: check-local-paths

feat(skills): add code graph query to design-to-plan brainstorm [OMN-5667]
  plugins/onex/skills/design_to_plan/SKILL.md
Due: check-local-paths

fix(delegation): lower confidence threshold so local LLM delegation triggers [OMN-5670] (#757)
  src/omniclaude/lib/task_classifier.py
  tests/lib/test_task_classifier.py
  tests/unit/test_delegation_prompt_parsing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add chat_completion_sync() with tool-calling support to VllmInferenceBackend [OMN-5722]
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add contract_sweep skill (SKILL.md + prompt.md) [OMN-5704][OMN-5705]
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
Due: check-local-paths

test: add contract_sweep skill integration tests [OMN-5706]
  tests/integration/skills/contract_sweep/__init__.py
  tests/integration/skills/contract_sweep/test_contract_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skills): wire code graph into plan-time context surfaces [OMN-5667] (#758)
  plugins/onex/hooks/lib/code_graph_query.py
  plugins/onex/skills/design_to_plan/SKILL.md
  plugins/onex/skills/planning_context_resolver/SKILL.md
  plugins/onex/skills/planning_context_resolver/prompt.md
  plugins/onex/skills/ticket_work/prompt.md
  tests/unit/hooks/lib/test_code_graph_query.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: upgrade aislop_sweep todo-fixme severity and add todo-stale check [OMN-5696]
  plugins/onex/skills/aislop_sweep/SKILL.md
Due: check-local-paths

refactor: use _JsonDict type alias to satisfy ONEX dict_str_any check [OMN-5722]
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: generate skill node for contract_sweep [OMN-5704]
  src/omniclaude/nodes/node_skill_contract_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_contract_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_contract_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: VllmInferenceBackend chat_completion_sync with tool-calling [OMN-5722] (#761)
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add CodeContextResolver for semantic code entity lookup [OMN-5719]
  src/omniclaude/hooks/lib/code_context_resolver.py
  tests/unit/hooks/lib/test_code_context_resolver.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: upgrade aislop_sweep todo-fixme severity and add todo-stale check [OMN-5696] (#760)
  plugins/onex/skills/aislop_sweep/SKILL.md
Due: check-local-paths

fix: resolve mypy no-any-return in CodeContextResolver [OMN-5719]
  src/omniclaude/hooks/lib/code_context_resolver.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: remove unused type-ignore comment [OMN-5719]
  src/omniclaude/hooks/lib/code_context_resolver.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(friction): add centralized path bootstrap helper [OMN-5747]
  plugins/onex/skills/_shared/_bootstrap.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(friction): add FrictionObserverNode contract with classification rules [OMN-5747]
  src/omniclaude/nodes/node_friction_observer_compute/contract.yaml
Due: check-local-paths

feat(friction): register friction.observed event type and Kafka topic [OMN-5747]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(friction): add portable FrictionSignal dataclass [OMN-5747]
  plugins/onex/skills/_shared/friction_signal.py
  tests/unit/skills/_shared/test_friction_signal.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(friction): add contract-driven classification engine [OMN-5747]
  plugins/onex/skills/_shared/friction_classifier.py
  tests/unit/skills/_shared/test_friction_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(friction): add NodeFrictionObserverCompute thin shell [OMN-5747]
  src/omniclaude/nodes/node_friction_observer_compute/__init__.py
  src/omniclaude/nodes/node_friction_observer_compute/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
