Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-2356): emit raw outcome signals instead of hardcoded no-op feedback
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_session_raw_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major] update graduated_injection tests to use api_enabled=False for disabled path
  tests/hooks/test_graduated_injection.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2356): align ModelSessionRawOutcomePayload config with arch handshake
  src/omniclaude/hooks/schemas.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: crash-recovery skill + auto-cleanup merged pipeline states on SessionStart
  plugins/onex/commands/crash-recovery.md
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/crash-recovery/SKILL.md
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(ci): resolve Security Gate false positives blocking PR #180
  .secrets.baseline
  src/omniclaude/hooks/handler_context_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major/minor] address review findings from local-review pass
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(review): [minor] cleanup accumulator file + remove unpopulated schema fields
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_session_raw_outcome.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major/minor] address local-review findings
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
  tests/hooks/test_session_raw_outcome.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major/minor] portable timestamp + context manager
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(review): [major/minor] TOCTOU guard + symlink canonicalization + PATTERN_COUNT validation
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
  tests/hooks/test_session_raw_outcome.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2355): restore context injection via omniintelligence HTTP API (#180)
  .secrets.baseline
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/lib/config/intelligence_config.py
  src/omniclaude/lib/core/intelligence_event_client.py
  tests/hooks/test_context_injection_api_source.py
  tests/hooks/test_graduated_injection.py
  tests/lib/config/test_intelligence_config.py
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major/minor] YAML null crash + pipelines_dir canonicalization + doc fix
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/crash-recovery/SKILL.md
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(review): [minor] unconditional accumulator cleanup + correct test docstring
  plugins/onex/hooks/scripts/session-end.sh
  tests/hooks/test_session_raw_outcome.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2414): inject timestamp in IntelligenceEventClient instead of datetime.now(UTC)
  src/omniclaude/lib/core/intelligence_event_client.py
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

style(OMN-2414): fix ruff format violation on timestamp ternary line
  src/omniclaude/lib/core/intelligence_event_client.py
Due: validate-secrets

fix(review): [minor] consistent confidence default + accurate comments + uv install msg + test fix
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
  tests/hooks/test_session_raw_outcome.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major/minor] eliminate accumulator cleanup race + guards + clamp age
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(OMN-2414): inject timestamp in IntelligenceEventClient instead of datetime.now(UTC) (#182)
  src/omniclaude/lib/core/intelligence_event_client.py
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] atomic accumulator write + column width alignment
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(review): [minor] clamp --count to >= 1 in list-pipelines
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(review): [minor] trap-based accumulator cleanup + orphan comment + schema comment
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
  src/omniclaude/hooks/schemas.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] float guard for tool_calls + trap guard + total_shown message
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(review): [minor] clamp routing_confidence to [0,1] + accurate total in message
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(review): [minor] total_shown in message + extra=forbid for emitter schema
  plugins/onex/skills/crash-recovery/list-pipelines
  src/omniclaude/hooks/schemas.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [major/minor] restore extra=ignore per invariant + doc + null warning
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/skills/crash-recovery/list-pipelines
  src/omniclaude/hooks/schemas.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] total_found message + PATTERN_SUCCESS init + stale comment
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(review): [minor] warn on --count<1 + SESSION_DURATION comment + trap comment
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/skills/crash-recovery/list-pipelines
Due: none

fix(security): update secrets baseline after docs overhaul
  .secrets.baseline
Due: none

fix(review): [major/minor] dead code removal and documentation accuracy
  plugins/onex/hooks/lib/delegation_orchestrator.py
  src/omniclaude/lib/core/intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2367): correct intelligence topic constants to onex.cmd/evt convention (GAP-1)
  tests/lib/config/test_intelligence_config.py
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major/minor] delegation_orchestrator accuracy and tracking
  plugins/onex/hooks/lib/delegation_orchestrator.py
  src/omniclaude/lib/core/intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

style: ruff format quality_enforcer.py (trailing blank line from docs overhaul)
  src/omniclaude/lib/utils/quality_enforcer.py
Due: validate-secrets

fix(review): [minor] document DUAL_PUBLISH env var, pin legacy topic, inject timestamp
  .env.example
  CLAUDE.md
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] correct inner-guard comment in test_never_raises_on_unexpected_error
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2367): harden dual-publish and timeout — Settings field, ceil, distinct event_id
  src/omniclaude/config/settings.py
  src/omniclaude/lib/core/intelligence_event_client.py
  tests/lib/config/test_intelligence_config.py
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] guard capture_send payload kwarg with explicit event_id assertion
  tests/lib/core/test_intelligence_event_client.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] unify cleanup ticket reference to OMN-2414 in legacy topic TODO
  src/omniclaude/lib/core/intelligence_event_client.py
Due: validate-secrets

fix(review): [minor] forward timestamp in request_pattern_discovery; remove stale type: ignore
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix: remove dict[str, Any] annotation on page var (ONEX dict_str_any rule)
  src/omniclaude/hooks/handler_context_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
