Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(hooks): redirect post-tool-use.log to ONEX_STATE_DIR, add explicit gitignore [OMN-8429]
  .gitignore
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

fix(hooks): add size-based log rotation to post-tool-use quality hook [OMN-8429]
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

feat(hooks): add design-required additions to OMN-8429 log rotation [OMN-8429]
  .github/workflows/hook-log-path-lint.yml
  plugins/onex/.claude-plugin/NO_AUTOLOAD
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

fix: address CodeRabbit findings on #1216 (OMN-8429)
  .github/workflows/hook-log-path-lint.yml
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/post_tool_use_output_suppressor.sh
  plugins/onex/hooks/scripts/post_tool_use_return_path_auditor.sh
  plugins/onex/hooks/scripts/post_tool_use_team_observability.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

fix: replace 8 HOOKS_DIR log paths with ONEX_STATE_DIR (OMN-8429)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

fix(golden-chain): add default=str to json.dumps to handle Decimal values (OMN-8012)
  src/omniclaude/nodes/node_golden_chain_publish_effect/persist.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
  tests/nodes/test_golden_chain_decimal_serialization.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(golden-chain): add nosec B110 suppress for connection close best-effort (OMN-8012)
  src/omniclaude/nodes/node_golden_chain_publish_effect/persist.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): clean stale dependency clones before hostile reviewer git clone (OMN-8429)
  .github/workflows/hostile-reviewer.yml
Due: check-local-paths

fix(golden-chain): align skill doc field names with ModelChainResult (OMN-8012)
  plugins/onex/skills/golden_chain_sweep/prompt.md
Due: check-local-paths

fix(golden-chain): Decimal JSON serialization kills evidence writes (OMN-8012) (#1225)
  plugins/onex/skills/golden_chain_sweep/prompt.md
  src/omniclaude/nodes/node_golden_chain_publish_effect/persist.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
  tests/nodes/test_golden_chain_decimal_serialization.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): clean stale sibling dirs before hostile-reviewer clones
  .github/workflows/hostile-reviewer.yml
Due: check-local-paths

fix(hooks): size-based log rotation for post-tool-use.log [OMN-8429] (#1216)
  .github/workflows/hook-log-path-lint.yml
  .github/workflows/hostile-reviewer.yml
  .gitignore
  plugins/onex/.claude-plugin/NO_AUTOLOAD
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/post_tool_use_output_suppressor.sh
  plugins/onex/hooks/scripts/post_tool_use_return_path_auditor.sh
  plugins/onex/hooks/scripts/post_tool_use_team_observability.sh
  plugins/onex/hooks/scripts/pre-compact.sh
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

feat: register onex.nodes entry points for auto-wiring discovery (OMN-8538 Wave C)
  pyproject.toml
Due: check-local-paths

chore: delete dead code action_logging_helpers.py (OMN-8549)
  docs/reference/HOOK_LIB_REFERENCE.md
  plugins/onex/hooks/lib/action_logging_helpers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): include conversation context in delegation payload [OMN-8564]
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/delegation_daemon.py
  plugins/onex/hooks/lib/delegation_orchestrator.py
  plugins/onex/hooks/lib/overseer_foreground_block.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_delegation_orchestrator.py
  tests/unit/hooks/lib/test_delegation_orchestrator_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): replace hardcoded worktree paths in all shell hook scripts [OMN-8564]
  plugins/onex/hooks/scripts/pre-compact.sh
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

feat(hooks): wire agentic_quality_gate into delegation pipeline (OMN-8548)
  plugins/onex/hooks/lib/delegation_daemon.py
  plugins/onex/hooks/lib/delegation_orchestrator.py
  tests/unit/hooks/lib/test_delegation_daemon_agentic.py
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: black format + register new env vars [OMN-8564]
  .env.allowlist
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): correct malformed assertion in test_gate_rejection_cleans_up
  tests/unit/hooks/lib/test_agentic_e2e.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: ruff format test_delegation_orchestrator [OMN-8564]
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: cron-merge-sweep script uses dynamic OMNI_HOME resolution
  scripts/cron-merge-sweep.sh
Due: check-local-paths

chore: fix ruff lint errors in test_delegation_orchestrator [OMN-8564]
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(aislop-sweep): add hardcoded-paths detection rule (OMN-8573)
  plugins/onex/skills/aislop_sweep/SKILL.md
  plugins/onex/skills/aislop_sweep/prompt.md
  tests/integration/skills/aislop_sweep/fixtures/sample_slop.py
  tests/integration/skills/aislop_sweep/test_aislop_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(aislop-sweep): add hardcoded-paths detection rule (OMN-8573) (#1231)
  plugins/onex/skills/aislop_sweep/SKILL.md
  plugins/onex/skills/aislop_sweep/prompt.md
  tests/integration/skills/aislop_sweep/fixtures/sample_slop.py
  tests/integration/skills/aislop_sweep/test_aislop_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): replace hardcoded /Volumes/PRO-G40 fallbacks in Python hook libs [OMN-8593]
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/overseer_foreground_block.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(tests): update bash_guard tests to use CANONICAL_WORKTREE_ROOT dynamically [OMN-8593]
  .env.allowlist
  tests/hooks/test_bash_guard.py
  tests/hooks/test_bash_guard_worktree.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): auto-merge template fixes [OMN-8432]
  .github/workflows/auto-merge.yml
Due: check-local-paths

ci(omniclaude): add aislop_sweep pre-merge gate [OMN-8622]
  .github/workflows/ci.yml
  scripts/ci/run_aislop_sweep.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add §N/§N.x heading support to plan_to_tickets detect_structure [OMN-8491]
  plugins/onex/skills/_lib/plan_to_tickets/__init__.py
  plugins/onex/skills/_lib/plan_to_tickets/detect_structure.py
  plugins/onex/skills/plan_to_tickets/SKILL.md
  tests/unit/skills/test_plan_to_tickets_detect_structure.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

ci(omniclaude): add aislop precommit prohibited-pattern check [OMN-8622]
  .pre-commit-config.yaml
  scripts/ci/run_aislop_precommit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci: add contract_compliance_check gate [OMN-8636]
  .github/workflows/ci.yml
Due: check-local-paths

fix(ci): ruff format + allowlist DELEGATION_CONTEXT/ONEX_WORKTREES_ROOT env vars [OMN-8491]
  .env.allowlist
  tests/unit/hooks/lib/test_delegation_orchestrator.py
  tests/unit/skills/test_plan_to_tickets_detect_structure.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(runtime-sweep): clarify both entry-point forms are valid [OMN-8630]
  plugins/onex/skills/runtime_sweep/prompt.md
Due: check-local-paths

fix(hooks): add OMNI_WORKTREES_DIR fallback and harden env var parsing [OMN-8564]
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/delegation_orchestrator.py
  plugins/onex/hooks/lib/overseer_foreground_block.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: remove obsolete Slack HIGH_RISK gate — superseded by automated verification
  docs/feature-dashboard/feature-dashboard.stable.json
  plugins/onex/skills/_golden_path_validate/node_skill_slack_gate_orchestrator.json
  plugins/onex/skills/_lib/cdqa-gate/helpers.md
  plugins/onex/skills/_lib/integration-verification-gate/helpers.md
  plugins/onex/skills/auto_merge/SKILL.md
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/decision_store/SKILL.md
  plugins/onex/skills/decision_store/prompt.md
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/epic_team/prompt.md
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/slack_gate/SKILL.md
  plugins/onex/skills/slack_gate/prompt.md
  plugins/onex/skills/slack_gate/topics.yaml
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_pipeline/prompt.md
  src/omniclaude/hooks/topic_registry.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_skill_auto_merge_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_merge_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_slack_gate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_slack_gate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_slack_gate_orchestrator/node.py
  src/omniclaude/shared/models/model_pipeline_events.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): emit terminal delegation event from agentic poll completion path [OMN-8548]
  plugins/onex/hooks/lib/delegation_daemon.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): wire agentic_quality_gate into delegation pipeline (OMN-8548) (#1229)
  plugins/onex/hooks/lib/delegation_daemon.py
  plugins/onex/hooks/lib/delegation_orchestrator.py
  tests/unit/hooks/lib/test_agentic_e2e.py
  tests/unit/hooks/lib/test_delegation_daemon_agentic.py
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: register onex.nodes entry points for auto-wiring discovery (OMN-8538 Wave C) (#1226)
  pyproject.toml
Due: check-local-paths
