Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(skills): wire decision context injection into ticket-pipeline + ticket-work [OMN-2770]
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-work/SKILL.md
Due: check-local-paths

docs(ticket-pipeline): clarify Phase 4 ci_watch is non-blocking [OMN-2776] (#335)
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: check-local-paths

feat(persona): add shared assistant persona profile and inject into report skills [OMN-2777]
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/skills/_lib/assistant-profile/persona.md
  plugins/onex/skills/deep-dive/SKILL.md
  plugins/onex/skills/gap-analysis/prompt.md
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/pipeline-metrics/prompt.md
  plugins/onex/skills/pr-review/SKILL.md
Due: check-local-paths

feat(persona): add shared assistant persona profile and inject into report skills [OMN-2777] (#337)
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/skills/_lib/assistant-profile/persona.md
  plugins/onex/skills/deep-dive/SKILL.md
  plugins/onex/skills/gap-analysis/prompt.md
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/pipeline-metrics/prompt.md
  plugins/onex/skills/pr-review/SKILL.md
Due: check-local-paths

chore(pre-existing): fix unused type: ignore comment in introspection.py [OMN-2778]
  src/omniclaude/runtime/introspection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skill-lifecycle): add Kafka-to-table projection consumer for skill_execution_logs [OMN-2778]
  docs/db/003_create_skill_execution_logs.sql
  plugins/onex/skills/pipeline-metrics/prompt.md
  src/omniclaude/hooks/lib/skill_execution_log_subscriber.py
  src/omniclaude/lib/consumer_group_guard.py
  tests/unit/hooks/lib/test_skill_execution_log_subscriber.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(style): apply ruff auto-format to skill_execution_log_subscriber [OMN-2778]
  src/omniclaude/hooks/lib/skill_execution_log_subscriber.py
  tests/unit/hooks/lib/test_skill_execution_log_subscriber.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(publisher): dual-emit daemon with secondary Kafka cluster and bounded-time publish [OMN-2796]
  pyproject.toml
  src/omniclaude/publisher/__main__.py
  src/omniclaude/publisher/embedded_publisher.py
  src/omniclaude/publisher/publisher_config.py
  tests/publisher/test_embedded_publisher.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(test): update consumer_group_guard test to expect 7 entries after OMN-2778 [OMN-2778]
  tests/unit/test_consumer_group_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

style(publisher): apply ruff format to dual-emit changes [OMN-2796]
  src/omniclaude/publisher/embedded_publisher.py
  src/omniclaude/publisher/publisher_config.py
  tests/publisher/test_embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(publisher): revert local omnibase-infra source override; use runtime field detection for SASL kwargs [OMN-2796]
  pyproject.toml
  src/omniclaude/publisher/embedded_publisher.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add decision-store skill — record, query, check-conflicts + severity matrix [OMN-2768] (#332)
  plugins/onex/skills/decision-store/SKILL.md
  plugins/onex/skills/decision-store/detect_conflicts.py
  plugins/onex/skills/decision-store/examples/query_decisions.md
  plugins/onex/skills/decision-store/examples/record_decision.md
  plugins/onex/skills/decision-store/prompt.md
  plugins/onex/skills/decision-store/semantic_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skill-lifecycle): Kafka-to-table projection consumer for skill_execution_logs [OMN-2778] (#340)
  docs/db/003_create_skill_execution_logs.sql
  plugins/onex/skills/pipeline-metrics/prompt.md
  src/omniclaude/hooks/lib/skill_execution_log_subscriber.py
  src/omniclaude/lib/consumer_group_guard.py
  src/omniclaude/runtime/introspection.py
  tests/unit/hooks/lib/test_skill_execution_log_subscriber.py
  tests/unit/test_consumer_group_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2796] Dual-emit daemon: secondary Kafka cluster with SASL/OAUTHBEARER auth and bounded-time publish (#339)
  src/omniclaude/publisher/__main__.py
  src/omniclaude/publisher/embedded_publisher.py
  src/omniclaude/publisher/publisher_config.py
  tests/publisher/test_embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): wire Phoenix (Arize) as OTEL observability backend [OMN-2734] (#314)
  .gitignore
  docker-compose.yml
  mypy.ini
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/lib/phoenix_otel_exporter.py
  pyproject.toml
  tests/integration/test_phoenix_otel_export.py
  tests/unit/hooks/lib/test_hook_otel_failure_isolation.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(runtime): add omniclaude runtime service entrypoint [OMN-2801]
  deployment/Dockerfile
  src/omniclaude/runtime/__main__.py
  tests/unit/runtime/test_main.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

style: remove quoted return type annotation (UP037) [OMN-2798]
  src/omniclaude/nodes/shared/models/model_skill_node_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(runtime): suppress arch-topic-naming for route pattern in __main__ [OMN-2801]
  src/omniclaude/runtime/__main__.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2801] Add omniclaude runtime service entrypoint (#342)
  deployment/Dockerfile
  src/omniclaude/runtime/__main__.py
  tests/unit/runtime/test_main.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(effect): implement SubprocessClaudeCodeSessionBackend [OMN-2800]
  src/omniclaude/nodes/node_claude_code_session_effect/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  tests/unit/nodes/node_claude_code_session_effect/__init__.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(inference): implement VllmInferenceBackend for local LLM inference [OMN-2799]
  src/omniclaude/nodes/node_local_llm_inference_effect/__init__.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/__init__.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  src/omniclaude/nodes/node_local_llm_inference_effect/contract.yaml
  src/omniclaude/nodes/node_local_llm_inference_effect/models/model_local_llm_inference_request.py
  src/omniclaude/nodes/node_local_llm_inference_effect/protocols/protocol_local_llm_inference.py
  src/omniclaude/runtime/plugin.py
  tests/unit/nodes/node_local_llm_inference_effect/__init__.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(effect): address PR review feedback for SubprocessClaudeCodeSessionBackend [OMN-2800]
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(inference): implement VllmInferenceBackend for local LLM inference [OMN-2799] (#344)
  src/omniclaude/nodes/node_local_llm_inference_effect/__init__.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/__init__.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  src/omniclaude/nodes/node_local_llm_inference_effect/contract.yaml
  src/omniclaude/nodes/node_local_llm_inference_effect/models/model_local_llm_inference_request.py
  src/omniclaude/nodes/node_local_llm_inference_effect/protocols/protocol_local_llm_inference.py
  src/omniclaude/runtime/plugin.py
  tests/unit/nodes/node_local_llm_inference_effect/__init__.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2800] Implement SubprocessClaudeCodeSessionBackend (#343)
  src/omniclaude/nodes/node_claude_code_session_effect/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  tests/unit/nodes/node_claude_code_session_effect/__init__.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): bump omnibase stack to latest releases [OMN-2747]
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(tests): use valid Kafka environment in tests [OMN-2747]
  tests/hooks/test_golden_path_session_lifecycle.py
  tests/hooks/test_handler_event_emitter.py
  tests/hooks/test_integration_kafka.py
  tests/runtime/test_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(runtime): implement wire_dispatchers() — contract-driven skill command routing [OMN-2802]
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/plugin.py
  src/omniclaude/runtime/wiring_dispatchers.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): bump omnibase stack for infra 0.11.0 [OMN-2747] (#345)
  pyproject.toml
  tests/hooks/test_golden_path_session_lifecycle.py
  tests/hooks/test_handler_event_emitter.py
  tests/hooks/test_integration_kafka.py
  tests/runtime/test_wiring.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): remove unused imports in test_wiring_dispatchers [OMN-2802]
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

refactor: address CodeRabbit review feedback [OMN-2802]
  src/omniclaude/runtime/wiring_dispatchers.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2802] Implement wire_dispatchers() — contract-driven skill command routing (#346)
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/plugin.py
  src/omniclaude/runtime/wiring_dispatchers.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: merge main and fix pre-existing broken markdown links [OMN-2770]
  QUICKSTART.md
  docs/SECURITY.md
  docs/architecture/EVENT_DRIVEN_ROUTING_PROPOSAL.md
  docs/observability/AGENT_TRACEABILITY.md
  plugins/onex/skills/routing/request-agent-routing/SKILL.md
  plugins/onex/skills/system-status/tests/NEXT_STEPS.md
  plugins/onex/skills/writing-skills/anthropic-best-practices.md
  scripts/observability/DASHBOARD_USAGE.md
Due: check-local-paths

feat(decision-store): Slack conflict gate — command grammar + status change events [OMN-2769] (#334)
  plugins/onex/skills/decision-store/SKILL.md
  plugins/onex/skills/decision-store/examples/conflict_resolution.md
  plugins/onex/skills/decision-store/prompt.md
Due: check-local-paths

feat(skills): decision context injection into ticket-pipeline + ticket-work [OMN-2770] (#336)
  QUICKSTART.md
  docs/SECURITY.md
  docs/architecture/EVENT_DRIVEN_ROUTING_PROPOSAL.md
  docs/observability/AGENT_TRACEABILITY.md
  plugins/onex/skills/routing/request-agent-routing/SKILL.md
  plugins/onex/skills/system-status/tests/NEXT_STEPS.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/writing-skills/anthropic-best-practices.md
  scripts/observability/DASHBOARD_USAGE.md
Due: check-local-paths

feat(skills): add /release skill SKILL.md interface definition [OMN-2805]
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

fix(ci): resolve markdown link check, secret detection, and PR safety violations [OMN-2805]
  .github/workflows/ci.yml
  .secrets.baseline
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

feat(skills): /release skill SKILL.md interface [OMN-2805] (#347)
  .github/workflows/ci.yml
  .secrets.baseline
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
