Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(OMN-18798): allow the ruled publish-loop merge, refuse branch creation, fix the mask test (#2277)
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_pre_tool_use_bash_guard_worktree.py
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18033): pin gitignore-baseline hook dep to a PyPI release, not git+https
  .pre-commit-config.yaml
Due: check-local-paths

chore(deps): bump omnibase_core to 0.47.18 (#2280)
  uv.lock
Due: check-local-paths

fix(OMN-18882): advance the receipt-gate pin to pick up the pin-only exemption
  .github/workflows/call-receipt-gate.yml
Due: check-local-paths

fix(OMN-18832): resume worktree_auto_prune.py from a checkpoint after a kill
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18832): resume worktree_auto_prune.py from a checkpoint after a kill (#2285)
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18882): advance the receipt-gate pin to pick up the pin-only exemption (#2284)
  .github/workflows/call-receipt-gate.yml
Due: check-local-paths

chore(OMN-18033): adopt the gitignore-baseline hook in omniclaude (#2264)
  .gitignore
  .pre-commit-config.yaml
Due: check-local-paths

feat(OMN-18954): the session-start goal surface prints the four dropped-work counts and the cause behind a stale goal
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18954): decode the tick notice's JSON escapes instead of printing them raw
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-18954): the key-parity check runs on a runner instead of skipping there
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18954): the session-start goal surface prints the four dropped-work counts and the cause behind a stale goal (#2288)
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18961): the session-start goal surface announces a pending tick re-fire
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18961): the session-start goal surface announces a pending tick re-fire (#2289)
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18970): default-deny the CI Summary umbrella's external check-runs
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/omn18970_external_sweep_check_runs.json
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18948): the session-start surface prints the sixth dropped-work key
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18948): the session-start surface prints the sixth dropped-work key (#2291)
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18946): give a hook refusal a durable, aggregated home
  .env.example
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_model_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_worktree_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  tests/hooks/test_refusal_rows_omn18946.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18946): rename two identifiers the secret scanner reads as credentials
  plugins/onex/hooks/lib/hook_refusal_recorder.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-18970): hold the swept population to the strict bar, and name the eight
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18946): give a hook refusal a durable, aggregated home (#2293)
  .env.example
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_model_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_worktree_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  tests/hooks/test_refusal_rows_omn18946.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18970): act on the two adversarial-review findings that held up
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18970): make the repository-slug guard a strict character class
  .github/workflows/ci.yml
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-18970): default-deny the CI Summary umbrella's external check-runs (#2290)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/omn18970_external_sweep_check_runs.json
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18974): follow a cd prefix, and refuse a force push to dev or main anywhere
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18974): follow a cd prefix, and refuse a force push to dev or main anywhere (#2294)
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-18530): the hook inventory gate reports a gate-shaped script declared nowhere
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/hook_inventory.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17942): remove the rescinded unstarted-children admission cap
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/ticket_creation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17942): remove the rescinded unstarted-children admission cap (#2296)
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/ticket_creation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18530): refusal propagates through exec only, not source
  plugins/onex/hooks/lib/hook_inventory.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-18530): the hook inventory gate reports a gate-shaped script declared nowhere (#2295)
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/hook_inventory.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18530): the hook inventory gate runs on every PR, not only hook ones
  .github/workflows/hook-inventory-gate.yml
  tests/ci/test_hook_inventory_gate_blocking.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18530): the hook inventory gate runs on every PR, not only hook ones (#2297)
  .github/workflows/hook-inventory-gate.yml
  tests/ci/test_hook_inventory_gate_blocking.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-18530): assert the hook inventory gate as a required context
  .github/required-checks.yaml
  scripts/ci/ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19047): exclude the venv builder from the behavioural leg, with a control
  tests/hooks/test_hook_prologue_relative_invocation_omn19047.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-18530): re-cut the protection snapshot now the gate is required
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-09-21.txt
  tests/ci/test_ci_summary_gate.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18530): the amended sweep test was vacuous; make it resolve a surface
  .github/required-checks.yaml
  tests/hooks/test_hook_inventory_undeclared_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-18530): assert the hook inventory gate as a required context (#2298)
  .github/required-checks.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-09-21.txt
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-09-21.txt
  tests/ci/test_ci_summary_gate.py
  tests/hooks/test_hook_inventory_undeclared_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
