Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

release: omniclaude v0.15.0 (#899)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(tests): clean up sys.modules stubs after delegation_orchestrator import [OMN-5542]
  tests/unit/hooks/lib/test_delegation_orchestrator_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: sanitize chat broadcast body before Kafka emission [OMN-3972]
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/nodes/node_agent_chat/models/model_chat_message.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: correct node class name casing in contract comment [OMN-6557]
  src/omniclaude/nodes/node_skill_tech_debt_sweep_orchestrator/contract.yaml
Due: check-local-paths

fix(tests): add types import for mypy strict compliance [OMN-5542]
  tests/unit/hooks/lib/test_delegation_orchestrator_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(chat): agent chat broadcast system for multi-session coordination [OMN-3972] (#889)
  .env.allowlist
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/chat/SKILL.md
  plugins/onex/skills/chat/prompt.md
  plugins/onex/skills/chat/topics.yaml
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_agent_chat/__init__.py
  src/omniclaude/nodes/node_agent_chat/enums/__init__.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_channel.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_message_type.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_severity.py
  src/omniclaude/nodes/node_agent_chat/handler_auto_emit.py
  src/omniclaude/nodes/node_agent_chat/handler_chat_publisher.py
  src/omniclaude/nodes/node_agent_chat/handler_chat_reader.py
  src/omniclaude/nodes/node_agent_chat/handler_file_chat_store.py
  src/omniclaude/nodes/node_agent_chat/models/__init__.py
  src/omniclaude/nodes/node_agent_chat/models/model_chat_message.py
  src/omniclaude/nodes/node_skill_chat_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_chat_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_chat_orchestrator/node.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/unit/nodes/node_agent_chat/__init__.py
  tests/unit/nodes/node_agent_chat/test_handler_chat_publisher.py
  tests/unit/nodes/node_agent_chat/test_handler_chat_reader.py
  tests/unit/nodes/node_agent_chat/test_handler_file_chat_store.py
  tests/unit/nodes/node_agent_chat/test_integration_chat_pipeline.py
  tests/unit/nodes/node_agent_chat/test_model_chat_message.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add tech-debt-sweep skill for automated debt scanning and ticketing [OMN-6557] (#892)
  plugins/onex/skills/tech_debt_sweep/SKILL.md
  src/omniclaude/nodes/node_skill_tech_debt_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_tech_debt_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_tech_debt_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: wrap sys.modules stub import in try/finally to prevent mock leakage [OMN-5542]
  tests/unit/hooks/lib/test_delegation_orchestrator_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): clean up sys.modules stubs to prevent test pollution [OMN-5542] (#900)
  tests/unit/hooks/lib/test_delegation_orchestrator_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: bump omnibase-spi to 0.20.0 [OMN-6691]
  pyproject.toml
  uv.lock
Due: check-local-paths

chore: standardize TODO markers with ticket references [OMN-6655]
  plugins/onex/skills/_lib/system_status/tests/test_ssrf_protection.py
  tests/unit/test_delegation_prompt_parsing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: fix stale type-ignore suppression codes [OMN-6694]
  src/omniclaude/nodes/node_agent_chat/handler_chat_publisher.py
  src/omniclaude/runtime/introspection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: bump omnibase-spi to 0.20.0 [OMN-6691] (#901)
  pyproject.toml
  uv.lock
Due: check-local-paths

chore: fix stale type-ignore suppression codes [OMN-6694] (#903)
  src/omniclaude/nodes/node_agent_chat/handler_chat_publisher.py
  src/omniclaude/runtime/introspection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(release): add scope verification before tagging [F24]
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

fix(release): clarify scope verification as per-repo and fix sub-step count
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

chore: release v0.16.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

chore(deps): bump omnibase_core to 0.33.0 (#905)
  uv.lock
Due: check-local-paths

fix: update HandlerSlackWebhook init calls for bot_token API [OMN-6715]
  plugins/onex/hooks/lib/blocked_notifier.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/hooks/test_blocked_notifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: narrow Any types to concrete types in lib/ [OMN-6702]
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  src/omniclaude/lib/core/intelligence_event_client.py
  src/omniclaude/lib/core/routing_event_client.py
  src/omniclaude/lib/pattern_quality_scorer.py
  src/omniclaude/lib/utils/correction/ast_corrector.py
  src/omniclaude/lib/utils/health_checks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: remove stale webhook_url guard, use bot_token only [OMN-6715]
  plugins/onex/hooks/lib/blocked_notifier.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: update HandlerSlackWebhook init calls for bot_token API [OMN-6715] (#908)
  plugins/onex/hooks/lib/blocked_notifier.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/hooks/test_blocked_notifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add auto-ticket-from-findings skill for sweep-to-ticket automation [OMN-6729]
  plugins/onex/skills/auto_ticket_from_findings/SKILL.md
Due: check-local-paths

feat(skills): wrap check-drift CLI as contract_sweep skill [OMN-6725]
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
Due: check-local-paths

feat(autopilot): add DoD sweep as standard step with per-ticket verification [OMN-6728]
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/dod_sweep/prompt.md
Due: check-local-paths

chore: generate skill node for auto_ticket_from_findings [OMN-6729]
  src/omniclaude/nodes/node_skill_auto_ticket_from_findings_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_auto_ticket_from_findings_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_auto_ticket_from_findings_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): update contract_sweep integration tests for drift-focused v2 [OMN-6725]
  tests/integration/skills/contract_sweep/test_contract_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test: add unit tests for auto_ticket_from_findings skill node [OMN-6729]
  tests/integration/skills/auto_ticket_from_findings/__init__.py
  tests/integration/skills/auto_ticket_from_findings/test_auto_ticket_from_findings_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(skills): address CodeRabbit review feedback on contract_sweep [OMN-6725]
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
Due: check-local-paths

fix: address CodeRabbit review comments on SKILL.md [OMN-6729]
  plugins/onex/skills/auto_ticket_from_findings/SKILL.md
Due: check-local-paths

fix: address CodeRabbit review threads [OMN-6728]
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/dod_sweep/prompt.md
Due: check-local-paths

fix: address CodeRabbit schema review thread [OMN-6725]
  plugins/onex/skills/contract_sweep/prompt.md
Due: check-local-paths

fix: address CodeRabbit review threads [OMN-6729]
  plugins/onex/skills/auto_ticket_from_findings/SKILL.md
Due: check-local-paths

feat(autopilot): add DoD sweep as standard step with per-ticket verification [OMN-6728] (#912)
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/dod_sweep/prompt.md
Due: check-local-paths

feat(skills): wrap check-drift CLI as contract_sweep skill [OMN-6725] (#911)
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
  tests/integration/skills/contract_sweep/test_contract_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(skills): enhance aggregate_reviews.py test coverage [OMN-6732]
  tests/unit/skills/test_hostile_reviewer_aggregator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): CodeRabbit thread auto-triage hook [OMN-6739]
  plugins/onex/skills/coderabbit_triage/SKILL.md
  plugins/onex/skills/coderabbit_triage/prompt.md
  src/omniclaude/hooks/handlers/coderabbit_triage.py
  tests/unit/hooks/test_coderabbit_triage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add skill output suppression hook [OMN-6733]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/skill_output_suppressor.py
  plugins/onex/hooks/scripts/post_tool_use_output_suppressor.sh
  tests/unit/hooks/test_skill_output_suppressor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): resolve mypy strict errors in coderabbit_triage [OMN-6739]
  src/omniclaude/hooks/handlers/coderabbit_triage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
