Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

chore: fix import ordering in test_wiring_dispatchers.py (ruff isort)
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

OMN-4050: wire contract validation gate into omniclaude CI
  .github/workflows/contract-validation.yml
Due: check-local-paths

fix(ci): harden DB test fixtures against role "root" does not exist flake (OMN-4048)
  .github/workflows/ci.yml
  plugins/onex/skills/_shared/db_helper.py
  tests/hooks/conftest.py
  tests/unit/skills/test_db_helper_user_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

OMN-4059: register omnibase_compat across skills and fix tier graph
  plugins/onex/skills/_lib/contracts/helpers.md
  plugins/onex/skills/_lib/dependency-tiers/helpers.md
  plugins/onex/skills/create-ticket/SKILL.md
  plugins/onex/skills/gap/prompt.md
  plugins/onex/skills/generate-tcb/prompt.md
  plugins/onex/skills/linear-triage/SKILL.md
  plugins/onex/skills/list-prs/SKILL.md
  plugins/onex/skills/plan-ticket/SKILL.md
  plugins/onex/skills/plan-ticket/prompt.md
  plugins/onex/skills/post-release-redeploy/prompt.md
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/rrh/SKILL.md
Due: check-local-paths

OMN-4059: register omnibase_compat across skills and fix tier graph (#590)
  plugins/onex/skills/_lib/contracts/helpers.md
  plugins/onex/skills/_lib/dependency-tiers/helpers.md
  plugins/onex/skills/create-ticket/SKILL.md
  plugins/onex/skills/gap/prompt.md
  plugins/onex/skills/generate-tcb/prompt.md
  plugins/onex/skills/linear-triage/SKILL.md
  plugins/onex/skills/list-prs/SKILL.md
  plugins/onex/skills/plan-ticket/SKILL.md
  plugins/onex/skills/plan-ticket/prompt.md
  plugins/onex/skills/post-release-redeploy/prompt.md
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/rrh/SKILL.md
Due: check-local-paths

fix(ci): remove unused Generator import in test_db_helper_user_guard
  tests/unit/skills/test_db_helper_user_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(test): add pr.validation.rollup to expected SUPPORTED_EVENT_TYPES
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(test): add pr.validation.rollup to test_registry_contains_all_expected_types
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(pipeline): model attribution and PR validation rollup emission (#578)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/phase_instrumentation.py
  plugins/onex/hooks/lib/rollup_aggregator.py
  plugins/onex/skills/_lib/pipeline-metrics/helpers.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(reconcile-artifacts): add omniclaude skill for artifact-reconcile CLI command
  plugins/onex/skills/reconcile-artifacts/SKILL.md
  plugins/onex/skills/reconcile-artifacts/prompt.md
Due: check-local-paths

fix(settings): use OMNICLAUDE_POSTGRES_DATABASE to avoid POSTGRES_DATABASE collision [OMN-4079]
  src/omniclaude/config/settings.py
  src/omniclaude/lib/intelligence_usage_tracker.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(settings): use OMNICLAUDE_POSTGRES_DATABASE to avoid POSTGRES_DATABASE collision [OMN-4079] (#592)
  src/omniclaude/config/settings.py
  src/omniclaude/lib/intelligence_usage_tracker.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(omniclaude): remove consul references from skills, hooks, and templates (OMN-3996)
  docs/architecture/SERVICE-BOUNDARIES.md
  plugins/onex/skills/generate-tcb/prompt.md
  plugins/onex/skills/planning-context-resolver/prompt.md
  src/omniclaude/lib/task_classifier.py
Due: check-local-paths, validate-secrets

fix: harden poly dispatch enforcement — delegation counter block, remove escape hatches, add Dispatch Requirements [OMN-4115]
  CLAUDE.md
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/epic-team/SKILL.md
  plugins/onex/skills/finishing-a-development-branch/SKILL.md
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/pr-polish/SKILL.md
  plugins/onex/skills/pr-review/SKILL.md
  plugins/onex/skills/systematic-debugging/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-work/SKILL.md
Due: check-local-paths

feat(omniclaude): remove consul references from skills, hooks, and templates (OMN-3996) (#593)
  docs/architecture/SERVICE-BOUNDARIES.md
  plugins/onex/skills/generate-tcb/prompt.md
  plugins/onex/skills/planning-context-resolver/prompt.md
  src/omniclaude/lib/task_classifier.py
Due: check-local-paths, validate-secrets

fix(trace): lift OMN-2055 migration freeze and update db_schema.py comments [OMN-4080]
  .migration_freeze
  src/omniclaude/trace/db_schema.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

fix: harden poly dispatch enforcement — delegation counter block, remove escape hatches, add Dispatch Requirements [OMN-4115] (#594)
  CLAUDE.md
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/epic-team/SKILL.md
  plugins/onex/skills/finishing-a-development-branch/SKILL.md
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/pr-polish/SKILL.md
  plugins/onex/skills/pr-review/SKILL.md
  plugins/onex/skills/systematic-debugging/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-work/SKILL.md
Due: check-local-paths

fix(trace): lift OMN-2055 migration freeze and update db_schema.py comments [OMN-4080] (#595)
  .migration_freeze
  src/omniclaude/trace/db_schema.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

chore: generate skill node for reconcile-artifacts [OMN-3925]
  src/omniclaude/nodes/node_skill_reconcile_artifacts_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_reconcile_artifacts_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_reconcile_artifacts_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): skip contract validation on merge-queue branch names (OMN-4308)
  .github/workflows/contract-validation.yml
Due: check-local-paths

fix(ci): skip contract validation on merge-queue branch names (OMN-4308) (#596)
  .github/workflows/contract-validation.yml
Due: check-local-paths

feat(skills): add proof_validation library as importable package + static_checks_registry.yaml
  plugins/__init__.py
  plugins/onex/__init__.py
  plugins/onex/skills/__init__.py
  plugins/onex/skills/generate_ticket_contract/__init__.py
  plugins/onex/skills/generate_ticket_contract/proof_validation.py
  plugins/onex/skills/generate_ticket_contract/static_checks_registry.yaml
  tests/unit/skills/generate_ticket_contract/__init__.py
  tests/unit/skills/generate_ticket_contract/test_proof_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(quality): apply ruff format to test_proof_validation.py (OMN-4342)
  tests/unit/skills/generate_ticket_contract/test_proof_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(skills): mandate pre-commit install before first commit in worktrees [OMN-4354]
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pr-polish/prompt.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  plugins/onex/skills/ticket-work/prompt.md
  plugins/onex/skills/using-git-worktrees/SKILL.md
Due: check-local-paths

feat(skills): add proof_validation library as importable package + static_checks_registry.yaml (OMN-4342) (#598)
  plugins/__init__.py
  plugins/onex/__init__.py
  plugins/onex/skills/__init__.py
  plugins/onex/skills/generate_ticket_contract/__init__.py
  plugins/onex/skills/generate_ticket_contract/proof_validation.py
  plugins/onex/skills/generate_ticket_contract/static_checks_registry.yaml
  tests/unit/skills/generate_ticket_contract/__init__.py
  tests/unit/skills/generate_ticket_contract/test_proof_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): mandate pre-commit install before first commit in worktrees [OMN-4354] (#599)
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pr-polish/prompt.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  plugins/onex/skills/ticket-work/prompt.md
  plugins/onex/skills/using-git-worktrees/SKILL.md
Due: check-local-paths

feat(skills): add cli_validate_proofs.py with optional --json output (OMN-4343)
  plugins/onex/skills/generate_ticket_contract/cli_validate_proofs.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs: add new user setup guides for standalone install and multi-repo workspace
  plugins/onex/GETTING_STARTED.md
  plugins/onex/WORKSPACE_SETUP.md
Due: check-local-paths

ci: wire proof reference resolver as warn-only step (OMN-4345)
  .github/workflows/contract-validation.yml
Due: check-local-paths

fix(ci): fix Secret Detection baseline and AI-Slop pattern violations in user guides
  .secrets.baseline
  plugins/onex/GETTING_STARTED.md
  plugins/onex/WORKSPACE_SETUP.md
Due: check-local-paths

feat(migrations): add Dockerfile.migrate and CI workflow for omniclaude-migrate ECR image
  .github/workflows/build-and-push-migrate-image.yml
  docker/Dockerfile.migrate
  plugins/onex/skills/generate_ticket_contract/proof_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(migrations): add Dockerfile.migrate and CI workflow for omniclaude-migrate ECR image (#608)
  .github/workflows/build-and-push-migrate-image.yml
  docker/Dockerfile.migrate
  plugins/onex/skills/generate_ticket_contract/proof_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(trace): implement ReplayMode.FULL — Outcome B, unblocked by OMN-2412
  src/omniclaude/trace/replay_engine.py
  tests/unit/trace/test_replay_engine.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add configurable no-verify policy gate [OMN-4383]
  plugins/onex/hooks/config.yaml
  plugins/onex/hooks/lib/allow_flag.py
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/hook_policy.py
  plugins/onex/hooks/lib/slack_approval_listener.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  tests/hooks/test_bash_guard.py
  tests/hooks/test_hook_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

ci: add ci-summary aggregator job wrapping quality-gate, tests-gate, security-gate (OMN-4501)
  .github/workflows/ci.yml
Due: check-local-paths

chore(fmt): fix ruff formatting on test_hook_policy.py [OMN-4383]
  tests/hooks/test_hook_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): fix ruff PLW1510/PT027 errors and OCC schema version detection [OMN-4383]
  .github/workflows/onex-schema-compat.yml
  tests/hooks/test_hook_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
