Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(hooks): wire intent classification to UserPromptSubmit [OMN-2493] (#208)
  CLAUDE.md
  plugins/onex/hooks/lib/intent_classifier.py
  plugins/onex/hooks/lib/intent_model_hints.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_session_intent.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): implement intent-to-commit binding [OMN-2492] (#209)
  plugins/onex/hooks/lib/commit_intent_binder.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/unit/hooks/lib/test_commit_binding.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2521] feat(slack-gate): new composable slack-gate sub-skill with risk classification (#235)
  plugins/onex/skills/slack-gate/SKILL.md
Due: none

[OMN-2522] feat(decompose-epic): new sub-skill for autonomous Linear epic decomposition (#236)
  plugins/onex/skills/decompose-epic/SKILL.md
Due: none

[OMN-2523] feat(ci-watch): new sub-skill for autonomous CI polling and failure fixing (#237)
  plugins/onex/skills/ci-watch/SKILL.md
Due: none

[OMN-2524] feat(pr-watch): new sub-skill for autonomous PR review polling and fixing (#238)
  plugins/onex/skills/pr-watch/SKILL.md
Due: none

[OMN-2525] feat(auto-merge): new sub-skill for autonomous PR merging with HIGH_RISK gate (#239)
  plugins/onex/skills/auto-merge/SKILL.md
Due: none

fix(deploy): prune old version directories on deploy (#169)
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

feat(OMN-2501): NL → Intent Object Pipeline with typed classification (#210)
  src/omniclaude/hooks/lib/compliance_result_subscriber.py
  src/omniclaude/nodes/node_nl_intent_pipeline/__init__.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/__init__.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_intent_type.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_resolution_path.py
  src/omniclaude/nodes/node_nl_intent_pipeline/handler_nl_intent_default.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/__init__.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_classification_response.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_extracted_entity.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_intent_object.py
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_nl_parse_request.py
  src/omniclaude/nodes/node_nl_intent_pipeline/node.py
  tests/unit/nodes/node_nl_intent_pipeline/__init__.py
  tests/unit/nodes/node_nl_intent_pipeline/test_intent_pipeline.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2502): Intent → Plan DAG Generation with dependency resolution (#211)
  src/omniclaude/nodes/node_plan_dag_generator/__init__.py
  src/omniclaude/nodes/node_plan_dag_generator/enums/__init__.py
  src/omniclaude/nodes/node_plan_dag_generator/enums/enum_work_unit_type.py
  src/omniclaude/nodes/node_plan_dag_generator/handler_plan_dag_default.py
  src/omniclaude/nodes/node_plan_dag_generator/models/__init__.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_dag_edge.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_plan_dag.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_plan_dag_request.py
  src/omniclaude/nodes/node_plan_dag_generator/models/model_work_unit.py
  src/omniclaude/nodes/node_plan_dag_generator/node.py
  src/omniclaude/nodes/node_plan_dag_generator/protocol_pattern_cache.py
  src/omniclaude/nodes/node_plan_dag_generator/protocol_promoted_pattern.py
  tests/unit/nodes/node_plan_dag_generator/__init__.py
  tests/unit/nodes/node_plan_dag_generator/test_plan_dag.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2503): Plan→Ticket Compiler with IDL spec, test contract, and policy envelope (#212)
  src/omniclaude/nodes/node_ticket_compiler/__init__.py
  src/omniclaude/nodes/node_ticket_compiler/enums/__init__.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_assertion_type.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_sandbox_level.py
  src/omniclaude/nodes/node_ticket_compiler/handler_ticket_compile_default.py
  src/omniclaude/nodes/node_ticket_compiler/models/__init__.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_acceptance_criterion.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_compiled_ticket.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_idl_spec.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_policy_envelope.py
  src/omniclaude/nodes/node_ticket_compiler/models/model_ticket_compile_request.py
  src/omniclaude/nodes/node_ticket_compiler/node.py
  tests/unit/nodes/node_ticket_compiler/__init__.py
  tests/unit/nodes/node_ticket_compiler/test_ticket_compilation.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2504): implement Ambiguity Gate enforcing zero-ambiguity at Plan→Ticket boundary (#213)
  src/omniclaude/nodes/node_ambiguity_gate/__init__.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/__init__.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_ambiguity_type.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_gate_verdict.py
  src/omniclaude/nodes/node_ambiguity_gate/handler_ambiguity_gate_default.py
  src/omniclaude/nodes/node_ambiguity_gate/models/__init__.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_ambiguity_flag.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_ambiguity_gate_error.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_gate_check_request.py
  src/omniclaude/nodes/node_ambiguity_gate/models/model_gate_check_result.py
  src/omniclaude/nodes/node_ambiguity_gate/node.py
  tests/unit/nodes/node_ambiguity_gate/__init__.py
  tests/unit/nodes/node_ambiguity_gate/test_ambiguity_gate.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2505): Evidence Bundle generation — immutable artifacts linking ticket execution to outcome (#214)
  src/omniclaude/nodes/node_evidence_bundle/__init__.py
  src/omniclaude/nodes/node_evidence_bundle/enums/__init__.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_ac_verdict.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_execution_outcome.py
  src/omniclaude/nodes/node_evidence_bundle/handler_evidence_bundle_default.py
  src/omniclaude/nodes/node_evidence_bundle/models/__init__.py
  src/omniclaude/nodes/node_evidence_bundle/models/model_ac_verification_record.py
  src/omniclaude/nodes/node_evidence_bundle/models/model_bundle_generate_request.py
  src/omniclaude/nodes/node_evidence_bundle/models/model_evidence_bundle.py
  src/omniclaude/nodes/node_evidence_bundle/node.py
  src/omniclaude/nodes/node_evidence_bundle/protocol_bundle_store.py
  src/omniclaude/nodes/node_evidence_bundle/store_bundle_in_memory.py
  tests/unit/nodes/node_evidence_bundle/__init__.py
  tests/unit/nodes/node_evidence_bundle/test_evidence_bundle.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2506): OmniMemory Pattern Promotion — stable ticket templates from evidence bundles (#215)
  src/omniclaude/nodes/node_omnimemory_promotion/__init__.py
  src/omniclaude/nodes/node_omnimemory_promotion/enums/__init__.py
  src/omniclaude/nodes/node_omnimemory_promotion/enums/enum_promotion_status.py
  src/omniclaude/nodes/node_omnimemory_promotion/handler_pattern_promotion_default.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/__init__.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_pattern_promotion_request.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_pattern_promotion_result.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_promoted_pattern.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_promotion_criteria.py
  src/omniclaude/nodes/node_omnimemory_promotion/node.py
  src/omniclaude/nodes/node_omnimemory_promotion/protocol_pattern_store.py
  src/omniclaude/nodes/node_omnimemory_promotion/store_pattern_in_memory.py
  tests/unit/nodes/node_omnimemory_promotion/__init__.py
  tests/unit/nodes/node_omnimemory_promotion/test_pattern_promotion.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2507): E2E integration tests for NL Intent-Plan-Ticket Compiler pipeline (#216)
  tests/integration/pipeline/__init__.py
  tests/integration/pipeline/conftest.py
  tests/integration/pipeline/test_nl_to_ticket_pipeline.py
Due: ruff-format, ruff-fix, ruff-check

feat(local-review): add Phase 0 pre-existing issue scan [OMN-2517] (#231)
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
Due: none

[OMN-2518] feat(ci-fix-pipeline): fix ALL by default, remove --selective, fix pre-existing in touched files (#232)
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

[OMN-2520] feat(ticket-pipeline): Phase 0 pre-flight (detect + classify pre-existing issues) (#234)
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

[OMN-2526] feat(ticket-work): --autonomous mode collapses 5 keyboard gates to Slack soft-gates (#240)
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

feat(trace): implement DB schema definitions for agent trace tables [OMN-2406] (#218)
  src/omniclaude/trace/__init__.py
  src/omniclaude/trace/db_schema.py
  tests/unit/trace/__init__.py
  tests/unit/trace/test_db_schema.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-2519] feat(epic-team): global repo_manifest at ~/.claude/epic-team/repo_manifest.yaml (#233)
  plugins/onex/skills/epic-team/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
Due: none

feat(ticket-pipeline): add Phase 4 ci_watch to autonomous pipeline [OMN-2527]
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: none

fix(local-review): add notes init step to prompt.md to match SKILL.md [OMN-2515]
  plugins/onex/skills/local-review/prompt.md
Due: none

docs(local-review): clarify iteration timestamp format vs filename format [OMN-2515]
  plugins/onex/skills/local-review/SKILL.md
Due: none

fix(ticket-pipeline): clarify Ticket-Run Ledger is planned, not yet implemented [OMN-2527]
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: none

fix(ticket-pipeline): annotate unimplemented skills as planned in See Also [OMN-2527]
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: none

fix(ticket-pipeline): address CodeRabbit MAJOR issues in prompt.md [OMN-2527]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(ticket-pipeline): align clean-run count, add Phase 0 dispatch note, add return block [OMN-2527]
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(ticket-pipeline): sync prompt.md with SKILL.md Phase 4 ci_watch additions [OMN-2527]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(review): [minor] sync prompt.md Phase 1+2 dispatch args with SKILL.md [OMN-2527]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

fix(review): [minor] remove reference to non-existent ci-fix-pipeline skill [OMN-2515]
  plugins/onex/skills/local-review/SKILL.md
Due: none

fix(ticket-pipeline): align cross-repo handler in prompt.md with SKILL.md decompose-epic behavior [OMN-2527]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

feat(local-review): add per-session issue notes for audit trail [OMN-2515]
  plugins/onex/skills/local-review/SKILL.md
Due: none

fix(trace): rename models.py to change_frame.py, fix enum casing and ConfigDict [OMN-2405]
  src/omniclaude/trace/__init__.py
  src/omniclaude/trace/change_frame.py
  tests/unit/trace/test_models.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(trace): correct misleading assertion in test_happy_path [OMN-2405]
  tests/unit/trace/test_models.py
Due: ruff-format, ruff-fix, ruff-check

fix(trace): fix incorrect test assertion in test_models.py [OMN-2405]
  tests/unit/trace/test_models.py
Due: ruff-format, ruff-fix, ruff-check

feat(trace): implement core ChangeFrame Pydantic models [OMN-2405]
  src/omniclaude/trace/__init__.py
  src/omniclaude/trace/models.py
  tests/unit/trace/test_models.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(local-review): remove unused os import from Step 4 notes init [OMN-2515]
  plugins/onex/skills/local-review/prompt.md
Due: none

fix(skills): align local-review notes filename example to YYYYMMDD-HHMMSS format [OMN-2515]
  plugins/onex/skills/local-review/SKILL.md
Due: none

fix(local-review): add notes write step and session_start_ts init [OMN-2515]
  plugins/onex/skills/local-review/prompt.md
Due: none
