Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(plugin-compat): add plugin-compat.yaml + CI gate for SD-02 [OMN-8789]
  .github/workflows/plugin-compat-gate.yml
  plugins/onex/plugin-compat.yaml
  plugins/onex/tests/test_plugin_compat_yaml.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(audit): skill shim audit baseline [OMN-8747]
  scripts/audit_skill_shims.py
  tests/audit/__init__.py
  tests/audit/test_skill_shim_audit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(plugin-compat): address CodeRabbit review threads on #1286
  .github/workflows/plugin-compat-gate.yml
  plugins/onex/plugin-compat.yaml
  plugins/onex/tests/test_plugin_compat_yaml.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): auto-generate skill_shim_audit.yaml when missing in CI
  tests/audit/test_skill_shim_audit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(ticks): stateful last-seen memory + diagnosis fidelity + false-positive guard [OMN-8811] (#1284)
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

feat(ci): add reusable cr-thread-gate.yml workflow [OMN-8828] (#1285)
  .github/workflows/cr-thread-gate.yml
  tests/scripts/test_check_unresolved_threads.sh
  tests/workflows/test_cr_thread_gate_invocation.md
Due: check-local-paths

fix(routing): delete USE_ONEX_ROUTING_NODES — ONEX routing always-on [OMN-8781]
  .env.example
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  tests/lib/core/test_onex_routing_nodes.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add dispatch_engine SKILL.md wrapper [OMN-8821]
  plugins/onex/skills/dispatch_engine/SKILL.md
  src/omniclaude/nodes/node_skill_dispatch_engine_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_dispatch_engine_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_dispatch_engine_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(routing): disable ONEX routing in legacy-router tests [OMN-8781]
  tests/lib/core/test_route_via_events_wrapper.py
  tests/routing/test_regression_harness.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skills): port ticket_work to ProtocolProjectTracker DI [OMN-8823]
  plugins/onex/skills/ticket_work/SKILL.md
  plugins/onex/skills/ticket_work/prompt.md
  tests/skills/test_ticket_work_tracker_di.py
  tests/unit/skills/test_mandatory_contract_generation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(nodes): remove node_skill_overseer_verify_orchestrator from omniclaude [OMN-8833]
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(nodes): remove overseer_verify skill definition so generator cannot recreate node (OMN-8833)
  plugins/onex/skills/overseer_verify/SKILL.md
Due: check-local-paths

fix(test): broaden MCP-ban detector to match underscore variant (OMN-8823)
  tests/skills/test_ticket_work_tracker_di.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(nodes): remove node_skill_overseer_verify_orchestrator from omniclaude [OMN-8833] (#1292)
  plugins/onex/skills/overseer_verify/SKILL.md
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add TDD dispatch gate for Agent/Task tool calls [OMN-8846]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_tdd_dispatch_gate.sh
  plugins/onex/tests/hooks/test_tdd_dispatch_gate.py
  src/omniclaude/hooks/pre_tool_use_tdd_dispatch_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-8849): CI test asserting every hooks.json command path resolves to an existing executable
  plugins/onex/tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): add session cron bootstrap enforcement [OMN-8845]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post_tool_use_cron_action_guard.sh
  plugins/onex/hooks/scripts/stop_session_bootstrap_guard.sh
  plugins/onex/hooks/scripts/user_prompt_bootstrap_injector.sh
  plugins/onex/tests/hooks/test_cron_bootstrap_enforcement.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(review): narrow resolved type for mypy in test_hooks_json_script_paths [OMN-8849]
  plugins/onex/tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): drain stdin on lite-mode exit; add CLAUDE_PLUGIN_ROOT to all subprocess test envs [OMN-8845]
  plugins/onex/hooks/scripts/stop_session_bootstrap_guard.sh
  plugins/onex/tests/hooks/test_cron_bootstrap_enforcement.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(skills,nodes): fix residual MCP calls and remove migrated orchestrator [OMN-8823]
  plugins/onex/skills/overseer_verify/SKILL.md
  plugins/onex/skills/ticket_work/prompt.md
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-8849): CI test asserting hooks.json command paths resolve to existing executables (#1293)
  plugins/onex/tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(auto-merge): add stale CLEAN+armed PR poller workflow [OMN-8837]
  .github/workflows/auto-merge-stale-poller.yml
Due: check-local-paths

feat(OMN-8853): dual-scope systemd probe helper
  plugins/onex/skills/_shared/systemd_helper.py
  plugins/onex/skills/system_status/check_system_health/execute.py
  tests/unit/skills/conftest.py
  tests/unit/skills/test_systemd_helper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): block gh pr merge --auto in bash guard [OMN-8838]
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(ci): switch cr-thread-gate to secrets.CR_GATE_PAT [OMN-8802]
  .github/workflows/cr-thread-gate.yml
Due: check-local-paths

test(hooks): assert every hooks.json command resolves to an existing executable [OMN-8836]
  tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(session-start): pin uv --project to OMNIBASE_INFRA_DIR for env sync [OMN-8865]
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_session_start_env_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci: wire cr-thread-gate caller workflow (OMN-8804)
  .github/workflows/cr-thread-check.yml
Due: check-local-paths

fix(hooks): remove TaskOutput from delegation counter allowlist (OMN-8875)
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
Due: check-local-paths

feat(skills): add /onex:changelog_audit skill + unadopted features dashboard [OMN-8876]
  plugins/onex/skills/changelog_audit/SKILL.md
  plugins/onex/skills/changelog_audit/_lib/dispatch.py
  src/omniclaude/nodes/node_skill_changelog_audit_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_changelog_audit_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_changelog_audit_orchestrator/node.py
  tests/skills/test_changelog_audit_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add env_sync_alert [OMN-8868]
  plugins/onex/skills/env_sync_alert/SKILL.md
  plugins/onex/skills/env_sync_alert/__init__.py
  plugins/onex/skills/env_sync_alert/check.py
  scripts/setup-session-crons.sh
  src/omniclaude/nodes/node_skill_env_sync_alert_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_env_sync_alert_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_env_sync_alert_orchestrator/node.py
  tests/skills/test_env_sync_alert.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(test): skip binary files in mcp_linear enforcement test (OMN-8824)
  tests/skills/test_no_mcp_linear_calls_in_skill_prompts.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): add direct pull_request triggers to cr-thread-gate.yml [OMN-8802]
  .github/workflows/cr-thread-gate.yml
Due: check-local-paths

feat(agents): add disallowedTools schema field + enforcement hook (OMN-8842)
  plugins/onex/agents/configs/agent-epic-worker.yaml
  plugins/onex/agents/configs/agent-task-verifier.yaml
  plugins/onex/agents/configs/omniagent-batch-processor.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/agent_router.py
  plugins/onex/hooks/lib/agent_tool_gate.py
  plugins/onex/hooks/scripts/pre_tool_use_agent_tool_gate.sh
  tests/unit/agents/test_disallowed_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(tests): use path.is_file() instead of path.exists() in hook path test [OMN-8836]
  tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(hooks): assert every hooks.json command resolves to existing executable [OMN-8836] (#1300)
  tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): use CROSS_REPO_PAT + handle queue push events (OMN-8802 follow-up)
  .github/workflows/cr-thread-gate.yml
Due: check-local-paths

fix(skills): replace dead gh CLI changelog link with releases page [OMN-8876]
  plugins/onex/skills/changelog_audit/SKILL.md
Due: check-local-paths

fix(hooks): remove TaskOutput from delegation counter allowlist (OMN-8875) (#1303)
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
