Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

chore: add omnimarket and onex-self-extending-agent to statusline PR list
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(OMN-11282): address session phase hook review
  plugins/onex/hooks/scripts/user_prompt_session_phase_enforcement.sh
  tests/unit/hooks/test_session_phase_enforcement.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-11282): force full mode in hook JSON fallback test
  tests/unit/hooks/test_session_phase_enforcement.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-11424): add edited trigger to receipt-gate caller workflow
  .github/workflows/call-receipt-gate.yml
Due: check-local-paths

fix(OMN-11423): deploy-gate reads contracts from OCC, not caller repo
  .github/actions/deploy-gate/action.yml
  .github/actions/deploy-gate/validate_pr_deploy_required.py
  .github/workflows/deploy-gate-reusable.yml
Due: check-local-paths

feat(OMN-7980): wire OpenRouter delegation backend
  .env.example
  scripts/validation/validate_secrets.py
  src/omniclaude/config/model_local_llm_config.py
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_result.py
  tests/unit/config/test_llm_endpoint_registry_frontier.py
  tests/unit/config/test_model_local_llm_config.py
  tests/unit/nodes/node_delegation_orchestrator/test_handler_delegation_dispatch.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-7980): add contract with deploy DoD evidence for omniclaude deploy-gate
  contracts/OMN-7980.yaml
Due: check-local-paths

fix(OMN-7980): align llm_openrouter_max_latency_ms le with LlmEndpointConfig cap
  src/omniclaude/config/model_local_llm_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10837): route tool-content emission through node_emit_daemon
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/lib/event_registry/omniclaude.yaml
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/nodes/node_skill_verified_dispatch_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_verified_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_verified_dispatch_orchestrator/node.py
  tests/hooks/test_cli_emit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-8020): add handler_session_cost_emitter Python handler
  src/omniclaude/hooks/handler_session_cost_emitter.py
  tests/unit/hooks/test_handler_session_cost_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-7777): remove dead DUAL_PUBLISH_LEGACY_TOPICS migration flag
  CLAUDE.md
  src/omniclaude/config/settings.py
  src/omniclaude/lib/core/intelligence_event_client.py
  src/omniclaude/nodes/node_skill_verified_dispatch_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_verified_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_verified_dispatch_orchestrator/node.py
  tests/lib/config/test_intelligence_config.py
  tests/lib/core/test_intelligence_event_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-8020): cast emit_event return to bool for mypy strict mode
  src/omniclaude/hooks/handler_session_cost_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10837): sync event_registry, fix tests, fix contract topic naming
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/nodes/node_skill_verified_dispatch_orchestrator/contract.yaml
  tests/hooks/test_cli_emit.py
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test: include tool content event in registry expectation
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci: reduce docker image build cache footprint
  deployment/Dockerfile
Due: check-local-paths

test: avoid mixed cli_emit import style
  tests/hooks/test_cli_emit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10475): wire zone-filter caller — skip heavy matrix on docs / declarative-evidence diffs
  src/omniclaude/hooks/lib/epic_namespace.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

ci: scan local docker image with dockle archive
  .github/workflows/security-scan.yml
Due: check-local-paths

fix(OMN-10475): satisfy mypy yaml serialization
  src/omniclaude/hooks/lib/epic_namespace.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-11623): route delegate shim through market adapter
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/delegate/SKILL.md
  plugins/onex/skills/delegate/_lib/run.py
  plugins/onex/skills/skills_to_market_manifest.yaml
  tests/delegation/test_e2e_inprocess_wiring.py
  tests/delegation/test_e2e_live_llm.py
  tests/delegation/test_kafka_transport.py
  tests/unit/hooks/lib/test_delegate_contract_resolution.py
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
  tests/unit/hooks/lib/test_delegate_kafka_publish.py
  tests/unit/hooks/lib/test_delegate_shim_thin.py
  tests/unit/hooks/lib/test_delegate_transport_config.py
  tests/validation/test_validate_runtime_backed_skill_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-11623): add delegate shim contract
  contracts/OMN-11623.yaml
Due: check-local-paths

fix(OMN-11623): use valid contract evidence kind
  contracts/OMN-11623.yaml
Due: check-local-paths

ci(OMN-11623): run contract proof validation under uv
  .github/workflows/contract-validation.yml
Due: check-local-paths
