Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

ci(OMN-13940): bind golden chain postgres port explicitly
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13940): harden plugin compat uv sync
  .github/workflows/plugin-compat-gate.yml
Due: check-local-paths

ci(OMN-13502): harden boundary gate sync
  .github/workflows/no-faked-boundary.yml
  .github/workflows/onex-schema-compat.yml
Due: check-local-paths

ci(OMN-13502): retry transient dependency sync gates
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-14176): keep hostile reviewer on dev torch-free path
  .github/workflows/hostile-reviewer.yml
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-13902): add sibling-lock-refresh workflow (fan-out from omnimemory canary)
  .github/workflows/sibling-lock-refresh.yml
Due: check-local-paths

ci(OMN-13902): harden sweep gates on self-hosted runners
  .github/workflows/security-scan.yml
  .github/workflows/sibling-lock-refresh.yml
  scripts/ci/run_golden_chain_live.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-13902): stabilize security scan jobs
  .github/workflows/security-scan.yml
  deployment/Dockerfile
Due: check-local-paths

ci(OMN-13902): avoid secret-shaped golden-chain DSN
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-13902): own golden-chain Postgres startup
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-13902): scope golden-chain postgres container
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-13902): shallow migration freeze checkout
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13902): install pyright node runtime dependency
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13902): isolate golden-chain services
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-13902): retry hostile reviewer dependency clones
  .github/workflows/hostile-reviewer.yml
Due: check-local-paths

ci(OMN-13902): run terrascan directly
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-13902): retry container dependency sync
  deployment/Dockerfile
Due: check-local-paths

ci(OMN-13902): let pyright report libatomic runtime failures
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13902): support pyright libatomic install without sudo
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13902): run PR contract validation on hosted runner
  .github/workflows/validate-pr-contracts.yml
Due: check-local-paths

ci(OMN-13902): avoid merge-base dependency in skill boundary diff
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13902): fix TruffleHog secret-scan network-clone failure + lighten arch checks
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13902): harden sweep-blocking checks
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-13902): provision node for pyright
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-13902): extend hostile reviewer uv timeout
  .github/workflows/hostile-reviewer.yml
Due: check-local-paths

ci(OMN-13902): harden security scan workflow
  .github/workflows/security-scan.yml
  deployment/Dockerfile
Due: check-local-paths

ci(OMN-13902): bump terrascan image for iac scan
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-13902): retry transient Terrascan policy download
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-13902): harden security scan workflows
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-13902): harden schema compat dependency sync
  .github/workflows/onex-schema-compat.yml
Due: check-local-paths

ci(OMN-13902): retry enum governance dependency sync
  .github/workflows/ci.yml
Due: check-local-paths

docs(OMN-13961): handoff skill writes canonical docs/handoff/ (singular), not docs/handoffs/
  plugins/onex/skills/handoff/SKILL.md
  plugins/onex/skills/handoff/prompt.md
Due: check-local-paths

docs(OMN-13961): add handoff path contract
  contracts/OMN-13961.yaml
Due: check-local-paths

ci(OMN-13961): lighten skill backing validation install
  .github/workflows/validate-skill-backing-node.yml
  contracts/OMN-13961.yaml
Due: check-local-paths

ci(OMN-14176): resolve DoD evidence from live PR body
  .github/workflows/ci.yml
Due: check-local-paths
