Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(ci): add auto-merge-on-open workflow [OMN-6571]
  .github/workflows/auto-merge.yml
Due: check-local-paths

feat: add task_id field to hook event payloads for cross-session correlation [OMN-6851]
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/schemas.py
  tests/unit/hooks/test_schemas_task_id.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(data-flow-sweep): add classification and node scaffold tests [OMN-6761]
  tests/unit/skills/test_data_flow_sweep.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(test): add emission wiring presence tests for all emitter modules [OMN-6866]
  tests/unit/hooks/test_emission_wiring_presence.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(merge-sweep): add merge queue guard and graduate DoD gate to hard [OMN-6468][OMN-6117]
  .github/workflows/ci.yml
  plugins/onex/skills/_lib/merge_planner/track_classifier.py
  plugins/onex/skills/merge_sweep/prompt.md
  tests/unit/test_autopilot_hardening.py
  tests/unit/test_dod_enforcement_hard_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: address CI failures and review comments for task_id [OMN-6851]
  .env.example
  plugins/onex/hooks/lib/agent_status_emitter.py
  plugins/onex/hooks/lib/delegation_orchestrator.py
  src/omniclaude/hooks/handler_context_injection.py
  tests/unit/hooks/test_decision_record_schemas.py
  tests/unit/hooks/test_schemas_task_id.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add task_id field to hook event payloads [OMN-6851] (#948)
  .env.example
  plugins/onex/hooks/lib/agent_status_emitter.py
  plugins/onex/hooks/lib/delegation_orchestrator.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/schemas.py
  tests/unit/hooks/test_decision_record_schemas.py
  tests/unit/hooks/test_schemas_task_id.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: inject ONEX_TASK_ID into daemon emission path [OMN-6852]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  tests/unit/publisher/__init__.py
  tests/unit/publisher/test_task_id_passthrough.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: inject ONEX_TASK_ID into daemon emission path [OMN-6852] (#954)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  tests/unit/publisher/__init__.py
  tests/unit/publisher/test_task_id_passthrough.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add set-session skill and TaskBinding service [OMN-6855]
  plugins/onex/skills/set_session/SKILL.md
  src/omniclaude/services/task_binding.py
  tests/unit/services/test_task_binding.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add bare-clone fetch step to merge-sweep before scan [OMN-6869]
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

feat: add coordination signal models and event registry wiring [OMN-6857]
  src/omniclaude/hooks/coordination.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/unit/hooks/test_coordination_signals.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add bare-clone fetch step to merge-sweep before scan [OMN-6869] (#958)
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

feat: add resume-session skill and SessionRegistryClient [OMN-6856]
  plugins/onex/skills/resume_session/SKILL.md
  src/omniclaude/services/session_registry_client.py
  tests/unit/services/test_session_registry_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: replace dict[str, Any] with typed ModelSessionRegistryRow [OMN-6856]
  src/omniclaude/services/session_registry_client.py
  tests/unit/services/test_session_registry_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add resume-session skill and SessionRegistryClient [OMN-6856] (#960)
  plugins/onex/skills/resume_session/SKILL.md
  src/omniclaude/services/session_registry_client.py
  tests/unit/services/test_session_registry_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs: update stale build_topic() signature reference [OMN-5212]
  docs/handoff-publisher-topic-resolution.md
Due: none

fix(ci): add generated skill node for set_session [OMN-6855]
  src/omniclaude/nodes/node_skill_set_session_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_set_session_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_set_session_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): sync coordination.signal with SUPPORTED_EVENT_TYPES and topic allowlist [OMN-6857]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/topic_allowlist.yaml
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add coordination signal emission and consumption [OMN-6857] (#959)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/coordination.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/unit/hooks/test_coordination_signals.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add refill-sprint skill for auto-pulling tech debt [OMN-6870]
  plugins/onex/skills/refill_sprint/SKILL.md
  plugins/onex/skills/refill_sprint/prompt.md
  plugins/onex/skills/refill_sprint/topics.yaml
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  tests/skills/test_refill_sprint.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): add continue-on-error to auto-merge step [OMN-6489]
  .github/workflows/auto-merge.yml
Due: check-local-paths

chore: release omniclaude v0.18.0
  CHANGELOG.md
  pyproject.toml
Due: check-local-paths

test: add coverage for aggregators and routing_models [OMN-6882]
  tests/unit/test_aggregators.py
  tests/unit/test_routing_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add checkpoint-based pipeline recovery with headless cron pattern [OMN-6887]
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/checkpoint/SKILL.md
  scripts/com.omninode.cron-closeout.plist
  scripts/cron-closeout.sh
Due: check-local-paths

feat(skills): add test-iterate loop to ticket pipeline [OMN-6891]
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

docs: add agent behavioral rules for autonomous safety and contract-first topics [OMN-6888]
  CLAUDE.md
Due: check-local-paths

feat: add agent health-check and stall detection for multi-agent orchestration [OMN-6889]
  plugins/onex/skills/agent_healthcheck/SKILL.md
  plugins/onex/skills/agent_healthcheck/topics.yaml
  plugins/onex/skills/epic_team/SKILL.md
Due: check-local-paths

feat: add dependency-aware wave scheduler for parallel agent dispatch [OMN-6890]
  plugins/onex/skills/wave_scheduler/SKILL.md
  plugins/onex/skills/wave_scheduler/topics.yaml
Due: check-local-paths

feat(tests): add CI-enforced golden event tests for emitter payload validation [OMN-6885]
  tests/unit/hooks/lib/golden_events/__init__.py
  tests/unit/hooks/lib/golden_events/schemas.json
  tests/unit/hooks/lib/test_golden_event_validation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(autopilot): full close-out with dirty PR triage, worktree health, and queue stall detection [OMN-6872]
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/autopilot/prompt.md
  src/omniclaude/hooks/lib/dirty_pr_triage.py
  src/omniclaude/hooks/lib/worktree_health.py
  tests/unit/skills/test_autopilot_closeout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(coverage): add coverage sweep skill with scanner, ticket creator, and dedup [OMN-6883]
  plugins/onex/skills/coverage_sweep/SKILL.md
  src/omniclaude/coverage/__init__.py
  src/omniclaude/coverage/models.py
  src/omniclaude/coverage/scanner.py
  src/omniclaude/coverage/ticket_creator.py
  tests/skills/coverage_sweep/__init__.py
  tests/skills/coverage_sweep/test_coverage_models.py
  tests/skills/coverage_sweep/test_coverage_scanner.py
  tests/skills/coverage_sweep/test_coverage_ticket_creator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tracing): make correlation_id required where possible [OMN-6884]
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/shared/models/model_dod_events.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_schemas.py
  tests/hooks/test_session_outcome_enrichment.py
  tests/hooks/test_session_raw_outcome.py
  tests/integration/test_golden_path_harness.py
  tests/unit/hooks/test_correlation_id_audit.py
  tests/unit/hooks/test_validator_catch.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tracing): fix cli_emit type error for correlation_id [OMN-6884]
  src/omniclaude/hooks/cli_emit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: generate missing resume_session skill node
  src/omniclaude/nodes/node_skill_resume_session_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_resume_session_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_resume_session_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(deps): correct omnibase-infra version pin from 0.1.2 to 0.29.0
  pyproject.toml
  uv.lock
Due: check-local-paths

test: add coverage for aggregators and routing_models [OMN-6882] (#967)
  tests/unit/test_aggregators.py
  tests/unit/test_routing_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(coverage): add coverage sweep skill with scanner, ticket creator, and dedup [OMN-6883] (#976)
  plugins/onex/skills/coverage_sweep/SKILL.md
  src/omniclaude/coverage/__init__.py
  src/omniclaude/coverage/models.py
  src/omniclaude/coverage/scanner.py
  src/omniclaude/coverage/ticket_creator.py
  tests/skills/coverage_sweep/__init__.py
  tests/skills/coverage_sweep/test_coverage_models.py
  tests/skills/coverage_sweep/test_coverage_scanner.py
  tests/skills/coverage_sweep/test_coverage_ticket_creator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add test-iterate loop to ticket pipeline [OMN-6891] (#969)
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

feat: add checkpoint-based pipeline recovery with headless cron pattern [OMN-6887] (#968)
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/checkpoint/SKILL.md
  scripts/com.omninode.cron-closeout.plist
  scripts/cron-closeout.sh
Due: check-local-paths
