Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

.pre-commit-config.yaml:

repos:
  # Fast file checks that can run in parallel
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      - id: end-of-file-fixer
        exclude: '\.github/workflows(?:-generated)?/.*\.ya?ml$'
      # check-yaml removed: conflicts with agent YAML files that use custom syntax
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Fast Python formatting and linting (staged files only)
  # Order: format → fix → check (matches CI behavior)
  # Note: To run on entire codebase, use: uv run ruff check src/ tests/
  - repo: local
    hooks:
      - id: clean-output-directory
        name: clean output directory (prevent test artifacts)
        entry: bash -c 'rm -rf output/ && exit 0'
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: ruff-format
        name: ruff format (staged files)
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-fix
        name: ruff check --fix (staged files)
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: ruff-check
        name: ruff check (staged files)
        entry: uv run ruff check
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: bandit-security
        name: bandit (staged files)
        entry: uv run bandit -c .bandit
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

      - id: mypy-typecheck
        name: mypy (staged files)
        entry: uv run mypy --ignore-missing-imports
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*'
        stages: [pre-commit]

      - id: onex-validate
        name: ONEX validation (staged files)
        entry: uv run python scripts/validate_onex.py
        language: system
        types: [python]
        exclude: '^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*'
        stages: [pre-commit]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(omn-1403): Implement NodePatternPersistenceEffect for learned pattern persistence
  contracts/handlers/pattern_storage_postgres/contract.yaml
  migrations/001_create_learned_patterns_table.sql
  plugins/onex/hooks/lib/learned_pattern_injector.py
  plugins/onex/hooks/lib/pattern_types.py
  pyproject.toml
  sql/migrations/002_create_learned_patterns.sql
  sql/migrations/002_create_learned_patterns_down.sql
  src/omniclaude/handlers/pattern_storage_postgres/__init__.py
  src/omniclaude/handlers/pattern_storage_postgres/handler_pattern_storage_postgres.py
  src/omniclaude/hooks/__init__.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/repository_patterns.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/nodes/node_pattern_persistence_effect/__init__.py
  src/omniclaude/nodes/node_pattern_persistence_effect/contract.yaml
  src/omniclaude/nodes/node_pattern_persistence_effect/models/__init__.py
  src/omniclaude/nodes/node_pattern_persistence_effect/models/model_learned_pattern_query.py
  src/omniclaude/nodes/node_pattern_persistence_effect/models/model_learned_pattern_query_result.py
  src/omniclaude/nodes/node_pattern_persistence_effect/models/model_learned_pattern_record.py
  src/omniclaude/nodes/node_pattern_persistence_effect/models/model_learned_pattern_upsert_result.py
  src/omniclaude/nodes/node_pattern_persistence_effect/node.py
  src/omniclaude/nodes/node_pattern_persistence_effect/protocols/__init__.py
  src/omniclaude/nodes/node_pattern_persistence_effect/protocols/protocol_pattern_persistence.py
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/wiring.py
  tests/contracts/__init__.py
  tests/contracts/test_handler_contract_schema.py
  tests/handlers/__init__.py
  tests/handlers/test_handler_pattern_storage_postgres.py
  tests/hooks/test_context_injection_schemas.py
  tests/hooks/test_handler_context_injection.py
  tests/hooks/test_pattern_sync.py
  tests/hooks/test_repository_patterns.py
  tests/integration/__init__.py
  tests/integration/test_pattern_persistence.py
  tests/nodes/__init__.py
  tests/nodes/test_node_pattern_persistence_effect/__init__.py
  tests/nodes/test_node_pattern_persistence_effect/test_models.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(omn-1403): Fix CI failures - type errors and orphaned tests
  src/omniclaude/handlers/pattern_storage_postgres/handler_pattern_storage_postgres.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/repository_patterns.py
  tests/hooks/test_pattern_sync.py
  tests/hooks/test_repository_patterns.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1402): Increase emit timeout from 250ms to 3s
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/cli_emit.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1402): Address PR review feedback
  CLAUDE.md
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

fix(OMN-1402): Address code review feedback
  src/omniclaude/hooks/cli_emit.py
  tests/hooks/test_handler_event_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1402): Harden shell script and add integration tests
  CLAUDE.md
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/handler_event_emitter.py
  tests/hooks/test_cli_emit.py
  tests/hooks/test_handler_event_emitter.py
  tests/hooks/test_integration_kafka.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1402): Address minor PR review feedback
  CLAUDE.md
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/cli_emit.py
  tests/hooks/test_cli_emit.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1402): Wire omniclaude hooks to emit to omniintelligence Kafka topic (#60)
  CLAUDE.md
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  pyproject.toml
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.yaml
  src/omniclaude/hooks/contracts/contract_hook_session_ended.yaml
  src/omniclaude/hooks/contracts/contract_hook_session_started.yaml
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.yaml
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_cli_emit.py
  tests/hooks/test_contracts.py
  tests/hooks/test_handler_event_emitter.py
  tests/hooks/test_integration_kafka.py
  tests/hooks/test_schemas.py
  tests/hooks/test_topics.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1702): Add interim code content capture to PostToolUse hook
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/topics.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1702): Address code review feedback for tool content capture
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_cli_emit.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix: Resolve pre-existing mypy type errors
  src/omniclaude/handlers/pattern_storage_postgres/handler_pattern_storage_postgres.py
  src/omniclaude/runtime/wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix: Add type parameters for dict in strict mypy mode
  src/omniclaude/hooks/cli_emit.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1702): Address code review feedback for tool content capture
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  src/omniclaude/hooks/cli_emit.py
  tests/hooks/test_cli_emit.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1702): Improve TypedDict type safety and add design comment
  src/omniclaude/hooks/cli_emit.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1702): Add C/C++ language detection and improve test coverage
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_cli_emit.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

feat(OMN-1701): Migrate to ModelToolExecutionContent from omnibase_core
  pyproject.toml
  src/omniclaude/hooks/cli_emit.py
  tests/hooks/test_cli_emit.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1671): Add injection limits configuration for pattern selection
  pyproject.toml
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/test_handler_context_injection.py
  tests/hooks/test_injection_limits.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1702): Add interim code content capture to PostToolUse hook (#61)
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  pyproject.toml
  src/omniclaude/handlers/pattern_storage_postgres/handler_pattern_storage_postgres.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/runtime/wiring.py
  tests/hooks/test_cli_emit.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1671): Address code review feedback for injection limits
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1671): Add format sync tests and extract domain constant
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/test_injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1671): Add token safety margin and computed header tokens
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1605): Implement contract-driven handler registration loader
  src/omniclaude/contracts/__init__.py
  src/omniclaude/contracts/loader.py
  src/omniclaude/contracts/models/__init__.py
  src/omniclaude/contracts/models/model_handler_contract.py
  src/omniclaude/contracts/registration.py
  src/omniclaude/runtime/wiring.py
  tests/contracts/test_contract_loader.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1671): Consolidate INJECTION_HEADER as single source of truth
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1631): Integrate emit daemon for user-prompt-submit hook
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1632): Migrate remaining hooks to emit daemon
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1671): Remove unused type-ignore for tiktoken import
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1671): Add injection limits configuration for pattern selection (#62)
  pyproject.toml
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
  tests/hooks/test_handler_context_injection.py
  tests/hooks/test_injection_limits.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): Address PR review feedback
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1605): Switch to event-driven handler registration via KafkaContractSource
  contracts/handlers/pattern_storage_postgres/contract.yaml
  pyproject.toml
  src/omniclaude/contracts/__init__.py
  src/omniclaude/contracts/loader.py
  src/omniclaude/contracts/models/__init__.py
  src/omniclaude/contracts/models/model_handler_contract.py
  src/omniclaude/contracts/registration.py
  src/omniclaude/runtime/wiring.py
  tests/contracts/test_contract_loader.py
  tests/contracts/test_handler_contract_schema.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): Additional PR review fixes
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

fix: Remove invalid `group` parameter from ModelKafkaEventBusConfig
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/handler_event_emitter.py
  tests/hooks/test_handler_event_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): Final PR review fixes
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

chore(OMN-1631): Add jq validation to session-end.sh
  plugins/onex/hooks/scripts/session-end.sh
Due: none

test(OMN-1605): Add integration tests for publish_handler_contracts
  src/omniclaude/runtime/wiring.py
  tests/runtime/__init__.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): Add jq validation to session-start.sh and standardize timestamps
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: none

fix(OMN-1605): Improve error handling and clean up test imports
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

chore(OMN-1631): PR review fixes - jq validation, log consistency, socket check
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

refactor(OMN-1631): Remove shell fallback from emit_client_wrapper
  plugins/onex/hooks/lib/emit_client_wrapper.py
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1605): Add guard for missing handler_id in contract publishing
  src/omniclaude/runtime/wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate
