Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(session): address CodeRabbit CR threads on PR #1380
  plugins/onex/skills/session/prompt.md
Due: check-local-paths

feat(skills): add prompt.md to dod_verify skill [OMN-9414]
  plugins/onex/skills/dod_verify/prompt.md
Due: check-local-paths

feat(session): enforce Phase 3 dispatch invariant in prompt.md [OMN-9408] (#1380)
  plugins/onex/skills/dod_verify/SKILL.md
  plugins/onex/skills/dod_verify/prompt.md
  plugins/onex/skills/session/prompt.md
Due: check-local-paths

feat(pr_review_bot): add missing prompt.md [OMN-9432]
  plugins/onex/skills/pr_review_bot/prompt.md
Due: check-local-paths

feat(bash-guard): block enablePullRequestAutoMerge with explicit mergeMethod [OMN-9433]
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(bash-guard): order-agnostic mergeMethod detection for enablePullRequestAutoMerge [OMN-9433]
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(merge-sweep): auto-heal queue method-mismatch silent drops [OMN-9434]
  scripts/cron-merge-sweep.sh
  scripts/tests/test-queue-heal.sh
Due: check-local-paths

fix(queue-heal): bash 3.2 compat + configurable heal-sleep [OMN-9434]
  scripts/cron-merge-sweep.sh
Due: check-local-paths

fix(queue-heal): address hostile-reviewer findings — limit, node_id, pagination [OMN-9434]
  scripts/cron-merge-sweep.sh
  scripts/tests/test-queue-heal.sh
Due: check-local-paths

docs(queue-heal): clarify mergeQueue first:100 is GitHub server-enforced cap [OMN-9434]
  scripts/cron-merge-sweep.sh
Due: check-local-paths

fix(queue-heal): correct dequeuePullRequest field + GraphQL error validation [OMN-9434]
  scripts/cron-merge-sweep.sh
Due: check-local-paths

fix(pr_review_bot): fix monorepo ref and align docs with SKILL.md contracts
  plugins/onex/skills/pr_review_bot/prompt.md
Due: check-local-paths

fix(bash-guard): narrow mergeMethod pattern to mutation input only [OMN-9433]
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): block duplicate worktree creation
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard_worktree.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: SKILL.md cleanup sweep - deprecated skills, stale migration status, version fields
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/database_sweep/SKILL.md
  plugins/onex/skills/decision_store/SKILL.md
  plugins/onex/skills/delegate/SKILL.md
  plugins/onex/skills/dod_verify/SKILL.md
  plugins/onex/skills/generate_node/SKILL.md
  plugins/onex/skills/hook_health_alert/SKILL.md
  plugins/onex/skills/login/SKILL.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/recall/SKILL.md
  plugins/onex/skills/rewind/SKILL.md
  plugins/onex/skills/system_status/SKILL.md
Due: check-local-paths

fix(onboarding): replace hardcoded path with $OMNI_HOME [OMN-9436]
  plugins/onex/skills/onboarding/SKILL.md
Due: check-local-paths

fix(OMN-9435): address CodeRabbit feedback on pr_review_bot/prompt.md
  plugins/onex/skills/pr_review_bot/prompt.md
Due: check-local-paths

fix(OMN-9435): remove duplicate version field from dod_verify SKILL.md
  plugins/onex/skills/dod_verify/SKILL.md
Due: check-local-paths

fix(OMN-9435): resolve CI gate failures — $OMNI_HOME ref and version mismatch
  plugins/onex/skills/decision_store/SKILL.md
Due: check-local-paths

fix(hooks): replace linear-cli with direct GraphQL in done_verify (OMN-9454)
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): check HTTP status in _fetch_linear_issue (hostile reviewer finding)
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(env): register LINEAR_API_KEY in .env.example (OMN-9454)
  .env.example
Due: check-local-paths

feat(unstick-queue): auto-detect and recover merge-queue head PRs stalled by orphaned check-runs [OMN-9065]
  .gitignore
  plugins/onex/hooks/lib/queue_stall_classifier.py
  plugins/onex/skills/unstick_queue/SKILL.md
  plugins/onex/skills/unstick_queue/prompt.md
  scripts/cron-unstick-queue.sh
  scripts/launchd/ai.omninode.unstick-queue.plist
  scripts/lib/run-unstick-queue.py
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
  src/omniclaude/nodes/node_skill_unstick_queue_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_unstick_queue_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_unstick_queue_orchestrator/node.py
  tests/hooks/test_queue_stall_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): scope ONEX hooks to OmniNode repos via shared repo_guard
  plugins/onex/hooks/lib/repo_guard.sh
  plugins/onex/hooks/lib/test_repo_guard.sh
  plugins/onex/hooks/post-tool-use-ci-reminder.sh
  plugins/onex/hooks/scripts/post-tool-use-test-reminder.sh
  plugins/onex/hooks/scripts/pre_tool_use_prepush_validator.sh
  plugins/onex/hooks/scripts/pre_tool_use_sweep_preflight.sh
  tests/hooks/test_hook_repo_scoping.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(omn-9065): resolve all 6 CR review findings blocking merge
  .gitignore
  plugins/onex/hooks/lib/queue_stall_classifier.py
  plugins/onex/skills/unstick_queue/prompt.md
  scripts/cron-unstick-queue.sh
  scripts/lib/run-unstick-queue.py
  src/omniclaude/nodes/node_skill_unstick_queue_orchestrator/contract.yaml
  tests/hooks/test_queue_stall_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(omn-9065): address 4 new CR findings from second review wave
  plugins/onex/hooks/lib/queue_stall_classifier.py
  scripts/lib/run-unstick-queue.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: SKILL.md cleanup sweep - deprecated skills, stale migration status, version fields
  plugins/onex/skills/dod_verify/SKILL.md
Due: check-local-paths

chore: fix remaining polymorphic-agent reference in transformation_validator docstring [OMN-9504]
  src/omniclaude/lib/core/transformation_validator.py
Due: check-local-paths, validate-secrets

fix(OMN-9504): complete polymorphic-agent scrub in handler_routing_llm and tests
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  tests/routing/test_handler_routing_llm.py
  tests/unit/skills/test_data_flow_sweep.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-9504): resolve 14 CodeRabbit review threads on polymorphic-agent scrub PR
  CLAUDE.md
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/generate_node/SKILL.md
  plugins/onex/skills/hostile_reviewer/prompt.md
  plugins/onex/skills/multi_agent/prompt.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/pr_review_bot/prompt.md
  plugins/onex/skills/ticket_pipeline/prompt.md
  plugins/onex/skills/ticket_work/prompt.md
  src/omniclaude/lib/core/manifest_injector.py
Due: check-local-paths, validate-secrets

feat(validation): enforce SkillRoutingError across all Tier 1 deterministic skills [OMN-8749]
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/ci_watch/SKILL.md
  plugins/onex/skills/data_flow_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/pipeline_fill/SKILL.md
  plugins/onex/skills/platform_readiness/SKILL.md
  plugins/onex/skills/runtime_sweep/SKILL.md
  plugins/onex/skills/session/SKILL.md
  plugins/onex/skills/start_environment/SKILL.md
  plugins/onex/skills/verify_plugin/SKILL.md
  scripts/validation/validate_deterministic_skill_routing.py
  tests/validation/test_validate_deterministic_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-9504): add pragma allowlist for model IDs in pr_review_bot examples
  plugins/onex/skills/pr_review_bot/prompt.md
Due: check-local-paths

fix(OMN-9548): invert bash guard — allow SQUASH auto-merge, block MERGE/REBASE
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-9548): close variable-bound method-binding bypass in bash guard
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-8749): address CodeRabbit threads on dispatch validator + session SKILL.md
  plugins/onex/skills/session/SKILL.md
  scripts/validation/validate_deterministic_skill_routing.py
  tests/validation/test_validate_deterministic_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ci): lint gate for mcp__linear-server__ refs in skill prompts [OMN-8776]
  .github/workflows/skill-mcp-ref-lint.yml
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/lint_skill_mcp_refs.py
  tests/scripts/test_lint_skill_mcp_refs.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-8756): thin /onex:redeploy shim — dispatch-only, node_redeploy receipt
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/redeploy/SKILL.md
  plugins/onex/skills/redeploy/prompt.md
  tests/audit/test_redeploy_shim.py
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check
