Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-18982): date every line of a multi-line guard log message
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20398): stop the report-contract guard refusing result lines and name the real refusal reason
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  tests/hooks/test_subagent_report_contract_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18796): scope the advisory-job census per job
  scripts/advisory_job_gate.py
  tests/scripts/test_advisory_job_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(worktrees): repoint prune contract to registry tooling (OMN-19627)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19737): route hook commit remedies to packaged lock
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_shared_tree_git_guard.py
  tests/hooks_system/fixtures/bash_guard_golden.json
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19741): consume private hygiene vocabulary from its new directory
  .github/workflows/public-repo-hygiene-reusable.yml
  scripts/public_repo_hygiene_gate.py
  tests/scripts/test_public_repo_hygiene_gate.py
  tests/workflows/test_public_repo_hygiene_workflows.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19739): read guard roots from omnibase_internal
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  scripts/lane_identity.py
  scripts/launchd/ai.omninode.canonical-clone-sync.plist
  tests/hooks/test_canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-20220): bump the onex plugin to 2.4.36 for the onboarding guide
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

fix(OMN-19743): point developer runtime config at its declared owner
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20387): cost accounting stops pricing an unknown model as Opus (plugin 2.4.37)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/cost_accounting.py
  tests/unit/hooks/lib/test_cost_accounting.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(OMN-20220): say what curl-pipe-bash is, and how to avoid it
  plugins/onex/ONBOARDING.md
Due: check-local-paths

fix(OMN-19737): route hook commit remedies to packaged lock (#2562)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  tests/hooks/test_shared_tree_git_guard.py
  tests/hooks_system/fixtures/bash_guard_golden.json
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19739): bump clone-sync plugin after merging dev
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

fix(OMN-19627): drop bare OMN_HOME from worktree skill default path
  plugins/onex/skills/worktree/SKILL.md
Due: check-local-paths

docs(worktrees): repoint prune contract (OMN-19627) (#2561)
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-20220): pin the onboarding script to a commit and verify its checksum
  plugins/onex/ONBOARDING.md
Due: check-local-paths

fix(OMN-19742): resolve committed briefs from their content repository
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  plugins/onex/scripts/read_committed_file.py
  plugins/onex/skills/lane_dispatch/SKILL.md
  plugins/onex/skills/lane_dispatch/prompt.md
  plugins/onex/skills/worktree/SKILL.md
  tests/scripts/test_read_committed_file.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19742): add the ticket contract for the packaged workflow brief reader
  contracts/OMN-19742.yaml
Due: check-local-paths

fix(OMN-19742): bump plugin version after rebasing workflow callers
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

docs(OMN-20220): the onboarding guide the bare-Mac walks follow (#2553)
  plugins/onex/GETTING_STARTED.md
  plugins/onex/ONBOARDING.md
Due: check-local-paths

docs(OMN-20220): say that no GitHub account is needed, and which step skips
  plugins/onex/ONBOARDING.md
Due: check-local-paths

fix(OMN-19742): read packaged workflow briefs and rules (#2567)
  contracts/OMN-19742.yaml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  plugins/onex/scripts/read_committed_file.py
  plugins/onex/skills/lane_dispatch/SKILL.md
  plugins/onex/skills/lane_dispatch/prompt.md
  plugins/onex/skills/worktree/SKILL.md
  tests/scripts/test_read_committed_file.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20584): port holder TERMINAL release to the vendored claim index
  scripts/claim_index.py
  tests/scripts/test_branch_claim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-19743): bump onex plugin to 2.4.39
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

chore(OMN-20398): bump onex plugin to 2.4.40
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

chore(OMN-20220): bump the onex plugin to 2.4.38 for the access note
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

fix(OMN-19743): point developer runtime config at its declared owner (#2565)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20637): add failing tests for lab clone sync
  tests/hooks/test_canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20637): canonical clone sync reads identity and prefix from git config
  plugins/onex/hooks/lib/canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20637): lab clone refresh reads the configured fetch source prefix
  plugins/onex/hooks/lib/canonical_clone_sync.py
  tests/hooks/test_canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-20637): bump rebased lab clone sync plugin to 2.4.40
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

docs(OMN-20220): say that no GitHub account is needed, and which step skips (#2569)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/ONBOARDING.md
Due: check-local-paths

fix(OMN-20398): stop the report-contract guard refusing result lines (#2559)
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  tests/hooks/test_subagent_report_contract_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17047): resolve hook wire producers and consumers
  scripts/validation/validate_hook_callees.py
  src/omniclaude/hooks/contracts/wire/prompt_submitted_v1.yaml
  src/omniclaude/hooks/contracts/wire/session_ended_v1.yaml
  src/omniclaude/hooks/contracts/wire/session_started_v1.yaml
  src/omniclaude/hooks/contracts/wire/tool_executed_v1.yaml
  tests/hooks/test_hook_wire_owners_omn17047.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19699): align claim and mutation identities
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/hooks/lib/pr_ownership_guard.py
  plugins/onex/hooks/lib/session_id.py
  scripts/pr_claim_registry_cli.py
  tests/hooks/test_pr_ownership_guard_cache_layout.py
  tests/unit/hooks/test_pr_claim_registry_expired_reclaim.py
  tests/unit/hooks/test_pr_claim_session_identity.py
  tests/unit/hooks/test_pr_ownership_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20343): record actionable redacted hook refusals
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_refusal.sh
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  tests/hooks/test_refusal_details_omn20343.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20664): preserve blank hook fields and count refusals
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_claude_capture.py
  plugins/onex/hooks/lib/hook_emit_health.py
  src/omniclaude/hooks/contracts/contract_hook_claude_capture.yaml
  src/omniclaude/hooks/model_claude_hook_event.py
  tests/hooks/test_hook_emit_health.py
  tests/unit/hooks/test_hook_claude_capture_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19380): refuse unresolved restore paths after expansion
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  tests/hooks/test_dirty_path_restore_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20343): record actionable redacted hook refusals (#2574)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_refusal.sh
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  tests/hooks/test_refusal_details_omn20343.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
