Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix: resolve CI failures — ruff format, lint fixes, generate dod-verify skill node [OMN-5167]
  src/omniclaude/nodes/node_skill_dod_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_dod_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_dod_verify_orchestrator/node.py
  tests/hooks/test_dod_completion_guard.py
  tests/lib/test_dod_evidence_runner.py
  tests/lib/test_dod_parser.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: apply ruff UP017 datetime.UTC alias in dod_evidence_runner [OMN-5167]
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(skills): deep-dive undercounts Linear tickets due to updatedAt/completedAt divergence
  plugins/onex/skills/linear-insights/deep-dive
Due: check-local-paths

fix(skills): deep-dive undercounts Linear tickets due to updatedAt/completedAt divergence (#660)
  plugins/onex/skills/linear-insights/deep-dive
Due: check-local-paths

fix(ci): fall back to github.token when CROSS_REPO_PAT unavailable
  .github/workflows/ci.yml
Due: check-local-paths

feat(hooks): enrich ModelSessionOutcome with 9 optional analytics fields [OMN-5184]
  src/omniclaude/hooks/contracts/contract_hook_session_outcome.yaml
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_session_outcome_enrichment.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(events): wire epic.run.updated emission and fix gate.decision fields [OMN-5184]
  plugins/onex/skills/epic-team/prompt.md
  plugins/onex/skills/slack-gate/slack_gate_poll.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(topics): add DoD telemetry event schemas and TopicBase entries [OMN-5197]
  src/omniclaude/hooks/topics.py
  src/omniclaude/shared/models/__init__.py
  src/omniclaude/shared/models/model_dod_events.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: remove dev defaults and build_topic prefix parameter [OMN-5210..5213]
  plugins/onex/skills/system-status/tests/test_check_kafka_topics.py
  src/omniclaude/hooks/__init__.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/publisher/publisher_config.py
  src/omniclaude/runtime/wiring.py
  tests/hooks/conftest.py
  tests/hooks/test_handler_event_emitter.py
  tests/hooks/test_integration_kafka.py
  tests/hooks/test_schemas.py
  tests/hooks/test_topics.py
  tests/unit/trace/test_fix_transition.py
  tests/validate_event_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: update remaining build_topic callers and test env for OMN-5212 signature change
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/scripts/demo_emit_hook.py
  src/omniclaude/lib/core/action_event_publisher.py
  src/omniclaude/lib/kafka_producer_utils.py
  src/omniclaude/lib/manifest_injection_event_publisher.py
  src/omniclaude/lib/transformation_event_publisher.py
  tests/hooks/test_handler_event_emitter.py
  tests/hooks/test_topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(docs): update KAFKA_ENVIRONMENT default in integration test docs
  tests/hooks/test_integration_kafka.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: add DoD telemetry topics to topic_allowlist.yaml [OMN-5197]
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

chore: wire skill hygiene validator into CI and pre-commit [OMN-5200]
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: check-local-paths

feat: emit DoD verification events to Kafka [OMN-5198]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: emit DoD verification events to Kafka [OMN-5198] (#667)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  plugins/onex/tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(tests): update publisher config tests for OMN-5210 default change
  tests/publisher/test_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(omniclaude): add cross-reference to omnibase_infra capability probe [OMN-5271]
  plugins/onex/hooks/lib/capability_probe.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: add kebab-to-underscore normalization for skill dispatch paths [OMN-5273]
  src/omniclaude/runtime/wiring_dispatchers.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: add DoD event types to EVENT_REGISTRY and fix test sync [OMN-5197]
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/shared/models/model_dod_events.py
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): remove duplicate comment block in event_registry.py [OMN-5197]
  src/omniclaude/hooks/event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

style: fix ruff format violation in test_config.py [OMN-5210]
  tests/publisher/test_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(tests): add DoD event types to event registry expected set [OMN-5197]
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): add audit event schemas and topics for context integrity [OMN-5234]
  src/omniclaude/hooks/schemas_audit.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_schemas_audit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(omniclaude): remove empty commands/ directory [OMN-5299]
  plugins/onex/commands/.gitkeep
Due: check-local-paths

feat(hooks): contract-driven delegation enforcement [OMN-5132]
  plugins/onex/hooks/config.yaml
  plugins/onex/hooks/scripts/delegation-config.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
Due: check-local-paths

feat(hooks): contract-driven delegation enforcement [OMN-5132] (#673)
  plugins/onex/hooks/config.yaml
  plugins/onex/hooks/scripts/delegation-config.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
Due: check-local-paths

chore(omniclaude): add cross-reference to omnibase_infra capability probe [OMN-5271] (#670)
  plugins/onex/hooks/lib/capability_probe.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(omniclaude): emit session-outcome.v1 with DoD/PR/commit enrichment [OMN-5201]
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(ci): remove commands/ from required structure check [OMN-5299]
  .github/workflows/omni-standards-compliance.yml
Due: check-local-paths

feat(hooks): extend correlation manager with task hierarchy [OMN-5235]
  plugins/onex/hooks/lib/correlation_manager.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  tests/hooks/test_correlation_manager_hierarchy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): add audit event types to EVENT_REGISTRY and expected_types test [OMN-5235]
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(omniclaude): emit session outcome events [OMN-5201]
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/schemas.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(pre-existing): fix ruff lint violations in dod_evidence_runner [OMN-5304]
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add hook runtime daemon socket protocol models [OMN-5304]
  src/omniclaude/hook_runtime/__init__.py
  src/omniclaude/hook_runtime/protocol.py
  tests/unit/hook_runtime/__init__.py
  tests/unit/hook_runtime/test_protocol.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add delegation state reducer with threshold enforcement [OMN-5305]
  src/omniclaude/hook_runtime/delegation_state.py
  tests/unit/hook_runtime/test_delegation_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): add audit event types to test_event_registry expected_types [OMN-5235]
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add hook runtime daemon async socket server [OMN-5306]
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): extend correlation manager with task hierarchy [OMN-5235] (#669)
  plugins/onex/hooks/lib/correlation_manager.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_correlation_manager_hierarchy.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add hook runtime daemon CLI entry point [OMN-5307]
  src/omniclaude/hook_runtime/__main__.py
  tests/unit/hook_runtime/test_launcher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
