Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-2271): address local-review findings (iteration 2)
  CLAUDE.md
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2271): address local-review findings (iteration 3)
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2237): add static context snapshot service (#159)
  .secrets.baseline
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/static_context_snapshot.py
  plugins/onex/hooks/scripts/session-start.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/hooks/test_static_context_snapshot.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2271): address local-review findings (iteration 4)
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(observability): track ineligible patterns separately, hash session ID in stamp path
  plugins/onex/hooks/lib/pattern_enforcement.py
  plugins/onex/hooks/scripts/session-start.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2271): address local-review findings (iteration 5)
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2271): address local-review findings (iteration 6)
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(routing): LLM routing observability events (OMN-2273)
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/unit/hooks/lib/test_llm_routing_observability.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): add patterns_skipped_ineligible to compliance test helper and fixtures
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(observability): track ineligible patterns, hash session ID in stamp path (#166)
  plugins/onex/hooks/lib/pattern_enforcement.py
  plugins/onex/hooks/scripts/session-start.sh
  tests/unit/hooks/lib/test_compliance_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(routing): register llm.routing.* event types in SUPPORTED_EVENT_TYPES (OMN-2273)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2271): local model dispatch path in agent pipeline (#164)
  CLAUDE.md
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-2268): add enrichment prompt regression tests
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(deploy): prune old version directories on deploy
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

Revert "fix(deploy): prune old version directories on deploy"
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

test(OMN-2268): tighten frozen model test to expect ValidationError
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] fix tautological test, module-level import, document type-ignore
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major/minor] verify extra=forbid, clarify token_count, improve test docs
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2267): add context enrichment pipeline to UserPromptSubmit hook
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_context_enrichment_runner.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(routing): update stale _get_llm_routing_url mocks to return tuple (OMN-2273)
  tests/lib/core/test_route_via_events_wrapper.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2267): add context enrichment pipeline to UserPromptSubmit hook (#168)
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_context_enrichment_runner.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major/minor] clarify empty-response sentinel, replace tautological test, differentiate heading tests
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] replace trivial latency assertions with boundary tests, rename misleading guard test
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

feat(routing): LLM routing observability events (OMN-2273) (#165)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/unit/hooks/lib/test_llm_routing_observability.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(claude): routing prompt regression tests (OMN-2266)
  tests/unit/test_routing_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] improve sync documentation for inline constants and placeholder URL
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] extract duplicated above-threshold context, rename snapshot tests
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

fix(test): inherit os.environ in subprocess tests to prevent env-stripped hang
  tests/unit/hooks/lib/test_context_enrichment_runner.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): address code review issues from local-review pass
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_context_enrichment_runner.py
  tests/unit/hooks/lib/test_llm_routing_observability.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-2266): routing prompt regression tests (#171)
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_context_enrichment_runner.py
  tests/unit/hooks/lib/test_llm_routing_observability.py
  tests/unit/test_routing_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-2268): enrichment prompt regression tests (#167)
  tests/unit/hooks/lib/test_context_enrichment_runner.py
  tests/unit/test_enrichment_prompt_parsing.py
Due: ruff-format, ruff-fix, ruff-check

feat(OMN-2274): emit enrichment observability events per channel
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  scripts/deploy-claude.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-2274): add unit tests for enrichment observability emitter
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2274): register context.enrichment event type in registry and topics
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2274): address local review findings
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_context_enrichment_runner.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2274): address CodeRabbit review comments
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/test_context_enrichment_runner.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2274): add noqa suppression for false-positive secret scanner warnings
  plugins/onex/hooks/lib/context_enrichment_runner.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2274): emit enrichment observability events per channel (#170)
  plugins/onex/hooks/lib/context_enrichment_runner.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/hooks/lib/local_delegation_handler.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  scripts/deploy-claude.sh
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  tests/unit/hooks/lib/test_context_enrichment_runner.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2344): add cohort + domain fields to extraction event schemas and wire emitter
  plugins/onex/hooks/lib/extraction_event_emitter.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/schemas.py
  tests/unit/hooks/lib/test_extraction_event_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
