Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(OMN-20304): canonical-file-shape ratchet blocks new scripts, plugins and exceptions (#2468)
  .github/workflows/ci.yml
  .github/workflows/hardcoded-model-config.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  scripts/ci/ci_summary_gate.py
  scripts/validation/validate_precommit_pin_parity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): declare work-ledger v2 topics via new contract to satisfy ratchet
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  src/omniclaude/hooks/contracts/contract_hook_work_ledger_typed.yaml
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

feat(OMN-20001): add omnimarket typed ledger topics to EVENT_REGISTRY (#2471)
  .github/workflows/ci.yml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/contracts/contract_hook_work_ledger_typed.yaml
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-17427): gate case reads per-call effort from the agent() options object
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(release): omniclaude 0.27.0 (OMN-18652)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

chore(release): omniclaude 0.27.0 (OMN-18652) (#2476)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-17427): bump plugin version to 2.4.11 and remove haiku comments to satisfy ratchet
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/config/agent_model_allowlist.json
Due: check-local-paths

feat(OMN-17427): routing contract W1/W2 as YAML contract, ROUTE gate in workflow_model_guard
  CLAUDE.md
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/config/contract_agent_routing.yaml
  plugins/onex/hooks/lib/workflow_model_guard.py
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20001): registry-consistency jobs read the omnimarket rev pinned in uv.lock
  .github/workflows/ci.yml
Due: check-local-paths

fix(OMN-17427): remove private repo name references in contract_agent_routing.yaml and workflow_model_guard.py
  plugins/onex/hooks/config/contract_agent_routing.yaml
  plugins/onex/hooks/lib/workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-20298): decouple shape-gate detectors from occ-preflight (#2466)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/check-deterministic-skills.yml
  .github/workflows/check-instructional-skills.yml
  .github/workflows/ci.yml
  .github/workflows/hardcoded-model-config.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/plan-canonical-scripts-gate.yml
  .github/workflows/reject-imperative-skills.yml
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
  scripts/ci/ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20001): skip-guard reusable reads its validator at the caller's pinned sha, not omniclaude dev
  .github/workflows/required-check-skip-guard-reusable.yml
  tests/ci/test_skip_guard_validator_pinned_omn20001.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17427): remove haiku from the background-agent model allowlist (#2472)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/agents/configs/agent-observability.yaml
  plugins/onex/agents/configs/agent-registry.yaml
  plugins/onex/agents/configs/agent-task-verifier.yaml
  plugins/onex/agents/configs/commit.yaml
  plugins/onex/agents/configs/content-summarizer.yaml
  plugins/onex/agents/configs/context-gatherer.yaml
  plugins/onex/agents/configs/contract-validator.yaml
  plugins/onex/agents/configs/debug-log-writer.yaml
  plugins/onex/agents/configs/documentation-indexer.yaml
  plugins/onex/agents/configs/onex-readme.yaml
  plugins/onex/agents/configs/parameter-collector.yaml
  plugins/onex/agents/configs/quota-optimizer.yaml
  plugins/onex/agents/configs/rag-query.yaml
  plugins/onex/agents/configs/rag-update.yaml
  plugins/onex/agents/configs/repository-crawler-claude-code.yaml
  plugins/onex/agents/configs/repository-crawler.yaml
  plugins/onex/agents/configs/structured-logging.yaml
  plugins/onex/agents/configs/type-validator.yaml
  plugins/onex/agents/configs/velocity-log-writer.yaml
  plugins/onex/agents/configs/velocity-tracker.yaml
  plugins/onex/hooks/config/agent_model_allowlist.json
  plugins/onex/hooks/lib/agent_contract_model.py
  plugins/onex/hooks/lib/workflow_model_guard.py
  plugins/onex/scripts/validate-all-agents.sh
  plugins/onex/skills/status/SKILL.md
  src/omniclaude/nodes/node_agent_routing_compute/_internal/_types.py
  src/omniclaude/nodes/node_agent_routing_compute/models/model_agent_definition.py
  tests/hooks/fixtures/workflow_model_guard/passing_pr-backlog-drain-wf_aeb1c3c7-41a.js
  tests/hooks/test_agent_contract_model.py
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-20150): the Docker-overlay test runs on macOS only, like the script's BSD sed
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(ci): add skip guard validator pinned test for OMN-20331 and update ci.yml comments
  .github/workflows/ci.yml
  tests/ci/test_skip_guard_validator_pinned_omn20001.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18946): accept ledger tool result lines in the SubagentStop report-contract guard
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  tests/hooks/test_subagent_report_contract_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(pre-commit): run three language:system hooks through uv-run-worktree-safe.sh
  .pre-commit-config.yaml
Due: check-local-paths

test(OMN-17427): gate case reads per-call effort from the agent() options object (#2475)
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19513): scripts/hook_canary_ledger_append.sh and the v2 emit client refuse ledger writes under a test runner
  .env.example
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/emit_client_wrapper.py
  scripts/hook_canary_ledger_append.sh
  scripts/install-hook-process-canary.sh
  src/omniclaude/handlers/__init__.py
  src/omniclaude/handlers/handler_ledger_write_guard.py
  tests/conftest.py
  tests/handlers/test_ledger_write_guard_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): update registry checkout ref to dev for OMN-19513
  .github/workflows/ci.yml
Due: check-local-paths

fix(OMN-17427): Restore Registry Consistency checkout ref to dev
  .github/workflows/ci.yml
Due: check-local-paths

chore(OMN-18946): bump onex plugin version to 2.4.12
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

fix(OMN-19513): scripts/hook_canary_ledger_append.sh and the v2 work-ledger emit client refuse ledger writes under a test runner (#2484)
  .env.example
  .github/workflows/ci.yml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/emit_client_wrapper.py
  scripts/hook_canary_ledger_append.sh
  scripts/install-hook-process-canary.sh
  src/omniclaude/handlers/__init__.py
  src/omniclaude/handlers/handler_ledger_write_guard.py
  tests/conftest.py
  tests/handlers/test_ledger_write_guard_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-20001): pin omnimarket checkout to omnimarket#3207 head ref
  .github/workflows/ci.yml
Due: check-local-paths

chore(OMN-18946): bump onex plugin version to 2.4.13
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

feat(OMN-17427): routing contract W1/W2 as YAML contract, ROUTE gate in workflow_model_guard (#2477)
  CLAUDE.md
  plugins/onex/hooks/config/contract_agent_routing.yaml
  plugins/onex/hooks/lib/workflow_model_guard.py
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20334): pre-commit hooks stop invoking a bare python
  .pre-commit-config.yaml
Due: check-local-paths

fix(OMN-17427): bump onex plugin to 2.4.13 for the routing contract change in #2477
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

fix(OMN-18946): accept ledger tool result lines in the SubagentStop report-contract guard (#2482)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  tests/hooks/test_subagent_report_contract_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

ci(OMN-17427): wrap bare uv sync in retry loop to fix transient PyPI failures
  .github/workflows/ci.yml
  tests/ci/test_ci_uv_sync_retry_omn17427.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20150): the script keeps the file name lab-onboarding.sh; the skill stays omninode_dev_setup
  contracts/OMN-20150.yaml
  plugins/distribution_manifest.yaml
  plugins/onex/skills/_bin/lab-onboarding.sh
  plugins/onex/skills/omninode_dev_setup/SKILL.md
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20150): omninode-dev-setup: a local-only developer setup, with the full onex and omni plugins (#2462)
  contracts/OMN-20150.yaml
  plugins/distribution_manifest.yaml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  plugins/onex/skills/omninode_dev_setup/SKILL.md
  src/omniclaude/nodes/node_skill_lab_onboarding_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_omninode_dev_setup_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_omninode_dev_setup_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_omninode_dev_setup_orchestrator/handler_omninode_dev_setup_skill.py
  src/omniclaude/nodes/node_skill_omninode_dev_setup_orchestrator/node.py
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-17427): default the uv sync retry variables inside each retry block
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-17427): wrap bare uv sync in retry loop to fix transient PyPI failures (#2487)
  .github/workflows/ci.yml
  tests/ci/test_ci_uv_sync_retry_omn17427.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-17427): hook events carry the lane, host and Bash exit code
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_claude_capture.py
  plugins/onex/hooks/lib/hook_lane_attribution.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/contracts/contract_hook_claude_capture.yaml
  src/omniclaude/hooks/contracts/wire/hook_event_v1.yaml
  src/omniclaude/hooks/model_claude_hook_event.py
  tests/fixtures/hooks/claude_hook_capture/events/PostToolUse.json
  tests/fixtures/hooks/claude_hook_capture/expected_projection/claude_hook_events.jsonl
  tests/fixtures/hooks/claude_hook_capture/scenarios/orphan_agent.events.jsonl
  tests/fixtures/hooks/claude_hook_capture/scenarios/subagent_tree.events.jsonl
  tests/fixtures/hooks/claude_hook_capture/scenarios/workflow_agent.events.jsonl
  tests/unit/hooks/test_claude_hook_capture_contract.py
  tests/unit/hooks/test_hook_emit_projects_glob_omn20110.py
  tests/unit/hooks/test_hook_lane_attribution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-20334): re-sync capture_redaction mirror from omnimarket dev
  src/omniclaude/hooks/contracts/capture_redaction.yaml
Due: check-local-paths

fix(OMN-20150): brace the one expansion bash 3.2 joins to a multibyte character
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17427): update skip_count_baseline.yaml for omniclaude/test-split
  config/skip_count_baseline.yaml
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
