Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(OMN-13096): delegate skill is one command + enforcer dispatch exemption (Phase 2b) (#1753)
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/skills/delegate/SKILL.md
  plugins/onex/skills/delegate/prompt.md
  tests/unit/hooks/lib/test_delegate_shim_thin.py
  tests/unit/hooks/scripts/test_post_skill_delegation_enforcer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-13097): align migrated SKILL.md args + descriptions with onex skill surface
  .onex_state/pr_body.md
  plugins/onex/skills/aislop_sweep/SKILL.md
  plugins/onex/skills/auto_merge/SKILL.md
  plugins/onex/skills/build_loop/SKILL.md
  plugins/onex/skills/coderabbit_triage/SKILL.md
  plugins/onex/skills/compliance_sweep/SKILL.md
  plugins/onex/skills/coverage_sweep/SKILL.md
  plugins/onex/skills/create_ticket/SKILL.md
  plugins/onex/skills/data_flow_sweep/SKILL.md
  plugins/onex/skills/database_sweep/SKILL.md
  plugins/onex/skills/design_to_plan/SKILL.md
  plugins/onex/skills/doc_freshness_sweep/SKILL.md
  plugins/onex/skills/dod_verify/SKILL.md
  plugins/onex/skills/duplication_sweep/SKILL.md
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/linear_housekeeping/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/plan_to_tickets/SKILL.md
  plugins/onex/skills/platform_readiness/SKILL.md
  plugins/onex/skills/pr_polish/SKILL.md
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_bot/SKILL.md
  plugins/onex/skills/session/SKILL.md
  plugins/onex/skills/shim_audit/SKILL.md
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-13097): replace merge_sweep integration test with single-command contract
  .onex_state/pr_body_v2.md
  .onex_state/pr_body_v3.md
  .onex_state/pr_body_v4.md
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-13097): add omniclaude-side contract presence YAMLs for 13097/13096
  contracts/OMN-13096.yaml
  contracts/OMN-13097.yaml
Due: check-local-paths

test(OMN-13097): drop stale onex run-node shim-contract asserts for migrated skills
  tests/audit/test_r_class_shim_enforcement.py
  tests/audit/test_session_shim_contract.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-13098): wire skill receipt-mode gate + ratchet (Phase 4b)
  .github/workflows/skill-receipt-mode-gate.yml
  .onex_ratchets/skill_receipt_mode_allowlist.yaml
  .pre-commit-config.yaml
  scripts/check_skill_dispatch_receipt_mode_wrapper.sh
  tests/scripts/test_skill_dispatch_receipt_mode_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-13098): build omnibase_core dev source into wheel for skill-receipt-mode-gate
  .github/workflows/skill-receipt-mode-gate.yml
Due: check-local-paths

fix(OMN-13098): force local omnibase_core wheel install in skill-receipt-mode-gate
  .github/workflows/skill-receipt-mode-gate.yml
Due: check-local-paths

fix(OMN-13098): use --no-config --no-sources so gate installs local core wheel
  .github/workflows/skill-receipt-mode-gate.yml
Due: check-local-paths

feat(OMN-13098): wire skill receipt-mode gate + ratchet (Phase 4b) (#1755)
  .github/workflows/skill-receipt-mode-gate.yml
  .onex_ratchets/skill_receipt_mode_allowlist.yaml
  .pre-commit-config.yaml
  scripts/check_skill_dispatch_receipt_mode_wrapper.sh
  tests/scripts/test_skill_dispatch_receipt_mode_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-13126): reconcile skill docs — stale markers, phantom flags, eval topic, verb standardization
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/env_parity/SKILL.md
  plugins/onex/skills/gap/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/prompt.md
  plugins/onex/skills/integration_sweep/SKILL.md
  plugins/onex/skills/integration_sweep/prompt.md
  plugins/onex/skills/pr_watch/SKILL.md
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

Revert "docs(OMN-13126): reconcile skill docs — stale markers, phantom flags, eval topic, verb standardization"
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/env_parity/SKILL.md
  plugins/onex/skills/gap/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/prompt.md
  plugins/onex/skills/integration_sweep/SKILL.md
  plugins/onex/skills/integration_sweep/prompt.md
  plugins/onex/skills/pr_watch/SKILL.md
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

docs(OMN-13126): reconcile skill docs — stale markers, phantom flags, eval topic, verb standardization
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/env_parity/SKILL.md
  plugins/onex/skills/gap/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/prompt.md
  plugins/onex/skills/integration_sweep/SKILL.md
  plugins/onex/skills/integration_sweep/prompt.md
  plugins/onex/skills/pr_watch/SKILL.md
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

docs(OMN-13126): add OCC contracts + fix dod_sweep skill-boundary violations
  contracts/OMN-13119.yaml
  contracts/OMN-13126.yaml
  plugins/onex/skills/dod_sweep/SKILL.md
Due: check-local-paths

docs(OMN-13126): fix contract YAML syntax — escape in double-quoted string
  contracts/OMN-13126.yaml
Due: check-local-paths

docs(OMN-13126): fix integration_sweep skill-boundary violations
  plugins/onex/skills/integration_sweep/SKILL.md
Due: check-local-paths

fix(OMN-13139): exempt OCC evidence branches from plan-existence gate
  plugins/onex/hooks/scripts/pre_tool_use_plan_existence_gate.sh
  tests/hooks/test_plan_existence_gate_occ_exempt.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-13139): satisfy subprocess lint
  tests/hooks/test_plan_existence_gate_occ_exempt.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-13126): annotate release skill boundary summary
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

docs(OMN-13126): address review evidence assertions
  contracts/OMN-13119.yaml
  contracts/OMN-13126.yaml
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/prompt.md
Due: check-local-paths

docs(OMN-13126): reconcile skill docs — stale markers, phantom flags, eval topic, verb standardization (#1756)
  contracts/OMN-13119.yaml
  contracts/OMN-13126.yaml
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/env_parity/SKILL.md
  plugins/onex/skills/gap/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  plugins/onex/skills/golden_chain_sweep/prompt.md
  plugins/onex/skills/integration_sweep/SKILL.md
  plugins/onex/skills/integration_sweep/prompt.md
  plugins/onex/skills/pr_watch/SKILL.md
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

fix(OMN-13139): exempt OCC evidence branches from plan-existence gate (#1757)
  plugins/onex/hooks/scripts/pre_tool_use_plan_existence_gate.sh
  tests/hooks/test_plan_existence_gate_occ_exempt.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-13148): align release SKILL.md to placeholder reality
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

feat(OMN-13120): version-skew gate for live daemon venv pin drift
  .github/workflows/daemon-venv-skew-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-daemon-venv-skew.sh
  scripts/check_daemon_venv_skew.py
  tests/scripts/test_check_daemon_venv_skew.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

evidence(OMN-13148): add contract dod_evidence for release SKILL.md doc-honesty
  contracts/OMN-13148.yaml
Due: check-local-paths

fix(OMN-13154): orphan-node guard counts only dirs with contract.yaml
  tests/unit/nodes/test_skill_node_coverage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

evidence(OMN-13148): cross-reference paired OCC receipt PR #2622
  contracts/OMN-13148.yaml
Due: check-local-paths

fix(OMN-13120): add least-privilege permissions to venv-skew workflow (Checkov CKV2_GHA_1)
  .github/workflows/daemon-venv-skew-gate.yml
Due: check-local-paths

docs(OMN-13148): reword Step 1 prose to clear skill-node-boundary false positive
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

docs(OMN-13148): align release SKILL.md to placeholder reality (doc-honesty) (#1758)
  contracts/OMN-13148.yaml
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

feat(OMN-13120): version-skew gate for live daemon venv pin drift (#1759)
  .github/workflows/daemon-venv-skew-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-daemon-venv-skew.sh
  scripts/check_daemon_venv_skew.py
  tests/scripts/test_check_daemon_venv_skew.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13154): orphan-node guard counts only dirs with contract.yaml (#1761)
  tests/unit/nodes/test_skill_node_coverage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-13183): refresh omniclaude documentation
  AGENT.md
  CLAUDE.md
  CONTRIBUTING.md
  QUICKSTART.md
  docs/architecture/charter.md
  docs/architecture/skill-lifecycle.md
  docs/getting-started/INSTALLATION.md
  docs/guides/ADDING_A_HOOK_HANDLER.md
  docs/reference/SKILL_AUTHORING_GUIDE.md
  plugins/onex/README.md
Due: check-local-paths

docs(OMN-13172): refresh omniclaude documentation (#1765)
  AGENT.md
  CLAUDE.md
  CONTRIBUTING.md
  QUICKSTART.md
  docs/architecture/charter.md
  docs/architecture/skill-lifecycle.md
  docs/getting-started/INSTALLATION.md
  docs/guides/ADDING_A_HOOK_HANDLER.md
  docs/reference/SKILL_AUTHORING_GUIDE.md
  plugins/onex/README.md
Due: check-local-paths

chore(OMN-13187): refresh omniclaude dependencies (#1766)
  .github/workflows/security-scan.yml
  consumers/requirements.txt
Due: check-local-paths
