Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-18609): resolve the lane at emit time from the harness sidecar, not from cwd
  plugins/onex/hooks/lib/hook_emit_append.py
  plugins/onex/hooks/lib/hook_lane_attribution.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/pre_tool_use_skill_started.sh
  plugins/onex/hooks/scripts/session_end_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  plugins/onex/hooks/scripts/user_prompt_submit_bus_mirror.sh
  tests/unit/hooks/test_hook_lane_attribution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18688): a dry run reports the reclaim it PLANS, not 0.0 GB (#2241)
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune_omn18688.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18627): emit evidence through the registered class and refuse invisible topic overrides
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/lib/event_registry/omniclaude.yaml
  scripts/validation/validate_hook_edge_lane.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/verification/evidence_writer.py
  tests/hooks/test_hook_edge_lane.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18609): resolve the lane at emit time from the harness sidecar, not from cwd (#2242)
  plugins/onex/hooks/lib/hook_emit_append.py
  plugins/onex/hooks/lib/hook_lane_attribution.py
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/pre_tool_use_skill_started.sh
  plugins/onex/hooks/scripts/session_end_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  plugins/onex/hooks/scripts/user_prompt_submit_bus_mirror.sh
  tests/unit/hooks/test_hook_lane_attribution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18627): emit evidence through the registered class and refuse invisible topic overrides (#2243)
  plugins/onex/hooks/contracts/hook_edge_lane.yaml
  plugins/onex/lib/event_registry/omniclaude.yaml
  scripts/validation/validate_hook_edge_lane.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/verification/evidence_writer.py
  tests/hooks/test_hook_edge_lane.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18746): read back the interpreter hooks run on, and assert the orphan hooks venv absent
  .bandit
  .github/CONTRIBUTING.md
  README.md
  plugins/onex/CONTAINER_INSTALL.md
  plugins/onex/hooks/scripts/user_prompt_session_phase_enforcement.sh
  plugins/onex/skills/verify_plugin/SKILL.md
  scripts/check_daemon_venv_skew.py
  scripts/check_omnimarket_dispatch_drift.py
  scripts/hook_interpreter.py
  scripts/public_skill_hygiene_allowlist.yaml
  tests/scripts/test_check_omnimarket_dispatch_drift.py
  tests/scripts/test_hook_interpreter_readback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18747): resolve a bare PR number the ticket itself anchors
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/fixtures/omn_18086_description.md
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18746): repoint the skill probe past the monorepo-ref gate, add the PR contract
  contracts/OMN-18746.yaml
  plugins/onex/skills/verify_plugin/SKILL.md
Due: check-local-paths

fix(OMN-18747): resolve a bare PR number the ticket itself anchors (#2245)
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/fixtures/omn_18086_description.md
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18746): read back the interpreter hooks run on, and assert the orphan hooks venv absent (#2244)
  .bandit
  .github/CONTRIBUTING.md
  README.md
  contracts/OMN-18746.yaml
  plugins/onex/CONTAINER_INSTALL.md
  plugins/onex/hooks/scripts/user_prompt_session_phase_enforcement.sh
  plugins/onex/skills/verify_plugin/SKILL.md
  scripts/check_daemon_venv_skew.py
  scripts/check_omnimarket_dispatch_drift.py
  scripts/hook_interpreter.py
  scripts/public_skill_hygiene_allowlist.yaml
  tests/scripts/test_check_omnimarket_dispatch_drift.py
  tests/scripts/test_hook_interpreter_readback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18749): a closed-unmerged citation needs a declared merged successor
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/fixtures/omn_18172_shape_description.md
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18750): refuse a backtick command substitution written into prose
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/prose_command_substitution_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/prose_command_substitution_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  scripts/validation/validate_hook_callees.py
  tests/hooks/test_emit_to_journal_callee_omn18702.py
  tests/unit/hooks/test_prose_command_substitution_guard_omn18750.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18749): a closed-unmerged citation needs a declared merged successor (#2246)
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/fixtures/omn_18172_shape_description.md
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18752): the plugin lock's git pins follow the canonical clone, and the skew gate stops prescribing a downgrade
  .github/workflows/sibling-lock-refresh.yml
  pyproject.toml
  scripts/check_daemon_venv_skew.py
  scripts/git_source_pins.py
  scripts/relock_git_sources.py
  tests/scripts/test_check_daemon_venv_skew.py
  tests/test_git_source_pins.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18750): record the prose-substitution guard in the OMN-13244 baseline
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18750): refuse a backtick command substitution written into prose (#2247)
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/prose_command_substitution_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/prose_command_substitution_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  scripts/validation/validate_hook_callees.py
  tests/hooks/test_emit_to_journal_callee_omn18702.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/unit/hooks/test_prose_command_substitution_guard_omn18750.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18752): the dispatch-drift gate answers to the same ref as the clone, and the fourth touch point is deleted rather than automated
  .github/workflows/omnimarket-dispatch-drift-gate.yml
  pyproject.toml
  scripts/check_omnimarket_dispatch_drift.py
  scripts/public_skill_hygiene_ratchet.yaml
  tests/test_dispatch_drift_authority.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-18754): retire the rolling_plan_governor skill and its node
  CHANGELOG.md
  plugins/distribution_manifest.yaml
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
  plugins/onex/skills/weekly_review/SKILL.md
  scripts/ci/canonical_handler_shape_baseline.py
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/node.py
  tests/skills/test_rolling_plan_governor_retired_omn18754.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18752): the sibling checkout stops claiming an authentication it does not have, and a missing clone is loud
  .github/workflows/sibling-lock-refresh.yml
  scripts/relock_git_sources.py
  tests/test_git_source_pins.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18752): the plugin lock git pins follow the canonical clone, and the skew gate stops prescribing a downgrade (#2248)
  .github/workflows/omnimarket-dispatch-drift-gate.yml
  .github/workflows/sibling-lock-refresh.yml
  pyproject.toml
  scripts/check_daemon_venv_skew.py
  scripts/check_omnimarket_dispatch_drift.py
  scripts/git_source_pins.py
  scripts/public_skill_hygiene_ratchet.yaml
  scripts/relock_git_sources.py
  tests/scripts/test_check_daemon_venv_skew.py
  tests/test_dispatch_drift_authority.py
  tests/test_git_source_pins.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-18754): add the change-control contract for the retirement
  contracts/OMN-18754.yaml
Due: check-local-paths

refactor(OMN-18754): retire the rolling_plan_governor skill and its node (#2249)
  CHANGELOG.md
  contracts/OMN-18754.yaml
  plugins/distribution_manifest.yaml
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
  plugins/onex/skills/weekly_review/SKILL.md
  scripts/ci/canonical_handler_shape_baseline.py
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_rolling_plan_governor_orchestrator/node.py
  tests/skills/test_rolling_plan_governor_retired_omn18754.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps, OMN-18752): advance the omnimarket pin to the canonical clone head
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-17421): read lane death signatures only from harness lifecycle frames
  contracts/OMN-17421.yaml
  plugins/onex/hooks/lib/lane_registry.py
  plugins/onex/hooks/lib/lane_termination_guard.py
  tests/hooks/fixtures/lane_auth_control_false_death.jsonl
  tests/hooks/fixtures/lane_harness_auth_death.jsonl
  tests/hooks/test_lane_termination_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(deps, OMN-18752): advance the omnimarket pin to the canonical clone head (#2251)
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-18752): the lock-vs-clone lag is a stated note, not a blocking finding, and the gate's live half is finally registered
  .pre-commit-config.yaml
  scripts/check_daemon_venv_skew.py
  scripts/git_source_pins.py
  tests/test_git_source_pins.py
  tests/test_venv_gate_registration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17421): read lane death signatures only from harness lifecycle frames (#2252)
  contracts/OMN-17421.yaml
  plugins/onex/hooks/lib/lane_registry.py
  plugins/onex/hooks/lib/lane_termination_guard.py
  tests/hooks/fixtures/lane_auth_control_false_death.jsonl
  tests/hooks/fixtures/lane_harness_auth_death.jsonl
  tests/hooks/test_lane_termination_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18752): the lock-vs-clone lag is a stated note, not a blocking finding, and the gate's live half is finally registered (#2253)
  .pre-commit-config.yaml
  scripts/check_daemon_venv_skew.py
  scripts/git_source_pins.py
  tests/test_git_source_pins.py
  tests/test_venv_gate_registration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18288): make the Lane Identity Gate blocking, and prove the fleet arming per clone
  .github/required-checks.yaml
  .github/workflows/lane-identity-gate.yml
  scripts/lane_identity.py
  tests/scripts/test_lane_identity_arming_probe.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18288): make the Lane Identity Gate blocking, and prove the fleet arming per clone (#2254)
  .github/required-checks.yaml
  .github/workflows/lane-identity-gate.yml
  scripts/lane_identity.py
  tests/scripts/test_lane_identity_arming_probe.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18777): refuse a new advisory job unless a ticket annotation names it
  .github/workflows/advisory-job-gate-reusable.yml
  .github/workflows/advisory-job-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .secrets.baseline
  config/advisory_job_baseline.yaml
  scripts/advisory_job_gate.py
  tests/scripts/test_advisory_job_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18777): refuse a new advisory job unless a ticket annotation names it (#2255)
  .github/workflows/advisory-job-gate-reusable.yml
  .github/workflows/advisory-job-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .secrets.baseline
  config/advisory_job_baseline.yaml
  scripts/advisory_job_gate.py
  tests/scripts/test_advisory_job_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18792): the lane-identity clone enumeration includes the registry root
  scripts/lane_identity.py
  tests/scripts/test_lane_identity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-18790): skip-count ratchet wired in omniclaude
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/skip_count_baseline.yaml
  scripts/ci/ci_summary_gate.py
  scripts/ci/skip_count_ratchet.py
  tests/ci/fixtures/skip_count_ratchet/hooks-run-35396322080.xml
  tests/ci/fixtures/skip_count_ratchet/hooks-run-35397791807.xml
  tests/ci/fixtures/skip_count_ratchet/narrowed-run-35396322080.xml
  tests/ci/fixtures/skip_count_ratchet/narrowed-run-35404945505.xml
  tests/ci/test_skip_count_ratchet_omn18790.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18791): claim resolution survives a ledger roll
  .github/workflows/branch-claim-check-reusable.yml
  scripts/branch_claim.py
  scripts/lane_identity.py
  tests/scripts/test_branch_claim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18790): the vendored gate's XML parse carries its bandit justification inline
  scripts/ci/skip_count_ratchet.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18777): record the advisory-job-gate context in the required-check manifest
  .github/required-checks.yaml
Due: check-local-paths

fix(OMN-18791): claim resolution survives a ledger roll (#2257)
  .github/workflows/branch-claim-check-reusable.yml
  scripts/branch_claim.py
  scripts/lane_identity.py
  tests/scripts/test_branch_claim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18792): the lane-identity clone enumeration includes the registry root (#2256)
  scripts/lane_identity.py
  tests/scripts/test_lane_identity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18777): record the advisory-job-gate context in the required-check manifest (#2259)
  .github/required-checks.yaml
Due: check-local-paths
