Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-20184): runtime-profiles uv sync pins the python version
  .github/workflows/ci.yml
Due: check-local-paths

chore(OMN-20177): re-pin the URL Authority Gate to omnibase_core#1821's merge commit
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: check-local-paths

fix(OMN-20184): runtime profiles run inside CI Summary, the canonical-inference growth check fails closed, and the delegation smoke test runs (#2447)
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/ci.yml
  .github/workflows/validator-runtime-profiles.yml
  config/skip_count_baseline.yaml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/delegation_daemon.py
  scripts/ci/check_canonical_inference_baseline_growth.py
  scripts/ci/ci_summary_gate.py
  scripts/ci/run_runtime_profiles_validator.py
  tests/ci/test_canonical_inference_baseline_growth.py
  tests/ci/test_ci_summary_gate.py
  tests/delegation/test_e2e_smoke.py
  tests/scripts/test_advisory_job_gate.py
  tests/unit/hooks/lib/test_delegation_daemon.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-20150): the beta offers Gemini and OpenRouter keys only
  plugins/onex/skills/_bin/lab-onboarding.sh
  plugins/onex/skills/lab_onboarding/SKILL.md
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20150): friendlier, more specific Docker and model-key prompts
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-17099): onboarding containers run the developer's model and key; phase 5 stops reading as proof the key was used
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20150): "Quit setup" on the onboarding prompts
  .secrets.baseline
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20150): mark the quit-marker comparison as not a secret
  plugins/onex/skills/_bin/lab-onboarding.sh
Due: check-local-paths

ci(OMN-20177): URL Authority Gate pins the omnibase_core matcher that sees DSN env reads, and gains its pre-commit twin (#2446)
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: check-local-paths

fix(OMN-20150): normalize .secrets.baseline (no line_number/generated_at) so test_committed_repo_baseline_is_normalized passes
  .secrets.baseline
Due: none

feat(OMN-20150): developers bring their own model key; it is settled before anything installs (#2448)
  plugins/onex/skills/_bin/lab-onboarding.sh
  plugins/onex/skills/lab_onboarding/SKILL.md
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-17099): onboarding containers run the developer's model and key; phase 5 stops reading as proof the key was used (#2449)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-19381): RED -- a hook refusal row names the lane from the payload, and every recording guard is named
  tests/hooks/test_refusal_row_lane_omn19381.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20031): the Bash capture stamps goal_id on the one event that opens a goal
  scripts/generate_claude_hook_capture_fixtures.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/contracts/contract_hook_claude_capture.yaml
  src/omniclaude/hooks/contracts/wire/hook_event_v1.yaml
  src/omniclaude/hooks/model_claude_hook_event.py
  tests/fixtures/hooks/claude_hook_capture/content/PreToolUse.goal_binding.json
  tests/fixtures/hooks/claude_hook_capture/events/PreToolUse.goal_binding.json
  tests/fixtures/hooks/claude_hook_capture/events/PreToolUse.goal_not_uuid.json
  tests/fixtures/hooks/claude_hook_capture/stdin/PreToolUse.goal_binding.json
  tests/unit/hooks/test_hook_claude_capture_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19381): a hook refusal row names the lane from the payload sidecar, lane env, CLAIM or worktree path
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_lane_attribution.py
  plugins/onex/hooks/lib/hook_refusal.sh
  plugins/onex/hooks/lib/hook_refusal_lane.py
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_model_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_worktree_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  tests/hooks/test_refusal_row_lane_omn19381.py
  tests/hooks/test_refusal_rows_omn18946.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19381): the refusal seam resolves its recorder when sourced by a relative path and the guard cds away
  plugins/onex/hooks/lib/hook_refusal.sh
  tests/hooks/test_refusal_row_lane_omn19381.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19381): the lazy sibling imports pass mypy strict whether or not the hooks lib is on the path
  plugins/onex/hooks/lib/hook_refusal_lane.py
  plugins/onex/hooks/lib/hook_refusal_recorder.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-19381): the new test file carries the repo's SPDX header year
  tests/hooks/test_refusal_row_lane_omn19381.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-19381): omnimarket's delegate-skill and provider-quota events are daemon-internal in the registry projection
  scripts/validation/generate_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-19381): a hook refusal row names the lane from the payload sidecar, lane env, CLAIM or worktree path (#2452)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_lane_attribution.py
  plugins/onex/hooks/lib/hook_refusal.sh
  plugins/onex/hooks/lib/hook_refusal_lane.py
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_model_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_worktree_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  scripts/validation/generate_event_registry.py
  tests/hooks/test_refusal_row_lane_omn19381.py
  tests/hooks/test_refusal_rows_omn18946.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20031): record the 7 macOS-only onboarding skips from #2448 in the skip-count baseline
  config/skip_count_baseline.yaml
Due: check-local-paths

fix(OMN-20201): re-derive the capture-redaction mirror from omnimarket dev and record the OMN-20154 emit-only event types as daemon-internal
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/contracts/capture_redaction.yaml
  src/omniclaude/hooks/event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20031): classify omnimarket's provider-quota and delegate_skill events as daemon-internal so the registry projection check passes
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20201): take dev's daemon-internal event set; the PR's copy duplicated entries dev already landed
  scripts/validation/generate_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-20201): run the stdlib-only hardcoded-IP check with setup-python, not a uv sync that stalled past its 5-minute timeout
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-20150): record the 7 macOS-only skip ids omniclaude#2448 added to the skip-count baseline
  config/skip_count_baseline.yaml
Due: check-local-paths

fix(OMN-20262): lane identity reads ONEX_LANE and the pr-close refusal prints an absolute CLI path
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/pr_ownership_guard.py
  scripts/pr_claim_registry_cli.py
  tests/hooks_system/bash_guard_corpus.py
  tests/hooks_system/fixtures/bash_guard_golden.json
  tests/unit/hooks/test_pr_claim_registry_release_lane.py
  tests/unit/hooks/test_pr_ownership_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13902): record the 7 macOS-only onboarding tests (OMN-20150) in the skip-count baseline
  config/skip_count_baseline.yaml
Due: check-local-paths

fix(OMN-20264): Runner Route sync step is bounded per attempt, retried and warm on retry
  .github/workflows/route-runner-reusable.yml
  tests/workflows/test_route_runner_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20262): re-derive capture_redaction mirror from omnimarket's owning copy (OMN-18357)
  src/omniclaude/hooks/contracts/capture_redaction.yaml
Due: check-local-paths

fix(OMN-18595): spool drainer owns SPOOL_DIR_NAME now that omnibase_infra 0.38.61 drops it
  src/omniclaude/hooks/spool_drain.py
  tests/hooks/test_spool_drain.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20264): Runner Route sync step is bounded per attempt, retried and warm on retry (#2455)
  .github/workflows/route-runner-reusable.yml
  tests/workflows/test_route_runner_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20262): lane identity reads ONEX_LANE and the pr-close refusal prints an absolute CLI path (#2454)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/pr_ownership_guard.py
  scripts/pr_claim_registry_cli.py
  tests/hooks_system/bash_guard_corpus.py
  tests/hooks_system/fixtures/bash_guard_golden.json
  tests/unit/hooks/test_pr_claim_registry_release_lane.py
  tests/unit/hooks/test_pr_ownership_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17427): rename local to 'expanded' in hook_refusal_lane
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_refusal_lane.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20031): placement-gate fixture clones with --no-local so the CI object copy cannot fail
  tests/scripts/test_private_repo_runner_placement_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20031): the Bash capture stamps goal_id on the one event that opens a goal (#2451)
  scripts/generate_claude_hook_capture_fixtures.py
  src/omniclaude/hooks/contracts/contract_hook_claude_capture.yaml
  src/omniclaude/hooks/contracts/wire/hook_event_v1.yaml
  src/omniclaude/hooks/model_claude_hook_event.py
  tests/fixtures/hooks/claude_hook_capture/content/PreToolUse.goal_binding.json
  tests/fixtures/hooks/claude_hook_capture/events/PreToolUse.goal_binding.json
  tests/fixtures/hooks/claude_hook_capture/events/PreToolUse.goal_not_uuid.json
  tests/fixtures/hooks/claude_hook_capture/stdin/PreToolUse.goal_binding.json
  tests/scripts/test_private_repo_runner_placement_gate.py
  tests/unit/hooks/test_hook_claude_capture_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-20285): the status line PR segment is an optional bounded local extension; the launcher resolves the enabled onex plugin
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/scripts/deploy.sh
  plugins/onex/hooks/scripts/statusline.sh
  tests/hooks/test_statusline_pr_extension.py
  tests/hooks/test_statusline_pr_extension.sh
  tests/hooks/test_statusline_pr_segment.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20110): the hook capture finds a workflow agent's sidecar without listing every run
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_claude_capture.py
  tests/unit/hooks/test_hook_claude_capture_sidecar_index_omn20110.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
