Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

docs(pr-polish): note node-owned finalize path
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

docs(pr-polish): note node-owned coderabbit finalize step
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

fix(pr-polish): skip prompt coderabbit phase under no-push
  plugins/onex/skills/pr_polish/prompt.md
Due: check-local-paths

feat(merge-sweep): surface pr-polish branch mutation evidence
  scripts/cron-merge-sweep.sh
  scripts/tests/test-merge-sweep-ledger.sh
Due: check-local-paths

feat(OMN-10239): add advisory runtime-backed skill path validator
  plugins/onex/skills/skills_to_market_manifest.yaml
  scripts/validation/validate_runtime_backed_skill_paths.py
  tests/validation/test_validate_runtime_backed_skill_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10239): restore merge sweep routing declaration
  plugins/onex/skills/merge_sweep/SKILL.md
Due: check-local-paths

fix(OMN-10261): add foreground_orchestrator opt-out to DELEGATION ENFORCER hook
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/dispatch_engine/SKILL.md
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/overnight/SKILL.md
  plugins/onex/skills/wave_scheduler/SKILL.md
  tests/unit/hooks/scripts/test_post_skill_delegation_enforcer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10239): validate canonical skill targets
  scripts/validation/validate_runtime_backed_skill_paths.py
  tests/validation/test_validate_runtime_backed_skill_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-8764): add probe reference and args to gap skill shim prompt.md
  plugins/onex/skills/gap/prompt.md
Due: check-local-paths

fix(OMN-10180): address 4 Major CodeRabbit findings in merge-sweep + pr_polish
  plugins/onex/skills/pr_polish/SKILL.md
  scripts/cron-merge-sweep.sh
  tests/unit/skills/merge_sweep/test_merge_sweep_run_sh_round_trip.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10180): preserve POLISH_DISPATCHES_BEFORE/RESULTS_BEFORE across retry attempts
  scripts/cron-merge-sweep.sh
Due: check-local-paths

fix(OMN-10266): route merge sweep through run-node
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/merge_sweep/run.sh
  tests/integration/skills/merge_sweep/test_merge_sweep_integration.py
  tests/unit/skills/test_merge_sweep_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10267): remove aislop repo-local skill path
  plugins/onex/skills/aislop_sweep/SKILL.md
Due: check-local-paths

fix(OMN-10268): route pr review through run-node
  plugins/onex/skills/pr_review/SKILL.md
  scripts/validation/validate_deterministic_skill_routing.py
  scripts/validation/validate_instructional_skill_routing.py
  tests/validation/test_validate_deterministic_skill_routing.py
  tests/validation/test_validate_instructional_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10269): route pr review bot through run-node
  plugins/onex/skills/pr_review_bot/SKILL.md
  plugins/onex/skills/pr_review_bot/prompt.md
  scripts/validation/validate_deterministic_skill_routing.py
  scripts/validation/validate_instructional_skill_routing.py
  tests/validation/test_validate_deterministic_skill_routing.py
  tests/validation/test_validate_instructional_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10270): align delegate command schema
  plugins/onex/skills/delegate/SKILL.md
  plugins/onex/skills/delegate/_lib/run.py
  plugins/onex/skills/skills_to_market_manifest.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_command.py
  tests/unit/hooks/lib/test_delegate_kafka_publish.py
  tests/unit/node_delegation_orchestrator/test_model_delegation_command.py
  tests/validation/test_validate_runtime_backed_skill_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10269): combine pr review routing validators
  plugins/onex/skills/pr_review/SKILL.md
  scripts/validation/validate_deterministic_skill_routing.py
  tests/validation/test_validate_deterministic_skill_routing.py
  tests/validation/test_validate_instructional_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-10270): add delegate deploy gate contract
  contracts/OMN-10270.yaml
Due: check-local-paths

fix(OMN-10180): stabilize merge-sweep polish ledger counts
  scripts/cron-merge-sweep.sh
  scripts/tests/test-merge-sweep-ledger.sh
Due: check-local-paths

fix(OMN-10180): address merge-sweep review blockers
  scripts/cron-merge-sweep.sh
Due: check-local-paths

fix(OMN-10269): satisfy skill shim dispatch gates
  plugins/onex/skills/compliance_sweep/SKILL.md
  plugins/onex/skills/session/SKILL.md
Due: check-local-paths

fix(OMN-10277): ignore outdated CodeRabbit threads
  scripts/check-unresolved-threads.sh
  tests/scripts/test_check_unresolved_threads.sh
Due: check-local-paths

ci(OMN-10277): remove invalid CR thread workflow event
  .github/workflows/cr-thread-check.yml
Due: check-local-paths

fix(OMN-10278): require worktree cleanup before ticket Done
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

fix(OMN-10278): unblock cleanup closeout gates
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

fix(OMN-10278): align worktrees root env var
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

chore: salvage legacy worktree OMN-10110/omniclaude
  plugins/onex/hooks/scripts/post_tool_use_auto_hostile_review.sh
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(OMN-9606): omniclaude documentation refresh around thin-wrapper boundary
  README.md
  docs/INDEX.md
  docs/SECURITY.md
  docs/architecture/skill-lifecycle.md
  docs/guides/ADDING_A_SKILL.md
Due: check-local-paths

docs(OMN-10314): fix omniclaude link-check excludes and add CONTRIBUTING.md
  .markdown-link-check.json
  CONTRIBUTING.md
Due: check-local-paths

fix(OMN-10335): normalize Claude session cost emitter
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/session_cost_common.py
  src/omniclaude/hooks/session_cost_emitter.py
  tests/fixtures/session_cost/omniclaude-session-session-accum-001.json
  tests/fixtures/session_cost/session_end_accumulator.json
  tests/fixtures/session_cost/session_end_context_window.json
  tests/unit/hooks/test_session_cost_common.py
  tests/unit/hooks/test_session_cost_emitter.py
  tests/unit/hooks/test_session_cost_replay.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10335): harden session cost normalization
  src/omniclaude/hooks/session_cost_common.py
  src/omniclaude/hooks/session_cost_emitter.py
  tests/unit/hooks/test_session_cost_common.py
  tests/unit/hooks/test_session_cost_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10336): add opencode cost emitter
  scripts/opencode-session-scanner.sh
  src/omniclaude/hooks/opencode_emitter.py
  tests/integration/hooks/test_opencode_session_emission.py
  tests/unit/hooks/test_opencode_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10337): add codex session cost emitter
  scripts/codex-session-scanner.sh
  src/omniclaude/hooks/codex_emitter.py
  tests/fixtures/session_cost/codex_session_with_tokens.jsonl
  tests/fixtures/session_cost/codex_session_without_tokens.jsonl
  tests/integration/hooks/test_codex_session_emission.py
  tests/unit/hooks/test_codex_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-10348): define ONEX (OmniNode eXecution) on first use in README
  README.md
Due: check-local-paths

feat(OMN-10347): harden skip-gate rejection to cover all [skip-*] tokens per Rule #10
  .github/workflows/reject-deploy-gate-skip.yml
  .pre-commit-hooks/reject-deploy-gate-skip-token.sh
Due: check-local-paths

feat(OMN-10316): wire docs-validate as required CI gate in omniclaude
  .github/workflows/docs-validate.yml
Due: check-local-paths

fix(OMN-10316): remove paths filter so required check runs on every PR
  .github/workflows/docs-validate.yml
Due: check-local-paths

fix(OMN-10352): auto-create epic on first plan_to_tickets run
  plugins/onex/skills/plan_to_tickets/SKILL.md
  tests/skills/test_plan_to_tickets_epic_autocreate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-10386): add dispatch worker cost payload
  scripts/validate_onex.py
  src/omniclaude/nodes/node_skill_dispatch_worker_orchestrator/contract.yaml
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/shared/models/model_skill_completion_event.py
  tests/unit/runtime/test_wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-10386): add deploy gate evidence
  contracts/OMN-10386.yaml
Due: check-local-paths
