Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-1970): Harden OMN-1970 modules — decouple alert model, fix path injection, improve marker detection
  plugins/onex/hooks/lib/cross_repo_detector.py
  plugins/onex/hooks/lib/linear_contract_patcher.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/unit/hooks/lib/test_cross_repo_detector.py
  tests/unit/hooks/lib/test_linear_contract_patcher.py
  tests/unit/hooks/lib/test_pipeline_slack_notifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-1970): Align AlertSeverity constants with EnumAlertSeverity case
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/unit/hooks/lib/test_pipeline_slack_notifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] Correct misleading test name and docstring
  tests/unit/hooks/lib/test_linear_contract_patcher.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] Log swallowed exceptions, skip fenced contract matches
  plugins/onex/hooks/lib/linear_contract_patcher.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/unit/hooks/lib/test_linear_contract_patcher.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] Apply _find_outside_fence to all contract callsites
  plugins/onex/hooks/lib/linear_contract_patcher.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] Apply _find_outside_fence to Pipeline Status pattern
  plugins/onex/hooks/lib/linear_contract_patcher.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [minor] Normalize severity lookup, strengthen fence assertion
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/unit/hooks/lib/test_linear_contract_patcher.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major] Surface actionable error for contracts inside fenced blocks
  plugins/onex/hooks/lib/linear_contract_patcher.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/unit/hooks/lib/test_linear_contract_patcher.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-1970): Harden OMN-1970 modules — decouple alert model, fix path injection, improve marker detection (#120)
  plugins/onex/hooks/lib/cross_repo_detector.py
  plugins/onex/hooks/lib/linear_contract_patcher.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  tests/unit/hooks/lib/test_cross_repo_detector.py
  tests/unit/hooks/lib/test_linear_contract_patcher.py
  tests/unit/hooks/lib/test_pipeline_slack_notifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2168): Add golden path integration test harness
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2168): Harden golden path harness from code review
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major+minor] Race condition and robustness fixes in golden path harness
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major+minor] Timeout diagnostics, monkeypatch, frozen check, assertion tightening
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major+minor] Track handler threads, extract helper, add negative tests
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(statusline): Fix stale tab eviction, add sequential numbering and hook-driven activity
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

feat(OMN-2168): Golden path integration test harness (#121)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2168): Address review nits from golden path harness PR
  plugins/onex/hooks/scripts/statusline.sh
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(OMN-2168): Address review nits from golden path harness PR (#122)
  plugins/onex/hooks/scripts/statusline.sh
  tests/integration/test_golden_path_harness.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [major] secret redaction + timeout docs + desc truncation
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

feat: consolidate commands→skills, colored status dots, fix plugin discovery
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/commands/ci-failures.md
  plugins/onex/commands/create-followup-tickets.md
  plugins/onex/commands/deploy-local-plugin.md
  plugins/onex/commands/plan-ticket.md
  plugins/onex/commands/pr-release-ready.md
  plugins/onex/commands/ticket-pipeline.md
  plugins/onex/commands/ticket-work.md
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/skills/agent-observability/SKILL.md
  plugins/onex/skills/ci-failures/SKILL.md
  plugins/onex/skills/create-ticket/SKILL.md
  plugins/onex/skills/deep-dive/SKILL.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/generate-node/SKILL.md
  plugins/onex/skills/linear-insights/SKILL.md
  plugins/onex/skills/linear-insights/deep-dive
  plugins/onex/skills/linear/SKILL.md
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/parallel-solve/SKILL.md
  plugins/onex/skills/parallel-solve/prompt.md
  plugins/onex/skills/plan-to-tickets/SKILL.md
  plugins/onex/skills/pr-release-ready/SKILL.md
  plugins/onex/skills/pr-review-dev/SKILL.md
  plugins/onex/skills/pr-review/SKILL.md
  plugins/onex/skills/project-status/SKILL.md
  plugins/onex/skills/setup-statusline/SKILL.md
  plugins/onex/skills/suggest-work/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/ticket-work/prompt.md
  plugins/onex/skills/ultimate-validate/SKILL.md
  plugins/onex/skills/velocity-estimate/SKILL.md
Due: none

fix(review): [major] secret redaction + ticket prefix + UTF-8 literal
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

fix(review): [minor] hash distribution + perf docs + stale refs + deploy warning
  CLAUDE.md
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/parallel-solve/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: none

fix(review): [minor] DRY redaction + trace log secrets + ticket prefix
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/statusline.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: none

fix(review): [minor] ticket regex allowlist to prevent false positives
  plugins/onex/hooks/scripts/statusline.sh
Due: none

feat(OMN-1848): Agent status Kafka emitter (fail-open, emit daemon pattern)
  plugins/onex/hooks/lib/agent_status_emitter.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-1848): Replace dict[str, Any] with dict[str, str] for ONEX compliance
  plugins/onex/hooks/lib/agent_status_emitter.py
  src/omniclaude/hooks/schemas.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [release] PEM redaction + deploy confirmation + trace privacy + docs
  CLAUDE.md
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/local-review/prompt.md
  plugins/onex/skills/parallel-solve/prompt.md
  plugins/onex/skills/pr-review-dev/SKILL.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

feat(OMN-2126): PreToolUse authorization gate hook + /authorize commands
  plugins/onex/commands/authorize.md
  plugins/onex/commands/deauthorize.md
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/auth_gate_adapter.py
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat: statusline duplicate detection for shared paths and tickets
  plugins/onex/hooks/scripts/statusline.sh
Due: none

feat(OMN-1848): Agent status Kafka emitter (fail-open) (#124)
  plugins/onex/hooks/lib/agent_status_emitter.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-1848): Review fixes for agent status emitter
  plugins/onex/hooks/lib/agent_status_emitter.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_agent_status_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-1848): Review fixes for agent status emitter (#126)
  plugins/onex/hooks/lib/agent_status_emitter.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_agent_status_emitter.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2126): PreToolUse authorization gate hook + /authorize commands (#125)
  plugins/onex/commands/authorize.md
  plugins/onex/commands/deauthorize.md
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/auth_gate_adapter.py
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
  plugins/onex/hooks/scripts/statusline.sh
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-1850): Integrate agent status emission with ticket-work skill
  plugins/onex/hooks/lib/emit_ticket_status.py
  plugins/onex/skills/ticket-work/SKILL.md
  tests/hooks/test_emit_ticket_status.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-1855): integrate GeometricConflictClassifier with parallel agent dispatching
  plugins/onex/hooks/lib/reconcile_agent_outputs.py
  plugins/onex/skills/dispatching-parallel-agents/SKILL.md
  tests/unit/hooks/lib/test_reconcile_agent_outputs.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-2058): DB-SPLIT-07 — remove cross-repo coupling, adopt claude_session tables
  .env.example
  plugins/onex/.env.example
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/scripts/demo_consume_store.py
  plugins/onex/scripts/demo_query_patterns.py
  plugins/onex/skills/_shared/db_helper.py
  plugins/onex/skills/system-status/tests/conftest.py
  plugins/onex/skills/system-status/tests/test_check_infrastructure.py
  plugins/onex/skills/system-status/tests/test_error_handling.py
  scripts/init-db.sh
  sql/migrations/001_add_project_context_to_observability_tables.sql
  sql/migrations/001_add_project_context_to_observability_tables_down.sql
  sql/migrations/001_create_claude_session_tables.sql
  sql/migrations/001_create_claude_session_tables_down.sql
  sql/migrations/002_create_learned_patterns.sql
  sql/migrations/002_create_learned_patterns_down.sql
  sql/migrations/003_add_evidence_tier.sql
  sql/migrations/003_add_evidence_tier_down.sql
  src/omniclaude/cli/patterns.py
  src/omniclaude/config/settings.py
  src/omniclaude/handlers/pattern_storage_postgres/__init__.py
  src/omniclaude/handlers/pattern_storage_postgres/handler_pattern_storage_postgres.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/contracts/repository_learned_patterns.yaml
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/lib/core/manifest_injector.py
  tests/contracts/test_handler_contract_schema.py
  tests/contracts/test_repository_learned_patterns.py
  tests/handlers/test_handler_pattern_storage_postgres.py
  tests/hooks/test_context_config.py
  tests/hooks/test_graduated_injection.py
  tests/hooks/test_integration_demo_pipeline.py
  tests/hooks/test_integration_postgres_contract.py
Due: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

fix(review): [major+minor] Fix relative import, metadata validation, test gaps
  plugins/onex/hooks/lib/emit_ticket_status.py
  plugins/onex/skills/ticket-work/SKILL.md
  tests/hooks/test_emit_ticket_status.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major+minor] address review findings from DB-SPLIT-07
  consumers/agent_actions_consumer.py
  consumers/test_consumer.py
  contracts/handlers/pattern_storage_postgres/contract.yaml
  plugins/onex/skills/_shared/db_helper.py
  scripts/debug_loop_cli.py
  scripts/init-db.sh
  sql/migrations/001_create_claude_session_tables.sql
  src/omniclaude/config/settings.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

fix(review): [major+minor] CLI validation, test coverage, SKILL.md docs
  plugins/onex/hooks/lib/emit_ticket_status.py
  plugins/onex/skills/ticket-work/SKILL.md
  tests/hooks/test_emit_ticket_status.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets
