Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

bandit-security:
  name: bandit (staged files)
  entry: uv run bandit -c .bandit
  language: system
  stages:
  - pre-commit

mypy-typecheck:
  name: mypy (staged files)
  entry: uv run mypy --ignore-missing-imports
  language: system
  stages:
  - pre-commit

onex-validate:
  name: ONEX validation (staged files)
  entry: uv run python scripts/validate_onex.py
  language: system
  stages:
  - pre-commit

fix(OMN-1674): Remove unused type ignore comments (CI uses --ignore-missing-imports)
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/hooks/injection_limits.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1674): Consolidate defaults to contract as single source of truth
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/models_injection_tracking.py
  tests/hooks/test_cohort_assignment.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1674): Add non-mapping YAML guard and harden tests
  src/omniclaude/hooks/cohort_assignment.py
  tests/hooks/test_cohort_assignment.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1674): Use contract constants for handler defaults and add contract test
  src/omniclaude/hooks/handler_context_injection.py
  tests/hooks/test_cohort_assignment.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1674): Add Pydantic backing models for all ONEX contracts
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/contracts/__init__.py
  src/omniclaude/hooks/contracts/contract_experiment_cohort.py
  src/omniclaude/hooks/contracts/contract_experiment_cohort.yaml
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.py
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.yaml
  src/omniclaude/hooks/contracts/contract_hook_session_ended.py
  src/omniclaude/hooks/contracts/contract_hook_session_ended.yaml
  src/omniclaude/hooks/contracts/contract_hook_session_started.py
  src/omniclaude/hooks/contracts/contract_hook_session_started.yaml
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.yaml
  tests/contracts/test_pydantic_contract_models.py
  tests/hooks/test_cohort_assignment.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1674): Address PR #67 review feedback
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/contracts/contract_hook_session_started.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
  tests/hooks/test_cohort_assignment.py
  tests/hooks/test_context_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1674): Add configurable A/B cohort assignment with contract-first design (#67)
  .env.example
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/contracts/__init__.py
  src/omniclaude/hooks/contracts/contract_experiment_cohort.py
  src/omniclaude/hooks/contracts/contract_experiment_cohort.yaml
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.py
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.yaml
  src/omniclaude/hooks/contracts/contract_hook_session_ended.py
  src/omniclaude/hooks/contracts/contract_hook_session_ended.yaml
  src/omniclaude/hooks/contracts/contract_hook_session_started.py
  src/omniclaude/hooks/contracts/contract_hook_session_started.yaml
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.yaml
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/models_injection_tracking.py
  tests/contracts/test_pydantic_contract_models.py
  tests/hooks/test_cohort_assignment.py
  tests/hooks/test_context_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1735): Emit session-outcome event from SessionEnd hook
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  pyproject.toml
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1735): Add emitted_at timestamp and TODO to session.outcome payload
  plugins/onex/hooks/scripts/session-end.sh
Due: none

fix(OMN-1735): Replace dict[str, Any] with dict[str, object] in contracts
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.py
  src/omniclaude/hooks/contracts/contract_hook_session_ended.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1735): Add SESSION_ID validation, schema, and fix test
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1735): Add UUID validation and contract YAML for session.outcome
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/contracts/contract_hook_session_outcome.yaml
Due: none

fix(OMN-1735): Improve UUID validation and add ModelSessionOutcome tests
  plugins/onex/hooks/scripts/session-end.sh
  src/omniclaude/hooks/contracts/contract_hook_session_outcome.yaml
  tests/hooks/test_schemas.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

feat(OMN-1735): Emit session-outcome event from SessionEnd hook (#68)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/session-end.sh
  pyproject.toml
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.py
  src/omniclaude/hooks/contracts/contract_hook_session_ended.py
  src/omniclaude/hooks/contracts/contract_hook_session_outcome.yaml
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_schemas.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1675): Wire SessionStart hook for pattern injection
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/lib/learned_pattern_injector.py
  plugins/onex/hooks/lib/pattern_types.py
  plugins/onex/hooks/lib/session_marker.py
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  tests/hooks/test_handler_context_injection.py
  tests/hooks/test_session_start_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1675): Address code review feedback for SessionStart injection
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  src/omniclaude/hooks/context_config.py
  tests/conftest.py
  tests/hooks/test_session_start_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1675): Add timeout safeguard and event emission tests
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_session_start_injection.py
Due: ruff-format, ruff-fix, ruff-check, mypy-typecheck

fix(OMN-1675): Address PR review feedback and CI failure
  plugins/onex/hooks/lib/session_marker.py
  plugins/onex/hooks/scripts/session-start.sh
  src/omniclaude/hooks/context_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

docs: Rewrite CLAUDE.md as operational spec
  CLAUDE.md
Due: none

docs: Remove file counts and legacy aliases from CLAUDE.md
  CLAUDE.md
Due: none

docs: Rewrite CLAUDE.md as operational spec (#71)
  CLAUDE.md
Due: none

fix(OMN-1675): Add Bandit B108 annotation to fix security scan CI
  src/omniclaude/hooks/context_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1812): Simplify config copy and add integration tests
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1812): Migrate to infra ServiceContractPublisher
  CHANGELOG.md
  src/omniclaude/__init__.py
  src/omniclaude/contracts/__init__.py
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/contract_models.py
  src/omniclaude/runtime/exceptions.py
  src/omniclaude/runtime/wiring.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1812): Remove version bump and add environment field to test mock
  CHANGELOG.md
  src/omniclaude/__init__.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1812): Remove phantom version reference from migration note
  src/omniclaude/contracts/__init__.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1812): Remove dict[str, Any] from hook contracts
  src/omniclaude/hooks/contracts/contract_hook_session_ended.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

refactor(OMN-1812): Consolidate hook contract schema models
  src/omniclaude/hooks/contracts/__init__.py
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.py
  src/omniclaude/hooks/contracts/contract_hook_session_ended.py
  src/omniclaude/hooks/contracts/contract_hook_session_started.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
  src/omniclaude/hooks/contracts/schema/__init__.py
  src/omniclaude/hooks/contracts/schema/model_json_schema.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1675): Address all PR #70 review issues for release readiness
  plugins/onex/hooks/scripts/session-start.sh
  src/omniclaude/hooks/context_config.py
  tests/hooks/test_session_start_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1821): Add /ticket-work skill for contract-driven ticket execution
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/ticket-work/prompt.md
Due: none

fix(OMN-1675): Add debug logging to session_marker.py for observability
  plugins/onex/hooks/lib/session_marker.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1812): Address PR #69 review feedback
  src/omniclaude/hooks/contracts/schema/model_json_schema.py
  src/omniclaude/runtime/wiring.py
  tests/contracts/test_assert_no_extra_fields.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

fix(OMN-1675): Address final PR #70 review issues for release readiness
  plugins/onex/hooks/scripts/session-start.sh
Due: none

feat(OMN-1812): Migrate to infra ServiceContractPublisher (#69)
  src/omniclaude/contracts/__init__.py
  src/omniclaude/hooks/contracts/__init__.py
  src/omniclaude/hooks/contracts/contract_hook_prompt_submitted.py
  src/omniclaude/hooks/contracts/contract_hook_session_ended.py
  src/omniclaude/hooks/contracts/contract_hook_session_started.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.py
  src/omniclaude/hooks/contracts/schema/__init__.py
  src/omniclaude/hooks/contracts/schema/model_json_schema.py
  src/omniclaude/runtime/__init__.py
  src/omniclaude/runtime/contract_models.py
  src/omniclaude/runtime/exceptions.py
  src/omniclaude/runtime/wiring.py
  tests/contracts/test_assert_no_extra_fields.py
  tests/runtime/test_wiring.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1822): Add ONEX status line showing folder, branch, and PR number
  plugins/onex/commands/setup-statusline.md
  plugins/onex/hooks/scripts/statusline.sh
Due: none

fix(OMN-1821): Auto-advance from intake to research phase
  plugins/onex/skills/ticket-work/prompt.md
Due: none

feat(OMN-1822): Add ONEX status line showing folder, branch, and PR number (#72)
  plugins/onex/commands/setup-statusline.md
  plugins/onex/hooks/scripts/statusline.sh
Due: none

feat(OMN-1822): Auto-update PR cache on gh pr create via PostToolUse hook
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
Due: none

fix(OMN-1675): Add marker TTL, cache reset, and edge case tests
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/lib/session_marker.py
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_session_start_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

feat(OMN-1675): Wire SessionStart hook for pattern injection (#70)
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/lib/learned_pattern_injector.py
  plugins/onex/hooks/lib/pattern_types.py
  plugins/onex/hooks/lib/session_marker.py
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  tests/conftest.py
  tests/hooks/test_handler_context_injection.py
  tests/hooks/test_session_start_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, mypy-typecheck, onex-validate

Path conditions:
  ruff-format: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  ruff-fix: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  ruff-check: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
  mypy-typecheck: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*
  onex-validate: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
