Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(OMN-13039): handoff skill — required epic_states_reconciled gate
  plugins/onex/skills/handoff/SKILL.md
  plugins/onex/skills/handoff/prompt.md
Due: check-local-paths

feat(OMN-13039): epic auto-start ratchet in ticketing-triage orchestrator
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/epic_reconcile.py
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/node.py
  tests/skills/test_ticketing_triage_epic_autostart.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13039): add local deploy contract
  contracts/OMN-13039.yaml
  plugins/onex/skills/handoff/SKILL.md
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/epic_reconcile.py
  tests/skills/test_ticketing_triage_epic_autostart.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13039): add local contract with deploy DoD + reword retro epic refs
  contracts/OMN-13039.yaml
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/epic_reconcile.py
  tests/skills/test_ticketing_triage_epic_autostart.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13039): epic auto-start ratchet in ticketing-triage orchestrator + handoff epic-state gate (#1767)
  contracts/OMN-13039.yaml
  plugins/onex/skills/handoff/SKILL.md
  plugins/onex/skills/handoff/prompt.md
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/epic_reconcile.py
  src/omniclaude/nodes/node_skill_ticketing_triage_orchestrator/node.py
  tests/skills/test_ticketing_triage_epic_autostart.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13214): port hardened auto-merge enqueue+verify to omniclaude
  .github/workflows/auto-merge.yml
  scripts/ci/merge_queue_enqueue.py
  tests/ci/test_merge_queue_enqueue.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13214): add __all__ exports + explicit SystemExit in merge_queue_enqueue (CodeRabbit/CodeQL)
  scripts/ci/merge_queue_enqueue.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-13211): repoint redeploy skill to node_redeploy_orchestrator (B3)
  plugins/onex/skills/redeploy/SKILL.md
  tests/audit/test_redeploy_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-13210): [B1] repoint hostile_reviewer to node_hostile_reviewer_orchestrator
  plugins/onex/plugin-compat.yaml
  plugins/onex/skills/hostile_reviewer/SKILL.md
Due: check-local-paths

chore(OMN-13210): add cited-ticket contracts for hostile_reviewer repoint
  contracts/OMN-13205.yaml
  contracts/OMN-13210.yaml
Due: check-local-paths

evidence(OMN-13211): add redeploy skill contract
  contracts/OMN-13211.yaml
Due: check-local-paths

fix(OMN-13210): [B1] repoint hostile_reviewer to node_hostile_reviewer_orchestrator (#1770)
  contracts/OMN-13205.yaml
  contracts/OMN-13210.yaml
  plugins/onex/plugin-compat.yaml
  plugins/onex/skills/hostile_reviewer/SKILL.md
Due: check-local-paths

test(OMN-13214): align auto-merge invariant with queue enqueue
  tests/workflows/test_auto_merge_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-13214): port hardened auto-merge enqueue+verify to omniclaude (#1768)
  .github/workflows/auto-merge.yml
  scripts/ci/merge_queue_enqueue.py
  tests/ci/test_merge_queue_enqueue.py
  tests/workflows/test_auto_merge_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor(OMN-13211): repoint redeploy skill to node_redeploy_orchestrator (B3) (#1769)
  contracts/OMN-13211.yaml
  plugins/onex/skills/redeploy/SKILL.md
  tests/audit/test_redeploy_shim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-13244): disable all onex plugin hooks (gut hooks.json) for measurement baseline
  contracts/OMN-13244.yaml
  plugins/onex/hooks/hooks.json
  tests/hooks/test_hooks_json_script_paths.py
  tests/hooks/test_hooks_registration.py
  tests/hooks/test_sweep_preflight.py
  tests/hooks/test_team_observability.py
  tests/unit/hooks/test_skill_output_suppressor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-13244): allow skip guard registration baseline
  tests/hooks/test_skip_token_surface_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-13228): Mac launchd KeepAlive worktree reaper daemon (T4)
  scripts/install-worktree-reaper-daemon.sh
  scripts/launchd/ai.omninode.worktree-reaper.plist
  scripts/worktree-reaper-daemon.sh
  scripts/worktree_reaper.py
  tests/scripts/test_worktree_reaper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-13228): note OCC#2754 evidence binding in reaper docstring (synchronize re-trigger)
  scripts/worktree_reaper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13244): align PR review skill backing nodes
  plugins/onex/skills/_lib/skill_backing_node_allowlist.yaml
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_bot/SKILL.md
Due: check-local-paths

chore(OMN-8340): remove deprecated /onex:handoff skill
  .onex_ratchets/skill_receipt_mode_allowlist.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-imperative-skill-patterns.sh
  plugins/onex/hooks/scripts/post_tool_use_auto_checkpoint.sh
  plugins/onex/skills/handoff/SKILL.md
  plugins/onex/skills/handoff/prompt.md
  plugins/onex/skills/handoff/topics.yaml
  plugins/onex/skills/skill_functional_audit/SKILL.md
  pyproject.toml
  scripts/validation/validate_instructional_skill_routing.py
  src/omniclaude/nodes/node_skill_handoff_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_handoff_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_handoff_orchestrator/node.py
  tests/skills/test_no_omni_home_in_s_class_skills.py
  tests/validation/test_validate_instructional_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-13244): disable all onex plugin hooks (gut hooks.json) for measurement baseline (#1771)
  contracts/OMN-13244.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/skills/_lib/skill_backing_node_allowlist.yaml
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_bot/SKILL.md
  tests/hooks/test_hooks_json_script_paths.py
  tests/hooks/test_hooks_registration.py
  tests/hooks/test_skip_token_surface_guard.py
  tests/hooks/test_sweep_preflight.py
  tests/hooks/test_team_observability.py
  tests/unit/hooks/test_skill_output_suppressor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-13228): align PR review skill backing nodes
  plugins/onex/skills/_lib/skill_backing_node_allowlist.yaml
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_bot/SKILL.md
Due: check-local-paths

fix(OMN-13228): add local contracts for reaper PR refs
  contracts/OMN-13008.yaml
  contracts/OMN-13044.yaml
  contracts/OMN-13227.yaml
  contracts/OMN-13228.yaml
Due: check-local-paths

feat(OMN-13228): Mac launchd KeepAlive worktree reaper daemon (T4) (#1772)
  contracts/OMN-13008.yaml
  contracts/OMN-13044.yaml
  contracts/OMN-13227.yaml
  contracts/OMN-13228.yaml
  scripts/install-worktree-reaper-daemon.sh
  scripts/launchd/ai.omninode.worktree-reaper.plist
  scripts/worktree-reaper-daemon.sh
  scripts/worktree_reaper.py
  tests/scripts/test_worktree_reaper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13278): hook measurement harness + tiered reintroduction design
  docs/proposals/2026-06-18-hook-measurement-and-tiered-reintroduction.md
  src/omniclaude/hook_measurement/README.md
  src/omniclaude/hook_measurement/__init__.py
  src/omniclaude/hook_measurement/cli.py
  src/omniclaude/hook_measurement/enums.py
  src/omniclaude/hook_measurement/metrics.py
  src/omniclaude/hook_measurement/models.py
  src/omniclaude/hook_measurement/trajectory.py
  tests/hook_measurement/__init__.py
  tests/hook_measurement/test_metrics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-8340): satisfy handoff cleanup gates
  contracts/OMN-12234.yaml
  contracts/OMN-8340.yaml
  plugins/onex/skills/_lib/skill_backing_node_allowlist.yaml
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_bot/SKILL.md
Due: check-local-paths

fix(OMN-13278): satisfy hook harness gates
  contracts/OMN-13244.yaml
  contracts/OMN-13278.yaml
  contracts/OMN-9140.yaml
  src/omniclaude/hook_measurement/cli.py
  src/omniclaude/hook_measurement/metrics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-8340): add deploy assessment evidence to local contract
  contracts/OMN-8340.yaml
Due: check-local-paths

feat(OMN-13230): catch-up backstop sweep for Mac worktree reaper (T6)
  scripts/launchd/ai.omninode.worktree-reaper.plist
  scripts/worktree-reaper-daemon.sh
  scripts/worktree_reaper.py
  tests/scripts/test_worktree_reaper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13278): remove unused cost column tuple
  src/omniclaude/hook_measurement/metrics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13278): hook measurement harness + tiered reintroduction design (DESIGN-FIRST) (#1774)
  contracts/OMN-13278.yaml
  contracts/OMN-9140.yaml
  docs/proposals/2026-06-18-hook-measurement-and-tiered-reintroduction.md
  src/omniclaude/hook_measurement/README.md
  src/omniclaude/hook_measurement/__init__.py
  src/omniclaude/hook_measurement/cli.py
  src/omniclaude/hook_measurement/enums.py
  src/omniclaude/hook_measurement/metrics.py
  src/omniclaude/hook_measurement/models.py
  src/omniclaude/hook_measurement/trajectory.py
  tests/hook_measurement/__init__.py
  tests/hook_measurement/test_metrics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-8340): remove deprecated /onex:handoff skill (superseded by /onex:session) (#1775)
  .onex_ratchets/skill_receipt_mode_allowlist.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-imperative-skill-patterns.sh
  contracts/OMN-12234.yaml
  contracts/OMN-8340.yaml
  plugins/onex/hooks/scripts/post_tool_use_auto_checkpoint.sh
  plugins/onex/skills/handoff/SKILL.md
  plugins/onex/skills/handoff/prompt.md
  plugins/onex/skills/handoff/topics.yaml
  plugins/onex/skills/skill_functional_audit/SKILL.md
  pyproject.toml
  scripts/validation/validate_instructional_skill_routing.py
  src/omniclaude/nodes/node_skill_handoff_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_handoff_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_handoff_orchestrator/node.py
  tests/skills/test_no_omni_home_in_s_class_skills.py
  tests/validation/test_validate_instructional_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13298): wire url-authority gate (pre-commit + CI)
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: check-local-paths

fix(OMN-13299): satisfy deterministic skill routing gate
  architecture-handshakes/validator-requirements-baseline.yaml
  plugins/onex/skills/aislop_sweep/SKILL.md
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/build_loop/SKILL.md
  plugins/onex/skills/compliance_sweep/SKILL.md
  plugins/onex/skills/data_flow_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/platform_readiness/SKILL.md
  plugins/onex/skills/session/SKILL.md
  scripts/check_skill_dispatch_receipt_mode_wrapper.sh
Due: check-local-paths

fix(OMN-13298): pin url authority validator source
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
