Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(validation): fix ruff PIE810 — use tuple form for startswith calls [OMN-3191]
  scripts/validation/check_ai_slop.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-3191] fix(validation): add code fence tracking to AI-slop checker (follow-up) (#417)
  docs/decisions/2026-02-28-ai-slop-checker-rule-set.md
  scripts/validation/check_ai_slop.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs: add common anti-patterns section to CLAUDE.md [insights]
  CLAUDE.md
Due: check-local-paths

feat: add resume-epic skill for rate-limit recovery [insights]
  plugins/onex/skills/resume-epic/SKILL.md
Due: check-local-paths

docs: add common anti-patterns section to CLAUDE.md [insights] (#418)
  CLAUDE.md
Due: check-local-paths

fix(resume-epic): rename step headings to avoid ai-slop step_narration pattern
  plugins/onex/skills/resume-epic/SKILL.md
Due: check-local-paths

feat: add CONTEXT_ADVISORY tier to bash_guard for uv lock operations [insights]
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs: add failure taxonomy and recovery strategies to epic-team [insights]
  plugins/onex/skills/epic-team/SKILL.md
Due: check-local-paths

feat: add CONTEXT_ADVISORY tier to bash_guard for uv lock operations [insights] (#420)
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs: add failure taxonomy and recovery strategies to epic-team [insights] (#421)
  plugins/onex/skills/epic-team/SKILL.md
Due: check-local-paths

fix(ci): add missing ONEX orchestrator node for resume-epic skill
  src/omniclaude/nodes/node_skill_resume_epic_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_resume_epic_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_resume_epic_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.4.0
  .pre-commit-config.yaml
  CHANGELOG.md
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/skills/using-git-worktrees/SKILL.md
  pyproject.toml
  scripts/POOL_LIFECYCLE_FIX_SUMMARY.md
  scripts/tests/test_routing_functionality.sh
  src/omniclaude/trace/failure_signature.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_phase_instrumentation.py
  tests/integration/test_golden_path_harness.py
  tests/routing/generate_corpus.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
  tests/unit/trace/test_failure_signature.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

[OMN-3195] feat: add resume-epic skill for rate-limit recovery (#419)
  plugins/onex/skills/resume-epic/SKILL.md
  src/omniclaude/nodes/node_skill_resume_epic_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_resume_epic_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_resume_epic_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: suppress ai-slop false positive in failure_signature.py module docstring
  src/omniclaude/trace/failure_signature.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.4.0 (#422)
  .pre-commit-config.yaml
  CHANGELOG.md
  plugins/onex/hooks/lib/enrichment_observability_emitter.py
  plugins/onex/skills/using-git-worktrees/SKILL.md
  pyproject.toml
  scripts/POOL_LIFECYCLE_FIX_SUMMARY.md
  scripts/tests/test_routing_functionality.sh
  src/omniclaude/trace/failure_signature.py
  tests/hooks/test_feedback_guardrails.py
  tests/hooks/test_phase_instrumentation.py
  tests/integration/test_golden_path_harness.py
  tests/routing/generate_corpus.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
  tests/unit/trace/test_failure_signature.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(release-skill): automate omnibase_infra BUMP step for version_compatibility.py and Dockerfile pins [OMN-3207]
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

feat(omniclaude): block --no-verify in agent Bash commands via bash_guard
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(omniclaude): remediate ad-hoc ai-slop-ok suppressions from release run [OMN-3204]
  plugins/onex/skills/auto-merge/SKILL.md
  src/omniclaude/trace/failure_signature.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(release-skill): automate omnibase_infra BUMP step for version_compatibility.py and Dockerfile pins [OMN-3207] (#423)
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

feat(omniclaude): block --no-verify in agent Bash commands via bash_guard (#424)
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/test_bash_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(omniclaude): remediate ad-hoc ai-slop-ok suppressions from release run [OMN-3204] (#425)
  plugins/onex/skills/auto-merge/SKILL.md
  src/omniclaude/trace/failure_signature.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(pre-existing): fix check-local-paths violations in omniclaude [OMN-3201]
  .gitignore
  .pre-commit-config.yaml
  consumers/DEPLOYMENT_SUCCESS.md
  contracts/debug_loop/error_pattern_extractor_compute.yaml
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/skills/gather-github-stats/SKILL.md
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/root-cause-tracing/SKILL.md
  plugins/onex/skills/system-status/tests/test_results_full.txt
  plugins/onex/skills/ticket-work/prompt.md
  scripts/MANIFEST_QUICK_REF.md
  scripts/README_DEBUG_LOOP_CLI.md
  scripts/tests/README.md
  shared_lib/KAFKA_CONFIG_MIGRATION.md
  src/omniclaude/contracts/contract_omniclaude_runtime.yaml
  tests/hooks/test_phase_instrumentation.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(tooling): add prune-worktrees.sh to detect and remove stale worktrees [OMN-3206]
  CLAUDE.md
  scripts/prune-worktrees.sh
Due: check-local-paths

chore(pre-existing): fix check-local-paths violations in omniclaude [OMN-3201] (#426)
  .gitignore
  .pre-commit-config.yaml
  consumers/DEPLOYMENT_SUCCESS.md
  contracts/debug_loop/error_pattern_extractor_compute.yaml
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/skills/gather-github-stats/SKILL.md
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/root-cause-tracing/SKILL.md
  plugins/onex/skills/system-status/tests/test_results_full.txt
  plugins/onex/skills/ticket-work/prompt.md
  scripts/MANIFEST_QUICK_REF.md
  scripts/README_DEBUG_LOOP_CLI.md
  scripts/tests/README.md
  shared_lib/KAFKA_CONFIG_MIGRATION.md
  src/omniclaude/contracts/contract_omniclaude_runtime.yaml
  tests/hooks/test_phase_instrumentation.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(tooling): add prune-worktrees.sh to detect and remove stale worktrees [OMN-3206] (#427)
  CLAUDE.md
  scripts/prune-worktrees.sh
Due: check-local-paths

feat(gap-cycle): gap-analysis emits ARTIFACT: marker on all exit paths [OMN-3238]
  plugins/onex/skills/gap-analysis/prompt.md
Due: check-local-paths

feat(gap-cycle): gap-fix emits GAP_FIX_OUTPUT: marker on all exit paths [OMN-3238]
  plugins/onex/skills/gap-fix/prompt.md
Due: check-local-paths

feat(gap-cycle): add SKILL.md metadata for gap-cycle orchestrator v0.1 [OMN-3238]
  plugins/onex/skills/gap-cycle/SKILL.md
Due: check-local-paths

chore: suppress pre-existing local-path-ok violations in prune-worktrees.sh, CLAUDE.md, release/SKILL.md
  CLAUDE.md
  plugins/onex/skills/release/SKILL.md
  scripts/prune-worktrees.sh
Due: check-local-paths

feat(gap-cycle): add prompt.md — all phases, rollup, error handling, dry-run [OMN-3238]
  plugins/onex/skills/gap-cycle/prompt.md
Due: check-local-paths

feat(skills): rewrite executing-plans v2 — Linear-native routing flow
  plugins/onex/skills/executing-plans/SKILL.md
Due: check-local-paths

fix(omniclaude): add stable-CWD guard to all hook scripts — prevent <frozen getpath> crash on external drive disconnect [OMN-3214]
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

feat(skills): update writing-plans to emit ## Phase N: headings
  plugins/onex/skills/writing-plans/SKILL.md
Due: check-local-paths

chore: suppress pre-existing local-path-ok violations in prune-worktrees.sh and release/SKILL.md
  plugins/onex/skills/release/SKILL.md
  scripts/prune-worktrees.sh
Due: check-local-paths

fix(omniclaude): document and structurally guard against re-introduction of duplicate hook registrations [OMN-3215]
  CLAUDE.md
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: check-local-paths

feat(gap-cycle): generate skill node for gap-cycle orchestrator [OMN-3238]
  src/omniclaude/nodes/node_skill_gap_cycle_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_gap_cycle_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_gap_cycle_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): harden plan-to-tickets — Phase N: only, remove Task alias
  plugins/onex/skills/plan-to-tickets/SKILL.md
Due: check-local-paths

feat(hooks): replace mtime heuristic with CWD-based ticket extraction [OMN-3216]
  plugins/onex/hooks/lib/ticket_context_injector.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): remove AI-slop boilerplate from ticket_context_injector [OMN-3216]
  plugins/onex/hooks/lib/ticket_context_injector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): replace ~/.claude/.env refs with ~/.omnibase/.env (OMN-3242)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/skills/_bin/_common.sh
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
