Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-15178): if:always() on required-check-skip-guard job (pre-existing vector-5)
  .github/required-checks.yaml
  .github/workflows/required-check-skip-guard-caller.yml
  .secrets.baseline
Due: check-local-paths

THROWAWAY: seed vector-5 skip-vector for OMN-15178 RED proof (omniclaude), on top of guard's own vector-5 self-fix
  .github/workflows/canonical-inference-gate.yml
Due: check-local-paths

fix(OMN-15178): sync push validation golden-chain metadata
  .secrets.baseline
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  tests/nodes/test_golden_chain_payload_compute.py
  tests/unit/scripts/test_validate_golden_chain_integrity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-15178): add repo-local contract
  .secrets.baseline
  contracts/OMN-15178.yaml
Due: check-local-paths

fix(OMN-15178): allowlist push-validation metadata topics
  .secrets.baseline
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

ci(OMN-15178): require skip-vector guard on omniclaude
  .github/required-checks.yaml
  .github/workflows/required-check-skip-guard-caller.yml
  .secrets.baseline
  contracts/OMN-15178.yaml
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  tests/nodes/test_golden_chain_payload_compute.py
  tests/unit/scripts/test_validate_golden_chain_integrity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-15200): slim CLAUDE.md 40791 -> 18980 bytes, correct stale facts against live source
  .secrets.baseline
  CLAUDE.md
  docs/runbooks/headless-mode.md
Due: check-local-paths

chore(OMN-15200): re-trigger CI with OCC Evidence-Source binding in place
  .secrets.baseline
Due: none

docs(OMN-15200): slim CLAUDE.md 40KB -> 19KB — org-wide repo CLAUDE.md refresh (#1948)
  .secrets.baseline
  CLAUDE.md
  docs/runbooks/headless-mode.md
Due: check-local-paths

chore(OMN-15165): delete unwired subagent_claim_verifier.py (superseded by OMN-15164)
  .secrets.baseline
  contracts/OMN-12719.yaml
  plugins/onex/hooks/lib/extract_last_assistant_message_utils.py
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/models/model_subagent_stop_report.py
  plugins/onex/skills/dispatch_worker/prompt.md
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-15165): require passwordless sudo for toolchain install
  .github/workflows/validate-skill-backing-node.yml
  .secrets.baseline
Due: check-local-paths

chore(OMN-15165): delete unwired subagent_claim_verifier.py (#1949)
  .github/workflows/validate-skill-backing-node.yml
  .secrets.baseline
  contracts/OMN-12719.yaml
  plugins/onex/hooks/lib/extract_last_assistant_message_utils.py
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/models/model_subagent_stop_report.py
  plugins/onex/skills/dispatch_worker/prompt.md
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15219): delete dangling subagent_stop_claim_verifier.sh
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/scripts/subagent_stop_claim_verifier.sh
Due: check-local-paths

feat(OMN-15221): OCC companion-merged STRICT gate — companion must merge before product PR
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/ci/check_occ_companion_merged.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_check_occ_companion_merged.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-15224): port OCC companion-merged STRICT gate from omnibase_infra (OMN-15214)
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/ci/check_occ_companion_merged.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_check_occ_companion_merged.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15221): use cross-repo token for OCC companion gate
  .github/workflows/ci.yml
  .secrets.baseline
Due: check-local-paths

chore(OMN-15224): retrigger occ-companion-merged with autobound Evidence-Source (OCC#5070)
  .secrets.baseline
Due: none

chore(OMN-15224): retrigger verify/verify after Evidence-Ticket reorder
  .secrets.baseline
Due: none

feat(OMN-15221): require OCC companion merge before product merge
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/ci/check_occ_companion_merged.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_check_occ_companion_merged.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-15224): re-arm occ-companion-merged poll window (companion OCC#5070 still open)
  .secrets.baseline
Due: none

chore(OMN-15224): retry re-arm (webhook may have missed the prior push)
  .secrets.baseline
Due: none

docs(OMN-15224): attribute omniclaude OCC gate port
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/ci/check_occ_companion_merged.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-15213): enforce golden-chain report contract at the SubagentStop return seam
  .secrets.baseline
  CLAUDE.md
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  tests/hooks/fixtures/subagent_stop_clobbered_return.jsonl
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_subagent_report_contract_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-15213): enforce golden-chain report contract at the SubagentStop return seam (#1954)
  .secrets.baseline
  CLAUDE.md
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  plugins/onex/hooks/lib/subagent_secret_leak_guard.py
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  tests/hooks/fixtures/subagent_stop_clobbered_return.jsonl
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_subagent_report_contract_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-15274): truthful plugin-deploy readback — resolve the load path, not the registry
  .env.allowlist
  .secrets.baseline
  CLAUDE.md
  docs/getting-started/FIRST_HOOK.md
  docs/getting-started/INSTALLATION.md
  docs/getting-started/QUICK_START.md
  docs/guides/ADDING_A_SKILL.md
  plugins/onex/CONTAINER_INSTALL.md
  plugins/onex/hooks/lib/plugin_deploy_readback.py
  plugins/onex/skills/verify_plugin/SKILL.md
  plugins/onex/skills/verify_plugin/verify-deploy.sh
  tests/hooks/fixtures/plugin_registry_dead_cache/cache_hooks.json
  tests/hooks/fixtures/plugin_registry_dead_cache/installed_plugins.json
  tests/hooks/fixtures/plugin_registry_dead_cache/known_marketplaces.json
  tests/hooks/fixtures/plugin_registry_dead_cache/live_hooks.json
  tests/hooks/test_plugin_deploy_readback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-15274): address CodeRabbit review — fail-closed binding, non-dict JSON guard, doc accuracy
  .secrets.baseline
  CLAUDE.md
  docs/getting-started/INSTALLATION.md
  docs/guides/ADDING_A_SKILL.md
  plugins/onex/CONTAINER_INSTALL.md
  plugins/onex/hooks/lib/plugin_deploy_readback.py
  plugins/onex/skills/verify_plugin/SKILL.md
  tests/hooks/test_plugin_deploy_readback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-15274): CR round 2 — Python floor, fetch the freshness check, QUICK_START wording
  .secrets.baseline
  docs/getting-started/QUICK_START.md
  plugins/onex/hooks/lib/plugin_deploy_readback.py
  plugins/onex/skills/verify_plugin/verify-deploy.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-15274): add product contract for deploy readback
  .secrets.baseline
  contracts/OMN-15274.yaml
Due: check-local-paths

feat(OMN-15274): truthful plugin-deploy readback — resolve the load path, not the registry (#1955)
  .env.allowlist
  .secrets.baseline
  CLAUDE.md
  contracts/OMN-15274.yaml
  docs/getting-started/FIRST_HOOK.md
  docs/getting-started/INSTALLATION.md
  docs/getting-started/QUICK_START.md
  docs/guides/ADDING_A_SKILL.md
  plugins/onex/CONTAINER_INSTALL.md
  plugins/onex/hooks/lib/plugin_deploy_readback.py
  plugins/onex/skills/verify_plugin/SKILL.md
  plugins/onex/skills/verify_plugin/verify-deploy.sh
  tests/hooks/fixtures/plugin_registry_dead_cache/cache_hooks.json
  tests/hooks/fixtures/plugin_registry_dead_cache/installed_plugins.json
  tests/hooks/fixtures/plugin_registry_dead_cache/known_marketplaces.json
  tests/hooks/fixtures/plugin_registry_dead_cache/live_hooks.json
  tests/hooks/test_plugin_deploy_readback.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-15304): vector 6 — result-triage fail-open detection in the skip-vector guard
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  .github/required-checks.yaml
  .github/workflows/required-check-skip-guard-reusable.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-required-check-skip-vector.sh
  tests/ci/test_validate_no_required_check_skip_vectors.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-15304): vector 6 — result-triage fail-open detection in the required-check skip-vector guard (#1958)
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  .github/required-checks.yaml
  .github/workflows/required-check-skip-guard-reusable.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-required-check-skip-vector.sh
  tests/ci/test_validate_no_required_check_skip_vectors.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): vector-6 result triage is per-upstream, not per-job (OMN-15304)
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  .github/workflows/hostile-reviewer.yml
  tests/ci/test_validate_no_required_check_skip_vectors.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15304): vector-6 result triage is per-upstream, not per-job — unmasks a live fail-open on omniclaude's own Hostile Review Gate (#1959)
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  .github/workflows/hostile-reviewer.yml
  tests/ci/test_validate_no_required_check_skip_vectors.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15314): vector-6 result triage fails closed in Quality Gate, Tests Gate, Omni Standards Gate
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
Due: check-local-paths

fix(OMN-15314): vector-6 result triage fails closed in Quality Gate, Tests Gate, Omni Standards Gate (#1960)
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
Due: check-local-paths
