Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(hooks): add Patterson-style file-path convention routing [OMN-6157] (#799)
  plugins/onex/hooks/conventions/omniclaude-hooks.md
  plugins/onex/hooks/conventions/omnidash-server.md
  plugins/onex/hooks/conventions/onex-contracts.md
  plugins/onex/hooks/conventions/routes.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/file-path-convention-inject.sh
  plugins/onex/tests/hooks/test_file_path_router.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add QPM Pydantic models for merge queue priority management [OMN-6241]
  plugins/onex/skills/_lib/merge_planner/__init__.py
  plugins/onex/skills/_lib/merge_planner/models.py
  plugins/onex/skills/_lib/merge_planner/tests/__init__.py
  plugins/onex/skills/_lib/merge_planner/tests/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(merge-sweep): agents must fetch PR branch name from API, never trust dispatcher [OMN-6253]
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
  plugins/onex/skills/pr_polish/SKILL.md
  plugins/onex/skills/pr_polish/prompt.md
Due: check-local-paths

feat: add QPM Pydantic models for merge queue priority management [OMN-6241] (#821)
  plugins/onex/skills/_lib/merge_planner/__init__.py
  plugins/onex/skills/_lib/merge_planner/models.py
  plugins/onex/skills/_lib/merge_planner/tests/__init__.py
  plugins/onex/skills/_lib/merge_planner/tests/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add QPM GraphQL enqueue shell helper [OMN-6246]
  plugins/onex/skills/_bin/qpm-enqueue.sh
Due: check-local-paths

feat(skills,claude): add two-strike diagnosis protocol and mode confirmation [OMN-6232]
  plugins/onex/skills/systematic_debugging/SKILL.md
Due: check-local-paths

feat(hooks): add dispatch guard to block hardcoded credentials [OMN-6230]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_dispatch_guard.sh
  src/omniclaude/hooks/pre_tool_use_dispatch_guard.py
  tests/unit/hooks/test_pre_tool_use_dispatch_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add dispatch guard to block hardcoded credentials [OMN-6230] (#825)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_dispatch_guard.sh
  src/omniclaude/hooks/pre_tool_use_dispatch_guard.py
  tests/unit/hooks/test_pre_tool_use_dispatch_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add mode declarations and --mode flag to epic-team, merge-sweep, linear-insights [OMN-6234]
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/linear_insights/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
Due: check-local-paths

feat(skills): add headless run.sh launchers and failure doctrine for overnight pipelines [OMN-6235]
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/epic_team/run.sh
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/run.sh
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

feat(skills): add pre-flight constraint blocks to implementation-initiating skills [OMN-6236]
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/generate_node/SKILL.md
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

fix: add SPDX header to tests/ci/__init__.py [OMN-6254]
  .env.allowlist
  .env.example
  .github/workflows/ci.yml
  plugins/onex/hooks/lib/env_health_check_wrapper.py
  plugins/onex/hooks/scripts/session-start.sh
  scripts/ci/check_env_var_registry.py
  src/omniclaude/hooks/env_health_check.py
  tests/ci/__init__.py
  tests/ci/test_env_var_registry.py
  tests/hooks/test_env_health_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add headless run.sh launchers and failure doctrine for overnight pipelines [OMN-6235] (#829)
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/epic_team/run.sh
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/run.sh
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

feat(hooks): add workflow guard for triage-first and ticket-first [OMN-6231]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_workflow_guard.sh
  src/omniclaude/hooks/pre_tool_use_workflow_guard.py
  tests/unit/hooks/test_pre_tool_use_workflow_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: register QPM Kafka topics in TopicBase enum [OMN-6242]
  plugins/onex/skills/merge_planner/SKILL.md
  plugins/onex/skills/merge_planner/topics.yaml
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): add merge-planner skill node and QPM topic governance [OMN-6242]
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/nodes/node_skill_merge_planner_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_merge_planner_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_merge_planner_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(test): eliminate race condition in coordinator timeout test
  tests/unit/skills/test_hostile_reviewer_aggregator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: address CodeRabbit review findings on hostile-reviewer aggregator
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): resolve skill hygiene, event registry sync, and timeout test failures
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/unit/skills/conftest.py
  tests/unit/skills/test_hostile_reviewer_aggregator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test: add failing tests for hostile reviewer multi-model aggregator
  tests/unit/skills/conftest.py
  tests/unit/skills/test_hostile_reviewer_aggregator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add multi-model hostile reviewer aggregator (aggregate_reviews.py)
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/aggregate_reviews.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): add hostile-reviewer-failed topic to allowlist [OMN-6192]
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

feat: QPM Kafka topic registration [OMN-6242] (#823)
  plugins/onex/skills/merge_planner/SKILL.md
  plugins/onex/skills/merge_planner/topics.yaml
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_skill_merge_planner_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_merge_planner_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_merge_planner_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(qpm): implement PR type classifier with accelerator pattern matching [OMN-6243]
  plugins/onex/skills/_lib/merge_planner/classifier.py
  plugins/onex/skills/_lib/merge_planner/tests/test_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hostile-reviewer): validate --file path before review; add analytical-strict persona default [OMN-6226, OMN-6227] (#819)
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/prompt.md
  tests/unit/skills/test_hostile_reviewer_file_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(qpm): implement 5-dimension priority scorer [OMN-6244]
  plugins/onex/skills/_lib/merge_planner/classifier.py
  plugins/onex/skills/_lib/merge_planner/scorer.py
  plugins/onex/skills/_lib/merge_planner/tests/test_scorer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(qpm): add label setup script for qpm-accelerate across repos [OMN-6250]
  plugins/onex/skills/_bin/qpm-setup-labels.sh
Due: check-local-paths

feat(qpm): implement 5-dimension priority scorer [OMN-6244] (#833)
  plugins/onex/skills/_lib/merge_planner/classifier.py
  plugins/onex/skills/_lib/merge_planner/scorer.py
  plugins/onex/skills/_lib/merge_planner/tests/test_scorer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(qpm): implement PR type classifier with accelerator pattern matching [OMN-6243] (#832)
  plugins/onex/skills/_lib/merge_planner/tests/test_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skills): add mode declarations and --mode flag to epic-team, merge-sweep, linear-insights [OMN-6234] (#828)
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/epic_team/run.sh
  plugins/onex/skills/linear_insights/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/run.sh
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

fix(qpm): address CodeRabbit review — dequeue-requeue for jump and robust error check [OMN-6246]
  plugins/onex/skills/_bin/qpm-enqueue.sh
Due: check-local-paths
