Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(review): [minor] validate skill_name strips whitespace and args keys are non-empty
  src/omniclaude/nodes/shared/models/model_skill_request.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] assert result.error set when PARTIAL due to missing RESULT block
  tests/unit/nodes/shared/test_handler_skill_requested.py
Due: ruff-format, ruff-fix, ruff-check

fix(review): [minor] soften error field docstring — no enforcement invariant exists
  src/omniclaude/nodes/shared/models/model_skill_result.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): address all PR #188 review issues
  plugins/onex/hooks/lib/pattern_cache.py
  src/omniclaude/hooks/handler_context_injection.py
  tests/hooks/test_pattern_cache.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): replace dict[str, Any] with dict[str, object] + cast for ONEX compliance
  src/omniclaude/hooks/handler_context_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2425): consume pattern projection and cache for context injection (#188)
  plugins/onex/hooks/lib/pattern_cache.py
  src/omniclaude/hooks/handler_context_injection.py
  tests/hooks/test_context_injection_cache.py
  tests/hooks/test_pattern_cache.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2432): update stale omninode_bridge defaults to omniclaude
  consumers/agent_actions_consumer.py
  src/omniclaude/hooks/context_config.py
  tests/hooks/test_context_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): address PR #187 review findings — parser scope, docstring, exception type
  src/omniclaude/nodes/shared/handler_skill_requested.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
  tests/unit/nodes/shared/test_model_skill_request.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-2398): shared skill node infrastructure — handler, request/result models (#187)
  src/omniclaude/nodes/shared/__init__.py
  src/omniclaude/nodes/shared/handler_skill_requested.py
  src/omniclaude/nodes/shared/models/__init__.py
  src/omniclaude/nodes/shared/models/model_skill_request.py
  src/omniclaude/nodes/shared/models/model_skill_result.py
  tests/unit/nodes/__init__.py
  tests/unit/nodes/shared/__init__.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
  tests/unit/nodes/shared/test_model_skill_request.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-2432): update stale omninode_bridge defaults to omniclaude (#190)
  consumers/agent_actions_consumer.py
  src/omniclaude/hooks/context_config.py
  tests/hooks/test_context_config.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] update stale aiokafka comment to reflect 0.11.0 minimum
  pyproject.toml
Due: none

chore(OMN-2428): regenerate uv.lock for updated dependency bounds
  uv.lock
Due: none

fix(OMN-2436): rename CI test database from test_omninode_bridge to test_omniclaude
  .github/workflows/integration-tests.yml
Due: none

fix(review): [minor] restore pydantic-settings lower bound to >=2.6.0
  pyproject.toml
Due: none

fix(review): [major] regenerate uv.lock for restored pydantic-settings lower bound
  uv.lock
Due: none

chore(OMN-2436): update secrets baseline after database rename
  .secrets.baseline
Due: none

fix(OMN-2432): update DEPLOYMENT_SUCCESS.md stale omninode_bridge refs
  consumers/DEPLOYMENT_SUCCESS.md
Due: none

fix(OMN-2432): update stale omninode_bridge refs in consumers config and docs
  consumers/DEPLOYMENT.md
  consumers/QUICKSTART.md
  consumers/README.md
  consumers/agent_actions_consumer.service
  consumers/config.example.json
Due: none

fix(OMN-2432): update stale omninode_bridge db refs in plugins docs and tests
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/README.md
  plugins/onex/skills/action-logging/README.md
  plugins/onex/skills/action-logging/SKILL.md
  plugins/onex/skills/agent-observability/SKILL.md
  plugins/onex/skills/agent-tracking/log-agent-action/SKILL.md
  plugins/onex/skills/agent-tracking/log-detection-failure/SKILL.md
  plugins/onex/skills/agent-tracking/log-performance-metrics/SKILL.md
  plugins/onex/skills/agent-tracking/log-routing-decision/SKILL.md
  plugins/onex/skills/agent-tracking/log-transformation/SKILL.md
  plugins/onex/skills/agent-tracking/prompt.md
  plugins/onex/skills/system-status/check-infrastructure/SKILL.md
  tests/README_KAFKA_TESTS.md
  tests/TEST_ALIGNMENT_SUMMARY.md
Due: none

fix(OMN-2444): remove hardcoded POSTGRES_PASSWORD from service unit and example config
  consumers/agent_actions_consumer.service
  consumers/config.example.json
Due: none

chore(OMN-2428): pin pydantic<3, aiokafka minor, confluent-kafka bounds (#191)
  pyproject.toml
  uv.lock
Due: none

fix(review): [minor] replace hardcoded passwords with placeholders and document pattern_cache design
  consumers/DEPLOYMENT.md
  consumers/QUICKSTART.md
  consumers/README.md
  plugins/onex/hooks/lib/pattern_cache.py
  plugins/onex/skills/agent-tracking/prompt.md
  tests/README_KAFKA_TESTS.md
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-2436): rename CI test database from test_omninode_bridge to test_omniclaude (#192)
  .github/workflows/integration-tests.yml
  .secrets.baseline
Due: none

feat(skills): ci-fix-pipeline — autonomous CI failure fix pipeline
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(skills): ci-fix-pipeline — add --skip-to handling, fix description, define correlation_id
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(review): [minor] add operational clarity comments and fix cross-package import docs
  consumers/QUICKSTART.md
  consumers/agent_actions_consumer.service
  plugins/onex/hooks/lib/pattern_cache.py
  plugins/onex/skills/agent-tracking/prompt.md
  src/omniclaude/hooks/handler_context_injection.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(epic-team): add repo_manifest.yaml for epic decomposer [OMN-2446]
  plugins/onex/skills/epic-team/repo_manifest.yaml
Due: none

feat(epic-team): add skills/epic-team/SKILL.md [OMN-2450]
  plugins/onex/skills/epic-team/SKILL.md
Due: none

fix(review): [major/minor] fix ci-fix-pipeline SKILL.md review issues
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

feat(epic-team): add agent-epic-worker.yaml behavioral spec [OMN-2449]
  plugins/onex/agents/configs/agent-epic-worker.yaml
Due: none

feat(epic-team): implement epic_milestone_notifier.py with unit tests [OMN-2448]
  plugins/onex/hooks/lib/epic_milestone_notifier.py
  tests/unit/hooks/lib/test_epic_milestone_notifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(epic-team): implement epic_decomposer.py with unit tests [OMN-2447]
  plugins/onex/hooks/lib/epic_decomposer.py
  tests/unit/hooks/lib/test_epic_decomposer.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(epic-team): add skills/epic-team/prompt.md orchestration state machine [OMN-2451]
  plugins/onex/skills/epic-team/prompt.md
Due: none

fix(review): [major/minor] fix ci-fix-pipeline iteration 2 review issues
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(review): [major/minor] fix ci-fix-pipeline iteration 3 review issues
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(review): [minor] add bare keywords to omninode_review and omninode_planning [OMN-2446]
  plugins/onex/skills/epic-team/repo_manifest.yaml
Due: none

fix(OMN-2432/OMN-2444): sweep remaining stale omninode_bridge refs and remove hardcoded password (#193)
  consumers/DEPLOYMENT.md
  consumers/DEPLOYMENT_SUCCESS.md
  consumers/QUICKSTART.md
  consumers/README.md
  consumers/agent_actions_consumer.service
  consumers/config.example.json
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/README.md
  plugins/onex/hooks/lib/pattern_cache.py
  plugins/onex/skills/action-logging/README.md
  plugins/onex/skills/action-logging/SKILL.md
  plugins/onex/skills/agent-observability/SKILL.md
  plugins/onex/skills/agent-tracking/log-agent-action/SKILL.md
  plugins/onex/skills/agent-tracking/log-detection-failure/SKILL.md
  plugins/onex/skills/agent-tracking/log-performance-metrics/SKILL.md
  plugins/onex/skills/agent-tracking/log-routing-decision/SKILL.md
  plugins/onex/skills/agent-tracking/log-transformation/SKILL.md
  plugins/onex/skills/agent-tracking/prompt.md
  plugins/onex/skills/system-status/check-infrastructure/SKILL.md
  src/omniclaude/hooks/handler_context_injection.py
  tests/README_KAFKA_TESTS.md
  tests/TEST_ALIGNMENT_SUMMARY.md
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] correct --force comment in SKILL.md [OMN-2450]
  plugins/onex/skills/epic-team/SKILL.md
Due: none

fix(review): [major/minor] epic_decomposer fixes and test gaps [OMN-2447]
  plugins/onex/hooks/lib/epic_decomposer.py
  tests/unit/hooks/lib/test_epic_decomposer.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major/minor] epic_milestone_notifier fixes [OMN-2448]
  plugins/onex/hooks/lib/epic_milestone_notifier.py
  tests/unit/hooks/lib/test_epic_milestone_notifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
