Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

chore(OMN-13847): add DoD evidence receipt
  .onex_state/evidence/OMN-13847/dod_report.json
Due: check-local-paths

feat(OMN-13847): per-hook wall-clock latency instrumentation (emit side) (#1834)
  .onex_state/evidence/OMN-13847/dod_report.json
  plugins/onex/hooks/lib/hook_latency_instrumentation.py
  tests/unit/hooks/lib/test_hook_latency_instrumentation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-13856): restore Done-flip guard as Option A hooks carve-out (mechanical via local dod_verify)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_hooks_json_script_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-13856): skip sweep-preflight registration assertion under Option A carve-out
  tests/hooks/test_sweep_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-13858): fix broken session/pipeline_fill dispatch docs, document local fallback
  plugins/onex/skills/_lib/skill_backing_node_allowlist.yaml
  plugins/onex/skills/pipeline_fill/SKILL.md
  plugins/onex/skills/session/SKILL.md
  plugins/onex/skills/session/prompt.md
  src/omniclaude/nodes/node_skill_autopilot_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_autopilot_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_autopilot_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-13858): fix pipeline_fill's broken run-node dispatch docs
  plugins/onex/skills/pipeline_fill/SKILL.md
Due: check-local-paths

fix(OMN-13856): verify durable evidence git-backed on origin/dev (freshness)
  plugins/onex/hooks/lib/done_flip_guard.py
  tests/hooks/test_done_flip_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-13858): add local contract for the validate-pr-contracts gate
  contracts/OMN-13858.yaml
Due: check-local-paths

fix(OMN-13858): satisfy skill-monorepo-ref gate for the OMNI_HOME reference
  plugins/onex/skills/pipeline_fill/SKILL.md
Due: check-local-paths

feat(OMN-13856): restore Done-flip guard as Option A hooks carve-out (mechanical via local dod_verify) (#1835)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_hooks_json_script_paths.py
  tests/hooks/test_sweep_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(OMN-13858): fix pipeline_fill's broken run-node dispatch docs (#1837)
  contracts/OMN-13858.yaml
  plugins/onex/skills/pipeline_fill/SKILL.md
Due: check-local-paths

feat(OMN-13873): canonical dep-provenance gate (reusable) — forbid unreleased first-party git overrides
  .github/workflows/dep-provenance-gate-reusable.yml
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13873): allowlist reusable gate secret inheritance
  .github/workflows/dep-provenance-gate.yml
Due: check-local-paths

fix(OMN-13873): add least-privilege permissions to dep-provenance workflows
  .github/workflows/dep-provenance-gate-reusable.yml
  .github/workflows/dep-provenance-gate.yml
Due: check-local-paths

fix(OMN-13873): harden reusable dep provenance gate
  .github/workflows/dep-provenance-gate-reusable.yml
  .github/workflows/dep-provenance-gate.yml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13881): bump onex plugin 2.3.0->2.3.1 to ship Done-flip guard to deployed cache
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

feat(OMN-13881): bump onex plugin 2.3.0->2.3.1 so Done-flip guard reaches the deployed cache (#1839)
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

feat(OMN-13877): add dep-provenance gate to omniclaude + repin omnibase-core to PyPI
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13877): add dep-provenance gate to omniclaude + repin omnibase-core to PyPI (#1840)
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-13828): handle large PR deploy-gate diffs
  .github/actions/deploy-gate/action.yml
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/deploy-gate.yml
Due: check-local-paths

ci(OMN-13828): avoid merge-base dependency in deploy gate fallback
  .github/actions/deploy-gate/action.yml
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/deploy-gate.yml
Due: check-local-paths

ci(OMN-13828): scope skill-boundary promotion diff to dev
  .github/workflows/ci.yml
Due: check-local-paths

fix(OMN-13828): address promotion CodeQL findings
  plugins/onex/skills/_shared/db_helper.py
  src/omniclaude/runtime/lifecycle.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13828): clear promotion CodeQL medium alerts
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/services/ci_relay/app.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13828): clear promotion CodeQL cycles
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/services/ci_relay/app.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13898): align skill result contract usage
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/shared/handler_skill_requested.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-13898): add local deploy contract
  contracts/OMN-13898.yaml
Due: check-local-paths

fix(OMN-13894): migrate ModelSkillResult off removed core path; bump omnibase-core 0.46.4
  pyproject.toml
  src/omniclaude/shared/models/model_skill_result.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13898): align claude session result contract
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-13894): add DoD evidence receipt for ModelSkillResult migration
  .onex_state/evidence/OMN-13894/dod_report.json
Due: check-local-paths

ci(OMN-13501): wire no-faked-boundary gate report-only in omniclaude
  .github/workflows/no-faked-boundary.yml
  .pre-commit-config.yaml
Due: check-local-paths

chore(OMN-13898): bump omnibase-core to 0.46.4 (#1843)
  .github/actions/deploy-gate/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/deploy-gate.yml
  contracts/OMN-13898.yaml
  plugins/onex/skills/_shared/db_helper.py
  pyproject.toml
  src/omniclaude/hooks/context_config.py
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/injection_limits.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  src/omniclaude/runtime/lifecycle.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/services/ci_relay/app.py
  src/omniclaude/shared/handler_skill_requested.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-13501): wire no-faked-boundary gate report-only in omniclaude
  .github/workflows/no-faked-boundary.yml
  .onex_state/evidence/OMN-13501/dod_report.json
  .pre-commit-config.yaml
Due: check-local-paths

chore(OMN-13899): rename evidence dir OMN-13501 -> OMN-13899 to match branch/title ticket
  .onex_state/evidence/OMN-13899/dod_report.json
Due: check-local-paths

ci(OMN-13899): wire no-faked-boundary gate report-only in omniclaude (#1846)
  .github/workflows/no-faked-boundary.yml
  .onex_state/evidence/OMN-13899/dod_report.json
  .pre-commit-config.yaml
Due: check-local-paths

docs(OMN-13500): omniclaude no-faked-boundary burn-down worklist (61 findings)
  docs/evidence/OMN-13500-burndown-worklist.md
Due: none

test(OMN-13500): C1 routing-boundary burn-down — typed FakeAgentRouter for 34 sites
  docs/evidence/OMN-13500-burndown-worklist.md
  tests/lib/core/test_onex_routing_nodes.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/lib/core/test_routing_event_client.py
  tests/support/__init__.py
  tests/support/fake_agent_router.py
  tests/unit/nodes/node_agent_router/test_handler_agent_router.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-13500): C2 skill-dispatcher boundary burn-down — typed FakeTaskDispatcher for 16 sites
  docs/evidence/OMN-13500-burndown-worklist.md
  tests/support/fake_task_dispatcher.py
  tests/unit/nodes/shared/test_handler_skill_requested.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
