Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-14751): re-land omniclaude event-registry durability tiers reverted by #2038 (#2046)
  .secrets.baseline
  plugins/onex/lib/event_registry/omniclaude.yaml
Due: check-local-paths

feat(OMN-16589): org-wide KB doc gate — block new/regrown non-KB markdown
  .github/workflows/kb-doc-gate-reusable.yml
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/kb_doc_gate.py
  tests/scripts/test_kb_doc_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-16589): org-wide KB doc gate — block new/regrown non-KB markdown (#2047)
  .github/workflows/kb-doc-gate-reusable.yml
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/kb_doc_gate.py
  tests/scripts/test_kb_doc_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16589): pin kb doc validator checkout ref
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16589): fetch kb doc gate base ref
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

docs(OMN-16663): add official OmniNode brand <picture> README header
  .secrets.baseline
  README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: check-local-paths

fix(OMN-16589): pin kb doc validator checkout ref (#2048)
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16589): pin kb-doc-gate validator to job_workflow_sha, not caller sha
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16691): carve OCC publishers off the shared runner seam
  .github/workflows/call-occ-autobind-reusable.yml
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect-reusable.yml
  .github/workflows/call-occ-companion-effect.yml
  .secrets.baseline
  tests/workflows/test_call_occ_companion_effect_reusable.py
  tests/workflows/test_occ_publisher_runner_carveout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16589): pin kb-doc-gate validator to job_workflow_sha, not caller sha (#2050)
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

docs(OMN-16663): add official OmniNode brand <picture> README header (#2049)
  .secrets.baseline
  README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: check-local-paths

fix(OMN-16691): carve OCC publishers off the shared runner seam (OMN-16682 constraint 8) (#2051)
  .github/workflows/call-occ-autobind-reusable.yml
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect-reusable.yml
  .github/workflows/call-occ-companion-effect.yml
  .secrets.baseline
  tests/workflows/test_call_occ_companion_effect_reusable.py
  tests/workflows/test_occ_publisher_runner_carveout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16589): fetch-depth 0 for kb-doc-gate — three-dot diff needs a merge base
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16589): clarify kb doc merge-base failures
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16589): fetch-depth 0 for kb-doc-gate — three-dot diff needs a merge base (#2052)
  .github/workflows/kb-doc-gate-reusable.yml
  .secrets.baseline
Due: check-local-paths

feat(OMN-16723): lint reusable-workflow inner checkouts for floating refs and unasserted sparse paths
  .github/workflows/call-occ-autobind-reusable.yml
  .github/workflows/call-occ-companion-effect-reusable.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/required-check-skip-guard-reusable.yml
  .pre-commit-config.yaml
  .secrets.baseline
  tests/workflows/test_reusable_workflow_inner_checkouts.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-16723): lint reusable-workflow inner checkouts for floating refs and unasserted sparse paths (#2053)
  .github/workflows/call-occ-autobind-reusable.yml
  .github/workflows/call-occ-companion-effect-reusable.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/deploy-gate-reusable.yml
  .github/workflows/required-check-skip-guard-reusable.yml
  .pre-commit-config.yaml
  .secrets.baseline
  tests/workflows/test_reusable_workflow_inner_checkouts.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16725): port PreToolUse gate-escape deny list to canonical-clone-guard source of truth
  .secrets.baseline
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard_bypass.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16725): port PreToolUse gate-escape deny list to canonical-clone-guard source of truth (#2054)
  .secrets.baseline
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard_bypass.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16823): recognize CodeRabbit's agreement-plus-deferral concession class
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/check-unresolved-threads.sh
  tests/scripts/test_check_unresolved_threads.sh
Due: check-local-paths

fix(OMN-16826): give clone-internal stray worktrees a sanctioned removal path
  .secrets.baseline
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-16823): run the CR-thread-gate filter suite under pytest
  .secrets.baseline
  tests/scripts/test_check_unresolved_threads_filters.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16826): canonical-clone guard must leave clone-internal stray worktrees removable (#2056)
  .secrets.baseline
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16823): recognize CodeRabbit's agreement-plus-deferral concession class in the CR-thread gate (#2057)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/check-unresolved-threads.sh
  tests/scripts/test_check_unresolved_threads.sh
  tests/scripts/test_check_unresolved_threads_filters.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16835): annotate delegate SKILL.md $OMNI_HOME drift-guard docs with local-path-ok
  .secrets.baseline
  plugins/onex-delegate/skills/delegate/SKILL.md
Due: check-local-paths

refactor(OMN-15894): retire the duplicated dispatch-LAWS preamble into one pack
  .secrets.baseline
  plugins/onex/skills/_lib/dispatch-laws/helpers.md
  plugins/onex/skills/dispatch_worker/SKILL.md
  plugins/onex/skills/dispatch_worker/prompt.md
  tests/skills/test_dispatch_worker_operating_rules_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16835): annotate delegate SKILL.md $OMNI_HOME drift-guard docs with local-path-ok (#2058)
  .secrets.baseline
  plugins/onex-delegate/skills/delegate/SKILL.md
Due: check-local-paths

test(OMN-15894): assert dispatch rule ten
  .secrets.baseline
  tests/skills/test_dispatch_worker_operating_rules_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15894): preserve dispatch pytest invocation
  .secrets.baseline
  plugins/onex/skills/dispatch_worker/SKILL.md
  plugins/onex/skills/dispatch_worker/prompt.md
Due: check-local-paths

refactor(OMN-15894): retire the duplicated dispatch-LAWS preamble into one referenced pack (#2059)
  .secrets.baseline
  plugins/onex/skills/_lib/dispatch-laws/helpers.md
  plugins/onex/skills/dispatch_worker/SKILL.md
  plugins/onex/skills/dispatch_worker/prompt.md
  tests/skills/test_dispatch_worker_operating_rules_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-14096): correct generate_node docs to the scaffold-only pipeline they describe
  .secrets.baseline
  plugins/onex/skills/generate_node/README.md
  plugins/onex/skills/generate_node/SKILL.md
  src/omniclaude/nodes/node_skill_generate_node_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-14096): correct the fill-stage claim against a live dev-lane run
  .secrets.baseline
  plugins/onex/skills/generate_node/README.md
  plugins/onex/skills/generate_node/SKILL.md
Due: check-local-paths

fix(OMN-14096): drop $OMNI_HOME tokens from the public skill doc
  .secrets.baseline
  plugins/onex/skills/generate_node/SKILL.md
Due: check-local-paths

chore(OMN-14096): add the in-repo contract this repo's gate requires
  .secrets.baseline
  contracts/OMN-14096.yaml
Due: check-local-paths

fix(OMN-14096): correct generate_node docs to the scaffold-only pipeline they describe (#2060)
  .secrets.baseline
  contracts/OMN-14096.yaml
  plugins/onex/skills/generate_node/README.md
  plugins/onex/skills/generate_node/SKILL.md
  src/omniclaude/nodes/node_skill_generate_node_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-15989): stop disposable .onex_state output from blocking worktree teardown
  .secrets.baseline
  scripts/prune-worktrees.sh
  tests/scripts/test_prune_worktrees_disposable_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16878): make deploy-gate, receipt-honesty and contract-validation actually block
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  .github/required-checks.yaml
  .github/workflows/contract-validation.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/receipt-honesty.yml
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-08-28.txt
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_omn_16878_enforcement_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15989): stop disposable .onex_state output from blocking worktree teardown (#2061)
  .secrets.baseline
  scripts/prune-worktrees.sh
  tests/scripts/test_prune_worktrees_disposable_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16878): make deploy-gate, receipt-honesty and contract-validation actually block (#2062)
  .github/actions/required-check-skip-guard/_workflow_model.py
  .github/actions/required-check-skip-guard/validate_no_required_check_skip_vectors.py
  .github/required-checks.yaml
  .github/workflows/contract-validation.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/receipt-honesty.yml
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-08-28.txt
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_omn_16878_enforcement_wiring.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-16901): ticket-close-keyed worktree auto-prune
  .secrets.baseline
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
