Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

release: omniclaude v0.19.1 (#1025)
  CHANGELOG.md
  pyproject.toml
  src/omniclaude/contracts/task_contract_generator.py
  src/omniclaude/hooks/agent_shipper.py
  src/omniclaude/hooks/code_tracing.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/constraint_injection.py
  src/omniclaude/hooks/handlers/coderabbit_triage.py
  src/omniclaude/hooks/lib/test_offloader.py
  src/omniclaude/hooks/models_injection_tracking.py
  src/omniclaude/hooks/pipeline_checkpoint.py
  src/omniclaude/hooks/worktree_sweep.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_channel.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_message_type.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_severity.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_ambiguity_type.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_gate_verdict.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_ac_verdict.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_execution_outcome.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_intent_type.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_resolution_path.py
  src/omniclaude/nodes/node_omnimemory_promotion/enums/enum_promotion_status.py
  src/omniclaude/nodes/node_plan_dag_generator/enums/enum_work_unit_type.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_assertion_type.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_sandbox_level.py
  src/omniclaude/publisher/publisher_config.py
  src/omniclaude/quirks/enums.py
  src/omniclaude/trace/change_frame.py
  src/omniclaude/trace/replay_engine.py
  src/omniclaude/verification/local_verifier.py
  src/omniclaude/verification/self_check.py
  tests/unit/hooks/lib/test_reconcile_agent_outputs.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: cross-platform stat in sweep preflight cache check [OMN-7057]
  plugins/onex/hooks/scripts/pre_tool_use_sweep_preflight.sh
Due: check-local-paths

feat: add compliance_migration skill for handler migration [OMN-6846]
  tests/unit/skills/test_compliance_migration_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add stacked branch execution to epic-team [OMN-6270]
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/epic_team/prompt.md
  tests/unit/skills/test_epic_team_stacked_branches.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): remove poly enforcer from hooks.json [OMN-7023]
  plugins/onex/hooks/hooks.json
Due: check-local-paths

feat(merge-sweep): add state recovery with per-repo checkpoint and exponential backoff [OMN-7083]
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

fix: wire execute_dod_verify in ticket-pipeline Phase 2.5 [OMN-7085]
  plugins/onex/skills/ticket_pipeline/prompt.md
  tests/unit/skills/test_ticket_pipeline_dod_phase.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: exclude .venv and node_modules from no-internal-ips hook
  .pre-commit-config.yaml
Due: check-local-paths

fix: graduate DoD enforcement to hard mode [OMN-7086]
  plugins/onex/hooks/config/dod_enforcement.yaml
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  tests/hooks/test_dod_completion_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

refactor(plugin): remove deploy_local_plugin, plugin runs from source [OMN-7101]
  plugins/onex/skills/_golden_path_validate/node_skill_deploy_local_plugin_orchestrator.json
  plugins/onex/skills/_lib/_filter_helpers.sh
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/deploy_local_plugin/SKILL.md
  plugins/onex/skills/deploy_local_plugin/deploy.sh
  plugins/onex/skills/deploy_local_plugin/smoke-test-hooks.sh
  plugins/onex/skills/deploy_local_plugin/topics.yaml
  scripts/repair-plugin-venv.sh
  src/omniclaude/nodes/node_skill_deploy_local_plugin_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_deploy_local_plugin_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_deploy_local_plugin_orchestrator/node.py
  tests/unit/skills/test_deploy_local_plugin_level.py
  tests/unit/skills/test_skill_mode_filtering.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(integration): add DoD enforcement chain end-to-end test [OMN-7092]
  tests/integration/test_dod_enforcement_chain.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(integration): add DoD enforcement chain end-to-end test [OMN-7092] (#1033)
  tests/integration/test_dod_enforcement_chain.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: graduate DoD enforcement to hard mode [OMN-7086] (#1031)
  .pre-commit-config.yaml
  plugins/onex/hooks/config/dod_enforcement.yaml
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  tests/hooks/test_dod_completion_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): remove poly enforcer from hooks.json [OMN-7023] (#1028)
  plugins/onex/hooks/hooks.json
Due: check-local-paths

fix: use get_worktree() in epic-team dispatch instead of bare git command [OMN-6270]
  plugins/onex/skills/epic_team/prompt.md
Due: check-local-paths

feat: delegation orchestrator node + classifier fix [OMN-7103]
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/nodes/node_delegation_orchestrator/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_result.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: wire hook delegation to emit Kafka command for node-based pipeline [OMN-7111]
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

fix: replace dict[str, Any] with typed unions per ONEX validation
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_result.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

refactor: typed Pydantic models for delegation handlers [OMN-7103]
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_result.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_command.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_result.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: address review comments on sweep preflight hook
  plugins/onex/hooks/scripts/pre_tool_use_sweep_preflight.sh
Due: check-local-paths

feat(merge-sweep): add state recovery with per-repo checkpoint and exponential backoff [OMN-7083] (#1029)
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

fix: wire execute_dod_verify in ticket-pipeline Phase 2.5 [OMN-7085] (#1030)
  plugins/onex/skills/ticket_pipeline/prompt.md
  tests/unit/skills/test_ticket_pipeline_dod_phase.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: wire intent drift emitter into PostToolUse hook [OMN-7141]
  plugins/onex/hooks/lib/intent_drift_emitter.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_intent_drift_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: wire intent drift emitter into PostToolUse hook [OMN-7141] (#1035)
  plugins/onex/hooks/lib/intent_drift_emitter.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_intent_drift_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: add delegation topics to TopicBase and register GLM env vars [OMN-7103]
  .env.example
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: delegation orchestrator node + classifier compound keywords [OMN-7103] (#1034)
  .env.example
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/topics.py
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/nodes/node_delegation_orchestrator/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_result.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_command.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_result.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.20.0
  .markdown-link-check.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(ci): auto-generate skill nodes before test run [OMN-6911]
  .github/workflows/ci.yml
Due: check-local-paths

fix(ci): auto-generate skill nodes before test run [OMN-6911] (#1037)
  .github/workflows/ci.yml
Due: check-local-paths

fix(emitters): add projector-compatible field aliases to emit_gate_decision [OMN-6902]
  plugins/onex/hooks/lib/pipeline_event_emitters.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(emitters): add projector-compatible field aliases to emit_gate_decision [OMN-6902] (#1038)
  plugins/onex/hooks/lib/pipeline_event_emitters.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: bash guard false positive on quoted substrings in path enforcement
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  tests/hooks/test_bash_guard_worktree.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: bypass hook runtime daemon in delegation counter tests
  tests/unit/hooks/scripts/test_delegation_counter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(release): add _FALLBACK_MATRIX sync step to release BUMP phase
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

fix(release): add _FALLBACK_MATRIX sync step to release BUMP phase (#1041)
  plugins/onex/skills/release/SKILL.md
  plugins/onex/skills/release/prompt.md
Due: check-local-paths

feat(skills): add worktree-triage scheduled hygiene skill [OMN-7059]
  plugins/onex/skills/worktree_triage/SKILL.md
  src/omniclaude/nodes/node_skill_worktree_triage_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_worktree_triage_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_worktree_triage_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add ModelHookErrorEvent schema and HOOK_HEALTH_ERROR topic [OMN-7157]
  src/omniclaude/hooks/schemas.py
  src/omniclaude/hooks/topics.py
  tests/unit/hooks/test_hook_error_event_schema.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): emit structured hook error events to Kafka [OMN-7158]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/lib/hook_error_emitter.py
  plugins/onex/hooks/scripts/common.sh
  src/omniclaude/hooks/event_registry.py
  tests/unit/hooks/test_hook_error_emitter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add hook-health-alert skill with Slack alerting [OMN-7163]
  plugins/onex/skills/hook_health_alert/SKILL.md
  src/omniclaude/nodes/node_skill_hook_health_alert_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_hook_health_alert_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_hook_health_alert_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add content sampling to database_sweep [OMN-7160]
  plugins/onex/skills/database_sweep/SKILL.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
