Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(review): [minor] require run_id in CLI release command to prevent silent no-op [OMN-2631]
  plugins/onex/hooks/lib/pr_claim_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): address CodeRabbit PR #279 review comments [OMN-2631]
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/skills/fix-prs/SKILL.md
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  scripts/pr_claim_registry_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(pr-queue): global claim registry + heartbeat to prevent cross-run PR mutation races [OMN-2631]
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/skills/fix-prs/SKILL.md
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  scripts/check_local_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] rename validator alias to validatorMain per camelCase convention [OMN-2631]
  scripts/check_local_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [nit] update acquire() docstring to reflect os.link atomic create-if-absent [OMN-2631]
  plugins/onex/hooks/lib/pr_claim_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(merge-sweep): migrate --no-gate/--gate-token to --gate-attestation (OMN-2633)
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
Due: check-local-paths

[omniclaude] global claim registry + heartbeat — prevent cross-run PR mutation races (OMN-2631) (#279)
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/skills/fix-prs/SKILL.md
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/merge-sweep/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/prompt.md
  plugins/onex/skills/review-all-prs/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  scripts/check_local_paths.py
  scripts/pr_claim_registry_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(statusline): collision detection flags same worktree, not same project dir
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(ci): inline release steps — remove cross-repo reusable workflow dependency
  .github/workflows/release.yml
Due: check-local-paths

fix(statusline): add dim gray dividers between tab entries
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(review): [minor] remove accidentally committed nested _shared directory [OMN-2612]
  plugins/onex/skills/_shared/_shared/ERROR_HANDLING_FIXES.md
  plugins/onex/skills/_shared/_shared/QDRANT_SECURITY.md
  plugins/onex/skills/_shared/_shared/common_utils.py
  plugins/onex/skills/_shared/_shared/constants.py
  plugins/onex/skills/_shared/_shared/db_helper.py
  plugins/onex/skills/_shared/_shared/docker_helper.py
  plugins/onex/skills/_shared/_shared/env_loader.py
  plugins/onex/skills/_shared/_shared/kafka_helper.py
  plugins/onex/skills/_shared/_shared/kafka_types.py
  plugins/onex/skills/_shared/_shared/py.typed
  plugins/onex/skills/_shared/_shared/qdrant_helper.py
  plugins/onex/skills/_shared/_shared/status_formatter.py
  plugins/onex/skills/_shared/_shared/test_error_handling.py
  plugins/onex/skills/_shared/_shared/test_qdrant_empty_collections.py
  plugins/onex/skills/_shared/_shared/test_qdrant_https_support.py
  plugins/onex/skills/_shared/_shared/test_qdrant_ssrf_protection.py
  plugins/onex/skills/_shared/_shared/timeframe_helper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): standardize skill names — remove onex: prefix and add CI enforcement [OMN-2612]
  plugins/onex/skills/_shared/_shared/ERROR_HANDLING_FIXES.md
  plugins/onex/skills/_shared/_shared/QDRANT_SECURITY.md
  plugins/onex/skills/_shared/_shared/common_utils.py
  plugins/onex/skills/_shared/_shared/constants.py
  plugins/onex/skills/_shared/_shared/db_helper.py
  plugins/onex/skills/_shared/_shared/docker_helper.py
  plugins/onex/skills/_shared/_shared/env_loader.py
  plugins/onex/skills/_shared/_shared/kafka_helper.py
  plugins/onex/skills/_shared/_shared/kafka_types.py
  plugins/onex/skills/_shared/_shared/py.typed
  plugins/onex/skills/_shared/_shared/qdrant_helper.py
  plugins/onex/skills/_shared/_shared/status_formatter.py
  plugins/onex/skills/_shared/_shared/test_error_handling.py
  plugins/onex/skills/_shared/_shared/test_qdrant_empty_collections.py
  plugins/onex/skills/_shared/_shared/test_qdrant_https_support.py
  plugins/onex/skills/_shared/_shared/test_qdrant_ssrf_protection.py
  plugins/onex/skills/_shared/_shared/timeframe_helper.py
  plugins/onex/skills/_shared/validate-skill-names.sh
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
  plugins/onex/skills/pr-release-ready/SKILL.md
  plugins/onex/skills/pr-review-dev/SKILL.md
  plugins/onex/skills/pr-watch/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(review): [minor] remove stale onex: prefix note from pr-review-dev [OMN-2612]
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/skills/pr-review-dev/SKILL.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add fingerprinted dedup to local-review Phase 0 sub-ticket creation [OMN-2613]
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
Due: check-local-paths

fix(review): [MAJOR] restore correct mypy type: ignore comments
  plugins/onex/hooks/lib/bash_guard.py
  src/omniclaude/publisher/embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): protect ((x++)) post-increments from set -e in session-start.sh
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

fix(deploy): resolve source from dev repo when invoked as installed skill
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(skills): standardize skill names — remove onex: prefix, add CI enforcement [OMN-2612] (#258)
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/skills/_shared/validate-skill-names.sh
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
  plugins/onex/skills/pr-release-ready/SKILL.md
  plugins/onex/skills/pr-review-dev/SKILL.md
  plugins/onex/skills/pr-watch/SKILL.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add fingerprinted dedup to local-review Phase 0 sub-ticket creation [OMN-2613] (#259)
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
  src/omniclaude/publisher/embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(pkg): rename distribution to omninode-* prefix for PyPI namespace consistency
  pyproject.toml
Due: check-local-paths

fix(hooks+deploy): SessionStart resume error + deploy-local-plugin source resolution (#262)
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: check-local-paths

feat(hooks): add decision-record subscriber for Decision Provenance audit trail [OMN-2720] (#294)
  src/omniclaude/hooks/lib/decision_record_subscriber.py
  src/omniclaude/runtime/plugin.py
  tests/hooks/test_decision_record_subscriber.py
  tests/runtime/test_plugin_claude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(statusline): collision detection flags same worktree, not same project dir (#305)
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

chore: regenerate uv.lock for omninode-claude rename
  uv.lock
Due: check-local-paths

chore(pkg): rename distribution to omninode-claude (#307)
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(pipeline): eliminate CI polling — gh run watch + GitHub auto-merge
  .pre-commit-config.yaml
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  scripts/check_local_paths_wrapper.sh
Due: check-local-paths

feat(ci): add 11 architecture enforcement gates (Wave 0) [OMN-2592]
  .github/workflows/ci.yml
  scripts/validation/validate_cost_ledger_isolation.py
  scripts/validation/validate_cost_ledger_structure.py
  scripts/validation/validate_no_db_in_orchestrator.py
  scripts/validation/validate_no_direct_kafka_producer.py
  scripts/validation/validate_no_git_outside_effects.py
  scripts/validation/validate_no_linear_outside_effects.py
  scripts/validation/validate_no_repo_adapter_in_orchestrator.py
  scripts/validation/validate_no_utcnow.py
  scripts/validation/validate_topic_naming.py
  src/omniclaude/lib/core/intelligence_event_client.py
  tests/unit/test_ci_enforcement_checks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): install postgresql-client in arch-omnidash-db-role job [OMN-2592]
  .github/workflows/ci.yml
Due: check-local-paths

fix(ci): update secrets baseline for arch gate CI job additions
  .secrets.baseline
Due: none

chore(ci): publish to public PyPI via PYPI_TOKEN
  .github/workflows/release.yml
Due: check-local-paths

fix(ci): address PR #251 review feedback on arch enforcement gates [OMN-2592]
  .secrets.baseline
  scripts/validation/validate_cost_ledger_isolation.py
  scripts/validation/validate_cost_ledger_structure.py
  scripts/validation/validate_no_db_in_orchestrator.py
  scripts/validation/validate_no_direct_kafka_producer.py
  scripts/validation/validate_no_git_outside_effects.py
  scripts/validation/validate_topic_naming.py
  src/omniclaude/hooks/topics.py
  tests/unit/test_ci_enforcement_checks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(pipeline): eliminate CI polling — gh run watch + GitHub auto-merge (#293)
  .pre-commit-config.yaml
  plugins/onex/skills/ci-watch/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
  scripts/check_local_paths_wrapper.sh
Due: check-local-paths

fix: use PYPI_PRIVATE_TOKEN (existing secret)
  .github/workflows/release.yml
Due: check-local-paths

feat(ci): add 11 architecture enforcement gates (Wave 0) [OMN-2592] (#251)
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/validation/validate_cost_ledger_isolation.py
  scripts/validation/validate_cost_ledger_structure.py
  scripts/validation/validate_no_db_in_orchestrator.py
  scripts/validation/validate_no_direct_kafka_producer.py
  scripts/validation/validate_no_git_outside_effects.py
  scripts/validation/validate_no_linear_outside_effects.py
  scripts/validation/validate_no_repo_adapter_in_orchestrator.py
  scripts/validation/validate_no_utcnow.py
  scripts/validation/validate_topic_naming.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/lib/core/intelligence_event_client.py
  tests/unit/test_ci_enforcement_checks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(ci): publish to public PyPI via PYPI_TOKEN (#308)
  .github/workflows/release.yml
Due: check-local-paths

fix(scripts): use datetime.now(tz=UTC) instead of date.today() per ruff DTZ011 [OMN-2401]
  scripts/generate_skill_node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

style: ruff format test file [OMN-2401]
  tests/unit/scripts/test_generate_skill_node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(skills): ticket-pipeline create git branch before dispatching ticket-work [OMN-2611]
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

fix(review): [major] use branchName with gitBranchName fallback in Step 0.1 [OMN-2611]
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
