Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

test(OMN-20109): pass the spawn log into the rig
  tests/hooks_system/_harness.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): budget in exec counts, measured per tool and ratcheted
  tests/hooks_system/budget.py
  tests/hooks_system/test_hook_call_budget.py
  tests/hooks_system/test_hook_concurrency.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): print the measured budget
  tests/hooks_system/test_hook_call_budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): record the measured skill call
  tests/hooks_system/budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): the live hook-process canary contract, red before the canary exists
  tests/hooks_system/test_hook_canary.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20109): the live hook-process canary and its operator notifier and ledger append
  scripts/hook_canary_ledger_append.sh
  scripts/hook_canary_notify.sh
  scripts/hook_process_canary.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-20109): broken-emit outcomes: never hang, no leftover, never silent, a wedged writer is killed
  tests/hooks_system/_harness.py
  tests/hooks_system/test_hook_broken_emit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): the wedge shim spares the bounded runner, and the default emit budget is pinned
  tests/hooks_system/_harness.py
  tests/hooks_system/budget.py
  tests/hooks_system/test_hook_broken_emit.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): re-measure the per-call exec budget with the fail-loud emit runner
  tests/hooks_system/budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): pin the hook system suite as a gate and a pre-commit hook, red before it is wired
  tests/ci/test_hook_system_tests_gate_omn20109.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-20109): the real-hook system suite is a required CI Summary job and a pre-commit hook on hook-tree changes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/ci_summary_gate.py
  scripts/run_hook_system_tests_precommit.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-20109): canary launchd job, cron form for lab hosts, an installer that copies what it runs, and a deterministic pre-commit half
  .pre-commit-config.yaml
  scripts/hook_process_canary.py
  scripts/install-hook-process-canary.sh
  scripts/launchd/ai.omninode.hook-process-canary.plist
  scripts/run_hook_system_tests_precommit.sh
  tests/hooks_system/test_hook_canary.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20109): keep the private repository token off every added line; the ledger append takes its lock script from ONEX_LEDGER_LOCK_SCRIPT
  scripts/hook_canary_ledger_append.sh
  scripts/install-hook-process-canary.sh
  scripts/launchd/ai.omninode.hook-process-canary.plist
  tests/hooks_system/_harness.py
  tests/hooks_system/test_hook_canary.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20109): the pre-commit half writes no bytecode into the project root
  scripts/run_hook_system_tests_precommit.sh
Due: check-local-paths

fix(OMN-20109): the canary installer waits out launchd's asynchronous bootout and fails loudly if nothing is loaded
  scripts/install-hook-process-canary.sh
Due: check-local-paths

test(OMN-20109): real-hook system suite as a required CI gate, and a live hook-process canary (#2418)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/ci_summary_gate.py
  scripts/hook_canary_ledger_append.sh
  scripts/hook_canary_notify.sh
  scripts/hook_process_canary.py
  scripts/install-hook-process-canary.sh
  scripts/launchd/ai.omninode.hook-process-canary.plist
  scripts/run_hook_system_tests_precommit.sh
  tests/ci/test_hook_system_tests_gate_omn20109.py
  tests/hooks_system/__init__.py
  tests/hooks_system/_harness.py
  tests/hooks_system/budget.py
  tests/hooks_system/conftest.py
  tests/hooks_system/probe.py
  tests/hooks_system/test_hook_broken_emit.py
  tests/hooks_system/test_hook_call_budget.py
  tests/hooks_system/test_hook_canary.py
  tests/hooks_system/test_hook_concurrency.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

perf(OMN-20114): hooks resolve paths in bash and read each payload with one jq
  plugins/onex/hooks/lib/repo_guard.sh
  plugins/onex/hooks/scripts/claude_hook_capture.sh
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/hooks/scripts/hook-gate.sh
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/post_tool_use_auto_checkpoint.sh
  plugins/onex/hooks/scripts/post_tool_use_bus_mirror.sh
  plugins/onex/hooks/scripts/post_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/post_tool_use_merge_clone_sync.sh
  plugins/onex/hooks/scripts/post_tool_use_output_capture_metadata.sh
  plugins/onex/hooks/scripts/post_tool_use_secret_redact_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_model_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_open.sh
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_skill_started.sh
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_worktree_guard.sh
  plugins/onex/hooks/scripts/session_end_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_bus_mirror.sh
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  plugins/onex/hooks/scripts/session_start_hook_parity.sh
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  plugins/onex/hooks/scripts/stop_content_capture.sh
  plugins/onex/hooks/scripts/subagent_stop_lane_termination_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_report_contract_guard.sh
  plugins/onex/hooks/scripts/subagent_stop_secret_leak_guard.sh
  plugins/onex/hooks/scripts/user_prompt_submit_bus_mirror.sh
  plugins/onex/hooks/scripts/workspace_reconcile_tick.sh
  tests/hooks/test_hook_payload_single_jq_omn20114.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20114): ratchet the per-call exec ceilings down to the measured 109 / 81 / 44
  tests/hooks_system/budget.py
  tests/hooks_system/test_hook_call_budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20114): the skill-completed boundary test reads the session id from the single payload read
  tests/hooks/test_all_class_capture_registration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20109): hook alarms resolve their Slack credential from the operator env file and fail loud when they cannot deliver
  .env.example
  CLAUDE.md
  plugins/onex/hooks/lib/hook_emit_bounded.py
  plugins/onex/hooks/scripts/alert-channel.sh
  scripts/hook_canary_notify.sh
  tests/conftest.py
  tests/hooks/test_hook_emit_alarm_delivery_omn20109.py
  tests/unit/hooks/scripts/test_alert_channel_alarm_creds_omn20109.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20114): leave the package.json marker grep as it was; only the first marker needs to skip the exec
  plugins/onex/hooks/lib/repo_guard.sh
Due: check-local-paths

fix(OMN-20109): the alarm ledger fallback reads the state dir's parent so the added lines name no private repository
  .env.example
  plugins/onex/hooks/lib/hook_emit_bounded.py
  plugins/onex/hooks/scripts/alert-channel.sh
  tests/hooks/test_hook_emit_alarm_delivery_omn20109.py
  tests/unit/hooks/scripts/test_alert_channel_alarm_creds_omn20109.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-20114): the quality read comparison excludes refused payloads by name, adding no skipped cases
  tests/hooks/test_hook_payload_single_jq_omn20114.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17427): narrow three guard matchers that refused valid commands
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/lib/worktree_add_guard.py
  tests/hooks/test_dirty_path_restore_guard.py
  tests/hooks/test_pr_body_stamp_guard_parse_omn_19019.py
  tests/hooks/test_shared_tree_git_guard.py
  tests/hooks/test_worktree_add_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20109): record the macOS-only canary installer test in the skip-count baseline
  config/skip_count_baseline.yaml
Due: check-local-paths

fix(OMN-20109): hook alarms resolve their Slack credential and fail loud when they cannot deliver (#2420)
  .env.example
  CLAUDE.md
  config/skip_count_baseline.yaml
  plugins/onex/hooks/lib/hook_emit_bounded.py
  plugins/onex/hooks/scripts/alert-channel.sh
  scripts/hook_canary_notify.sh
  tests/conftest.py
  tests/hooks/test_hook_emit_alarm_delivery_omn20109.py
  tests/unit/hooks/scripts/test_alert_channel_alarm_creds_omn20109.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): pr_body_stamp_guard admits dropping a stamp when the one that stays names a merged companion
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  tests/hooks/test_pr_body_stamp_guard_rebind_omn_18853.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): narrow three guard matchers that refused valid commands (#2421)
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/lib/worktree_add_guard.py
  tests/hooks/test_dirty_path_restore_guard.py
  tests/hooks/test_pr_body_stamp_guard_parse_omn_19019.py
  tests/hooks/test_shared_tree_git_guard.py
  tests/hooks/test_worktree_add_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): pr_body_stamp_guard admits dropping a stamp when the one that stays names a merged companion (#2422)
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  tests/hooks/test_pr_body_stamp_guard_rebind_omn_18853.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-20109): wall-time and interpreter-start instrument for one tool call's hooks
  tests/hooks_system/wall.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20109): the wall instrument reports cpu per call and runs calls in parallel
  tests/hooks_system/wall.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

perf(OMN-20118): one entrypoint and one interpreter for the seven Bash guards; bounded emits fork their writer
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/bash_guard_core.sh
  plugins/onex/hooks/lib/bash_guard_cores.py
  plugins/onex/hooks/lib/hook_emit_bounded.py
  plugins/onex/hooks/lib/hook_inventory.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guards.sh
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_git_stash_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_body_stamp_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_prose_command_substitution_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_worktree_guard.sh
  tests/hooks/test_hook_emit_bounded.py
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks_system/_harness.py
  tests/hooks_system/bash_guard_corpus.py
  tests/hooks_system/fixtures/bash_guard_corpus.json
  tests/hooks_system/test_bash_guards_differential.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-20118): golden Bash guard decisions recorded on h202 against the seven separate hooks at b5f04266b
  scripts/public_skill_hygiene_ratchet.yaml
  tests/hooks_system/bash_guard_corpus.py
  tests/hooks_system/fixtures/bash_guard_golden.json
  tests/hooks_system/test_bash_guards_differential.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20118): a guard whose core request cannot be written refuses fail-closed; corpus tests tolerate the backgrounded refusal recorder
  plugins/onex/hooks/scripts/pre_tool_use_bash_guards.sh
  tests/hooks_system/bash_guard_corpus.py
  tests/hooks_system/test_bash_guards_differential.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20118): an unwritable guard request refuses through the guard's failed-core branch instead of error-guard's exit 0
  plugins/onex/hooks/lib/bash_guard_core.sh
  tests/hooks_system/test_bash_guards_differential.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20118): the unwritable-request test uses a TMPDIR no mkdir can create (red 4/5 on the pre-fix runner)
  tests/hooks_system/test_bash_guards_differential.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20118): per-guard registration and refusal-row tests follow the guard through the one Bash entrypoint
  plugins/onex/hooks/contracts/hook_inventory.yaml
  tests/hooks/_bash_guard_registration.py
  tests/hooks/test_credential_rotation_guard.py
  tests/hooks/test_pr_body_stamp_guard.py
  tests/hooks/test_refusal_rows_omn18946.py
  tests/hooks/test_shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20118): a per-call interpreter-start ceiling, 10/17/17/8 to 6/7/10/4 (Bash, guarded Bash, Skill, Read)
  tests/hooks_system/budget.py
  tests/hooks_system/test_hook_call_budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20118): exec ceilings ratchet to the h202 measurement, 125/93/50 to 103/82/50
  tests/hooks_system/budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check
