Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(epic-team): migrate from poly dispatch to Agent Teams [OMN-7037]
  plugins/onex/skills/epic_team/SKILL.md
Due: check-local-paths

fix(ci): add team lifecycle topics to topic allowlist [OMN-7026]
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

feat(autopilot): migrate from CronCreate to headless claude -p [OMN-7038]
  plugins/onex/skills/autopilot/SKILL.md
Due: check-local-paths

feat(verification): route verifier (B) to local Qwen3-14B via HTTP [OMN-7033]
  src/omniclaude/verification/local_verifier.py
  tests/unit/verification/test_local_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(deploy): remove OMNICLAUDE_PROJECT_ROOT permanently [OMN-7019] (#995)
  CLAUDE.md
  plugins/onex/skills/deploy_local_plugin/deploy.sh
  tests/unit/skills/test_agent_healthcheck.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(hooks): enforce worktree canonical path [OMN-7018] (#994)
  plugins/onex/hooks/lib/agentic_tools.py
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_bash_guard.sh
  tests/hooks/test_bash_guard.py
  tests/hooks/test_bash_guard_worktree.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): add team lifecycle observability hook [OMN-7022]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/post_tool_use_team_observability.sh
  tests/hooks/test_team_observability.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): register team lifecycle event types in event registry and topic allowlist [OMN-7022]
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: add team event types to registry test, relax task.assigned required_fields [OMN-7022]
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(verification): add independent verifier agent (B) [OMN-7029]
  plugins/onex/agents/configs/task-verifier.yaml
  src/omniclaude/verification/verifier_prompt.py
  tests/unit/verification/test_verifier_prompt.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: rename task-verifier to agent-task-verifier, align evidence path placeholders [OMN-7029]
  plugins/onex/agents/configs/agent-task-verifier.yaml
Due: check-local-paths

feat(verification): add evidence dual-write (disk + Kafka) [OMN-7030]
  src/omniclaude/verification/evidence_writer.py
  tests/unit/verification/test_evidence_writer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: replace non-existent HookEventEmitter with EmitClient, add EVIDENCE_WRITTEN topic, make timestamps injectable [OMN-7030]
  src/omniclaude/hooks/topics.py
  src/omniclaude/verification/evidence_writer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: add evidence-written topic to allowlist for topic governance [OMN-7030]
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

feat(skills): migrate merge-sweep, pr-polish, begin-day to Agent Teams dispatch [OMN-7039]
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

feat: add contract_verify skill [OMN-7040]
  plugins/onex/skills/contract_verify/SKILL.md
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: wire contract verification into close-out [OMN-7040]
  scripts/cron-closeout.sh
Due: check-local-paths

feat: add failure-to-ticket routing for contract verification [OMN-7040]
  plugins/onex/skills/contract_verify/SKILL.md
Due: check-local-paths

fix(test): align topic assertions with actual TopicBase values [OMN-7022]
  tests/hooks/test_team_observability.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skills): migrate merge-sweep, pr-polish, begin-day to Agent Teams dispatch [OMN-7039] (#1013)
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/pr_polish/SKILL.md
Due: check-local-paths

feat(routing): add routing decision recorder [OMN-7035] (#1006)
  .env.allowlist
  src/omniclaude/routing/__init__.py
  src/omniclaude/routing/routing_recorder.py
  tests/unit/routing/__init__.py
  tests/unit/routing/test_routing_recorder.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add contract_verify skill and close-out wiring [OMN-7040] (#1015)
  plugins/onex/skills/contract_verify/SKILL.md
  scripts/cron-closeout.sh
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_contract_verify_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: fix low-risk ONEX validation warnings (any_import, enum_field_type)
  src/omniclaude/hooks/handlers/audit_dispatch_validator.py
  src/omniclaude/hooks/handlers/context_scope_auditor.py
  src/omniclaude/hooks/handlers/return_path_auditor.py
  src/omniclaude/nodes/node_agent_inbox_effect/handler_standalone_inbox.py
  src/omniclaude/nodes/node_agent_inbox_effect/models/model_inbox_message.py
  src/omniclaude/nodes/node_agent_routing_compute/node.py
  src/omniclaude/nodes/node_ambiguity_gate/node.py
  src/omniclaude/nodes/node_evidence_bundle/node.py
  src/omniclaude/nodes/node_friction_observer_compute/node.py
  src/omniclaude/nodes/node_git_effect/models/model_git_result.py
  src/omniclaude/nodes/node_github_pr_watcher_effect/models.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  src/omniclaude/nodes/node_nl_intent_pipeline/node.py
  src/omniclaude/nodes/node_omnimemory_promotion/node.py
  src/omniclaude/nodes/node_personality_logging_effect/config_loader.py
  src/omniclaude/nodes/node_personality_logging_effect/models/model_log_event.py
  src/omniclaude/nodes/node_personality_logging_effect/personality_adapter.py
  src/omniclaude/nodes/node_personality_logging_effect/sinks/sink_slack.py
  src/omniclaude/nodes/node_plan_dag_generator/node.py
  src/omniclaude/nodes/node_routing_history_reducer/node.py
  src/omniclaude/nodes/node_ticket_compiler/node.py
  src/omniclaude/nodes/node_transition_selector_effect/models/model_contract_state.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/services/ci_relay/app.py
  src/omniclaude/services/ci_relay/models.py
  src/omniclaude/services/ci_relay/publisher.py
  src/omniclaude/services/inbox_wait.py
  src/omniclaude/services/linear_relay/app.py
  src/omniclaude/services/linear_relay/models.py
  src/omniclaude/services/linear_relay/publisher.py
  src/omniclaude/services/standalone_inbox/inbox.py
  src/omniclaude/shared/models/model_skill_node_contract.py
  src/omniclaude/verification/self_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.19.0
  pyproject.toml
  uv.lock
Due: check-local-paths

release: omniclaude v0.19.0 (#1017)
  pyproject.toml
  uv.lock
Due: check-local-paths

feat: add R8 runtime state grounding rule to adversarial review [OMN-7040]
  plugins/onex/skills/design_to_plan/SKILL.md
Due: check-local-paths

feat: add Runtime State Inventory requirement to design-to-plan [OMN-7040]
  plugins/onex/skills/design_to_plan/SKILL.md
Due: check-local-paths

feat(hooks): add sweep pre-flight validation hook [OMN-7057]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_sweep_preflight.sh
  tests/hooks/test_sweep_preflight.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): bump all ONEX deps to release-20260330 versions
  pyproject.toml
  uv.lock
Due: check-local-paths

chore(deps): bump all ONEX deps to release-20260330 versions (#1021)
  pyproject.toml
  uv.lock
Due: check-local-paths

feat: add thin /delegate skill for node-based delegation pipeline [OMN-7040]
  plugins/onex/skills/delegate/SKILL.md
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_skill_delegate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_delegate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_delegate_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): use intermediate variable for stat cross-platform compat [OMN-7057]
  plugins/onex/hooks/scripts/pre_tool_use_sweep_preflight.sh
Due: check-local-paths

ci: add onex compliance check to CI [OMN-7080]
  .github/workflows/ci.yml
Due: check-local-paths

refactor: replace Literal with EnumCheckStatus in self_check [OMN-7082]
  src/omniclaude/verification/self_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci: add onex compliance check to CI [OMN-7080] (#1023)
  .github/workflows/ci.yml
Due: check-local-paths

fix: correct DELEGATION_REQUEST topic producer and add to allowlist [OMN-7040]
  plugins/onex/skills/delegate/SKILL.md
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.19.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

fix: resolve pre-existing ruff lint errors (UP042, PLW0108)
  src/omniclaude/contracts/task_contract_generator.py
  src/omniclaude/hooks/agent_shipper.py
  src/omniclaude/hooks/code_tracing.py
  src/omniclaude/hooks/cohort_assignment.py
  src/omniclaude/hooks/constraint_injection.py
  src/omniclaude/hooks/handlers/coderabbit_triage.py
  src/omniclaude/hooks/lib/test_offloader.py
  src/omniclaude/hooks/models_injection_tracking.py
  src/omniclaude/hooks/pipeline_checkpoint.py
  src/omniclaude/hooks/worktree_sweep.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_channel.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_message_type.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_severity.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_ambiguity_type.py
  src/omniclaude/nodes/node_ambiguity_gate/enums/enum_gate_verdict.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_ac_verdict.py
  src/omniclaude/nodes/node_evidence_bundle/enums/enum_execution_outcome.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_intent_type.py
  src/omniclaude/nodes/node_nl_intent_pipeline/enums/enum_resolution_path.py
  src/omniclaude/nodes/node_omnimemory_promotion/enums/enum_promotion_status.py
  src/omniclaude/nodes/node_plan_dag_generator/enums/enum_work_unit_type.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_assertion_type.py
  src/omniclaude/nodes/node_ticket_compiler/enums/enum_sandbox_level.py
  src/omniclaude/publisher/publisher_config.py
  src/omniclaude/quirks/enums.py
  src/omniclaude/trace/change_frame.py
  src/omniclaude/trace/replay_engine.py
  src/omniclaude/verification/local_verifier.py
  src/omniclaude/verification/self_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: resolve remaining PLW0108 ruff lint error
  tests/unit/hooks/lib/test_reconcile_agent_outputs.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
