Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(ci): auto-merge template fixes [OMN-8432]
  .github/workflows/auto-merge.yml
Due: check-local-paths

feat(hooks): add PreToolUse dispatch guard for ticket+evidence requirement [OMN-8490]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_dispatch_guard_ticket_evidence.sh
  src/omniclaude/hooks/pre_tool_use_dispatch_guard_ticket_evidence.py
  tests/hooks/test_dispatch_guard_ticket_evidence.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(scripts): add session cron setup fallback [OMN-8638] (#1238)
  CLAUDE.md
Due: check-local-paths

feat(skills): §N/§N.x heading support in plan_to_tickets detect_structure [OMN-8491] (#1236)
  plugins/onex/skills/_lib/plan_to_tickets/__init__.py
  plugins/onex/skills/_lib/plan_to_tickets/detect_structure.py
  plugins/onex/skills/plan_to_tickets/SKILL.md
  tests/unit/skills/test_plan_to_tickets_detect_structure.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): auto-merge template fixes [OMN-8432] (#1233)
  .github/workflows/auto-merge.yml
Due: check-local-paths

chore: ruff format test_delegation_orchestrator [OMN-8564]
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: black format + register new env vars [OMN-8564]
  .env.allowlist
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): add OMNI_WORKTREES_DIR fallback and harden env var parsing [OMN-8564]
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): redact secrets from context turns + register OMNI_WORKTREES_DIR [OMN-8564]
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): include conversation context in delegation payload [OMN-8564] (#1228)
  .env.allowlist
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(skills/session): quote description with colon to fix YAML parse [OMN-8659]
  plugins/onex/skills/session/SKILL.md
Due: check-local-paths

fix(delegation): replace 'unknown' with 'not_routed' for non-routed events [OMN-8021]
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(skills/session): quote description with colon to fix YAML parse [OMN-8659] (#1251)
  plugins/onex/skills/session/SKILL.md
Due: check-local-paths

fix(delegation): replace 'unknown' with 'not_routed' for non-routed events [OMN-8021] (#1252)
  plugins/onex/hooks/lib/delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(delegation): use canonical model name from registry, not server response [OMN-8022]
  plugins/onex/hooks/lib/delegation_orchestrator.py
  plugins/onex/hooks/lib/local_delegation_handler.py
  tests/unit/hooks/lib/test_local_delegation_handler.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): register LLM_QWEN_14B_MODEL_NAME in .env.example; update test mock for renamed _get_delegate_endpoint
  .env.example
  tests/unit/test_delegation_prompt_parsing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(delegation): use canonical model name from registry, not server response [OMN-8022] (#1253)
  .env.example
  plugins/onex/hooks/lib/delegation_orchestrator.py
  plugins/onex/hooks/lib/local_delegation_handler.py
  tests/unit/hooks/lib/test_local_delegation_handler.py
  tests/unit/test_delegation_prompt_parsing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(events): enforce delegated_to validation for task.delegated payload [OMN-8024]
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_event_registry.py
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(events): enforce delegated_to validation for task.delegated payload [OMN-8024] (#1254)
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/schemas.py
  tests/hooks/test_event_registry.py
  tests/unit/hooks/lib/test_delegation_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): run contract-compliance on merge_group to unblock queue [OMN-8664]
  .github/workflows/ci.yml
Due: check-local-paths

fix(ci): also run contract-compliance on push events [OMN-8664]
  .github/workflows/ci.yml
Due: check-local-paths

fix(ci): merge_group condition on contract-compliance [OMN-8664] (#1255)
  .github/workflows/ci.yml
Due: check-local-paths

feat(crons): wire data_flow_sweep + runtime_sweep into session cron bootstrap
  scripts/setup-session-crons.sh
Due: check-local-paths

fix(crons): correct header count and stagger data-flow/runtime-sweep schedules [OMN-8650]
  scripts/setup-session-crons.sh
Due: check-local-paths

feat(hooks): auto-verify on task completion + Agent dispatch gate [OMN-8510]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/pre_tool_use_agent_dispatch_gate.sh
  plugins/onex/skills/dispatch_worker/prompt.md
Due: check-local-paths

feat(hooks): add TaskList fallback to overseer foreground block guard
  plugins/onex/hooks/lib/overseer_foreground_block.py
  plugins/onex/hooks/scripts/pre_tool_use_overseer_foreground_block.sh
  tests/unit/hooks/test_overseer_foreground_block_tasklist.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): register CLAUDE_AGENT_ID in env allowlist [OMN-8376]
  .env.allowlist
Due: check-local-paths

feat(hooks): add cron action guard PostToolUse hook on CronCreate
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/cron_action_guard.py
  plugins/onex/hooks/scripts/post_tool_use_cron_action_guard.sh
  tests/hooks/test_cron_action_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add /preflight skill for overnight session readiness check
  plugins/onex/skills/preflight/SKILL.md
  src/omniclaude/nodes/node_skill_preflight_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_preflight_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_preflight_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): add ONEX pattern gate to epic_team and design_to_plan
  plugins/onex/skills/design_to_plan/SKILL.md
  plugins/onex/skills/epic_team/SKILL.md
Due: check-local-paths

feat(skills): add adversarial_pipeline skill and anti-pattern rubric
  plugins/onex/skills/adversarial_pipeline/SKILL.md
  src/omniclaude/nodes/node_skill_adversarial_pipeline_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_adversarial_pipeline_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_adversarial_pipeline_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): drain stdin before lite-mode early exit in dispatch gate
  plugins/onex/hooks/scripts/pre_tool_use_agent_dispatch_gate.sh
Due: check-local-paths

fix(hooks): fail open on malformed sentinel JSON in dispatch gate
  plugins/onex/hooks/scripts/pre_tool_use_agent_dispatch_gate.sh
Due: check-local-paths

feat(plan_to_tickets): enforce epic_id pre-flight before ticket creation [OMN-8418]
  plugins/onex/skills/plan_to_tickets/SKILL.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
