Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(hooks): add PreCompact hook for post-compact context recovery [OMN-3295]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre-compact-probe.sh
  plugins/onex/hooks/scripts/pre-compact.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

fix(review): [minor] printf consistency, fix misleading fallback string, add case-norm + idempotency notes [OMN-3262]
  .github/workflows/linear-close-on-merge.yml
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

feat(skills): auto-detect ONEX_CC_REPO_PATH in plan-to-tickets [OMN-3296]
  plugins/onex/skills/plan-to-tickets/SKILL.md
Due: check-local-paths

fix(review): [minor] add ticket_id and ticket_close_status to ModelSkillResult output schema [OMN-3262]
  plugins/onex/skills/auto-merge/SKILL.md
Due: check-local-paths

fix(skills): prefix golden_path_validate utility with underscore, add SKILL.md guard to coverage test (#447)
  plugins/onex/skills/_golden_path_validate/__init__.py
  plugins/onex/skills/_golden_path_validate/golden_path_runner.py
  plugins/onex/skills/golden-path-validate/SKILL.md
  plugins/onex/skills/golden-path-validate/run-golden-path
  tests/unit/nodes/test_skill_node_coverage.py
  tests/unit/skills/test_golden_path_validate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): suppress ai-slop step_narration warnings in plan-to-tickets SKILL.md
  plugins/onex/skills/plan-to-tickets/SKILL.md
Due: check-local-paths

feat(hooks): add action_description field to hook event payload schemas [OMN-3297]
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/_helpers.py
  src/omniclaude/hooks/contracts/contract_hook_tool_executed.yaml
  src/omniclaude/hooks/handler_context_injection.py
  src/omniclaude/hooks/handler_event_emitter.py
  src/omniclaude/hooks/schemas.py
  tests/unit/hooks/lib/__pycache__/test_capability_probe.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_commit_binding.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_compliance_prompt_parsing.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_context_enrichment_runner.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_cross_repo_detector.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_delegation_orchestrator.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_enrichment_observability_emitter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_epic_decomposer.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_epic_milestone_notifier.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_extraction_event_emitter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_hook_otel_failure_isolation.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_latency_guard.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_linear_contract_patcher.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_llm_routing_observability.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_local_delegation_handler.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_no_infra_handler_imports.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_pipeline_slack_notifier.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_preexisting_fix_lock.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_quality_enforcer_emission.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_reconcile_agent_outputs.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_rrh_adapter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_rrh_hook_adapter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_session_intent.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_shadow_validation.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_skill_execution_log_subscriber.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_worktree_manager.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/test_action_description.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore: remove accidentally committed pycache files [OMN-3297]
  tests/unit/hooks/lib/__pycache__/test_capability_probe.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_commit_binding.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_compliance_prompt_parsing.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_context_enrichment_runner.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_cross_repo_detector.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_delegation_orchestrator.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_enrichment_observability_emitter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_epic_decomposer.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_epic_milestone_notifier.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_extraction_event_emitter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_hook_otel_failure_isolation.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_latency_guard.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_linear_contract_patcher.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_llm_routing_observability.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_local_delegation_handler.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_no_infra_handler_imports.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_pipeline_slack_notifier.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_preexisting_fix_lock.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_quality_enforcer_emission.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_reconcile_agent_outputs.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_rrh_adapter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_rrh_hook_adapter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_session_intent.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_shadow_validation.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_skill_execution_log_subscriber.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_worktree_manager.cpython-312-pytest-8.4.2.pyc
Due: check-local-paths

fix(skills): sync plan format — make ## Task N: canonical in plan-to-tickets and writing-plans
  plugins/onex/skills/plan-to-tickets/SKILL.md
  plugins/onex/skills/writing-plans/SKILL.md
Due: check-local-paths

docs: remove omniarchon/omninode_bridge refs from omniclaude operational files (OMN-3318)
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/EVENT_DRIVEN_ROUTING_PROPOSAL.md
  docs/architecture/SERVICE-BOUNDARIES.md
  docs/events/EVENT_ALIGNMENT_PLAN.md
  plans/2026-02-21-autonomous-skill-platform-plan-v2.md
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/README.md
  plugins/onex/agents/configs/content-summarizer.yaml
  plugins/onex/agents/configs/omniagent-archon-tickets.yaml
  plugins/onex/docs/RUNBOOK_VERTICAL_DEMO.md
  plugins/onex/lib/dependency_validator.md
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/gap-analysis/prompt.md
  plugins/onex/skills/generate-node/README.md
  plugins/onex/skills/generate-node/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pipeline-audit/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  scripts/DATABASE_VERIFICATION_GUIDE.md
  scripts/README.md
  scripts/README_DEBUG_LOOP_CLI.md
  scripts/health_check.sh
  scripts/ingest_all_repositories.py
  scripts/init-db.sh
  scripts/observability/DASHBOARD_USAGE.md
  scripts/observability/README.md
  scripts/observability/monitor_routing_health.sh
  scripts/validate-kafka-setup.sh
  scripts/validation/validate_topic_naming.py
  src/omniclaude/lib/core/manifest_injector.py
  src/omniclaude/lib/utils/naming_validator.py
  src/omniclaude/quirks/models.py
  tests/hooks/test_session_raw_outcome.py
  tests/test_tool_execution_logging.sh
  tests/validate_event_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): activate pre-compact.sh — probe verified, gates passed [OMN-3295]
  plugins/onex/hooks/hooks.json
Due: check-local-paths

docs: remove omniarchon/omninode_bridge refs from omniclaude operational files (OMN-3318) (#453)
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/EVENT_DRIVEN_ROUTING_PROPOSAL.md
  docs/architecture/SERVICE-BOUNDARIES.md
  docs/events/EVENT_ALIGNMENT_PLAN.md
  plans/2026-02-21-autonomous-skill-platform-plan-v2.md
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/README.md
  plugins/onex/agents/configs/content-summarizer.yaml
  plugins/onex/agents/configs/omniagent-archon-tickets.yaml
  plugins/onex/docs/RUNBOOK_VERTICAL_DEMO.md
  plugins/onex/lib/dependency_validator.md
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/gap-analysis/prompt.md
  plugins/onex/skills/generate-node/README.md
  plugins/onex/skills/generate-node/SKILL.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/pipeline-audit/SKILL.md
  plugins/onex/skills/pr-queue-pipeline/SKILL.md
  plugins/onex/skills/review-all-prs/prompt.md
  scripts/DATABASE_VERIFICATION_GUIDE.md
  scripts/README.md
  scripts/README_DEBUG_LOOP_CLI.md
  scripts/health_check.sh
  scripts/ingest_all_repositories.py
  scripts/init-db.sh
  scripts/observability/DASHBOARD_USAGE.md
  scripts/observability/README.md
  scripts/observability/monitor_routing_health.sh
  scripts/validate-kafka-setup.sh
  scripts/validation/validate_topic_naming.py
  src/omniclaude/lib/core/manifest_injector.py
  src/omniclaude/lib/utils/naming_validator.py
  src/omniclaude/quirks/models.py
  tests/hooks/test_session_raw_outcome.py
  tests/test_tool_execution_logging.sh
  tests/validate_event_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(skills): sync plan format — make ## Task N: canonical in plan-to-tickets and writing-plans (#452)
  plugins/onex/skills/plan-to-tickets/SKILL.md
  plugins/onex/skills/writing-plans/SKILL.md
Due: check-local-paths

fix(pre-commit): add topic-naming-lint hook for Python enum files (OMN-3259) (#438)
  .pre-commit-config.yaml
  scripts/validation/lint_topic_names.py
  scripts/validation/run_topic_lint.sh
  scripts/validation/topic_naming_baseline.txt
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): suppress ai-slop step_narration in skill prompt.md step headings (OMN-3318)
  plugins/onex/skills/fix-prs/prompt.md
  plugins/onex/skills/merge-sweep/prompt.md
  plugins/onex/skills/review-all-prs/prompt.md
Due: check-local-paths

fix(hooks): address PR #454 review — pipefail safety + fail-safe snapshot delete
  plugins/onex/hooks/scripts/pre-compact.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

feat(hooks): activate pre-compact.sh — probe verified [OMN-3295] (#454)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre-compact.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/unit/hooks/lib/__pycache__/test_capability_probe.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_commit_binding.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_compliance_prompt_parsing.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_context_enrichment_runner.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_cross_repo_detector.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_delegation_orchestrator.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_enrichment_observability_emitter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_epic_decomposer.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_epic_milestone_notifier.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_extraction_event_emitter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_hook_otel_failure_isolation.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_latency_guard.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_linear_contract_patcher.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_llm_routing_observability.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_local_delegation_handler.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_no_infra_handler_imports.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_pipeline_slack_notifier.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_preexisting_fix_lock.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_quality_enforcer_emission.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_reconcile_agent_outputs.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_rrh_adapter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_rrh_hook_adapter.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_session_intent.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_shadow_validation.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_skill_execution_log_subscriber.cpython-312-pytest-8.4.2.pyc
  tests/unit/hooks/lib/__pycache__/test_worktree_manager.cpython-312-pytest-8.4.2.pyc
Due: check-local-paths

fix(hooks): guard env sync path against hook failure (OMN-3245)
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_session_start_env_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(pre-existing): fix pre-existing lint — add IP suppression comment to TOPICS.md
  docs/TOPICS.md
Due: none

feat(hooks): add background env sync to session-start hook (OMN-3245) (#436)
  docs/TOPICS.md
  plugins/onex/hooks/scripts/session-start.sh
  tests/hooks/test_session_start_env_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(skills): codify direct ticket-pipeline dispatch pattern in epic-team [OMN-3136]
  plugins/onex/skills/epic-team/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

docs(skills): codify direct ticket-pipeline dispatch pattern in epic-team [OMN-3136] (#414)
  plugins/onex/skills/epic-team/SKILL.md
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

fix(ci): add redeploy skill node + baseline entry for false positive (OMN-3289)
  .secrets.baseline
  plugins/onex/skills/gap-analysis/prompt.md
  plugins/onex/skills/gap-fix/prompt.md
  src/omniclaude/nodes/node_skill_redeploy_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_redeploy_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_redeploy_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): correct self-hosted runner routing labels [OMN-3273]
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/security-scan.yml
Due: check-local-paths

chore(omninode-claude): relax omniintelligence pin to >=0.8.0,<0.10.0 and release v0.4.1 [OMN-3328]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(ci): fix onex-schema-compat.yml if-condition null-dereference on non-PR events [OMN-3331]
  .github/workflows/onex-schema-compat.yml
Due: check-local-paths

fix(ci): clarify CHANGELOG wording + fix arch-check job timeouts/cancellations [OMN-3328]
  .github/workflows/ci.yml
  CHANGELOG.md
Due: check-local-paths

chore(omninode-claude): relax omniintelligence pin to >=0.8.0,<0.10.0 and release v0.4.1 [OMN-3328] (#456)
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(skills): add _lib/integration-verification-gate/helpers.md (OMN-3341)
  plugins/onex/skills/_lib/integration-verification-gate/helpers.md
Due: check-local-paths

fix(skills): address CodeRabbit review on integration-verification-gate helpers.md
  plugins/onex/skills/_lib/integration-verification-gate/helpers.md
Due: check-local-paths

fix(ci): strip uv install from 3 remaining stdlib-only arch check jobs [OMN-3328]
  .github/workflows/ci.yml
Due: check-local-paths

[omniclaude] _lib/integration-verification-gate/helpers.md (OMN-3341) (#458)
  plugins/onex/skills/_lib/integration-verification-gate/helpers.md
Due: check-local-paths

fix(ci): replace merge_queue with merge_group in workflow triggers [OMN-3331]
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
Due: check-local-paths

fix(ci): add redeploy to PR Safety worktree-add allowlist [OMN-3331]
  .github/workflows/omni-standards-compliance.yml
Due: check-local-paths

chore(pre-existing): suppress local-path lint in epic-team prompt.md [OMN-3342]
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

chore(pre-existing): suppress hardcoded local path in epic-team prompt [OMN-3352]
  plugins/onex/skills/epic-team/prompt.md
Due: check-local-paths

feat(ci): add raw topic literal governance check to arch-invariants (OMN-3342)
  plugins/onex/hooks/lib/pattern_cache.py
  scripts/check_arch_invariants.py
  src/omniclaude/lib/core/intelligence_event_client.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): replace merge_queue with merge_group trigger keyword [OMN-3331] (#459)
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/onex-schema-compat.yml
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
