Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix: remove unused pytest imports in golden chain test files
  tests/nodes/test_golden_chain_payload_compute.py
  tests/nodes/test_golden_chain_status_reducer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(nodes): golden event chain validator [OMN-7356] (#1084)
  plugins/onex/skills/close_out/SKILL.md
  plugins/onex/skills/golden_chain_sweep/SKILL.md
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/contracts/node_golden_chain_payload_compute.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_publish_effect.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_status_reducer.yaml
  src/omniclaude/nodes/contracts/node_golden_chain_sweep_orchestrator.yaml
  src/omniclaude/nodes/node_golden_chain_payload_compute/__init__.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_enriched_payload.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/__init__.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/models/model_chain_result.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/node.py
  src/omniclaude/nodes/node_golden_chain_publish_effect/persist.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/models/model_sweep_summary.py
  src/omniclaude/nodes/node_golden_chain_status_reducer/node.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/models/model_sweep_request.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/node.py
  tests/nodes/test_golden_chain_payload_compute.py
  tests/nodes/test_golden_chain_status_reducer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(scripts): cron-closeout.sh macOS compatibility fixes [OMN-7238]
  scripts/cron-closeout.sh
Due: check-local-paths

fix(autopilot): make E1/C1/C2 remote-aware and executable [OMN-7401]
  scripts/cron-closeout.sh
Due: check-local-paths

feat(scripts): mechanical watchdog state system with reducer-pattern escalation [OMN-TBD]
  scripts/cron-buildloop.sh
  scripts/cron-closeout.sh
  scripts/watchdog-check.sh
  scripts/watchdog-escalation-policy.yaml
  scripts/watchdog-record-action.sh
  scripts/watchdog-state-read.sh
  scripts/watchdog-state-write.sh
  scripts/watchdog_reducer_cli.py
  src/omniclaude/shared/models/model_watchdog_state.py
  tests/test_watchdog_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(autopilot): wire golden chain sweep as E4 hard gate in closeout [OMN-7388]
  plugins/onex/skills/close_out/SKILL.md
  scripts/cron-closeout.sh
Due: check-local-paths

feat(ci): add golden chain integrity gate to CI pipeline [OMN-7389]
  .github/workflows/ci.yml
  scripts/validation/validate_golden_chain_integrity.py
  tests/unit/scripts/test_validate_golden_chain_integrity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(autopilot): add delegation health pre-check to build loop [OMN-7391]
  scripts/cron-buildloop.sh
Due: check-local-paths

fix(autopilot): close E4 fail-open gap — track run_phase non-zero return
  scripts/cron-closeout.sh
Due: check-local-paths

fix(autopilot): add E4 golden-chain row to closeout run summary
  scripts/cron-closeout.sh
Due: check-local-paths

feat(scripts): add closeout phase contract and compliance checker [OMN-7383]
  scripts/check_closeout_phase_compliance.py
  scripts/closeout-phase-contract.yaml
  tests/unit/scripts/test_closeout_phase_compliance.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

style: ruff format test_validate_golden_chain_integrity.py [OMN-7389]
  tests/unit/scripts/test_validate_golden_chain_integrity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(scripts): align contract phase IDs and tests with post-OMN-7401 renames [OMN-7383]
  scripts/check_closeout_phase_compliance.py
  scripts/closeout-phase-contract.yaml
  tests/unit/scripts/test_closeout_phase_compliance.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): correct SPDX header and add check=False to subprocess.run [OMN-7389]
  tests/unit/scripts/test_validate_golden_chain_integrity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(scripts): address CodeRabbit review: case-insensitive infra checks, encoding, robust regex [OMN-7383]
  scripts/check_closeout_phase_compliance.py
  tests/unit/scripts/test_closeout_phase_compliance.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(ci): add golden chain integrity gate to CI pipeline [OMN-7389] (#1096)
  .github/workflows/ci.yml
  scripts/validation/validate_golden_chain_integrity.py
  tests/unit/scripts/test_validate_golden_chain_integrity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(quality): ruff format and lint fixes for watchdog state [OMN-7392]
  src/omniclaude/shared/models/model_watchdog_state.py
  tests/test_watchdog_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): use startswith-based prefix matching for B4b phase in compliance test [OMN-7383]
  tests/unit/scripts/test_closeout_phase_compliance.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(scripts): address CodeRabbit review — loop_name validation, actions slice, check_escalation read-only [OMN-7392]
  scripts/watchdog-record-action.sh
  scripts/watchdog-state-read.sh
  scripts/watchdog_reducer_cli.py
  src/omniclaude/shared/models/model_watchdog_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(scripts): remove hardcoded OMNI_HOME path, add cmd_read loop_name validation [OMN-7392]
  scripts/watchdog_reducer_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): use independent regex phase scan in coverage test [OMN-7383]
  tests/unit/scripts/test_closeout_phase_compliance.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(scripts): protect state updates with inter-process fcntl lock [OMN-7392]
  scripts/watchdog_reducer_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(contract): add E4_golden_chain phase after main merge [OMN-7383]
  scripts/closeout-phase-contract.yaml
Due: check-local-paths

feat(scripts): mechanical watchdog state system with reducer-pattern escalation [OMN-7392] (#1094)
  scripts/cron-buildloop.sh
  scripts/cron-closeout.sh
  scripts/watchdog-check.sh
  scripts/watchdog-escalation-policy.yaml
  scripts/watchdog-record-action.sh
  scripts/watchdog-state-read.sh
  scripts/watchdog-state-write.sh
  scripts/watchdog_reducer_cli.py
  src/omniclaude/shared/models/model_watchdog_state.py
  tests/test_watchdog_state.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.21.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

feat: merge build loop phases F1-F3 into cron-closeout.sh
  scripts/cron-buildloop.sh
  scripts/cron-closeout.sh
Due: check-local-paths

fix: add F1/F2/F3 phases to closeout-phase-contract.yaml [OMN-5113]
  scripts/closeout-phase-contract.yaml
Due: check-local-paths

fix: add ticket-pipeline and dispatch keywords to F3 phase prompt [OMN-5113]
  scripts/cron-closeout.sh
Due: check-local-paths

feat: merge build loop phases F1-F3 into cron-closeout.sh [OMN-5113] (#1099)
  scripts/closeout-phase-contract.yaml
  scripts/cron-buildloop.sh
  scripts/cron-closeout.sh
Due: check-local-paths

fix: E4 golden chain timeout + delegation fixture missing cost_savings
  scripts/cron-closeout.sh
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: E4 golden chain timeout + delegation fixture missing cost_savings (#1100)
  scripts/cron-closeout.sh
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

release: omniclaude v0.22.0
  pyproject.toml
Due: check-local-paths

release: omniclaude v0.22.0 (#1101)
  pyproject.toml
Due: check-local-paths

release: omniclaude v0.22.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

release: omniclaude v0.22.0 (#1102)
  CHANGELOG.md
  uv.lock
Due: check-local-paths

chore: deprecate polymorphic-agent — move out of discovery path [OMN-7439]
  plugins/onex/agents/_deprecated/configs/polymorphic-agent.yaml
  plugins/onex/agents/_deprecated/polymorphic-agent.md
Due: check-local-paths

feat(contracts): populate golden_path and dod_evidence in skeleton generator [OMN-7427] [OMN-7428]
  plugins/onex/skills/_lib/contract_generator/generate_contract.py
  tests/unit/skills/_lib/test_contract_generator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add prompt.md for golden_chain_sweep skill [OMN-7432]
  plugins/onex/skills/golden_chain_sweep/prompt.md
Due: check-local-paths

feat(skills): add prompt.md for data_flow_sweep skill [OMN-7433]
  plugins/onex/skills/data_flow_sweep/prompt.md
Due: check-local-paths

feat(skills): add prompt.md for runtime_sweep skill [OMN-7434]
  plugins/onex/skills/runtime_sweep/prompt.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
