Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-15025,OMN-15712): done-flip guard bare-#N false positives + attachment supersession (#1976)
  .secrets.baseline
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): materialize required OCC context for bots (OMN-14864)
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
  tests/ci/test_omn_15373_no_ungated_linear_done_policy.py
  tests/workflows/test_call_occ_companion_effect_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15782): make is_weak_signal_ref spelling-invariant for bare OCC refs
  .secrets.baseline
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-15782): retrigger CI after OCC Evidence-Source autobind
  .secrets.baseline
Due: none

fix(OMN-15782): make is_weak_signal_ref spelling-invariant for bare OCC refs (#1978)
  .secrets.baseline
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-14688): delegate-only consumer plugin surface
  .claude-plugin/marketplace.json
  .github/workflows/plugin-compat-gate.yml
  .secrets.baseline
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/skills/delegate/prompt.md
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-delegate/tests/test_marketplace_cli_pin.py
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci: retrigger after occ-autobind Evidence-Source landed on PR body
  .secrets.baseline
Due: none

fix(OMN-14688): address CodeRabbit findings on delegate-only surface PR
  .claude-plugin/marketplace.json
  .secrets.baseline
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex/skills/delegate/SKILL.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-14688): add local contracts/OMN-14688.yaml for the contract gate
  .secrets.baseline
  contracts/OMN-14688.yaml
Due: check-local-paths

fix(OMN-14688): correct contracts/OMN-14688.yaml interfaces_touched enum
  .secrets.baseline
  contracts/OMN-14688.yaml
Due: check-local-paths

feat(OMN-14688): delegate-only consumer plugin surface (#1979)
  .claude-plugin/marketplace.json
  .github/workflows/plugin-compat-gate.yml
  .secrets.baseline
  contracts/OMN-14688.yaml
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/skills/delegate/prompt.md
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-delegate/tests/test_marketplace_cli_pin.py
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-14688): dev marketplace source used disallowed .. parent escape
  .secrets.baseline
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex-dev-marketplace/onex
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci: retrigger after occ-autobind Evidence-Source landed
  .secrets.baseline
Due: none

fix(OMN-14688): dev marketplace source used disallowed .. parent escape (#1980)
  .secrets.baseline
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex-dev-marketplace/onex
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15120): materialize required-check contexts on Dependabot PRs
  .github/required-checks.yaml
  .github/workflows/cr-thread-check.yml
  .github/workflows/cr-thread-gate-caller.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-14856): materialize CR-thread-gate required contexts on Dependabot PRs
  .github/required-checks.yaml
  .github/workflows/cr-thread-check.yml
  .github/workflows/cr-thread-gate-caller.yml
  .secrets.baseline
Due: check-local-paths

chore(OMN-14856): re-trigger CI after OCC companion merge (OCC#6385)
  .secrets.baseline
Due: none

fix(OMN-14856): materialize CR-thread-gate required contexts on Dependabot PRs (#1984)
  .github/required-checks.yaml
  .github/workflows/cr-thread-check.yml
  .github/workflows/cr-thread-gate-caller.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-15960): delete duplicate node_claude_code_session_effect
  .secrets.baseline
  src/omniclaude/nodes/node_claude_code_session_effect/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  src/omniclaude/nodes/node_claude_code_session_effect/contract.yaml
  src/omniclaude/nodes/node_claude_code_session_effect/models/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/models/model_claude_code_session_request.py
  src/omniclaude/nodes/node_claude_code_session_effect/node.py
  src/omniclaude/nodes/node_claude_code_session_effect/protocols/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/protocols/protocol_claude_code_session.py
  tests/unit/nodes/node_claude_code_session_effect/__init__.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15960): repair every in-repo reference to the deleted node
  .secrets.baseline
  pyproject.toml
  scripts/ci/canonical_handler_shape_baseline.py
  src/omniclaude/lib/consumer_group_guard.py
  src/omniclaude/nodes/node_local_coding_orchestrator/contract.yaml
  src/omniclaude/nodes/node_local_coding_orchestrator/node.py
  src/omniclaude/runtime/__main__.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/shared/models/model_skill_result.py
  tests/support/fake_task_dispatcher.py
  tests/unit/runtime/test_wiring_dispatchers.py
  tests/unit/test_consumer_group_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15960): address CodeRabbit findings on the claude_code slot
  .secrets.baseline
  src/omniclaude/runtime/plugin.py
  src/omniclaude/runtime/wiring_dispatchers.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15960): delete duplicate node_claude_code_session_effect (#1985)
  .secrets.baseline
  pyproject.toml
  scripts/ci/canonical_handler_shape_baseline.py
  src/omniclaude/lib/consumer_group_guard.py
  src/omniclaude/nodes/node_claude_code_session_effect/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/backends/backend_subprocess.py
  src/omniclaude/nodes/node_claude_code_session_effect/contract.yaml
  src/omniclaude/nodes/node_claude_code_session_effect/models/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/models/model_claude_code_session_request.py
  src/omniclaude/nodes/node_claude_code_session_effect/node.py
  src/omniclaude/nodes/node_claude_code_session_effect/protocols/__init__.py
  src/omniclaude/nodes/node_claude_code_session_effect/protocols/protocol_claude_code_session.py
  src/omniclaude/nodes/node_local_coding_orchestrator/contract.yaml
  src/omniclaude/nodes/node_local_coding_orchestrator/node.py
  src/omniclaude/runtime/__main__.py
  src/omniclaude/runtime/plugin.py
  src/omniclaude/runtime/wiring_dispatchers.py
  src/omniclaude/shared/models/model_skill_result.py
  tests/support/fake_task_dispatcher.py
  tests/unit/nodes/node_claude_code_session_effect/__init__.py
  tests/unit/nodes/node_claude_code_session_effect/test_backend_subprocess.py
  tests/unit/runtime/test_wiring_dispatchers.py
  tests/unit/test_consumer_group_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-15967): single-owner topic registry — generate EVENT_REGISTRY from omnimarket topics.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_generate_event_registry.py
  tests/hooks/test_registry_consistency.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-15967): single-owner topic registry — generate EVENT_REGISTRY from omnimarket topics.yaml (#1986)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/validation/generate_event_registry.py
  src/omniclaude/hooks/event_registry.py
  tests/hooks/test_generate_event_registry.py
  tests/hooks/test_registry_consistency.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15968): repoint dead emitter imports to node_event_emit_effect, remove fail-open ImportError guard
  .github/workflows/omnimarket-dispatch-drift-gate.yml
  .secrets.baseline
  pyproject.toml
  src/omniclaude/routing/routing_recorder.py
  src/omniclaude/verification/evidence_writer.py
  tests/scripts/test_emit_daemon_cutover_static.py
  tests/unit/routing/test_routing_recorder.py
  tests/unit/verification/test_evidence_writer.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15968): suppress mypy import-not-found for the guarded daemon-client fallback
  .secrets.baseline
  plugins/onex/hooks/lib/emit_client_wrapper.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-15968): bump omnibase-infra pin, fix tests broken by upstream API drift
  .secrets.baseline
  pyproject.toml
  tests/unit/delegation/test_runner.py
  tests/unit/services/ci_relay/test_app.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16000): enforce-everything CI gate hardening for omniclaude
  .github/workflows/ci.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/product-readiness-shadow.yml
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-08-13.txt
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-08-13.txt
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16000): update pre-existing tests that pinned the retired fail-open behavior
  .secrets.baseline
  tests/hooks/test_ci_postgres_workflow.py
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15968): repoint dead emitter imports to node_event_emit_effect, remove fail-open ImportError guard (#1987)
  .github/workflows/omnimarket-dispatch-drift-gate.yml
  .secrets.baseline
  plugins/onex/hooks/lib/emit_client_wrapper.py
  pyproject.toml
  src/omniclaude/routing/routing_recorder.py
  src/omniclaude/verification/evidence_writer.py
  tests/scripts/test_emit_daemon_cutover_static.py
  tests/unit/delegation/test_runner.py
  tests/unit/routing/test_routing_recorder.py
  tests/unit/services/ci_relay/test_app.py
  tests/unit/verification/test_evidence_writer.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16041): declare the package that actually provides `onex delegate`
  .claude-plugin/marketplace.json
  .secrets.baseline
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/skills/delegate/prompt.md
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-delegate/tests/test_install_works.py
  plugins/onex-delegate/tests/test_marketplace_cli_pin.py
  plugins/onex/hooks/scripts/session_start_onex_cli_pin_check.sh
  plugins/onex/plugin-compat.yaml
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-16040): make the onboarding SKILL.md snippet executable and its facts true
  .secrets.baseline
  plugins/onex/skills/onboarding/SKILL.md
  tests/skills/test_onboarding_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16045): exclude broken TruffleHog Lob detector from secret scanning
  .github/workflows/security-scan.yml
  .secrets.baseline
Due: check-local-paths

docs(OMN-16040): make the onboarding SKILL.md snippet executable and its facts true (#1990)
  .secrets.baseline
  plugins/onex/skills/onboarding/SKILL.md
  tests/skills/test_onboarding_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16041): declare the package that actually provides `onex delegate`, and gate on install-works not manifest-consistency (#1989)
  .claude-plugin/marketplace.json
  .secrets.baseline
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/skills/delegate/prompt.md
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-delegate/tests/test_install_works.py
  plugins/onex-delegate/tests/test_marketplace_cli_pin.py
  plugins/onex/hooks/scripts/session_start_onex_cli_pin_check.sh
  plugins/onex/plugin-compat.yaml
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-16045): resync occ-preflight after Evidence-Source repoint to OCC#6482
  .secrets.baseline
Due: none

fix(OMN-16045): exclude broken TruffleHog Lob detector from secret scanning (#1991)
  .github/workflows/security-scan.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-16000): enforce-everything CI gate hardening for omniclaude (#1992)
  .github/workflows/ci.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/product-readiness-shadow.yml
  .secrets.baseline
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/ciyml_job_names_snapshot_2026-08-13.txt
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-08-13.txt
  tests/ci/test_ci_summary_gate.py
  tests/hooks/test_ci_postgres_workflow.py
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci): materialize required OCC context for bots (OMN-14864) (#1977)
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
  tests/ci/test_omn_15373_no_ungated_linear_done_policy.py
  tests/workflows/test_call_occ_companion_effect_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16041): flip delegate install manifests to installable now the release is live
  .claude-plugin/marketplace.json
  .secrets.baseline
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/tests/test_install_works.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
