Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(publisher): fix UUID serialization and routing session_id field name
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/publisher/embedded_publisher.py
  tests/publisher/test_embedded_publisher.py
  tests/unit/hooks/lib/test_routing_decision_payload.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(publisher): add UUID/datetime-aware JSON encoder to publish path [OMN-3514]
  src/omniclaude/publisher/embedded_publisher.py
  tests/publisher/test_embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(publisher): remove redundant type: ignore in UUID regression tests [OMN-3514]
  tests/publisher/test_embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(nodes): align docstring with merge queue version [OMN-3500]
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(publisher): preserve UUID correlation_id from payload in event headers [OMN-3514]
  src/omniclaude/publisher/embedded_publisher.py
  tests/publisher/test_embedded_publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(publisher): UUID serialization and routing session_id field name
  plugins/onex/hooks/lib/route_via_events_wrapper.py
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/classifier.py
  src/omniclaude/publisher/embedded_publisher.py
  tests/publisher/test_embedded_publisher.py
  tests/unit/hooks/lib/test_routing_decision_payload.py
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/test_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(freeze): update .migration_freeze to structured format [OMN-3533]
  .migration_freeze
Due: check-local-paths, migration-freeze-check

chore: fix md_separator AI-slop pattern in classifier.py docstring [OMN-3533]
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(skills): full SKILL.md for feature-dashboard skill [OMN-3503]
  plugins/onex/skills/feature-dashboard/SKILL.md
  tests/unit/skills/test_feature_dashboard_frontmatter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(skills): ruff format test_feature_dashboard_frontmatter.py [OMN-3503]
  tests/unit/skills/test_feature_dashboard_frontmatter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): relax omnibase-infra pin to >=0.14.0,<0.15.0, bump to 0.4.2 [OMN-3512]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(skills): full SKILL.md for feature-dashboard skill [OMN-3503] (#498)
  plugins/onex/skills/feature-dashboard/SKILL.md
  tests/unit/skills/test_feature_dashboard_frontmatter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): pin omnibase-core==0.23.0 and omnibase-infra==0.15.0, bump to v0.4.2 [OMN-3549]
  pyproject.toml
Due: check-local-paths

feat(nodes): generate skill node + contract + golden path fixture for feature-dashboard [OMN-3505]
  .gitignore
  docs/feature-dashboard/.gitkeep
  plugins/onex/skills/_golden_path_validate/node_skill_feature_dashboard_orchestrator.json
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(tests): add feature-dashboard to CANONICAL_SKILLS in test_skill_node_coverage.py [OMN-3506]
  tests/unit/nodes/test_skill_node_coverage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(tests): model validation test for evidence, sort order, byte-stable stable.json [OMN-3501]
  tests/unit/nodes/test_feature_dashboard_result_model.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-3251): fix extraction_event_emitter silent failure in user-prompt-submit hook
  plugins/onex/hooks/lib/extraction_event_emitter.py
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(pre-commit): add kafka-no-hardcoded-fallback guard to reject hardcoded broker fallbacks [OMN-3554]
  .pre-commit-config.yaml
  consumers/agent_actions_consumer.py
  plugins/onex/skills/action-logging/examples/basic_usage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(pre-commit): add Kafka broker URL fallback guard [OMN-3555]
  .pre-commit-config.yaml
  plugins/onex/skills/_golden_path_validate/golden_path_runner.py
  scripts/validation/validate_no_hardcoded_kafka_broker.py
  src/omniclaude/lib/core/manifest_injector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(pre-existing): fix ruff TC006/RUF034 in manifest_injector.py [OMN-3555]
  src/omniclaude/lib/core/manifest_injector.py
Due: check-local-paths, validate-secrets

fix(OMN-3251): expand CLAUDE_PLUGIN_ROOT in stale-venv repair log message
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

feat(pre-commit): add kafka-no-hardcoded-fallback guard [OMN-3554] (#506)
  .pre-commit-config.yaml
  consumers/agent_actions_consumer.py
  plugins/onex/skills/action-logging/examples/basic_usage.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(tests): smoke-test audit mode + stable.json write verification [OMN-3507]
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/test_smoke_audit_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(pre-existing): exclude .venv from kafka-no-hardcoded-fallback hook scan
  .pre-commit-config.yaml
Due: check-local-paths

fix(review): [minor] remove dead code and add kafka-fallback-ok marker in manifest_injector
  src/omniclaude/lib/core/manifest_injector.py
Due: check-local-paths, validate-secrets

feat(OMN-3502): add linear_relay service with dedup, verifier, publisher, and FastAPI app
  src/omniclaude/services/linear_relay/__init__.py
  src/omniclaude/services/linear_relay/app.py
  src/omniclaude/services/linear_relay/dedup.py
  src/omniclaude/services/linear_relay/models.py
  src/omniclaude/services/linear_relay/publisher.py
  src/omniclaude/services/linear_relay/verifier.py
  tests/unit/services/linear_relay/__init__.py
  tests/unit/services/linear_relay/test_app.py
  tests/unit/services/linear_relay/test_models.py
  tests/unit/services/linear_relay/test_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(services): ruff format, noqa arch-topic-naming, nosec B108 [OMN-3502]
  src/omniclaude/services/linear_relay/dedup.py
  src/omniclaude/services/linear_relay/publisher.py
  tests/unit/services/linear_relay/test_app.py
  tests/unit/services/linear_relay/test_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(services): ruff format app.py [OMN-3502]
  src/omniclaude/services/linear_relay/app.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-3251): fix extraction_event_emitter silent failure in user-prompt-submit hook (#504)
  plugins/onex/hooks/lib/extraction_event_emitter.py
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-3508): idempotency verification — byte-stable stable.json
  docs/feature-dashboard/feature-dashboard.stable.json
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/test_stable_json_idempotency.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(pre-existing): exclude .venv, .claude, scripts from kafka-no-hardcoded-fallback hook
  .pre-commit-config.yaml
Due: check-local-paths

chore: update uv.lock — omnibase-infra==0.15.0 + omninode-intelligence==0.9.3 [OMN-3549]
  uv.lock
Due: check-local-paths

chore(pre-existing): exclude .venv, .claude, scripts from kafka-no-hardcoded-fallback hook
  .pre-commit-config.yaml
  consumers/agent_actions_consumer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-3504): add timing-safe comparison test to linear_relay verifier tests
  tests/unit/services/linear_relay/test_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-3509): add post-merge hook with 5 skip conditions and rate limiting
  scripts/git-hooks/post-merge
Due: check-local-paths

docs(OMN-3510): add quality gate report for feature-dashboard epic
  docs/quality-gate-reports/OMN-3510-quality-gate-report.md
Due: none

docs(OMN-3510): add quality gate report for feature-dashboard epic (#513)
  docs/quality-gate-reports/OMN-3510-quality-gate-report.md
Due: none

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
