Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

docs(OMN-17018): sync the dispatch_queue_drainer skill shim to the node it dispatches (#2090)
  .secrets.baseline
  contracts/OMN-17018.yaml
  plugins/onex/skills/dispatch_queue_drainer/SKILL.md
  scripts/materialize-dod-evidence-from-occ.sh
  tests/unit/test_dod_occ_materialization.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: check-local-paths

fix(OMN-13902): sync work obligation hook registry
  .secrets.baseline
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13902): sync supported hook event types
  .secrets.baseline
  plugins/onex/hooks/lib/emit_client_wrapper.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-13902): govern work obligation hook topics
  .secrets.baseline
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

chore(deps, OMN-13902): refresh omninode sibling locks [bot replacement] (#2092)
  .secrets.baseline
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
  tests/hooks/test_event_registry.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17313): converge a detached canonical clone instead of refusing it
  .secrets.baseline
  scripts/converge-canonical-clone.sh
  tests/scripts/test_converge_canonical_clone.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17313): converge a detached canonical clone instead of refusing it (#2093)
  .secrets.baseline
  scripts/converge-canonical-clone.sh
  tests/scripts/test_converge_canonical_clone.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-17311): the Mac reconcile tick delegates to the one host reconciler instead of pulling clones itself
  .secrets.baseline
  plugins/onex/hooks/scripts/workspace_reconcile_tick.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-17311): the Mac reconcile tick delegates to the one host reconciler instead of pulling clones itself (#2094)
  .secrets.baseline
  plugins/onex/hooks/scripts/workspace_reconcile_tick.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-16850): widen the no-monorepo-refs guard to every OMNI_HOME form, and (OMN-16855) stop the shipped install command resolving to the caller's cwd
  .claude-plugin/marketplace.json
  .secrets.baseline
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/tests/test_install_works.py
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/skills/epic_team/prompt.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/ship_dirty_canonical/SKILL.md
  plugins/onex/skills/worktree/SKILL.md
  scripts/check-skill-monorepo-refs.sh
  scripts/skill_monorepo_ref_patterns.json
  scripts/skill_monorepo_refs.py
  tests/skills/test_no_monorepo_refs_in_plugin_skills.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16850): widen the no-monorepo-refs guard to every OMNI_HOME form, and (OMN-16855) stop the shipped install command resolving to the caller's cwd (#2095)
  .claude-plugin/marketplace.json
  .secrets.baseline
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/delegate/SKILL.md
  plugins/onex-delegate/tests/test_install_works.py
  plugins/onex/ENVIRONMENT_VARIABLES.md
  plugins/onex/skills/epic_team/prompt.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/ship_dirty_canonical/SKILL.md
  plugins/onex/skills/worktree/SKILL.md
  scripts/check-skill-monorepo-refs.sh
  scripts/skill_monorepo_ref_patterns.json
  scripts/skill_monorepo_refs.py
  tests/skills/test_no_monorepo_refs_in_plugin_skills.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): fix action pin metadata
  .github/workflows/security-scan.yml
  .secrets.baseline
Due: check-local-paths

feat(plugin): expose cloud delegation to customers
  .claude-plugin/marketplace.json
  .secrets.baseline
  QUICKSTART.md
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/cloud_delegate/SKILL.md
  plugins/onex-delegate/skills/cloud_delegate/prompt.md
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-delegate/tests/test_install_works.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(plugin): expose cloud delegation to customers (OMN-17354) (#2097)
  .claude-plugin/marketplace.json
  .secrets.baseline
  QUICKSTART.md
  plugins/.claude-plugin/marketplace.json
  plugins/onex-delegate/.claude-plugin/plugin.json
  plugins/onex-delegate/plugin-compat.yaml
  plugins/onex-delegate/skills/cloud_delegate/SKILL.md
  plugins/onex-delegate/skills/cloud_delegate/prompt.md
  plugins/onex-delegate/tests/test_delegate_only_surface.py
  plugins/onex-delegate/tests/test_install_works.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-17499): fail-closed PreToolUse guard for background agent model
  .secrets.baseline
  CLAUDE.md
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/agent_model_allowlist.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/workflow_model_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_agent_model_guard.sh
  tests/hooks/fixtures/workflow_model_guard/offending_file-worktree-clobber-ticket-wf_df4fb9d5-6cb.js
  tests/hooks/fixtures/workflow_model_guard/offending_omnicursor-deescalate-tickets-wf_dcff30c8-de3.js
  tests/hooks/fixtures/workflow_model_guard/offending_omnicursor-project-rehome-wf_4f8b8618-3ac.js
  tests/hooks/fixtures/workflow_model_guard/passing_beta-wave-2-wf_c1f70559-0bc.js
  tests/hooks/fixtures/workflow_model_guard/passing_brief-wave2-correction-wf_6d570cf0-69d.js
  tests/hooks/fixtures/workflow_model_guard/passing_core1634-landing-wf_fb57c0c2-20c.js
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17499): pin the borrowed mask bit to a single control
  .secrets.baseline
  plugins/onex/hooks/contracts/hook_inventory.yaml
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-17499): fail-closed PreToolUse guard for background agent model (Workflow agent() and Agent tool) (#2098)
  .secrets.baseline
  CLAUDE.md
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/agent_model_allowlist.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/workflow_model_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_agent_model_guard.sh
  tests/hooks/fixtures/workflow_model_guard/offending_file-worktree-clobber-ticket-wf_df4fb9d5-6cb.js
  tests/hooks/fixtures/workflow_model_guard/offending_omnicursor-deescalate-tickets-wf_dcff30c8-de3.js
  tests/hooks/fixtures/workflow_model_guard/offending_omnicursor-project-rehome-wf_4f8b8618-3ac.js
  tests/hooks/fixtures/workflow_model_guard/passing_beta-wave-2-wf_c1f70559-0bc.js
  tests/hooks/fixtures/workflow_model_guard/passing_brief-wave2-correction-wf_6d570cf0-69d.js
  tests/hooks/fixtures/workflow_model_guard/passing_core1634-landing-wf_fb57c0c2-20c.js
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-17172): kb-doc-gate fleet shape — diff/strict modes on the 2026-09-01 allowed set
  .github/workflows/kb-doc-gate-reusable.yml
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/kb_doc_gate.py
  tests/scripts/test_kb_doc_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-17172): kb-doc-gate fleet shape — diff/strict modes on the 2026-09-01 allowed set (#2099)
  .github/workflows/kb-doc-gate-reusable.yml
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/kb_doc_gate.py
  tests/scripts/test_kb_doc_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17499): tokenise regex literals and refuse a desynchronised scan in the background-agent model guard
  .secrets.baseline
  CLAUDE.md
  plugins/onex/hooks/lib/workflow_model_guard.py
  tests/hooks/fixtures/workflow_model_guard/passing_pr-backlog-drain-wf_aeb1c3c7-41a.js
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-17499): re-trigger CI now that OCC companion #7999 has landed
  .secrets.baseline
Due: none

fix(OMN-17499): tokenise regex literals and refuse a desynchronised scan in the background-agent model guard (#2100)
  .secrets.baseline
  CLAUDE.md
  plugins/onex/hooks/lib/workflow_model_guard.py
  tests/hooks/fixtures/workflow_model_guard/passing_pr-backlog-drain-wf_aeb1c3c7-41a.js
  tests/hooks/test_workflow_model_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-13902): bind sibling lock refresh evidence
  .secrets.baseline
Due: none

docs(OMN-16609): point the README at the knowledge base and flip kb-doc-gate to strict
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  .secrets.baseline
  README.md
  contracts/OMN-13089.yaml
  contracts/OMN-13090.yaml
  pyproject.toml
Due: check-local-paths

docs(OMN-16609): add the in-repo ticket contract for the doc scrub
  .secrets.baseline
  contracts/OMN-16609.yaml
Due: check-local-paths

fix(OMN-17566): inject typed ArtifactStore root at the omniclaude hook boundary
  .secrets.baseline
  plugins/onex/hooks/lib/skill_output_suppressor.py
  plugins/onex/hooks/scripts/post_tool_use_output_suppressor.sh
  tests/unit/hooks/test_skill_output_suppressor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17827): make kb-doc-gate merge-aware and gate clean merges too
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/kb_doc_gate.py
  tests/scripts/test_kb_doc_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17827): make kb-doc-gate merge-aware and gate clean merges too (#2103)
  .pre-commit-hooks.yaml
  .secrets.baseline
  scripts/kb_doc_gate.py
  tests/scripts/test_kb_doc_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17875): omniclaude auto-merge arms with the org PAT so dev push workflows fire
  .github/workflows/auto-merge.yml
  .secrets.baseline
  tests/workflows/test_auto_merge_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17875): omniclaude auto-merge arms with the org PAT so dev push workflows fire (#2105)
  .github/workflows/auto-merge.yml
  .secrets.baseline
  tests/workflows/test_auto_merge_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17942): ticket-creation gate
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/ticket_creation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17942): ticket-creation gate (#2106)
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/ticket_creation_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/ticket_creation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_ticket_creation_gate.sh
  tests/hooks/test_hooks_baseline_omn_13244.py
  tests/hooks/test_ticket_creation_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-17957): fail-closed PreToolUse guard refusing a credential rotation with no operator-consent citation
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/hooks/config/credential_rotation_policy.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/credential_rotation_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_credential_rotation_guard.sh
  tests/hooks/test_credential_rotation_guard.py
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17958): stop hook tests posting real alerts to Slack
  .env.allowlist
  .secrets.baseline
  plugins/onex/hooks/lib/bash_guard.py
  tests/hooks/conftest.py
  tests/hooks/test_hook_alert_suppression.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets
