Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

ci(OMN-12433): extend deploy gate retry budget
  .github/workflows/deploy-gate-reusable.yml
  tests/workflows/test_deploy_gate_reusable_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-12433): extend deploy gate retry budget (#1714)
  .github/workflows/deploy-gate-reusable.yml
  tests/workflows/test_deploy_gate_reusable_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-12430): remove dead CircuitBreaker + safe_execute_operation from error_handling.py
  src/omniclaude/lib/utils/__init__.py
  src/omniclaude/lib/utils/error_handling.py
Due: check-local-paths, validate-secrets

chore(OMN-12430): add omniclaude contract for dead-code removal
  contracts/OMN-12430.yaml
Due: check-local-paths

ci(OMN-12477): remove hotfix/* bypass from main-target-guard
  .github/workflows/main-target-guard.yml
  tests/workflows/test_main_target_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(salvage): recover delegate skill fixes and migration manifest from 2026-05-23 canonical cutover
  plugins/onex/skills/_migration/skills_to_market_manifest.yaml
  plugins/onex/skills/delegate/SKILL.md
  plugins/onex/skills/delegate/_lib/run.py
  plugins/onex/skills/delegate/prompt.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore: release v0.25.1 (OMN-12561)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

ci(OMN-12564): bound and harden OCC deploy-gate partial-clone checkout
  .github/workflows/deploy-gate-reusable.yml
  scripts/deploy-gate/checkout-occ-contracts.sh
  tests/scripts/test_checkout_occ_contracts.py
  tests/scripts/test_checkout_occ_contracts.sh
  tests/workflows/test_deploy_gate_reusable_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-12561): pin omniclaude release dependency heads
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(OMN-12571): codify small-batch, evidence-backed draft-promotion rules
  docs/process/draft-promotion-procedure.md
  src/omniclaude/hooks/lib/draft_promotion.py
  tests/unit/hooks/lib/test_draft_promotion.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(OMN-12561): allowlist release dependency rev pins
  pyproject.toml
Due: check-local-paths

docs(OMN-12571): record OCC evidence binding (PR 2044 / commit 35bd864a)
  docs/process/draft-promotion-procedure.md
Due: none

chore(OMN-12561): pin release deps to final tags
  pyproject.toml
  uv.lock
Due: check-local-paths

auto-ship(OMN-7466): rescue dirty canonical omniclaude [20260603T142612]
  uv.lock
Due: check-local-paths

fix(OMN-12637): repoint ship_dirty_canonical skill to working in-process dispatch
  plugins/onex/skills/ship_dirty_canonical/SKILL.md
  tests/unit/skills/test_ship_dirty_canonical_dispatch.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-12637): add local ticket contract for dispatch fix
  contracts/OMN-12637.yaml
Due: check-local-paths

feat(OMN-12674): remove reviewdog reusable workflow, callers, and configs
  .github/scripts/mypy-to-rdjsonl.py
  .github/scripts/ruff-to-rdjsonl.py
  .github/workflows/reviewdog-caller.yml
  .github/workflows/reviewdog-review.yml
  docs/contracts/hostile-reviewer-rdjsonl-contract.md
  docs/infra/reviewdog-setup.md
  tests/ci/test_mypy_to_rdjsonl.py
  tests/ci/test_ruff_to_rdjsonl.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-12673): refresh omniclaude actions pins
  .github/workflows/call-reject-skip.yml
  .github/workflows/security-scan.yml
Due: check-local-paths

fix(OMN-12673): avoid inheriting secrets in reject-skip caller
  .github/workflows/call-reject-skip.yml
Due: check-local-paths

ci(OMN-12690): require live golden chain gate
  .github/workflows/ci.yml
  scripts/ci/run_golden_chain_live.py
  src/omniclaude/nodes/node_golden_chain_sweep_orchestrator/__main__.py
  tests/ci/test_golden_chain_live_runner.py
  tests/hooks/test_ci_postgres_workflow.py
  tests/nodes/test_golden_chain_sweep_orchestrator_cli.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-12690): add local deploy gate contract
  contracts/OMN-12690.yaml
Due: check-local-paths

fix(OMN-12690): make golden chain cancellation explicit
  scripts/ci/run_golden_chain_live.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(OMN-12692): enforce golden-chain registry parity
  .github/workflows/ci.yml
  contracts/OMN-12692.yaml
  scripts/validation/validate_golden_chain_integrity.py
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/__init__.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  tests/nodes/test_golden_chain_payload_compute.py
  tests/unit/scripts/test_validate_golden_chain_integrity.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-12692): govern omnibase infra registry topics
  src/omniclaude/hooks/topic_allowlist.yaml
Due: check-local-paths

fix(OMN-12692): add repo-local deploy evidence
  contracts/OMN-12692.yaml
Due: check-local-paths

fix(OMN-12690): move live gate DB URL to step env
  .github/workflows/ci.yml
Due: check-local-paths

fix(OMN-12690): clear live gate CI blockers
  .env.allowlist
  .env.example
  .github/workflows/ci.yml
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
  tests/hooks/test_ci_postgres_workflow.py
  tests/nodes/test_golden_chain_payload_compute.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-12696): block surfaced skip tokens
  .github/workflows/reject-deploy-gate-skip.yml
  .pre-commit-hooks/reject-deploy-gate-skip-token.sh
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/skip_token_surface_guard.py
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  plugins/onex/hooks/scripts/skip_token_surface_guard.sh
  plugins/onex/hooks/scripts/subagent_skip_token_surface_guard.sh
  tests/hooks/test_reject_skip_token_hook.py
  tests/hooks/test_skip_token_surface_guard.py
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

ci(OMN-12696): pin skip-token workflow guard
  .github/workflows/call-reject-skip.yml
Due: check-local-paths

chore(OMN-12696): allow hook project root env
  .env.allowlist
Due: check-local-paths

fix(OMN-12696): anchor skip-token hooks to plugin root
  plugins/onex/hooks/scripts/skip_token_surface_guard.sh
  plugins/onex/hooks/scripts/subagent_skip_token_surface_guard.sh
Due: check-local-paths

fix(OMN-12690): align golden-chain live test topic
  tests/ci/test_golden_chain_live_runner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-12690): restore reject-skip caller context
  .github/workflows/call-reject-skip.yml
Due: check-local-paths

fix(OMN-12690): wait for golden-chain consumer readiness
  scripts/ci/run_golden_chain_live.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
