Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(OMN-13029): defect-anchor gate — reject unanchored BLOCKER/UNFIXED markers in evidence docs (#1812)
  .github/workflows/ci.yml
  .github/workflows/defect-anchor-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-defect-anchor.sh
  contracts/OMN-13029.yaml
  tests/hooks/fixtures/defect_anchor/invalid_blocker_no_ticket.md
  tests/hooks/fixtures/defect_anchor/invalid_regression_no_ticket.md
  tests/hooks/fixtures/defect_anchor/invalid_unfixed_no_ticket.md
  tests/hooks/fixtures/defect_anchor/valid_blocker_with_ticket.md
  tests/hooks/fixtures/defect_anchor/valid_escape_hatch.md
  tests/hooks/fixtures/defect_anchor/valid_no_defect_markers.md
  tests/hooks/test_check_defect_anchor.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-13051): plan hard fields gate — D-5 precondition probes + artifact manifest (#1818)
  .github/workflows/plan-hard-fields-gate.yml
  .pre-commit-config.yaml
  scripts/lint_plan_hard_fields.py
  tests/scripts/test_lint_plan_hard_fields.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13560): Wave 3 delete ANTHROPIC_API_KEY read + Wave 2 aggregator config→overlay (#1820)
  src/omniclaude/aggregators/config.py
  src/omniclaude/contracts/contract_omniclaude_runtime.yaml
  src/omniclaude/lib/core/manifest_injector.py
  tests/unit/test_aggregators.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test: update cache restore action expectation
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): bump omnibase_core to 0.46.1
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/trace/fix_transition.py
  src/omniclaude/trace/frame_assembler.py
  src/omniclaude/trace/intelligence_integration.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-12719): handle newer Claude Code SubagentStop payload shapes (#1737)
  contracts/OMN-12719.yaml
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(deps): bump omnibase_core to 0.46.1
  scripts/worktree_reaper.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/trace/fix_transition.py
  src/omniclaude/trace/frame_assembler.py
  src/omniclaude/trace/intelligence_integration.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): unblock omnibase core bump validation
  scripts/validation/validate_no_duplicate_models.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-13762): add omniclaude core bump contract
  contracts/OMN-13762.yaml
Due: check-local-paths

ci(OMN-13762): scan local image with dockle
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-13762): use writable dockle image tar path
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(OMN-13762): materialize dod evidence in workspace
  .github/workflows/ci.yml
Due: check-local-paths

docs(OMN-13775): codify docker builds run on .201 stability, never in-sandbox
  docs/runbooks/docker-build-worker-routing.md
  plugins/onex/skills/dispatch_worker/prompt.md
Due: check-local-paths

chore(validation): narrow duplicate cli exemption
  scripts/validation/validate_no_duplicate_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): bump the actions group with 4 updates (OMN-13762) (#1824)
  .github/workflows/ci.yml
  .github/workflows/concurrency-primitive-guard.yml
  .github/workflows/integration-tests.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/plugin-compat-gate.yml
  .github/workflows/security-scan.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): bump kafka-python from 3.0.2 to 3.0.7 (OMN-13762) (#1825)
  consumers/requirements.txt
Due: check-local-paths

ci(security): stream dockle image export to mnt
  .github/workflows/security-scan.yml
Due: check-local-paths

ci(kafka): avoid full dev sync for import guard
  .github/workflows/ci.yml
Due: check-local-paths

fix: annotate ModelChainMetadata.stages with ONEX_EXCLUDE: dict_str_any
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(security): move docker data root to mnt
  .github/workflows/security-scan.yml
Due: check-local-paths

fix: allowlist cli.py in duplicate-model-filename validator
  scripts/validation/validate_no_duplicate_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(deps): bump omnibase-core to 0.46.1 (OMN-13762) (#1826)
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  contracts/OMN-13762.yaml
  scripts/validation/validate_no_duplicate_models.py
  scripts/worktree_reaper.py
  src/omniclaude/hooks/cli_emit.py
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
  src/omniclaude/trace/fix_transition.py
  src/omniclaude/trace/frame_assembler.py
  src/omniclaude/trace/intelligence_integration.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Revert "fix: annotate ModelChainMetadata.stages with ONEX_EXCLUDE: dict_str_any"
  src/omniclaude/nodes/node_golden_chain_payload_compute/models/model_chain_definition.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: exclude pre-existing dict_str_any violation via scripts/validate_onex.py
  scripts/validate_onex.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13773): cherry-pick SubagentStop transcript_path fix onto main (#1828)
  contracts/OMN-12719.yaml
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(OMN-13775): codify docker builds run on .201 stability, never in-sandbox (#1829)
  docs/runbooks/docker-build-worker-routing.md
  plugins/onex/skills/dispatch_worker/prompt.md
  scripts/validate_onex.py
  scripts/validation/validate_no_duplicate_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-13780): disposition 5 no-node skill facades (M2c)
  plugins/onex/skills/checkpoint/SKILL.md
  plugins/onex/skills/dispatch_watchdog/SKILL.md
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/executing_plans/SKILL.md
  plugins/onex/skills/skill_functional_audit/SKILL.md
  plugins/onex/skills/wave_scheduler/SKILL.md
Due: check-local-paths

docs(OMN-13780): disposition 5 no-node skill facades (M2c) (#1830)
  plugins/onex/skills/checkpoint/SKILL.md
  plugins/onex/skills/dispatch_watchdog/SKILL.md
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/executing_plans/SKILL.md
  plugins/onex/skills/skill_functional_audit/SKILL.md
  plugins/onex/skills/wave_scheduler/SKILL.md
Due: check-local-paths

feat(OMN-13835): re-enable onex hooks + add skill-substitution PreToolUse guard
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_skill_substitution_guard.sh
  src/omniclaude/hooks/pre_tool_use_skill_substitution_guard.py
  src/omniclaude/hooks/raw_command_to_skill.yaml
  tests/unit/hooks/test_pre_tool_use_skill_substitution_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-13835): add DoD evidence receipt
  .onex_state/evidence/OMN-13835/dod_report.json
Due: check-local-paths

fix(OMN-13835): address skill guard review findings
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_skill_substitution_guard.sh
  src/omniclaude/hooks/pre_tool_use_skill_substitution_guard.py
  tests/unit/hooks/test_pre_tool_use_skill_substitution_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-13835): re-enable onex hooks + skill-substitution PreToolUse guard (#1831)
  .onex_state/evidence/OMN-13835/dod_report.json
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/pre_tool_use_skill_substitution_guard.sh
  src/omniclaude/hooks/pre_tool_use_skill_substitution_guard.py
  src/omniclaude/hooks/raw_command_to_skill.yaml
  tests/unit/hooks/test_pre_tool_use_skill_substitution_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-13846): restore OMN-13244 empty hooks baseline (revert #1831 hook re-enable)
  plugins/onex/hooks/hooks.json
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

evidence(OMN-13846): add DoD receipt for hooks baseline revert
  .onex_state/evidence/OMN-13846/dod_report.json
Due: check-local-paths

fix(OMN-13846): restore OMN-13244 empty hooks measurement baseline (revert #1831 hook re-enable) (#1832)
  .onex_state/evidence/OMN-13846/dod_report.json
  plugins/onex/hooks/hooks.json
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-13848): make workflow + changeset guards actually enforce (fail-open-enforcement-gates)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/pre_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_workflow_guard.sh
  tests/hooks/test_pre_tool_use_changeset_guard_sh.py
  tests/hooks/test_pre_tool_use_workflow_guard_sh.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-13847): add per-hook wall-clock latency instrumentation (emit side)
  plugins/onex/hooks/lib/hook_latency_instrumentation.py
  tests/unit/hooks/lib/test_hook_latency_instrumentation.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-13848): rehab fail-open enforcement gates — workflow + changeset guards (#1833)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/pre_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_workflow_guard.sh
  tests/hooks/test_pre_tool_use_changeset_guard_sh.py
  tests/hooks/test_pre_tool_use_workflow_guard_sh.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check
