Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-16901): satisfy bandit B310 on the Linear GraphQL urlopen
  .secrets.baseline
  scripts/worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16901): satisfy the skill monorepo-ref and URL-authority gates
  .secrets.baseline
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16901): fail closed when a git safety probe does not complete
  .secrets.baseline
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-16901): ticket-close-keyed automated worktree pruner + daily backstop runner (#2063)
  .secrets.baseline
  plugins/onex/skills/worktree/SKILL.md
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-16901): sync contract evidence for worktree pruner
  .secrets.baseline
  contracts/OMN-13859.yaml
  contracts/OMN-16821.yaml
  contracts/OMN-16901.yaml
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15615): strip quoted stamps in the companion-merged gate; fail a publisher run that emits no verdict
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
  scripts/ci/check_occ_companion_merged.py
  tests/ci/test_check_occ_companion_merged.py
  tests/workflows/test_call_occ_companion_effect_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15615): strip quoted stamps in the companion-merged gate; fail a publisher run that emits no verdict (#2064)
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
  scripts/ci/check_occ_companion_merged.py
  tests/ci/test_check_occ_companion_merged.py
  tests/workflows/test_call_occ_companion_effect_reusable.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

docs(OMN-15615): name the verdict-marker contract as a two-repo, run-time-resolved contract
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
Due: check-local-paths

chore(OMN-15615): AC8 live probe — second push on a bound PR must SKIP, not re-mint
  .secrets.baseline
Due: none

docs(OMN-15615): clarify omnimarket runtime ref
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
Due: check-local-paths

docs(OMN-15615): name the verdict-marker gate as a two-repo, run-time-resolved contract (#2065)
  .github/workflows/call-occ-companion-effect-reusable.yml
  .secrets.baseline
Due: check-local-paths

fix(OMN-15600): retire the last SLACK_WEBHOOK_URL reads — bot-token path is the sole channel
  .env.example
  .secrets.baseline
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/blocked_notifier.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  plugins/onex/hooks/scripts/alert-channel.sh
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/skills/_lib/slack-gate/helpers.md
  plugins/onex/skills/hook_health_alert/SKILL.md
  src/omniclaude/hooks/alert_channel.py
  src/omniclaude/lib/core/action_logger.py
  tests/hooks/test_bash_guard.py
  tests/hooks/test_blocked_notifier.py
  tests/unit/hooks/scripts/test_alert_call_sites_fail_loudly.py
  tests/unit/hooks/scripts/test_alert_channel_failloud.py
  tests/unit/hooks/scripts/test_session_start_probe_consumption.py
  tests/unit/hooks/test_alert_channel_liveness.py
  tests/unit/hooks/test_probe_channel_fails_loud.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-15600): silence secret-detector false positive on chained .strip()
  .secrets.baseline
  plugins/onex/hooks/lib/blocked_notifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-14463): stop pre-push hook chain self-blocking on its own pytest bytecode
  .pre-commit-config.yaml
  tests/scripts/test_prepush_pycache_self_block.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-14463): assert pycache guard env on hook entry
  .secrets.baseline
  tests/scripts/test_prepush_pycache_self_block.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15600): fix test_notify_hook_degraded.py for the retired webhook fallback
  .secrets.baseline
  tests/unit/hooks/scripts/test_notify_hook_degraded.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-14463): stop pre-push hook chain self-blocking on its own pytest bytecode (#2066)
  .pre-commit-config.yaml
  .secrets.baseline
  tests/scripts/test_prepush_pycache_self_block.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-15600): stop swallowing a missing-curl error-guard alert (CodeRabbit)
  .secrets.baseline
  plugins/onex/hooks/scripts/error-guard.sh
Due: check-local-paths

fix(OMN-15600): retire the last SLACK_WEBHOOK_URL reads — bot-token path is the sole channel (#2067)
  .env.example
  .secrets.baseline
  plugins/onex/hooks/lib/bash_guard.py
  plugins/onex/hooks/lib/blocked_notifier.py
  plugins/onex/hooks/lib/pipeline_slack_notifier.py
  plugins/onex/hooks/scripts/alert-channel.sh
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/error-guard.sh
  plugins/onex/skills/_lib/slack-gate/helpers.md
  plugins/onex/skills/hook_health_alert/SKILL.md
  src/omniclaude/hooks/alert_channel.py
  src/omniclaude/lib/core/action_logger.py
  tests/hooks/test_bash_guard.py
  tests/hooks/test_blocked_notifier.py
  tests/unit/hooks/scripts/test_alert_call_sites_fail_loudly.py
  tests/unit/hooks/scripts/test_alert_channel_failloud.py
  tests/unit/hooks/scripts/test_notify_hook_degraded.py
  tests/unit/hooks/scripts/test_session_start_probe_consumption.py
  tests/unit/hooks/test_alert_channel_liveness.py
  tests/unit/hooks/test_probe_channel_fails_loud.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-16933): remove CodeRabbit entirely from the gate surface
  .github/required-checks.yaml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/cr-thread-check.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/required-check-manifest-reconcile.yml
  .pre-commit-config.yaml
  .secrets.baseline
  CLAUDE.md
  plugins/onex/hooks/lib/branch_protection_verifier.py
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/unstick_queue/SKILL.md
  scripts/check-unresolved-threads.sh
  scripts/ci/ci_summary_gate.py
  scripts/cron-merge-sweep.sh
  scripts/lib/file-stall-tickets.sh
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-08-29.txt
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_validate_no_required_check_skip_vectors.py
  tests/hooks/test_branch_protection_verifier.py
  tests/hooks/test_check_self_gating_workflows.py
  tests/hooks/test_queue_stall_classifier.py
  tests/scripts/test_check_unresolved_threads.sh
  tests/scripts/test_check_unresolved_threads_filters.py
  tests/workflows/test_cr_thread_gate_invocation.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16951): capture git stderr on removal refusals, classify .git-gone debris
  .secrets.baseline
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16951): address CodeRabbit findings — debris subdir exclusion, TOCTOU recheck, triage-count accuracy
  .secrets.baseline
  scripts/worktree_auto_prune.py
  tests/scripts/test_worktree_auto_prune.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16951): capture git stderr on removal refusals, classify .git-gone debris (#2068)
  .secrets.baseline
  scripts/worktree_auto_prune.py
  src/omniclaude/hooks/lib/worktree_prune_policy.py
  tests/scripts/test_worktree_auto_prune.py
  tests/unit/hooks/lib/test_worktree_prune_policy.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-16950): widen omnibase-core cap to >=0.47.0,<0.48.0
  .secrets.baseline
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-16933): add contracts for CodeRabbit gate removal
  .secrets.baseline
  contracts/OMN-13973.yaml
  contracts/OMN-16823.yaml
  contracts/OMN-16933.yaml
  contracts/OMN-16934.yaml
Due: check-local-paths

fix(OMN-16933): use valid interfaces_touched enum values in both contracts
  .secrets.baseline
  contracts/OMN-16823.yaml
  contracts/OMN-16933.yaml
Due: check-local-paths

chore(OMN-16933): remove CodeRabbit entirely from the gate surface (#2069)
  .github/required-checks.yaml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/cr-thread-check.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/required-check-manifest-reconcile.yml
  .pre-commit-config.yaml
  .secrets.baseline
  CLAUDE.md
  contracts/OMN-13973.yaml
  contracts/OMN-16823.yaml
  contracts/OMN-16933.yaml
  contracts/OMN-16934.yaml
  plugins/onex/hooks/lib/branch_protection_verifier.py
  plugins/onex/skills/_lib/pr-safety/helpers.md
  plugins/onex/skills/release/prompt.md
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/unstick_queue/SKILL.md
  scripts/check-unresolved-threads.sh
  scripts/ci/ci_summary_gate.py
  scripts/cron-merge-sweep.sh
  scripts/lib/file-stall-tickets.sh
  tests/ci/fixtures/dev_required_contexts_snapshot_2026-08-29.txt
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_validate_no_required_check_skip_vectors.py
  tests/hooks/test_branch_protection_verifier.py
  tests/hooks/test_check_self_gating_workflows.py
  tests/hooks/test_queue_stall_classifier.py
  tests/scripts/test_check_unresolved_threads.sh
  tests/scripts/test_check_unresolved_threads_filters.py
  tests/workflows/test_cr_thread_gate_invocation.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-16950): widen omnibase-core cap to >=0.47.0,<0.48.0 (#2070)
  .secrets.baseline
  pyproject.toml
  uv.lock
Due: check-local-paths

feat(OMN-16967): /onex:cloud_delegate — thin shim over `onex cloud delegate`
  .secrets.baseline
  plugins/distribution_manifest.yaml
  plugins/onex/skills/cloud_delegate/SKILL.md
  plugins/onex/skills/cloud_delegate/prompt.md
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16983): make the OMN-16485 ownership guard layout-independent; stop refusing read-only GitHub reads
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/hooks/lib/pr_ownership_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  tests/hooks/test_pr_ownership_guard_cache_layout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-16983): make the OMN-16485 ownership guard layout-independent; stop refusing read-only GitHub reads
  .secrets.baseline
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/hooks/lib/pr_ownership_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  tests/hooks/test_pr_ownership_guard_cache_layout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-16983): make the OMN-16485 ownership guard layout-independent; stop refusing read-only GitHub reads (#2073)
  .secrets.baseline
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/hooks/lib/pr_ownership_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_pr_ownership_guard.sh
  tests/hooks/test_pr_ownership_guard_cache_layout.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-16967): add cloud delegate PR contract
  .secrets.baseline
  contracts/OMN-16967.yaml
Due: check-local-paths

fix(OMN-16967): satisfy cloud delegate contract gates
  .secrets.baseline
  contracts/OMN-16967.yaml
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/contract.yaml
Due: check-local-paths

fix(OMN-16967): make cloud delegate node canonical
  .secrets.baseline
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/handler_cloud_delegate_skill.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-16967): remove monorepo ref from cloud delegate skill
  .secrets.baseline
  plugins/onex/skills/cloud_delegate/SKILL.md
Due: check-local-paths

feat(OMN-16967): /onex:cloud_delegate — thin shim over `onex cloud delegate` (#2074)
  .secrets.baseline
  contracts/OMN-16967.yaml
  plugins/distribution_manifest.yaml
  plugins/onex/skills/cloud_delegate/SKILL.md
  plugins/onex/skills/cloud_delegate/prompt.md
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/handler_cloud_delegate_skill.py
  src/omniclaude/nodes/node_skill_cloud_delegate_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17006): re-register the OMN-8376 overseer foreground-block hook as an OMN-13244 carve-out
  .secrets.baseline
  plugins/onex/hooks/hooks.json
  tests/hooks/test_hooks_baseline_omn_13244.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
