Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-19699): re-record the pr-ownership guard golden column
  tests/hooks_system/fixtures/bash_guard_golden.json
Due: check-local-paths

fix(hooks): commit refusal dedupe state after append (OMN-20265)
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  tests/hooks/test_refusal_recorder_state_omn20265.py
  tests/hooks/test_refusal_rows_omn18946.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): keep secret-guard attempt count when committing refusal state (OMN-20265)
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  tests/hooks/test_refusal_recorder_state_omn20265.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): reconcile refusal state commit with secret-guard attempt counting (OMN-20265)
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  tests/hooks/test_refusal_details_omn20343.py
  tests/hooks/test_refusal_recorder_state_omn20265.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(plugin): bump onex plugin to 2.4.42 for refusal recorder change (OMN-20265)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

fix(OMN-19380): re-record shared-tree guard golden for unresolved restore paths
  tests/hooks_system/fixtures/bash_guard_golden.json
Due: check-local-paths

fix(OMN-19380): refuse unresolved restore paths after expansion (#2575)
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  tests/hooks/test_dirty_path_restore_guard.py
  tests/hooks_system/fixtures/bash_guard_golden.json
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20664): preserve blank hook fields and count refusals (#2576)
  plugins/onex/hooks/lib/hook_claude_capture.py
  plugins/onex/hooks/lib/hook_emit_health.py
  src/omniclaude/hooks/contracts/contract_hook_claude_capture.yaml
  src/omniclaude/hooks/model_claude_hook_event.py
  tests/hooks/test_hook_emit_health.py
  tests/unit/hooks/test_hook_claude_capture_omn19513.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17427): surface lab headroom at session start
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-17427): rename report-token regex the secret detector flags
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): show lab load and idle capacity at session start (#2570)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  plugins/onex/hooks/scripts/session_start_goal_surface.sh
  tests/hooks/test_session_start_goal_surface.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): the drainer's stand-down probe asks about a different event class, so a run of one refused class no longer wedges the head
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_emit_drainer.py
  tests/unit/hooks/test_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): a SubagentStop lane close reads its own session's records, not the whole registry
  plugins/onex/hooks/lib/lane_registry.py
  tests/hooks/test_lane_termination_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

refactor(OMN-20685): route Git admission through the existing effect node
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/config/shared_tree_git_guard_policy.json
  plugins/onex/hooks/lib/bash_guard_cores.py
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  plugins/onex/hooks/lib/worktree_add_guard.py
  plugins/onex/hooks/scripts/pre_tool_use_shared_tree_git_guard.sh
  src/omniclaude/nodes/node_git_effect/contract.yaml
  src/omniclaude/nodes/node_git_effect/git_admission_policy.json
  src/omniclaude/nodes/node_git_effect/handlers/handler_git_admission.py
  src/omniclaude/nodes/node_git_effect/handlers/handler_git_subprocess.py
  src/omniclaude/nodes/node_git_effect/handlers/handler_shell_words.py
  src/omniclaude/nodes/node_git_effect/models/model_git_admission.py
  src/omniclaude/nodes/node_git_effect/models/model_git_request.py
  src/omniclaude/nodes/node_git_effect/models/model_git_result.py
  src/omniclaude/nodes/node_git_effect/node.py
  src/omniclaude/nodes/node_git_effect/protocols/protocol_git_operations.py
  tests/hooks/test_dirty_path_restore_guard.py
  tests/hooks/test_git_admission_parity.py
  tests/hooks/test_git_admission_runtime.py
  tests/hooks/test_git_fetch_guard.py
  tests/hooks/test_shared_tree_git_guard.py
  tests/hooks/test_shell_words_redirects.py
  tests/hooks/test_worktree_add_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17427): canonical-clone sync refuses a clone whose remote is not a GitHub repository instead of failing on it
  plugins/onex/hooks/lib/canonical_clone_sync.py
  tests/hooks/test_canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): three red Mac launchd jobs -- drainer probe asks a different event class; SubagentStop close reads only its session; clone sync refuses non-GitHub clones (#2579)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  plugins/onex/hooks/lib/hook_emit_drainer.py
  plugins/onex/hooks/lib/lane_registry.py
  tests/hooks/test_canonical_clone_sync.py
  tests/hooks/test_lane_termination_guard.py
  tests/unit/hooks/test_hook_emit_drainer.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): add host-drift status to session-start hook
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-17427): bump onex plugin 2.4.43 to 2.4.44
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

fix(OMN-17427): shard the shadow unit suite so it fits its 20-minute ceiling
  .github/workflows/product-readiness-shadow.yml
  tests/ci/test_product_reason_graph_omniclaude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17427): shard the shadow unit suite so it fits its 20-minute ceiling (#2584)
  .github/workflows/product-readiness-shadow.yml
  tests/ci/test_product_reason_graph_omniclaude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-13902): declare tenant_id on task-delegated events
  src/omniclaude/delegation/emitter.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/delegation/test_event_to_projection.py
  tests/unit/hook_runtime/test_server.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17047): enforce registered owners and prove hook dispatch
  scripts/validation/validate_hook_callees.py
  tests/hooks/test_hook_wire_owners_omn17047.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): preserve refusal state until append succeeds (OMN-20265) (#2577)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_refusal_recorder.py
  tests/hooks/test_refusal_details_omn20343.py
  tests/hooks/test_refusal_recorder_state_omn20265.py
  tests/hooks/test_refusal_rows_omn18946.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17047): resolve hook wire producers and consumers (#2572)
  scripts/validation/validate_hook_callees.py
  src/omniclaude/hooks/contracts/wire/prompt_submitted_v1.yaml
  src/omniclaude/hooks/contracts/wire/session_ended_v1.yaml
  src/omniclaude/hooks/contracts/wire/session_started_v1.yaml
  src/omniclaude/hooks/contracts/wire/tool_executed_v1.yaml
  tests/hooks/test_hook_wire_owners_omn17047.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20670): workspace reconcile tick runs onex-host-reconcile, legacy script as fallback
  plugins/onex/hooks/lib/canonical_clone_sync.py
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  plugins/onex/hooks/scripts/workspace_reconcile_tick.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20670): reconcile plugin version after rebase
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

test(OMN-19699): export ONEX_LANE_ID in the two CLI claim tests now that --lane no longer sets identity
  tests/unit/hooks/test_pr_claim_registry_expired_reclaim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20670): workspace reconcile tick runs onex-host-reconcile, legacy script as fallback (#2582)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  plugins/onex/hooks/scripts/workspace_reconcile_tick.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-19699): align claim and mutation identities (#2573)
  plugins/onex/hooks/lib/pr_claim_registry.py
  plugins/onex/hooks/lib/pr_ownership_guard.py
  plugins/onex/hooks/lib/session_id.py
  scripts/pr_claim_registry_cli.py
  tests/hooks/test_pr_ownership_guard_cache_layout.py
  tests/hooks_system/fixtures/bash_guard_golden.json
  tests/unit/hooks/test_pr_claim_registry_expired_reclaim.py
  tests/unit/hooks/test_pr_claim_session_identity.py
  tests/unit/hooks/test_pr_ownership_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-20637): lab clones sync from the Mac source over ssh (#2557)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/canonical_clone_sync.py
  tests/hooks/test_canonical_clone_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20584): port holder TERMINAL release to the vendored claim index (#2568)
  scripts/claim_index.py
  tests/scripts/test_branch_claim.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-18982): date every canonical-clone-guard log line (#2558)
  scripts/user-hooks/canonical-clone-guard.py
  tests/scripts/test_canonical_clone_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20685): clear Enum Governance, Runtime Profiles and contract gate reds
  contracts/OMN-20685.yaml
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  plugins/onex/hooks/lib/worktree_add_guard.py
  src/omniclaude/nodes/node_git_effect/contract.yaml
  src/omniclaude/nodes/node_git_effect/enums/__init__.py
  src/omniclaude/nodes/node_git_effect/enums/enum_quote_kind.py
  src/omniclaude/nodes/node_git_effect/handlers/handler_shell_words.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17427): print the host-drift verdict at session start (#2581)
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/scripts/session_start_workspace_sync.sh
  tests/hooks/test_workspace_reconcile.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(guards): name shell lexemes unambiguously (OMN-17427)
  plugins/onex/hooks/lib/shared_tree_git_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(guards): unify command resolution (OMN-17427)
  plugins/onex/hooks/lib/pr_body_stamp_guard.py
  plugins/onex/hooks/lib/shared_tree_git_guard.py
  plugins/onex/hooks/lib/shell_words.py
  plugins/onex/hooks/lib/worktree_add_guard.py
  tests/hooks/test_guard_command_resolver.py
  tests/hooks/test_pr_body_stamp_guard.py
  tests/hooks/test_shared_tree_git_guard.py
  tests/hooks/test_worktree_add_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(guards): refuse paths split into multiple shell words (OMN-17427)
  plugins/onex/hooks/lib/shell_words.py
  tests/hooks/test_guard_command_resolver.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(guards): refresh plugin version after rebase (OMN-17427)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
Due: check-local-paths

feat(OMN-20071): add verdict reader to Done gate
  contracts/OMN-20071.yaml
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/contracts/hook_done_gate_verdict_read.yaml
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/no_pr_bound_evidence.py
  tests/hooks/fixtures/omn20071_occ_only_done_gate_replay.json
  tests/hooks/test_done_flip_guard_occ_only_replay_omn20071.py
  tests/hooks/test_done_flip_guard_repo_evidence.py
  tests/hooks/test_done_flip_guard_repo_verdict.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(tests): re-record guard golden columns for the unified resolver (OMN-17427)
  tests/hooks_system/fixtures/bash_guard_golden.json
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
