Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(hooks): wire code context into UserPromptSubmit [OMN-7219] (#1209)
  plugins/onex/hooks/lib/context_injection_wrapper.py
  plugins/onex/hooks/lib/pattern_types.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  src/omniclaude/hooks/lib/code_context_sync.py
  tests/unit/hooks/lib/test_code_context_sync.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(ci): re-trigger auto-merge after review and checks complete [OMN-7786]
  .github/workflows/auto-merge.yml
Due: check-local-paths

feat(omniclaude): add phase metrics emitter [OMN-6970]
  plugins/onex/hooks/lib/pipeline_event_emitters.py
  plugins/onex/skills/ticket_pipeline/prompt.md
  tests/unit/hooks/lib/golden_events/schemas.json
  tests/unit/hooks/lib/test_golden_event_validation.py
  tests/unit/hooks/lib/test_pipeline_event_emitters.py
  tests/unit/hooks/test_emission_wiring_presence.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(OMN-7258): document non-blocking dispatch contract in epic-team
  plugins/onex/skills/epic_team/SKILL.md
Due: check-local-paths

fix(tests): remove trailing commas from golden event schemas.json
  tests/unit/hooks/lib/golden_events/schemas.json
Due: check-local-paths

feat(ticket_pipeline): render build_loop correlation into PR body + Linear [OMN-8393]
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

fix(phase-metrics): address CodeRabbit review [OMN-6970]
  plugins/onex/hooks/lib/pipeline_event_emitters.py
  plugins/onex/skills/ticket_pipeline/prompt.md
  tests/unit/hooks/lib/test_golden_event_validation.py
  tests/unit/hooks/lib/test_pipeline_event_emitters.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(omniclaude): add phase metrics emitter [OMN-6970] (#1212)
  plugins/onex/hooks/lib/pipeline_event_emitters.py
  plugins/onex/skills/ticket_pipeline/prompt.md
  tests/unit/hooks/lib/golden_events/schemas.json
  tests/unit/hooks/lib/test_golden_event_validation.py
  tests/unit/hooks/lib/test_pipeline_event_emitters.py
  tests/unit/hooks/test_emission_wiring_presence.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(overseer): Done-state PR verification hook [OMN-8415]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/linear_done_verify.py
  plugins/onex/hooks/scripts/pre_tool_use_linear_done_verify.sh
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(overseer): register LINEAR_DONE_VERIFY_DEFAULT_REPO env var [OMN-8415]
  .env.example
Due: check-local-paths

feat(ticket_pipeline): preflight reality-check gate [OMN-8411]
  plugins/onex/hooks/lib/preflight_reality_check.py
  plugins/onex/skills/ticket_pipeline/prompt.md
  tests/unit/hooks/lib/test_preflight_reality_check.py
  tests/unit/skills/test_ticket_pipeline_preflight_reality_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): source common.sh in linear_done_verify wrapper [OMN-8415]
  plugins/onex/hooks/scripts/pre_tool_use_linear_done_verify.sh
Due: check-local-paths

feat(ticket_pipeline): preflight reality-check gate [OMN-8411] (#1215)
  plugins/onex/hooks/lib/preflight_reality_check.py
  plugins/onex/skills/ticket_pipeline/prompt.md
  tests/unit/hooks/lib/test_preflight_reality_check.py
  tests/unit/skills/test_ticket_pipeline_preflight_reality_check.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(overseer): address CodeRabbit review on done-state PR verify [OMN-8415]
  plugins/onex/hooks/lib/linear_done_verify.py
  plugins/onex/hooks/scripts/pre_tool_use_linear_done_verify.sh
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): add size-based log rotation to post-tool-use quality hook [OMN-8429]
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

fix(hooks): redirect post-tool-use.log to ONEX_STATE_DIR, add explicit gitignore [OMN-8429]
  .gitignore
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

test(statusline): failing TDD test for stable shim [W0.3]
  tests/hooks/test_statusline_shim.sh
Due: check-local-paths

fix(statusline): add deploy.sh stable launcher + shim [W0.3]
  plugins/onex/hooks/scripts/deploy.sh
Due: check-local-paths

test(statusline): add pytest DoD gate for OMN-8438 stable shim
  tests/hooks/test_statusline_shim_resolves.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(ci): self-contained shim test via tmp_path fixture [OMN-8438]
  tests/hooks/test_statusline_shim_resolves.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-8431): remove node_skill_overseer_verify_orchestrator from omniclaude
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/node.py
  tests/nodes/test_omn8431_orchestrator_removed.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(test): address 4 CodeRabbit Major findings on statusline shim tests [OMN-8438]
  tests/hooks/test_statusline_shim.sh
  tests/hooks/test_statusline_shim_resolves.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(shim): replace ls-t mtime race with sort-V semver sort; add ONEX_PLUGIN_CACHE_ROOT override [OMN-8438]
  plugins/onex/hooks/scripts/deploy.sh
Due: check-local-paths

fix(OMN-8431): use Path check instead of importlib.find_spec in removal test
  tests/nodes/test_omn8431_orchestrator_removed.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-8431): remove overseer_verify skill from plugins — prevents node regeneration in CI
  plugins/onex/skills/overseer_verify/SKILL.md
Due: check-local-paths

ci(auto-merge): add --repo flag to gh pr merge workflow (OMN-8509)
  .github/workflows/auto-merge.yml
Due: check-local-paths

feat(OMN-8431): remove node_skill_overseer_verify_orchestrator from omniclaude (#1218)
  plugins/onex/skills/overseer_verify/SKILL.md
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_overseer_verify_orchestrator/node.py
  tests/nodes/test_omn8431_orchestrator_removed.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

ci(auto-merge): add --repo flag to gh pr merge workflow (OMN-8509) (#1219)
  .github/workflows/auto-merge.yml
Due: check-local-paths

feat(ci): wire hostile_reviewer via omniintelligence cli_review gate (OMN-8524)
  .github/workflows/hostile-reviewer.yml
Due: check-local-paths

fix(ci): use self-hosted runner for hostile_reviewer — .201 LAN access required (OMN-8524)
  .github/workflows/hostile-reviewer.yml
Due: check-local-paths

feat(ci): wire hostile_reviewer via omniintelligence cli_review gate (OMN-8524) (#1220)
  .github/workflows/hostile-reviewer.yml
Due: check-local-paths

feat(hooks): add design-required additions to OMN-8429 log rotation [OMN-8429]
  .github/workflows/hook-log-path-lint.yml
  plugins/onex/.claude-plugin/NO_AUTOLOAD
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/hooks/test_post_tool_use_log_rotation.sh
Due: check-local-paths

fix(schema): add correlation_id to session_outcomes for golden chain evaluation (OMN-8521)
  src/omniclaude/nodes/node_golden_chain_payload_compute/chain_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(dispatch-worker): add /onex:dispatch_worker skill (OMN-8444)
  plugins/onex/skills/dispatch_worker/SKILL.md
  plugins/onex/skills/dispatch_worker/prompt.md
  plugins/onex/skills/dispatch_worker/topics.yaml
  src/omniclaude/nodes/node_skill_dispatch_worker_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_dispatch_worker_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_dispatch_worker_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(schedules): flip nightly sweeps from dry-run to real (OMN-7485 C4)
  config/schedules/nightly-verification-sweeps.yaml
Due: check-local-paths

fix(hooks): eliminate 10 hook-log-path violations in sibling scripts (follow-up to OMN-8429)
  .github/workflows/hook-log-path-lint.yml
  plugins/onex/hooks/scripts/post_tool_use_output_suppressor.sh
  plugins/onex/hooks/scripts/post_tool_use_return_path_auditor.sh
  plugins/onex/hooks/scripts/post_tool_use_team_observability.sh
  plugins/onex/hooks/scripts/pre-compact.sh
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

feat(dispatch-worker): add /onex:dispatch_worker skill (OMN-8444) (#1222)
  plugins/onex/skills/dispatch_worker/SKILL.md
  plugins/onex/skills/dispatch_worker/prompt.md
  plugins/onex/skills/dispatch_worker/topics.yaml
  src/omniclaude/nodes/node_skill_dispatch_worker_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_dispatch_worker_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_dispatch_worker_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(golden-chain): reclassify evaluation chain as correlation_id chain (OMN-8521)
  tests/nodes/test_golden_chain_payload_compute.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(schedules): flip nightly sweeps from dry-run to real (OMN-7485 C4) (#1223)
  config/schedules/nightly-verification-sweeps.yaml
Due: check-local-paths

fix(hooks): eliminate 10 hook-log-path violations in sibling scripts (follow-up to OMN-8429) (#1224)
  .github/workflows/hook-log-path-lint.yml
  plugins/onex/hooks/scripts/post_tool_use_output_suppressor.sh
  plugins/onex/hooks/scripts/post_tool_use_return_path_auditor.sh
  plugins/onex/hooks/scripts/post_tool_use_team_observability.sh
  plugins/onex/hooks/scripts/pre-compact.sh
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  plugins/onex/hooks/scripts/pre_tool_use_authorization_shim.sh
  plugins/onex/hooks/scripts/session-end.sh
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/hooks/scripts/stop.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths
