Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(dod-sweep): flip --per-ticket-verify default to true [OMN-9067]
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/dod_sweep/prompt.md
Due: check-local-paths

fix(cron-merge-sweep): add space delimiter between --run-id and SWEEP_ARGS
  scripts/cron-merge-sweep.sh
Due: check-local-paths

fix(merge-sweep): flip admin-merge-fallback default ON [OMN-9065] (#1343)
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
  scripts/cron-merge-sweep.sh
Due: check-local-paths

feat(hooks): idle-watchdog activity classifier + cron integration [OMN-9053] (#1341)
  plugins/onex/hooks/lib/tick_activity_classifier.py
  scripts/cron-idle-watchdog.sh
  tests/hooks/test_tick_activity_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(dod-sweep): flip --per-ticket-verify default to true [OMN-9067] (#1344)
  plugins/onex/skills/dod_sweep/SKILL.md
  plugins/onex/skills/dod_sweep/prompt.md
Due: check-local-paths

feat(hooks): PostToolUse Kafka poison-message guard [OMN-9085]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/kafka_poison_message_classifier.py
  plugins/onex/hooks/scripts/post_tool_use_kafka_poison_message_guard.sh
  tests/hooks/test_kafka_poison_message_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): SubagentStop claim verification gate (mini-epic) [OMN-9086]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  plugins/onex/hooks/scripts/subagent_stop_claim_verifier.sh
  plugins/onex/models/__init__.py
  plugins/onex/models/model_subagent_stop_report.py
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): dispatch-scoped state prerequisite (P1) [OMN-9084]
  .github/workflows/cr-thread-check.yml
  .github/workflows/pr-title-check.yml
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post_tool_use_subagent_tool_log.sh
  plugins/onex/skills/dispatch_worker/SKILL.md
  src/omniclaude/hooks/lib/dispatch_record_writer.py
  src/omniclaude/hooks/model_dispatch_record.py
  tests/hooks/test_dispatch_record.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(hooks): pin guard subprocess cwd to REPO_ROOT [OMN-9072 CR]
  tests/hooks/test_hook_event_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): address CodeRabbit review on OMN-9072 hookEventName guard
  scripts/check_hook_event_names.sh
  tests/hooks/test_hook_event_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): add required hookEventName to 15 hookSpecificOutput emitters [OMN-9072]
  .pre-commit-config.yaml
  plugins/onex/hooks/lib/cron_action_guard.py
  plugins/onex/hooks/post-tool-use-ci-reminder.sh
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/post-tool-use-test-reminder.sh
  plugins/onex/hooks/scripts/post_tool_use_auto_hostile_review.sh
  plugins/onex/hooks/scripts/post_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/post_tool_use_commit_verify.sh
  plugins/onex/hooks/scripts/post_tool_use_state_verify.sh
  plugins/onex/hooks/scripts/pre_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_scope_gate.sh
  plugins/onex/hooks/scripts/subagent-start.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
  plugins/onex/hooks/scripts/user_prompt_bootstrap_injector.sh
  plugins/onex/hooks/scripts/user_prompt_structured_handoff_nudge.sh
  scripts/check_hook_event_names.sh
  tests/hooks/test_hook_event_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(merge-sweep): flip --verify default ON [OMN-9066]
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

fix(hooks): unique heredoc delimiter in kafka-poison guard [OMN-9085]
  plugins/onex/hooks/scripts/post_tool_use_kafka_poison_message_guard.sh
Due: check-local-paths

fix(launchd): activate dispatch tick via cron-closeout.sh --build-only [OMN-9056]
  scripts/com.omninode.cron-closeout.plist
  scripts/cron-buildloop.sh
  scripts/launchd/ai.omninode.buildloop.plist
  scripts/tick-bundle-install.sh
  scripts/tick-bundle-uninstall.sh
  tests/scripts/test_tick_bundle_install.sh
Due: check-local-paths

fix(hooks): address CR review — Pydantic model + CRLF fence + fail-open reason propagation [OMN-9086]
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  plugins/onex/models/model_subagent_stop_report.py
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): PostToolUse agent-result claim verifier scaffold [OMN-9055]
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/agent_claim_extractor.py
  plugins/onex/hooks/lib/agent_result_verifier_runner.py
  plugins/onex/hooks/scripts/post_tool_use_agent_result_verifier.sh
  tests/hooks/test_agent_claim_extractor.py
  tests/hooks/test_post_tool_use_agent_result_verifier_sh.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(hooks): address CR findings for OMN-9084
  .github/workflows/cr-thread-check.yml
  plugins/onex/hooks/scripts/post_tool_use_subagent_tool_log.sh
  plugins/onex/skills/env_sync_alert/_lib/check.py
  pyproject.toml
  src/omniclaude/hooks/model_dispatch_record.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): use here-string for verbatim excerpt extraction [OMN-9085]
  plugins/onex/hooks/scripts/post_tool_use_kafka_poison_message_guard.sh
Due: check-local-paths

chore(env): allowlist REPO_HINT + OMN_9055_AGENT_VERIFIER_DISABLED [OMN-9055]
  .env.allowlist
Due: check-local-paths

fix(hooks): add hookEventName to 15 hookSpecificOutput emitters [OMN-9072] (#1346)
  .pre-commit-config.yaml
  plugins/onex/hooks/lib/cron_action_guard.py
  plugins/onex/hooks/post-tool-use-ci-reminder.sh
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/post-tool-use-test-reminder.sh
  plugins/onex/hooks/scripts/post_tool_use_auto_hostile_review.sh
  plugins/onex/hooks/scripts/post_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/post_tool_use_commit_verify.sh
  plugins/onex/hooks/scripts/post_tool_use_state_verify.sh
  plugins/onex/hooks/scripts/pre_tool_use_changeset_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_scope_gate.sh
  plugins/onex/hooks/scripts/subagent-start.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
  plugins/onex/hooks/scripts/user_prompt_bootstrap_injector.sh
  plugins/onex/hooks/scripts/user_prompt_structured_handoff_nudge.sh
  scripts/check_hook_event_names.sh
  tests/hooks/test_hook_event_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(skill): /onex:authorize now calls node_authorize [OMN-9104]
  plugins/onex/skills/authorize/SKILL.md
Due: check-local-paths

fix(hooks): tighten AGENT_ID slug regex to block .. traversal [OMN-9084]
  plugins/onex/hooks/scripts/post_tool_use_subagent_tool_log.sh
  src/omniclaude/hooks/model_dispatch_record.py
  tests/hooks/test_dispatch_record.py
  tests/hooks/test_subagent_tool_log_agent_id_sanitize.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(scripts): add CR concession heuristic to check-unresolved-threads.sh [OMN-9138]
  scripts/check-unresolved-threads.sh
  tests/scripts/test_check_unresolved_threads.sh
Due: check-local-paths

docs(skill): /onex:authorize now calls node_authorize [OMN-9104] (#1352)
  plugins/onex/skills/authorize/SKILL.md
Due: check-local-paths

feat(hooks): SubagentStop claim verification gate (mini-epic) [OMN-9086] (#1348)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/subagent_claim_verifier.py
  plugins/onex/hooks/scripts/subagent_stop_claim_verifier.sh
  plugins/onex/models/__init__.py
  plugins/onex/models/model_subagent_stop_report.py
  tests/hooks/test_subagent_claim_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(unresolved-threads): clarify truncation-path exception in header comment [OMN-9138]
  tests/scripts/test_check_unresolved_threads.sh
Due: check-local-paths

fix(hooks): kill-switch + sub-agent exemption + raise delegation thresholds [OMN-9140]
  CLAUDE.md
  plugins/onex/hooks/config.yaml
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/subagent-start.sh
  src/omniclaude/hook_runtime/delegation_state.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_delegation_state.py
  tests/unit/hook_runtime/test_killswitch_and_thresholds.py
  tests/unit/hook_runtime/test_subagent_exemption_shell.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(env): register OMNICLAUDE_HOOKS_DISABLE in .env.example [OMN-9140]
  .env.example
Due: check-local-paths

fix(hooks): delegation-enforcer kill-switch + sub-agent exemption + raise thresholds [OMN-9140] (#1354)
  .env.example
  CLAUDE.md
  plugins/onex/hooks/config.yaml
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/subagent-start.sh
  src/omniclaude/hook_runtime/delegation_state.py
  src/omniclaude/hook_runtime/server.py
  tests/unit/hook_runtime/test_delegation_state.py
  tests/unit/hook_runtime/test_killswitch_and_thresholds.py
  tests/unit/hook_runtime/test_subagent_exemption_shell.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(scripts): CR concession heuristic for thread gate [OMN-9138] (#1353)
  scripts/check-unresolved-threads.sh
  tests/scripts/test_check_unresolved_threads.sh
Due: check-local-paths

feat(hooks): PreToolUse branch-protection rollout-verification guard [OMN-9038] (#1338)
  .env.example
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/lib/branch_protection_verifier.py
  plugins/onex/hooks/scripts/pre_tool_use_branch_protection_guard.sh
  tests/hooks/test_branch_protection_verifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

docs(pr-review-bot): require caller to pass registered model keys [OMN-9112]
  plugins/onex/skills/pr_review_bot/SKILL.md
Due: check-local-paths

docs(crons): dispatch-or-friction rule replaces silent-if-no-action [OMN-9131]
  scripts/setup-session-crons.sh
Due: check-local-paths

docs(pr-review-bot): update Quick Start examples + architecture block [OMN-9112]
  plugins/onex/skills/pr_review_bot/SKILL.md
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
