Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-10278): narrow bare except to specific yaml/io error types
  plugins/onex/hooks/lib/delegation_rule_loader.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10278): address CodeRabbit findings on delegation rule loader and hook
  plugins/onex/hooks/lib/delegation_rule_loader.py
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10278): add SSH socket + HTTP transport to delegate skill
  plugins/onex/skills/delegate/_lib/run.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10278): add fail-safe restart when broker extraction returns empty
  plugins/onex/hooks/scripts/session-start.sh
Due: check-local-paths

fix(OMN-10723): use path=runtime for LocalRuntimeSkillClient errors
  plugins/onex/skills/delegate/_lib/run.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10723): validate timeout_ms is positive before dispatch
  plugins/onex/skills/delegate/_lib/run.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10834): Replace delegation Unix socket transport with contract-driven Kafka bus
  plugins/onex/skills/delegate/_lib/run.py
  src/omniclaude/delegation/__init__.py
  src/omniclaude/delegation/daemon_fallback.py
  src/omniclaude/delegation/transport.py
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  tests/delegation/test_daemon_fallback.py
  tests/delegation/test_kafka_transport.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10834): guard against Kafka flush timeout with no delivery confirmation
  plugins/onex/skills/delegate/_lib/run.py
  tests/delegation/test_kafka_transport.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10839): prune-worktrees.sh bash 3.2 compat
  scripts/prune-worktrees.sh
Due: check-local-paths

chore(OMN-10834): add deploy-gate contract for Kafka transport migration
  contracts/OMN-10834.yaml
Due: check-local-paths

fix(OMN-10834): update delegation tests to match Kafka transport dispatch path
  tests/unit/hooks/lib/test_delegate_inprocess_fallback.py
  tests/unit/hooks/lib/test_delegate_kafka_publish.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10834): resolve delegation topic + event_type from omnibase_infra contract
  plugins/onex/skills/delegate/_lib/run.py
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  tests/unit/hooks/lib/test_delegate_contract_resolution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10834): Replace merge_sweep/run.sh with runtime ingress dispatch
  plugins/onex/skills/merge_sweep/_lib/__init__.py
  plugins/onex/skills/merge_sweep/_lib/run.py
  plugins/onex/skills/merge_sweep/run.sh
  src/omniclaude/hooks/topics.py
  tests/unit/skills/merge_sweep/test_merge_sweep_runtime_ingress.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10278): align Kafka envelope event_type and payload shape with runtime dispatcher
  plugins/onex/skills/delegate/_lib/run.py
  tests/delegation/test_kafka_transport.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10834): correct Kafka envelope shape — event_type + payload fields
  plugins/onex/skills/delegate/_lib/run.py
  tests/delegation/test_kafka_transport.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10834): fix topic naming gate, fallback chain, and socket sendall
  plugins/onex/skills/merge_sweep/_lib/run.py
  src/omniclaude/hooks/topics.py
  tests/unit/skills/merge_sweep/test_merge_sweep_runtime_ingress.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10834): correct docstring fallback chain for event_type in delegate skill
  plugins/onex/skills/delegate/_lib/run.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10834): align event_type fallback to DelegationRequest and pass task_type in test
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_contract_resolution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10834): fix two failing tests in test_delegate_contract_resolution
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_contract_resolution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-10834): add pandaproxy transport for Mac→.201 delegation
  plugins/onex/skills/delegate/_lib/run.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-10834): address CodeRabbit review findings
  plugins/onex/skills/delegate/_lib/run.py
  tests/unit/hooks/lib/test_delegate_contract_resolution.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets
