Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(OMN-10445): address runner routing gate failures
  .github/actions/deploy-gate/action.yml
  .github/workflows/auto-merge.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/plugin-compat-gate.yml
  .github/workflows/release-dry-run.yml
Due: check-local-paths

ci(OMN-10445): harden omniclaude runner checks
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
  tests/hooks/test_hostile_reviewer_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-7261): harden task-boundary hook gate
  plugins/onex/hooks/lib/task_boundary_tests.py
  plugins/onex/hooks/scripts/pre_tool_use_task_boundary_tests.sh
  tests/hooks/test_task_boundary_tests.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-7261): rely on subprocess test timeout
  plugins/onex/hooks/lib/task_boundary_tests.py
  tests/hooks/test_task_boundary_tests.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-7261): align task-boundary trigger operators
  plugins/onex/hooks/lib/task_boundary_tests.py
  plugins/onex/hooks/scripts/pre_tool_use_task_boundary_tests.sh
  tests/hooks/test_task_boundary_tests.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-7261): fail open when hook common loader is missing
  plugins/onex/hooks/scripts/pre_tool_use_task_boundary_tests.sh
  tests/hooks/test_task_boundary_tests.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-7261): harden task-boundary bootstrap failures
  plugins/onex/hooks/scripts/pre_tool_use_task_boundary_tests.sh
  tests/hooks/test_task_boundary_tests.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): skip flaky venv cache restores
  .github/workflows/ci.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/plugin-compat-gate.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): widen advisory version-pin timeout
  .github/workflows/ci.yml
Due: check-local-paths

ci(OMN-10445): make venv cache restore opt-in
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/onex-schema-compat.yml
  .github/workflows/plugin-compat-gate.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): harden postgres validation gates
  .github/workflows/ci.yml
  .secrets.baseline
  scripts/init-db.sh
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): use mapped postgres port in db init
  scripts/init-db.sh
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): harden postgres role and schema checks
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): reassert migration tracking table
  scripts/init-db.sh
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): schema-qualify readonly role proof table
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): reassert migration table in validation connection
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): make database validation runner-safe
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): harden readonly role proof table
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-10445): respect pipefail in readonly denial checks
  .github/workflows/ci.yml
  tests/hooks/test_ci_postgres_workflow.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(deps): align omnibase-core pin
  pyproject.toml
  uv.lock
Due: check-local-paths

chore(deps): align omnibase release pins
  pyproject.toml
  uv.lock
Due: check-local-paths

chore(OMN-10533): refresh lock and trigger merge gates
  uv.lock
Due: check-local-paths

docs(OMN-10539): correct dod_verify SKILL.md output path and CLI invocation
  .evidence/OMN-10539/example_invocation_transcript.txt
  plugins/onex/skills/dod_verify/SKILL.md
Due: check-local-paths

fix(OMN-10543): emit all orphans in ticketing_triage report
  plugins/onex/skills/ticketing_triage/SKILL.md
  tests/skills/test_ticketing_triage_orphan_enumeration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10544): add structural guards to ticketing_epic_org
  plugins/onex/skills/ticketing_epic_org/SKILL.md
  src/omniclaude/epic_org/__init__.py
  src/omniclaude/epic_org/guards.py
  src/omniclaude/epic_org/models.py
  tests/skills/epic_org/__init__.py
  tests/skills/epic_org/test_guards.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-10540, OMN-10541): dod-guard reads ModelDodReceipt schema and fails closed on non-PASS
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  scripts/dod-pre-push-check.sh
  tests/hooks/test_dod_completion_guard.py
  tests/integration/test_dod_enforcement_chain.py
  tests/unit/test_dod_enforcement_hard_mode.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-7259): self-healing orchestration wrapper (Workstream B Phase 3)
  plugins/onex/skills/self_healing_dispatch/SKILL.md
  src/omniclaude/hooks/self_healing_orchestrator.py
  src/omniclaude/nodes/node_skill_self_healing_dispatch_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_self_healing_dispatch_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_self_healing_dispatch_orchestrator/node.py
  tests/unit/hooks/test_self_healing_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-7259): address self-healing review findings
  src/omniclaude/hooks/self_healing_orchestrator.py
  src/omniclaude/nodes/node_skill_self_healing_dispatch_orchestrator/contract.yaml
  tests/unit/hooks/test_self_healing_orchestrator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-10206): route delegate skill through runtime ingress
  plugins/onex/skills/delegate/SKILL.md
  plugins/onex/skills/delegate/_lib/run.py
  plugins/onex/skills/skills_to_market_manifest.yaml
  scripts/validation/validate_runtime_backed_skill_paths.py
  tests/unit/hooks/lib/test_delegate_kafka_publish.py
  tests/validation/test_validate_runtime_backed_skill_paths.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
