Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(tests): add test for --prompt-stdin base64 decode in intent_classifier [OMN-2493]
  tests/unit/hooks/lib/test_session_intent.py
Due: ruff-format, ruff-fix, ruff-check

fix(node_nl_intent_pipeline): remove stale quoted-string docstring from _extract_entities [OMN-2501]
  src/omniclaude/nodes/node_nl_intent_pipeline/handler_nl_intent_default.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(node_plan_dag_generator): align PromotedPatternProtocol unit_specs type to EnumWorkUnitType [OMN-2502]
  src/omniclaude/nodes/node_plan_dag_generator/protocol_promoted_pattern.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(node-ticket-compiler): fix malformed verification commands in templates [OMN-2503]
  src/omniclaude/nodes/node_ticket_compiler/handler_ticket_compile_default.py
  tests/unit/nodes/node_ticket_compiler/test_ticket_compilation.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(node_evidence_bundle): add package exports and enforce ticket uniqueness in store [OMN-2505]
  src/omniclaude/nodes/node_evidence_bundle/__init__.py
  src/omniclaude/nodes/node_evidence_bundle/store_bundle_in_memory.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(node_evidence_bundle): add test for duplicate ticket_id guard in StoreBundleInMemory [OMN-2505]
  tests/unit/nodes/node_evidence_bundle/test_evidence_bundle.py
Due: ruff-format, ruff-fix, ruff-check

fix(omnimemory): enforce acs_gate and guard against evidence regression in promote() [OMN-2506]
  src/omniclaude/nodes/node_omnimemory_promotion/handler_pattern_promotion_default.py
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_pattern_promotion_request.py
  tests/unit/nodes/node_omnimemory_promotion/test_pattern_promotion.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(omnimemory): add missing all_acs_passing to ModelPatternPromotionRequest docstring [OMN-2506]
  src/omniclaude/nodes/node_omnimemory_promotion/models/model_pattern_promotion_request.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(omnimemory): correct misleading SKIPPED log when only ACs gate fails [OMN-2506]
  src/omniclaude/nodes/node_omnimemory_promotion/handler_pattern_promotion_default.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): fix import section comments and remove unreachable ticket_handler call [OMN-2507]
  tests/integration/pipeline/test_nl_to_ticket_pipeline.py
Due: ruff-format, ruff-fix, ruff-check

feat(hooks): implement intent-to-commit binding [OMN-2492]
  plugins/onex/hooks/lib/commit_intent_binder.py
  plugins/onex/hooks/lib/emit_client_wrapper.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  tests/unit/hooks/lib/test_commit_binding.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(review): [major/minor] fix undefined references and incomplete specs in ci-fix-pipeline SKILL.md [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(review): [major] correct wrong ticket-pipeline description in See Also [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(ci-fix-pipeline): fix phase ordering, architectural check placement, and ModelSkillResult schema [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(ci-fix-pipeline): fix --skip-patterns description to match job/step name matching [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(ci-fix-pipeline): correct escalated status description — declined/timed-out not awaiting [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(ci-fix-pipeline): correct ci-quick-review invocation syntax and workflow order [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(ci-fix-pipeline): document branch resolution for --pr case in Phase 1 [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(ci-fix-pipeline): skip Phase 5 commit when no fixes were applied [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

feat(ci-fix-pipeline): add ci-fix-pipeline skill with fix-all-by-default policy [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(ci-fix-pipeline): align Phase 1 schema and Phase 3 scope check with actual ci-failures output [OMN-2518]
  plugins/onex/skills/ci-fix-pipeline/SKILL.md
Due: none

fix(hooks): wire intent.commit.bound into event_registry and topics [OMN-2492]
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/hooks/topics.py
  tests/hooks/test_emit_client_wrapper.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): add intent.commit.bound to test_event_registry expected types [OMN-2492]
  tests/hooks/test_event_registry.py
Due: ruff-format, ruff-fix, ruff-check

fix(tests): clarify misleading test comment and remove dead helper [OMN-2492]
  tests/unit/hooks/lib/test_commit_binding.py
Due: ruff-format, ruff-fix, ruff-check

fix(intelligent-context-proxy): fix unreachable class methods, deprecated APIs, and type annotations
  services/intelligent_context_proxy/main.py
  services/intelligent_context_proxy/models/event_envelope.py
  services/intelligent_context_proxy/models/fsm_state.py
  services/intelligent_context_proxy/nodes/node_anthropic_forwarder.py
  services/intelligent_context_proxy/nodes/node_context_rewriter.py
  services/intelligent_context_proxy/nodes/node_intelligence_query.py
  services/intelligent_context_proxy/nodes/node_orchestrator.py
  services/intelligent_context_proxy/tests/test_integration.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(intelligent-context-proxy): fix resource leak on partial startup and unused imports
  services/intelligent_context_proxy/main.py
  services/intelligent_context_proxy/models/contracts.py
  services/intelligent_context_proxy/models/event_envelope.py
  services/intelligent_context_proxy/models/fsm_state.py
  services/intelligent_context_proxy/nodes/node_orchestrator.py
  services/intelligent_context_proxy/nodes/node_reducer.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(intelligent-context-proxy): fix resource leaks on partial Kafka startup in all nodes
  services/intelligent_context_proxy/nodes/node_anthropic_forwarder.py
  services/intelligent_context_proxy/nodes/node_context_rewriter.py
  services/intelligent_context_proxy/nodes/node_intelligence_query.py
  services/intelligent_context_proxy/nodes/node_orchestrator.py
  services/intelligent_context_proxy/nodes/node_reducer.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(intelligent-context-proxy): migrate Pydantic v1 class Config to model_config and fix retry fallthrough
  services/intelligent_context_proxy/models/contracts.py
  services/intelligent_context_proxy/models/fsm_state.py
  services/intelligent_context_proxy/nodes/node_anthropic_forwarder.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(intelligent-context-proxy): add missing correlation_id validation in all event consumers
  services/intelligent_context_proxy/nodes/node_anthropic_forwarder.py
  services/intelligent_context_proxy/nodes/node_context_rewriter.py
  services/intelligent_context_proxy/nodes/node_intelligence_query.py
  services/intelligent_context_proxy/nodes/node_orchestrator.py
  services/intelligent_context_proxy/nodes/node_reducer.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): create state_dir if missing before writing correlation state [OMN-2493]
  plugins/onex/hooks/lib/intent_classifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add pr-polish skill — conflict resolution + pr-review-dev + local-review loop
  plugins/onex/skills/pr-polish/SKILL.md
  plugins/onex/skills/pr-polish/prompt.md
Due: none

fix(mypy): add per-module override for pattern_advisory_formatter
  mypy.ini
Due: none

fix(deploy): filter prune glob to semver dirs only, add nullglob guard [OMN-2465]
  plugins/onex/skills/deploy-local-plugin/deploy.sh
Due: none

fix(hooks): add mkdir guard before state file write in intent_classifier [OMN-2493]
  plugins/onex/hooks/lib/intent_classifier.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

fix(nodes): use EnumIntentType for force_intent_type field with UNKNOWN coercion [OMN-2501]
  src/omniclaude/nodes/node_nl_intent_pipeline/models/model_nl_parse_request.py
Due: ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(ci-watch): address CodeRabbit MAJOR/MINOR issues on PR #237 [OMN-2523]
  plugins/onex/skills/ci-watch/SKILL.md
Due: none

fix(hooks): suppress import-not-found for runtime-injected pattern_advisory_formatter [OMN-2501]
  src/omniclaude/hooks/lib/compliance_result_subscriber.py
Due: ruff-format, ruff-fix, ruff-check, validate-secrets

docs(setup): add global CLAUDE.md autonomous pipeline behavioral rules [OMN-2512] (#226)
  docs/INDEX.md
  docs/getting-started/GLOBAL_CLAUDE_MD.md
Due: none

feat(ticket-pipeline): increase max_review_iterations 3→7, --required-clean-runs 1 [OMN-2513] (#227)
  plugins/onex/skills/ticket-pipeline/SKILL.md
  plugins/onex/skills/ticket-pipeline/prompt.md
Due: none

feat(local-review): add suppression/false-positive registry [OMN-2514] (#228)
  plugins/onex/skills/local-review/SKILL.md
  plugins/onex/skills/local-review/prompt.md
Due: none
