Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat: enrich generate-tcb with planning_context when available (Phase 2 upgrade) [OMN-3105]
  plugins/onex/skills/generate-tcb/prompt.md
Due: check-local-paths

fix: add ai-slop-ok suppressions to numbered step headings in planning-context-resolver [OMN-3105]
  plugins/onex/skills/planning-context-resolver/prompt.md
Due: check-local-paths

feat: add token tracking to HandlerRoutingLlm routing decision events [OMN-3448]
  src/omniclaude/nodes/node_agent_routing_compute/handler_routing_llm.py
  src/omniclaude/nodes/node_agent_routing_compute/models/model_routing_result.py
  tests/routing/test_handler_routing_llm.py
  tests/unit/nodes/node_agent_routing_compute/__init__.py
  tests/unit/nodes/node_agent_routing_compute/test_handler_routing_llm_tokens.py
  tests/unit/test_routing_prompt_parsing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix: generate missing skill node for planning-context-resolver [OMN-3105]
  src/omniclaude/nodes/node_skill_planning_context_resolver_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_planning_context_resolver_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_planning_context_resolver_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: add hostile-reviewer skill — adversarial code review with mandatory risk output
  plugins/onex/skills/_lib/pipeline-metrics/helpers.md
  plugins/onex/skills/hostile-reviewer/SKILL.md
  plugins/onex/skills/hostile-reviewer/prompt.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
Due: check-local-paths

fix(ci): ruff format tuple unpacking in test_handler_routing_llm_tokens [OMN-3448]
  tests/unit/nodes/node_agent_routing_compute/test_handler_routing_llm_tokens.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: rename step headings in hostile-reviewer prompt.md to pass AI-slop check
  plugins/onex/skills/hostile-reviewer/prompt.md
Due: check-local-paths

fix: add YAML frontmatter to hostile-reviewer SKILL.md + generate skill node
  plugins/onex/skills/hostile-reviewer/SKILL.md
  src/omniclaude/nodes/node_skill_hostile_reviewer_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_hostile_reviewer_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_hostile_reviewer_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat: Phase 3 — Hostile Reviewer skill + pipeline wiring + metrics [OMN-3107] (#478)
  plugins/onex/skills/_lib/pipeline-metrics/helpers.md
  plugins/onex/skills/hostile-reviewer/SKILL.md
  plugins/onex/skills/hostile-reviewer/prompt.md
  plugins/onex/skills/ticket-pipeline/SKILL.md
  src/omniclaude/nodes/node_skill_hostile_reviewer_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_hostile_reviewer_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_hostile_reviewer_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): log skill invocations to ~/.claude/onex-skill-usage.log (OMN-3454)
  plugins/onex/hooks/lib/skill_usage_logger.py
  plugins/onex/hooks/scripts/post-tool-use-quality.sh
  src/omniclaude/hooks/lib/skill_usage_logger.py
  tests/unit/hooks/lib/test_skill_usage_logger.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

chore(tests): fix ruff violations in test_skill_usage_logger (OMN-3454)
  tests/unit/hooks/lib/test_skill_usage_logger.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(skills): suppress pre-existing step_narration AI-slop warnings [OMN-3452]
  plugins/onex/skills/create-ticket/SKILL.md
  plugins/onex/skills/executing-plans/SKILL.md
  plugins/onex/skills/finishing-a-development-branch/SKILL.md
  plugins/onex/skills/plan-ticket/SKILL.md
  plugins/onex/skills/plan-to-tickets/SKILL.md
  plugins/onex/skills/pr-review-dev/SKILL.md
  plugins/onex/skills/review-cycle/SKILL.md
  plugins/onex/skills/slack-gate/SKILL.md
  plugins/onex/skills/ticket-work/SKILL.md
  plugins/onex/skills/ultimate-validate/SKILL.md
Due: check-local-paths

chore(nodes): rename node_skill_onex_status_orchestrator → node_skill_status_orchestrator [OMN-3452]
  plugins/onex/skills/_golden_path_validate/node_skill_status_orchestrator.json
  src/omniclaude/nodes/node_skill_onex_status_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_status_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_status_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_status_orchestrator/node.py
  src/omniclaude/runtime/__main__.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(tests): update test_route_matcher_ok to use status.v1 topic [OMN-3452]
  tests/unit/runtime/test_main.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

[omniclaude] feat: deploy-local-plugin --level flag for skill tier filtering [OMN-3453]
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/_filter_helpers.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  tests/unit/skills/test_deploy_local_plugin_level.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore: fix ruff format/lint in test_deploy_local_plugin_level.py [OMN-3453]
  tests/unit/skills/test_deploy_local_plugin_level.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix: address CodeRabbit review issues in --level flag filtering [OMN-3453]
  plugins/onex/skills/deploy-local-plugin/SKILL.md
  plugins/onex/skills/deploy-local-plugin/_filter_helpers.sh
  tests/unit/skills/test_deploy_local_plugin_level.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(hooks): fix macOS date arithmetic failure + add hook test harness
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/test-hooks.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

fix(hooks): count Skill tool calls toward delegation threshold
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
Due: check-local-paths

fix(ci): add ignore-unfixed to Trivy scans to skip non-actionable OS CVEs (#473)
  .github/workflows/ci.yml
Due: check-local-paths

fix(hooks): update delegation rule to distinguish parallel-solve vs polymorphic-agent
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
Due: check-local-paths

feat(hooks): SessionStart injects next-skill suggestions from usage history [OMN-3455]
  plugins/onex/hooks/lib/skill_suggestion_injector.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/progression.yaml
  src/omniclaude/hooks/lib/skill_suggestion_injector.py
  tests/unit/hooks/lib/test_skill_suggestion_injector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(hooks): SessionStart injects next-skill suggestions from usage history [OMN-3455] (#489)
  plugins/onex/hooks/lib/skill_suggestion_injector.py
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/deploy-local-plugin/deploy.sh
  plugins/onex/skills/progression.yaml
  src/omniclaude/hooks/lib/skill_suggestion_injector.py
  tests/unit/hooks/lib/test_skill_suggestion_injector.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(kafka): replace dead M2/bridge Kafka fallbacks with localhost:19092 [OMN-3475]
  consumers/agent_actions_consumer.py
  plugins/onex/.env.example
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/skills/_golden_path_validate/golden_path_runner.py
  plugins/onex/skills/_shared/kafka_helper.py
  plugins/onex/skills/system-status/check-system-health/execute.py
  plugins/onex/skills/system-status/diagnose-issues/execute.py
  scripts/bus_audit.py
  shared_lib/kafka_config.py
  src/omniclaude/lib/core/manifest_injector.py
  src/omniclaude/services/ci_relay/publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(kafka): remove redundant inline import warnings in hook_event_adapter [OMN-3475]
  plugins/onex/hooks/lib/hook_event_adapter.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(docs): rephrase boilerplate docstring in kafka_config to pass AI-slop check [OMN-3475]
  shared_lib/kafka_config.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(skills): add insights-to-plan skill [OMN-3471]
  plugins/onex/skills/insights-to-plan/SKILL.md
Due: check-local-paths

fix(kafka): replace dead M2/bridge Kafka fallbacks with localhost:19092 [OMN-3475] (#490)
  consumers/agent_actions_consumer.py
  plugins/onex/.env.example
  plugins/onex/hooks/lib/hook_event_adapter.py
  plugins/onex/skills/_golden_path_validate/golden_path_runner.py
  plugins/onex/skills/_shared/kafka_helper.py
  plugins/onex/skills/system-status/check-system-health/execute.py
  plugins/onex/skills/system-status/diagnose-issues/execute.py
  scripts/bus_audit.py
  shared_lib/kafka_config.py
  src/omniclaude/lib/core/manifest_injector.py
  src/omniclaude/services/ci_relay/publisher.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(nodes): generate ONEX node for insights-to-plan skill [OMN-3471]
  src/omniclaude/nodes/node_skill_insights_to_plan_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_insights_to_plan_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_insights_to_plan_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): fix macOS date arithmetic + add hook test harness (#487)
  plugins/onex/hooks/hooks.json
  plugins/onex/hooks/scripts/post-skill-delegation-enforcer.sh
  plugins/onex/hooks/scripts/post-tool-delegation-counter.sh
  plugins/onex/hooks/scripts/test-hooks.sh
  plugins/onex/hooks/scripts/user-prompt-delegation-rule.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

chore(release): expand CHANGELOG for v0.4.1 — all 16 PRs since v0.4.0 [OMN-3485]
  CHANGELOG.md
Due: check-local-paths

feat(nodes): canonical result model for NodeSkillFeatureDashboardOrchestrator [OMN-3499]
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/models/model_result.py
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/__init__.py
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(nodes): suppress S105 false positive on AuditCheckStatus.PASS + ruff format [OMN-3499]
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/models/model_result.py
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(nodes): add feature-dashboard SKILL.md stub to fix test_no_orphaned_nodes [OMN-3499]
  plugins/onex/skills/feature-dashboard/SKILL.md
Due: check-local-paths

feat(nodes): canonical result model for NodeSkillFeatureDashboardOrchestrator [OMN-3499] (#492)
  plugins/onex/skills/feature-dashboard/SKILL.md
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/models/model_result.py
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/__init__.py
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(nodes): node type classifier + applicability matrix [OMN-3500]
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/classifier.py
  tests/unit/nodes/node_skill_feature_dashboard_orchestrator/test_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(nodes): replace RST table in docstring with plain list [OMN-3500]
  src/omniclaude/nodes/node_skill_feature_dashboard_orchestrator/classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
