Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-14458): local DoD preflight vendors the hosted compliance engine
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  plugins/onex/skills/epic_team/prompt.md
  pyproject.toml
  tests/lib/test_dod_evidence_runner.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-14567): bound nc connect timeout in status line probe to stop 75s hang
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(OMN-14567): bound nc connect timeout in status line probe to stop 75s hang (#1899)
  plugins/onex/hooks/scripts/statusline.sh
Due: check-local-paths

fix(OMN-14584): delete dead node_delegation_orchestrator orphan + add cross-repo collision gate
  pyproject.toml
  scripts/validation/runtime_profiles_allowlist.yaml
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_delegation_orchestrator/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/enums/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/enums/enum_cli_recipient.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_cross_cli_invoker.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_result.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_cross_cli_invocation_result.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_command.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_result.py
  tests/unit/node_delegation_orchestrator/__init__.py
  tests/unit/node_delegation_orchestrator/test_codex_sandbox_config.py
  tests/unit/node_delegation_orchestrator/test_handle_cross_cli_dispatch.py
  tests/unit/node_delegation_orchestrator/test_handler_cross_cli_invoker.py
  tests/unit/node_delegation_orchestrator/test_model_delegation_command.py
  tests/unit/node_delegation_orchestrator/test_model_delegation_outcome_cli_fields.py
  tests/unit/nodes/node_delegation_orchestrator/__init__.py
  tests/unit/nodes/node_delegation_orchestrator/test_handler_delegation_dispatch.py
  tests/unit/nodes/node_delegation_orchestrator/test_model_cross_cli_invocation_result.py
  tests/unit/test_no_duplicate_node_contracts.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-14584): add AST-based node-identity bare-name-keying check
  .pre-commit-config.yaml
  scripts/validation/check_node_identity_keying.py
  tests/validation/test_check_node_identity_keying.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-14584): add repo-local contract for PR validation
  contracts/OMN-14584.yaml
Due: check-local-paths

fix(OMN-14584): repair hosted validation blockers
  contracts/OMN-14584.yaml
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
Due: check-local-paths

fix(OMN-14584): delete orphaned delegation orchestrator
  .pre-commit-config.yaml
  contracts/OMN-14584.yaml
  plugins/onex/skills/contract_sweep/SKILL.md
  plugins/onex/skills/contract_sweep/prompt.md
  pyproject.toml
  scripts/validation/check_node_identity_keying.py
  scripts/validation/runtime_profiles_allowlist.yaml
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_delegation_orchestrator/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/contract.yaml
  src/omniclaude/nodes/node_delegation_orchestrator/enums/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/enums/enum_cli_recipient.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_cross_cli_invoker.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_dispatch.py
  src/omniclaude/nodes/node_delegation_orchestrator/handlers/handler_delegation_result.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/__init__.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_cross_cli_invocation_result.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_command.py
  src/omniclaude/nodes/node_delegation_orchestrator/models/model_delegation_result.py
  tests/unit/node_delegation_orchestrator/__init__.py
  tests/unit/node_delegation_orchestrator/test_codex_sandbox_config.py
  tests/unit/node_delegation_orchestrator/test_handle_cross_cli_dispatch.py
  tests/unit/node_delegation_orchestrator/test_handler_cross_cli_invoker.py
  tests/unit/node_delegation_orchestrator/test_model_delegation_command.py
  tests/unit/node_delegation_orchestrator/test_model_delegation_outcome_cli_fields.py
  tests/unit/nodes/node_delegation_orchestrator/__init__.py
  tests/unit/nodes/node_delegation_orchestrator/test_handler_delegation_dispatch.py
  tests/unit/nodes/node_delegation_orchestrator/test_model_cross_cli_invocation_result.py
  tests/unit/test_no_duplicate_node_contracts.py
  tests/validation/test_check_node_identity_keying.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-14458): pin OCC dependency to merged compliance engine
  pyproject.toml
  uv.lock
Due: check-local-paths

fix(OMN-14458): local DoD preflight vendors the hosted compliance engine (#1898)
  plugins/onex/skills/_lib/dod-evidence-runner/dod_evidence_runner.py
  plugins/onex/skills/epic_team/prompt.md
  pyproject.toml
  tests/lib/test_dod_evidence_runner.py
  uv.lock
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-14641): bind Done to a merged PR — close-if-done no longer bypasses the merge check
  .github/workflows/closes-ref-gate.yml
  .github/workflows/linear-close-on-merge.yml
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  scripts/lint_closes_ref.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
  tests/scripts/test_lint_closes_ref.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-14641): bind Done to a merged PR — close-if-done no longer bypasses the merge check (#1903)
  .github/workflows/closes-ref-gate.yml
  .github/workflows/linear-close-on-merge.yml
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  scripts/lint_closes_ref.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
  tests/scripts/test_lint_closes_ref.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-14655): WS7 canary — wire omniclaude arch-* validators as pre-commit hooks (DRY) + fail-loud false-greens
  .github/workflows/precommit-fail-loud-gate.yml
  .pre-commit-config.yaml
  plugins/onex/skills/gap/legacy-denylist.yaml
  scripts/check_no_cloud_bus_wrapper.sh
  scripts/public_skill_hygiene_allowlist.yaml
  scripts/validate_skill_contracts_wrapper.sh
  scripts/validation/validate_precommit_fail_loud.py
  scripts/validation/validate_precommit_pin_parity.py
  src/omniclaude/hooks/constraint_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-14655): WS7 canary — wire omniclaude arch-* validators as pre-commit hooks (DRY) + fail-loud false-greens (#1904)
  .github/workflows/precommit-fail-loud-gate.yml
  .pre-commit-config.yaml
  plugins/onex/skills/gap/legacy-denylist.yaml
  scripts/check_no_cloud_bus_wrapper.sh
  scripts/public_skill_hygiene_allowlist.yaml
  scripts/validate_skill_contracts_wrapper.sh
  scripts/validation/validate_precommit_fail_loud.py
  scripts/validation/validate_precommit_pin_parity.py
  src/omniclaude/hooks/constraint_injection.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-14687): Phase 0 baseline-freeze for minimal-plugin migration
  .github/workflows/distribution-classification-lint.yml
  .pre-commit-config.yaml
  docs/evidence/2026-07-16-omn-14687-baseline/claude_plugin_details.txt
  docs/evidence/2026-07-16-omn-14687-baseline/claude_plugin_validate.txt
  docs/evidence/2026-07-16-omn-14687-baseline/full_market_skill_inventory.yaml
  docs/evidence/2026-07-16-omn-14687-baseline/inventory_summary.txt
  plugins/distribution_manifest.yaml
  scripts/validation/validate_distribution_classification.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-14687): Phase 0 baseline-freeze — minimal-plugin distribution manifest + classification (#1905)
  .github/workflows/distribution-classification-lint.yml
  .pre-commit-config.yaml
  docs/evidence/2026-07-16-omn-14687-baseline/claude_plugin_details.txt
  docs/evidence/2026-07-16-omn-14687-baseline/claude_plugin_validate.txt
  docs/evidence/2026-07-16-omn-14687-baseline/full_market_skill_inventory.yaml
  docs/evidence/2026-07-16-omn-14687-baseline/inventory_summary.txt
  plugins/distribution_manifest.yaml
  scripts/validation/validate_distribution_classification.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-14706): Phase 3 shadow Product Readiness (report-only) — omniclaude
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/product_readiness.py
  scripts/ci/product_reason_graph.py
  tests/ci/test_product_reason_graph_omniclaude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-14706): shadow runs own occ-independent subchecks + reason-graph, not a leaf poller
  .github/workflows/product-readiness-shadow.yml
Due: check-local-paths

fix(OMN-14706): align shadow workflow fixture
  tests/ci/test_product_reason_graph_omniclaude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-14706): Phase 3 shadow Product Readiness (report-only) — omniclaude (#1906)
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/product_readiness.py
  scripts/ci/product_reason_graph.py
  tests/ci/test_product_reason_graph_omniclaude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-7903): add unit tests for health_checks (omniclaude)
  tests/unit/lib/utils/test_health_checks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-7903): add unit tests for health_checks (omniclaude) (#1907)
  tests/unit/lib/utils/test_health_checks.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-7900): add unit tests for pattern_tracker (omniclaude)
  tests/unit/lib/utils/test_pattern_tracker.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-14709): flip omniclaude Product Readiness shadow to ENFORCING (non-required)
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/product_reason_graph.py
  tests/ci/test_product_reason_graph_omniclaude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(OMN-7900): add unit tests for pattern_tracker (omniclaude) (#1908)
  tests/unit/lib/utils/test_pattern_tracker.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-14709): flip omniclaude Product Readiness shadow to ENFORCING (non-required) (#1909)
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/product_reason_graph.py
  tests/ci/test_product_reason_graph_omniclaude.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

test(WS4 parity probe OMN-14709): seed product-red to prove shadow reds — DO NOT MERGE
  tests/_ws4_parity_probe_DELETEME.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

docs(OMN-14686): make Opus plan governor
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
Due: check-local-paths

docs(OMN-14686): make Opus plan governor (#1911)
  plugins/onex/skills/rolling_plan_governor/SKILL.md
  plugins/onex/skills/rolling_plan_governor/prompt.md
Due: check-local-paths

test(OMN-14771): guard omnimarket sole ownership of infra delegation topics
  tests/unit/test_delegation_topic_single_owner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-14771): guard omnimarket sole ownership of infra delegation topics (S8 R-3) (#1912)
  tests/unit/test_delegation_topic_single_owner.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-14792): scope done-flip guard PR scan + accept deploy-readback proof
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-14792): scope done-flip guard PR scan + accept deploy-readback proof for runtime-deploy tickets (#1913)
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_linear_done_verify.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-14808): reconcile deterministic-skill-routing validator to reality + wire as gate
  .github/workflows/check-deterministic-skills.yml
  .pre-commit-config.yaml
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_bot/SKILL.md
  scripts/validation/validate_deterministic_skill_routing.py
  tests/validation/test_validate_deterministic_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-14808): add skill-routing contracts
  contracts/OMN-14808.yaml
  contracts/OMN-8749.yaml
  contracts/OMN-8766.yaml
Due: check-local-paths

feat(OMN-14808): reconcile deterministic-skill-routing validator to reality (+ wire/retire) (#1914)
  .github/workflows/check-deterministic-skills.yml
  .pre-commit-config.yaml
  contracts/OMN-14808.yaml
  contracts/OMN-8749.yaml
  contracts/OMN-8766.yaml
  plugins/onex/skills/pr_review/SKILL.md
  plugins/onex/skills/pr_review_bot/SKILL.md
  scripts/validation/validate_deterministic_skill_routing.py
  tests/validation/test_validate_deterministic_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-14811): add reusable OCC-autobind publisher workflow
  .github/workflows/call-occ-autobind-reusable.yml
Due: check-local-paths

fix(OMN-14811): pin OCC-autobind reusable omnimarket-ref default main->dev
  .github/workflows/call-occ-autobind-reusable.yml
Due: check-local-paths
