Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

check-local-paths:
  name: check for local path references
  entry: uv run python -m omnibase_core.validation.validator_local_paths
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ruff-format:
  name: ruff format (staged files)
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check --fix (staged files)
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

ruff-check:
  name: ruff check (staged files)
  entry: uv run ruff check
  language: system
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit-security:
  name: bandit security scan
  entry: uv run bandit -r -c .bandit
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-secrets:
  name: ONEX Secret Detection
  entry: uv run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(hooks): source common.sh for Python resolution, add health probe and crash handling [F31][F32][F33] (#885)
  plugins/onex/hooks/lib/hook_health_probe.py
  plugins/onex/hooks/scripts/pre_tool_use_context_scope_auditor.sh
  plugins/onex/hooks/scripts/pre_tool_use_dispatch_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_dod_completion_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_pipeline_gate.sh
  plugins/onex/hooks/scripts/pre_tool_use_workflow_guard.sh
  plugins/onex/hooks/scripts/session-start.sh
  tests/unit/hooks/test_hook_error_handling.py
  tests/unit/hooks/test_hooks_source_common.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: create tech-debt-sweep skill skeleton [OMN-6558]
  plugins/onex/skills/tech_debt_sweep/SKILL.md
Due: check-local-paths

feat: add 6 category scanners to tech-debt-sweep skill [OMN-6559]
  plugins/onex/skills/tech_debt_sweep/SKILL.md
Due: check-local-paths

feat: add dedup logic and ticket creation to tech-debt-sweep [OMN-6560]
  plugins/onex/skills/tech_debt_sweep/SKILL.md
Due: check-local-paths

feat(skills): add self-correcting-epic, ci-recovery, and review-gate skills [OMN-6548, OMN-6551, OMN-6553]
  plugins/onex/skills/ci_recovery/SKILL.md
  plugins/onex/skills/ci_recovery/prompt.md
  plugins/onex/skills/ci_recovery/topics.yaml
  plugins/onex/skills/review_gate/SKILL.md
  plugins/onex/skills/review_gate/prompt.md
  plugins/onex/skills/review_gate/topics.yaml
  plugins/onex/skills/self_correcting_epic/SKILL.md
  plugins/onex/skills/self_correcting_epic/topics.yaml
Due: check-local-paths

feat: add main execution flow to tech-debt-sweep skill [OMN-6561]
  plugins/onex/skills/tech_debt_sweep/SKILL.md
Due: check-local-paths

feat(authorize): add propagation flag for subagent auth passthrough [OMN-6487] (#882)
  plugins/onex/hooks/lib/auth_gate_adapter.py
  plugins/onex/skills/authorize/SKILL.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(merge-sweep): add never-dequeue policy for merge queue PRs [OMN-6488] (#884)
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

fix(ci): generate missing skill nodes, fix subprocess.run check=False lint [OMN-6521]
  plugins/onex/hooks/scripts/epic_postaction_gate.sh
  plugins/onex/hooks/scripts/epic_preflight_gate.sh
  plugins/onex/skills/_lib/ci_recovery/__init__.py
  plugins/onex/skills/_lib/ci_recovery/classifier.py
  plugins/onex/skills/_lib/review_gate/__init__.py
  plugins/onex/skills/_lib/review_gate/aggregator.py
  src/omniclaude/nodes/node_skill_ci_recovery_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_ci_recovery_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_ci_recovery_orchestrator/node.py
  src/omniclaude/nodes/node_skill_review_gate_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_review_gate_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_review_gate_orchestrator/node.py
  src/omniclaude/nodes/node_skill_scope_check_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_scope_check_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_scope_check_orchestrator/node.py
  src/omniclaude/nodes/node_skill_self_correcting_epic_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_self_correcting_epic_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_self_correcting_epic_orchestrator/node.py
  tests/hooks/test_epic_gates.py
  tests/skills/test_ci_recovery_classification.py
  tests/skills/test_review_gate_aggregator.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(chat): add contract models — enums and ModelAgentChatMessage [OMN-6507]
  src/omniclaude/nodes/node_agent_chat/__init__.py
  src/omniclaude/nodes/node_agent_chat/enums/__init__.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_channel.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_message_type.py
  src/omniclaude/nodes/node_agent_chat/enums/enum_chat_severity.py
  src/omniclaude/nodes/node_agent_chat/models/__init__.py
  src/omniclaude/nodes/node_agent_chat/models/model_chat_message.py
  tests/unit/nodes/node_agent_chat/__init__.py
  tests/unit/nodes/node_agent_chat/test_model_chat_message.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(chat): add topic registration and file-based chat store [OMN-6508][OMN-6509]
  plugins/onex/hooks/lib/emit_client_wrapper.py
  src/omniclaude/hooks/topic_allowlist.yaml
  src/omniclaude/hooks/topics.py
  src/omniclaude/nodes/node_agent_chat/__init__.py
  src/omniclaude/nodes/node_agent_chat/handler_file_chat_store.py
  tests/unit/nodes/node_agent_chat/test_handler_file_chat_store.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(test): align CI repair tests with ONEX_STATE_DIR migration [OMN-6547]
  tests/hooks/test_node_ci_repair_effect.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(skills): add self-correcting-epic prompt.md with audit, escalation, parent verify [OMN-6533]
  plugins/onex/skills/self_correcting_epic/prompt.md
Due: check-local-paths

feat(skills): wire review-gate into ticket-pipeline merge phase [OMN-6535]
  plugins/onex/skills/ticket_pipeline/SKILL.md
  plugins/onex/skills/ticket_pipeline/prompt.md
Due: check-local-paths

test: add structural integration tests for all 3 P2 initiative skills [OMN-6521]
  tests/skills/test_self_correcting_epic_integration.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(chat): add dual-write publisher and chat reader [OMN-6510][OMN-6511]
  src/omniclaude/nodes/node_agent_chat/__init__.py
  src/omniclaude/nodes/node_agent_chat/handler_chat_publisher.py
  src/omniclaude/nodes/node_agent_chat/handler_chat_reader.py
  tests/unit/nodes/node_agent_chat/test_handler_chat_publisher.py
  tests/unit/nodes/node_agent_chat/test_handler_chat_reader.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(chat): add /chat skill, session injection, auto-emit, integration tests, poly prompt [OMN-6512][OMN-6513][OMN-6514][OMN-6530][OMN-6532]
  plugins/onex/agents/configs/polymorphic-agent.yaml
  plugins/onex/hooks/scripts/session-start.sh
  plugins/onex/skills/chat/SKILL.md
  plugins/onex/skills/chat/prompt.md
  plugins/onex/skills/chat/topics.yaml
  src/omniclaude/nodes/node_agent_chat/__init__.py
  src/omniclaude/nodes/node_agent_chat/handler_auto_emit.py
  tests/unit/nodes/node_agent_chat/test_integration_chat_pipeline.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(hooks): add debounced Slack notifications for degraded hook operation [OMN-6567]
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post_tool_use_return_path_auditor.sh
  plugins/onex/hooks/scripts/pre_tool_use_context_scope_auditor.sh
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
  tests/unit/hooks/scripts/__init__.py
  tests/unit/hooks/scripts/test_notify_hook_degraded.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(autopilot): close-out hardening — concurrent tracks, queue drain, friction tracking [OMN-6613]
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

feat(autopilot): close-out hardening — concurrent tracks, queue drain, friction tracking [OMN-6613] (#891)
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

fix(hooks): bump delegation timeout from 8s to 12s for LLM latency [OMN-6486] (#881)
  plugins/onex/hooks/scripts/user-prompt-submit.sh
Due: check-local-paths

feat(hooks): add debounced Slack notifications for degraded hook operation [OMN-6567] (#890)
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/hooks/scripts/post_tool_use_return_path_auditor.sh
  plugins/onex/hooks/scripts/pre_tool_use_context_scope_auditor.sh
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
  tests/unit/hooks/scripts/__init__.py
  tests/unit/hooks/scripts/test_notify_hook_degraded.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat: add stacked PR detection, DIRTY rebase, merge queue guard, and auth passthrough [OMN-6458, OMN-6459, OMN-6468, OMN-6469] (#874)
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/epic_team/SKILL.md
  plugins/onex/skills/merge_sweep/SKILL.md
  plugins/onex/skills/release/SKILL.md
Due: check-local-paths

fix(merge-sweep): auto-rebase DIRTY PRs before routing to pr-polish [F10] (#878)
  plugins/onex/skills/merge_sweep/prompt.md
Due: check-local-paths

fix(pr-polish): add review comment handling before CI fix phase [F4] (#875)
  plugins/onex/skills/pr_polish/prompt.md
Due: check-local-paths

fix(hooks): add sys.path guard in hook lib __init__.py for subprocess imports [OMN-6482] (#880)
  plugins/onex/hooks/lib/__init__.py
  plugins/onex/hooks/lib/file_evidence_resolver.py
  tests/hooks/test_hook_lib_imports.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(skills): add resolve_branch guard to pr-safety helpers [OMN-6364]
  plugins/onex/skills/_lib/pr-safety/helpers.md
Due: check-local-paths

fix: use PYTHON_CMD for chat injection, relax extra to ignore
  plugins/onex/hooks/scripts/session-start.sh
  src/omniclaude/nodes/node_agent_chat/models/model_chat_message.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(hooks): source common.sh in poly_enforcer to use venv Python
  plugins/onex/hooks/scripts/pre_tool_use_poly_enforcer.sh
Due: check-local-paths

feat: add test conftest.py and package init for friction_autofix [OMN-6633]
  plugins/onex/skills/_lib/friction_autofix/__init__.py
  tests/unit/skills/_lib/__init__.py
  tests/unit/skills/_lib/friction_autofix/__init__.py
  tests/unit/skills/_lib/friction_autofix/conftest.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(friction_autofix): add classification and result Pydantic models [OMN-6634]
  plugins/onex/skills/_lib/friction_autofix/models.py
  tests/unit/skills/_lib/friction_autofix/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat: add test conftest.py and package init for friction_autofix [OMN-6633] (#894)
  plugins/onex/skills/_lib/friction_autofix/__init__.py
  tests/unit/skills/_lib/__init__.py
  tests/unit/skills/_lib/friction_autofix/__init__.py
  tests/unit/skills/_lib/friction_autofix/conftest.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(friction_autofix): add friction classifier with FIXABLE/ESCALATE rules [OMN-6635]
  plugins/onex/skills/_lib/friction_autofix/classifier.py
  tests/unit/skills/_lib/friction_autofix/test_classifier.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix: add missing orchestrator node for tech-debt-sweep skill [OMN-6557]
  src/omniclaude/nodes/node_skill_tech_debt_sweep_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_tech_debt_sweep_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_tech_debt_sweep_orchestrator/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(friction_autofix): enforce minimum task count in ModelMicroPlan validator [OMN-6634]
  plugins/onex/skills/_lib/friction_autofix/models.py
  tests/unit/skills/_lib/friction_autofix/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(friction_autofix): enforce minimum task count in ModelMicroPlan validator [OMN-6634] (#895)
  plugins/onex/skills/_lib/friction_autofix/models.py
  tests/unit/skills/_lib/friction_autofix/test_models.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(chat): resolve CI failures — env registry, event sync, skill node, test alignment [OMN-3972]
  .env.allowlist
  src/omniclaude/hooks/event_registry.py
  src/omniclaude/nodes/node_skill_chat_orchestrator/__init__.py
  src/omniclaude/nodes/node_skill_chat_orchestrator/contract.yaml
  src/omniclaude/nodes/node_skill_chat_orchestrator/node.py
  tests/hooks/test_emit_client_wrapper.py
  tests/unit/nodes/node_agent_chat/test_model_chat_message.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(chat): add agent.chat.broadcast to event registry test expected_types [OMN-3972]
  tests/hooks/test_event_registry.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

release: omniclaude v0.15.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-local-paths

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*
