Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

fix(OMN-20368): a Linear Done needs a PASS receipt bound to every acceptance criterion (#2500)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/no_pr_bound_evidence.py
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  scripts/public_skill_hygiene_ratchet.yaml
  tests/hooks/test_done_flip_guard.py
  tests/hooks/test_done_flip_guard_false_positives.py
  tests/hooks/test_done_flip_guard_requires_bound_receipt.py
  tests/hooks/test_hook_inventory.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-17427): the hook-budget ledger knows a root it sampled, so a fork of a fast hook is not counted (#2501)
  tests/hooks_system/_harness.py
  tests/hooks_system/test_hook_call_budget.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-20150): AC7's own clauses get tests, so the criterion has a check
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-20375): every required dev context reports on merge_group
  .github/workflows/merge-group-pr-scoped-contexts.yml
Due: check-local-paths

fix(OMN-20066): CI Summary waits for running jobs
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-20150): every dialog activates, so the ones that take typing can be typed into
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20150): every dialog activates, so the ones that take typing can be typed into (#2505)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18946): stop false refusals in the SubagentStop secret-leak guard
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/secret_redactor.py
  tests/hooks/test_secret_redactor.py
  tests/hooks/test_subagent_secret_leak_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18946): stop false refusals in SubagentStop report-contract guard
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/extract_last_assistant_message_utils.py
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  tests/hooks/test_subagent_report_contract_guard.py
  tests/hooks/test_subagent_secret_leak_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20389): hooks feed variable-size text through a process substitution, never a here-string (plugin 2.4.20)
  .pre-commit-hooks/check-defect-anchor.sh
  .pre-commit-hooks/check-handoff-infra-health.sh
  .pre-commit-hooks/check-utc-timestamp-discipline.sh
  .pre-commit-hooks/reject-deploy-gate-skip-token.sh
  .pre-commit-hooks/reject-imperative-skill-patterns.sh
  .pre-commit-hooks/validate-occ-pr-stamp.sh
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_refusal.sh
  plugins/onex/hooks/scripts/post_tool_use_agent_result_verifier.sh
  plugins/onex/hooks/scripts/post_tool_use_cost_accounting.sh
  plugins/onex/hooks/scripts/post_tool_use_env_var_sync.sh
  plugins/onex/hooks/scripts/post_tool_use_kafka_poison_message_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_bash_guards.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_here_string_free_hooks.py
  tests/hooks/test_refusal_row_lane_omn19381.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-18946): stop false refusals in SubagentStop report-contract guard (#2506)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/extract_last_assistant_message_utils.py
  plugins/onex/hooks/lib/subagent_report_contract_guard.py
  tests/hooks/test_subagent_report_contract_guard.py
  tests/hooks/test_subagent_secret_leak_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-17427): point README License badge at LICENSE, not opensource.org
  README.md
Due: check-local-paths

fix(OMN-20066): make the merge-group CI Summary test run instead of skip
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

feat(OMN-20071): the Done gate reads the product repository's contract and check run first, OCC only when the repository has none
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  plugins/onex/hooks/lib/no_pr_bound_evidence.py
  tests/hooks/test_done_flip_guard_repo_evidence.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-18946): stop false refusals in the SubagentStop secret-leak guard (#2507)
  plugins/onex/hooks/lib/secret_redactor.py
  tests/hooks/test_secret_redactor.py
  tests/hooks/test_subagent_secret_leak_guard.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

test(OMN-20150): AC7's own clauses get tests, so the criterion has a check (#2502)
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20066): CI Summary waits for running jobs (#2504)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-20071): the Done gate reads the product repository's contract and check run first, OCC only when the repository has none (#2510)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/contracts/hook_inventory.yaml
  plugins/onex/hooks/lib/done_flip_guard.py
  plugins/onex/hooks/lib/linear_done_verify.py
  plugins/onex/hooks/lib/no_pr_bound_evidence.py
  tests/hooks/test_done_flip_guard_repo_evidence.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-20375): advance the receipt-gate pin to omnibase_core#1853 (artifact_sha256)
  .github/workflows/call-receipt-gate.yml
Due: check-local-paths

fix(OMN-20381): onboarding installs the proven set and stamps the floor only after delegation passes
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_proven_set_omn20381.py
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20381): scrub git location env in the proven-set fixture, bump onex plugin to 2.4.22
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  tests/skills/test_lab_onboarding_proven_set_omn20381.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20381): SPDX header year on the proven-set test matches the repo stamp
  tests/skills/test_lab_onboarding_proven_set_omn20381.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20381): onboarding installs the proven set and stamps the floor only after delegation passes (#2512)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_proven_set_omn20381.py
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

ci(OMN-20375): every required dev context reports on merge_group (#2503)
  .github/workflows/merge-group-pr-scoped-contexts.yml
Due: check-local-paths

fix(OMN-20375): advance the receipt-gate pin to omnibase_core#1853 (artifact_sha256) (#2511)
  .github/workflows/call-receipt-gate.yml
Due: check-local-paths

fix(OMN-17427): DoD materializer reads each receipt key's newest supersede record
  scripts/materialize-dod-evidence-from-occ.sh
  tests/unit/test_dod_occ_materialization.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-17427): type the supersede-chain fixture records
  tests/unit/test_dod_occ_materialization.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20389): hooks feed variable-size text through a process substitution, never a here-string (plugin 2.4.20) (#2508)
  .pre-commit-hooks/check-defect-anchor.sh
  .pre-commit-hooks/check-handoff-infra-health.sh
  .pre-commit-hooks/check-utc-timestamp-discipline.sh
  .pre-commit-hooks/reject-deploy-gate-skip-token.sh
  .pre-commit-hooks/reject-imperative-skill-patterns.sh
  .pre-commit-hooks/validate-occ-pr-stamp.sh
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/hooks/lib/hook_refusal.sh
  plugins/onex/hooks/scripts/post_tool_use_agent_result_verifier.sh
  plugins/onex/hooks/scripts/post_tool_use_cost_accounting.sh
  plugins/onex/hooks/scripts/post_tool_use_env_var_sync.sh
  plugins/onex/hooks/scripts/post_tool_use_kafka_poison_message_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_actor_line_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_bash_guards.sh
  plugins/onex/hooks/scripts/pre_tool_use_done_flip_guard.sh
  plugins/onex/hooks/scripts/pre_tool_use_lane_liveness_guard.sh
  plugins/onex/hooks/scripts/user-prompt-submit.sh
  tests/hooks/test_here_string_free_hooks.py
  tests/hooks/test_refusal_row_lane_omn19381.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20394): the boot-resource failure names only the reading that fell short
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-18970): pin that the sweep verdict names every exclusion applied (AC-4)
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-20394): the boot-resource failure names only the reading that fell short (#2515)
  plugins/onex-dev-marketplace/.claude-plugin/marketplace.json
  plugins/onex/.claude-plugin/plugin.json
  plugins/onex/skills/_bin/lab-onboarding.sh
  tests/skills/test_lab_onboarding_script_omn20150.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

test(OMN-18970): pin that the sweep verdict names every exclusion applied (AC-4) (#2516)
  tests/ci/test_ci_summary_gate.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17102): resolve canonical bifrost contract, delete the fork
  config/hardcoded_model_config_baseline.yaml
  scripts/install-delegation.sh
  scripts/public_skill_hygiene_ratchet.yaml
  src/omniclaude/delegation/bifrost_delegation.yaml
  src/omniclaude/delegation/runner.py
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/utils/consensus/quorum.py
  tests/delegation/test_runner.py
  tests/unit/delegation/test_canonical_bifrost_contract_omn17102.py
  tests/unit/delegation/test_registry_driven_model_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17427): DoD materializer reads each receipt key's newest supersede record (#2513)
  scripts/materialize-dod-evidence-from-occ.sh
  tests/unit/test_dod_occ_materialization.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-17103): use configured chat completions path in vLLM backend
  src/omniclaude/config/model_local_llm_config.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17102): resolve canonical bifrost contract, delete the forked routing table (#2518)
  config/hardcoded_model_config_baseline.yaml
  scripts/install-delegation.sh
  scripts/public_skill_hygiene_ratchet.yaml
  src/omniclaude/delegation/bifrost_delegation.yaml
  src/omniclaude/delegation/runner.py
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/utils/consensus/quorum.py
  tests/delegation/test_runner.py
  tests/unit/delegation/test_canonical_bifrost_contract_omn17102.py
  tests/unit/delegation/test_registry_driven_model_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17427): point README License badge at LICENSE, not opensource.org (#2509)
  README.md
Due: check-local-paths

fix(OMN-17103): add the in-repo ticket contract validate-pr-contracts reads
  contracts/OMN-17103.yaml
Due: check-local-paths

fix(OMN-17103): vLLM backend resolves the chat-completions path from endpoint config (#2520)
  contracts/OMN-17103.yaml
  src/omniclaude/config/model_local_llm_config.py
  src/omniclaude/nodes/node_local_llm_inference_effect/backends/backend_vllm.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm.py
  tests/unit/nodes/node_local_llm_inference_effect/test_backend_vllm_tools.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-17103): use a localhost placeholder in the .env.example endpoint line
  .env.example
  scripts/public_skill_hygiene_ratchet.yaml
Due: check-local-paths
