Repository OmniNode-ai/omniclaude: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-local-paths, ruff-format, ruff-fix, ruff-check, migration-freeze-check, bandit-security, validate-secrets

Path conditions:
  check-local-paths: any file but: \.secrets\.baseline$|^docs/.*|^tests/fixtures/.*
  ruff-format: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-fix: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  ruff-check: any of: \.py$, but not: \.github/workflows/.*|^\.[^/]*$|^\..*/.*|_archive/.*|src/omniclaude/lib/.*
  migration-freeze-check: any of: ^(sql/migrations/|\.migration_freeze)
  bandit-security: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*|lib/.*
  validate-secrets: any of: \.py$, but not: ^\.[^/]*$|^\..*/.*|_archive/.*|tests/.*

feat(OMN-11938): extend recall skill with --scope flag and knowledge federation
  plugins/onex/skills/recall/SKILL.md
Due: check-local-paths

docs(OMN-11940): add Phase 0 knowledge preload section to design_to_plan skill
  plugins/onex/skills/design_to_plan/SKILL.md
Due: check-local-paths

docs(OMN-11941): document research enrichment flow in ticket-work skill
  plugins/onex/skills/ticket_work/SKILL.md
Due: check-local-paths

fix(OMN-11944): make LLM detector allowlist strict JSON
  scripts/validation/llm_hardcode_allowlist.json
Due: check-local-paths

fix(OMN-11944): keep detector gate compatible with CI guards
  .github/workflows/detect-hardcoded-llm-refs.yml
  tests/validation/test_validate_no_hardcoded_llm_refs.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-11942): add boundary_exempt to pr_review_bot skill — pre-existing multi-step structure
  plugins/onex/skills/pr_review_bot/SKILL.md
Due: check-local-paths

feat(OMN-11942): remove hardcoded model defaults from hostile_reviewer and pr_review_bot skills
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/prompt.md
  plugins/onex/skills/pr_review_bot/SKILL.md
  plugins/onex/skills/pr_review_bot/prompt.md
Due: check-local-paths

fix(OMN-11942): remove helper model defaults from skills
  plugins/onex/skills/hostile_reviewer/SKILL.md
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
  plugins/onex/skills/pr_review_bot/SKILL.md
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-11942): correct interfaces_touched enum values in contract YAML
  contracts/OMN-11942.yaml
Due: check-local-paths

contracts(OMN-11942, OMN-11917): add ticket contract YAMLs for validate-pr-contracts gate
  contracts/OMN-11942.yaml
Due: check-local-paths

feat(OMN-11937): derive task_classifier and quorum model names from bifrost contract
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/utils/consensus/quorum.py
  tests/unit/delegation/test_registry_driven_model_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-11937): require declared model names for local routing
  src/omniclaude/config/model_local_llm_config.py
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/utils/consensus/quorum.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

fix(OMN-11942): keep config errors out of failed model IDs
  plugins/onex/skills/hostile_reviewer/_lib/aggregate_reviews.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-11937): route delegation by contract backend ids
  src/omniclaude/lib/task_classifier.py
  src/omniclaude/lib/utils/consensus/quorum.py
  tests/unit/delegation/test_registry_driven_model_names.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

feat(OMN-11970): replace hardcoded model IDs in tests with symbolic constants; fix runtime hardcode in node_transition_selector_effect
  src/omniclaude/nodes/node_transition_selector_effect/node.py
  tests/constants.py
  tests/delegation/test_compliance_migration.py
  tests/delegation/test_e2e_smoke.py
  tests/lib/core/test_route_via_events_wrapper.py
  tests/lib/test_task_classifier.py
  tests/unit/delegation/test_sqlite_adapter.py
  tests/unit/hooks/lib/test_enrichment_observability_emitter.py
  tests/unit/hooks/lib/test_golden_event_validation.py
  tests/unit/hooks/lib/test_pipeline_event_emitters.py
  tests/unit/nodes/node_delegation_orchestrator/test_handler_delegation_dispatch.py
  tests/unit/routing/test_routing_recorder.py
  tests/unit/shared/models/test_model_team_events.py
  tests/unit/test_enrichment_prompt_parsing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-11970): add ticket contract for hardcoded model ID cleanup
  contracts/OMN-11970.yaml
Due: check-local-paths

fix(OMN-11970): use explicit transition selector model env
  src/omniclaude/nodes/node_transition_selector_effect/node.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

chore(OMN-11940): add design plan PR contracts
  contracts/OMN-11909.yaml
  contracts/OMN-11940.yaml
Due: check-local-paths

chore(OMN-11941): add ticket work PR contract
  contracts/OMN-11941.yaml
Due: check-local-paths

chore(OMN-11938): add recall skill PR contract
  contracts/OMN-11938.yaml
Due: check-local-paths

fix(OMN-11940): use valid contract evidence kind
  contracts/OMN-11909.yaml
  contracts/OMN-11940.yaml
Due: check-local-paths

fix(OMN-11938): use valid contract evidence kind
  contracts/OMN-11938.yaml
Due: check-local-paths

fix(OMN-11941): use valid contract evidence kind
  contracts/OMN-11941.yaml
Due: check-local-paths

fix(dx): require env -u PYTHONPATH for worktree Python invocations [OMN-11422]
  plugins/onex/hooks/scripts/common.sh
  plugins/onex/skills/_shared/skill_orchestrator_template.md
  plugins/onex/skills/dispatch_worker/SKILL.md
  plugins/onex/skills/dispatch_worker/prompt.md
  tests/scripts/test_worktree_pythonpath_discipline.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

fix(OMN-10278): remove SSH/HTTP transport paths from merge_sweep — Kafka only
  plugins/onex/skills/merge_sweep/_lib/run.py
  plugins/onex/skills/merge_sweep/run.sh
  tests/unit/skills/merge_sweep/test_merge_sweep_run_sh_round_trip.py
  tests/unit/skills/merge_sweep/test_merge_sweep_runtime_ingress.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, validate-secrets

fix(OMN-12150): add omnimarket to ONEX_QUEUE_REPOS default in merge_sweep and unstick_queue
  plugins/onex/skills/unstick_queue/prompt.md
  scripts/cron-merge-sweep.sh
Due: check-local-paths

refactor(OMN-11553, OMN-11558, OMN-11563): rename validators and debug_utils
  plugins/onex/hooks/scripts/post_tool_use_enforcer.py
  plugins/onex/hooks/scripts/pre-tool-use-quality.sh
  src/omniclaude/lib/utils/__init__.py
  src/omniclaude/lib/utils/correction/__init__.py
  src/omniclaude/lib/utils/correction/generator.py
  src/omniclaude/lib/utils/diagnostics.py
  src/omniclaude/lib/utils/validator_naming_conventions.py
  src/omniclaude/lib/utils/validator_quality.py
  tests/unit/hooks/lib/test_quality_enforcer_emission.py
  tests/unit/hooks/lib/test_quality_enforcer_enforcement_mode.py
  tests/unit/lib/utils/test_circular_import_regression.py
  tests/unit/lib/utils/test_sanitize.py
  tests/unit/test_session_id_migration_src.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets

feat(OMN-12237): add CI gate rejecting imperative patterns in skills
  .github/workflows/reject-imperative-skills.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-imperative-skill-patterns.sh
  plugins/onex/skills/_lib/imperative_skill_baseline.txt
Due: check-local-paths

feat(OMN-12224): wire baseline skill to existing node_baseline_capture/compare via dispatch
  plugins/onex/skills/baseline/SKILL.md
Due: check-local-paths

feat(OMN-12200): thin ticketing_triage to dispatch-only shim for node_linear_triage
  plugins/onex/skills/ticketing_triage/SKILL.md
  plugins/onex/skills/ticketing_triage/topics.yaml
Due: check-local-paths

test(OMN-11547, OMN-11549): capture golden fixtures for manifest_injector + agent_router
  tests/golden/__init__.py
  tests/golden/test_agent_router_golden.py
  tests/golden/test_manifest_injector_golden.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check

chore(OMN-12234): delete retired skills — autopilot, begin_day, crash_recovery
  plugins/onex/skills/autopilot/SKILL.md
  plugins/onex/skills/autopilot/prompt.md
  plugins/onex/skills/autopilot/topics.yaml
  plugins/onex/skills/begin_day/SKILL.md
  plugins/onex/skills/begin_day/prompt.md
  plugins/onex/skills/begin_day/topics.yaml
  plugins/onex/skills/crash_recovery/SKILL.md
  plugins/onex/skills/crash_recovery/list-pipelines
  plugins/onex/skills/crash_recovery/topics.yaml
  plugins/onex/skills/handoff/SKILL.md
  plugins/onex/skills/skill_functional_audit/SKILL.md
  scripts/validation/validate_deterministic_skill_routing.py
  tests/audit/test_r_class_shim_enforcement.py
  tests/unit/skills/test_begin_day.py
  tests/unit/skills/test_output_suppression.py
  tests/unit/skills/test_retired_skill_surfaces.py
  tests/validation/test_validate_deterministic_skill_routing.py
Due: check-local-paths, ruff-format, ruff-fix, ruff-check, bandit-security, validate-secrets
